<!-- Training Tab Content -->

<div class="col-md-12 clearfix py-2 px-0">
    <h6 class="count-alg">{{commonLabels.labels.availabletrainingclass}}{{totalCourseTrainingCount}}</h6>
</div>
<div *ngIf="!enableClassEdit">
    <div class="white-bg pt-3 mb-3" 
        *ngFor="let course of trainingClassCourseList | paginate: {itemsPerPage: pageLength,currentPage: currentPage,totalItems : totalCourseTrainingCount};let i = index">
        <!-- <div class="white-bg pt-4 pb-4 mb-3" *ngFor="let course of trainingClassCourseList"> -->
        <div class="head-part clearfix px-3">
            <h6 class="float-left">{{course.courseName}}</h6>
            <!-- <div class="float-right">
                <a href="#"><i class="fas fa-pencil-alt icons_header" aria-hidden="true"></i></a>
            </div> -->
        </div>
        <div class="select-arbx p-3" *ngFor="let training of course.CourseTrainingClassMaps;let ci = index">
            <div class="clearfix">
                <div class="float-left">
            <label class="square-cont col-md-12" *ngIf="training.enableEdit == false">
                <!-- <input type="checkbox" name="web"> -->
                <span class="text-over">{{training?.TrainingClass?.trainingClassName}}</span>
                <span class="square-checkmark" *ngIf="uploadPage"></span> 
            </label>
        </div>    
        <div class="float-left" *ngIf="training.enableEdit == true">
                <form #trainingClassNameForm="ngForm" (ngSubmit)="saveTrainingClassName(trainingClassNameForm,i,ci)">
                    <div class="row form-group">
                        <span class="col-md-1 p-0"></span>
                        <span class="row col-md-11 p-0">
                            <div class="col-md-9 p-0">
                            <input type="text" class="form-control" [(ngModel)]="training.TrainingClass.trainingClassName"
                                name="trainingClassName" #trainingClassName="ngModel" />
                            </div>
                            <div class="col-md-3 pr-0 pl-2">                       
                            <button type="submit" class="save-btn"><i class="fas fa-save save-icon"></i></button>
                            </div>
                        </span>
                    </div>
                </form>
            </div>
                <div class="float-right pr-3" *ngIf="iconEnable && userData == course.createdBy">
                    <a  (click)="editTrainingClassName(training.trainingClassId,i,ci)" title="Edit"><i class="fas fa-pencil-alt icons_header" aria-hidden="true"></i></a>
                </div>
            </div>
            
            <div class="clk-part clearfix pt-1 pr-4" *ngIf="!disableTabs">
                <div class="clk-sec float-left px-4">
                    <a href="javascript:void(0);"
                        (click)="tabChange('video',training.trainingClassId,'',training.TrainingClass.videosCount)">{{commonLabels.labels.video}} :
                        {{training?.TrainingClass?.videosCount ? training?.TrainingClass?.videosCount : 0}}</a>
                    <a href="javascript:void(0);" (click)="tabChange('document',training.trainingClassId,'',training.TrainingClass.documentsCount)"
                        class="ml-2">{{commonLabels.labels.document}} : {{training?.TrainingClass?.documentsCount ? training?.TrainingClass?.documentsCount : 0}}</a>
                </div>
                <a class="float-right" href="javascript:void(0);" *ngIf="training.TrainingClass && training.TrainingClass.QuizMappings && training.TrainingClass.QuizMappings[0].quizId"
                    (click)="tabChange('quiz',training.trainingClassId,course.courseId,1)" title="viewQuiz">{{commonLabels.labels.viewQuiz}}</a>
                    <a disabled class="float-right view-quiz-disabled" *ngIf="!(training.TrainingClass && training.TrainingClass.QuizMappings && training.TrainingClass.QuizMappings[0].quizId)" title="viewQuiz">{{commonLabels.labels.viewQuiz}}</a>
            </div>
            <div class="clk-part clearfix pt-1 pr-4" *ngIf="disableTabs">
                <div class="clk-sec float-left px-4">
                    <button [disabled]="disableTabs" class="btn btn-link"
                        (click)="tabChange('video',training.trainingClassId,'',training.TrainingClass.videosCount)">{{commonLabels.labels.video}} :
                        {{training?.TrainingClass?.videosCount ? training?.TrainingClass?.videosCount : 0}}</button>
                    <button [disabled]='disableTabs'  (click)="tabChange('document',training.trainingClassId,'',training.TrainingClass.documentsCount)"
                        class="ml-2 btn btn-link">{{commonLabels.labels.document}} : {{training?.TrainingClass?.documentsCount ? training?.TrainingClass?.documentsCount : 0}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="enableClassEdit">
    <div  *ngFor="let courses of trainingClassCourseList |  paginate: {itemsPerPage: pageLength,currentPage: currentPage,totalItems : totalCourseTrainingCount};let i = index">
            <!-- {{CMSFilterSearchEventSet}} -->
        <div class="white-bg p-3 mb-3">
            <div class="clearfix">
                <label class="square-cont float-left" *ngIf="schedulePage">
                    <input type="checkbox" name="classId{{i}}" (change)="selectClass(courses.trainingClassId, courses.trainingClassName, $event.target.checked)"><span
                        class="text-over">{{courses.trainingClassName}}</span>
                    <span class="square-checkmark"></span>
                </label>
                <label class="float-left mb-0" *ngIf="!schedulePage">
                    <span class="text-over">{{courses.trainingClassName}}</span>
                </label> 
                <span class="float-right">
                    <a  title="Send Approval" *ngIf="roleId === 4 && accessSet &&  iconEnableApproval && userData == courses.createdBy" class="mr-4"><i class="fa fa-paper-plane p-0" aria-hidden="true" (click)="approvalConfirmation(approvalConfirm,courses)"></i></a>
                    <a  *ngIf="!schedulePage && iconEnable" title="Edit" class="mr-4"><i class="fas fa-pencil-alt icons_header p-0" aria-hidden="true" (click)="editTrainingClass(courses,i)"></i></a>               
                    <!-- <a title="Delete" class="mr-4"><i class="fa fa-trash header-icon p-0" (click)="deleteConfirmation(deleteCourse,courses.courseId)"></i></a> -->
                </span>
            </div>
        </div>
    </div>
</div>
<!-- <span *ngIf="!trainingClassCourseList.length">No Data </span> -->
<div class="col-md-12 p-0">
    <div class="white-bg text-center p-4" *ngIf="!trainingClassCourseList.length"><p class="data-design">
        <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
    </div>
</div>
<pagination-controls [ngClass]="totalCourseTrainingCount < 10 ? 'my-pagination pagenation-count-alg' : 'my-pagination'"  (pageChange)="pageChanged($event)"></pagination-controls>

<div class="text-center" *ngIf="uploadPage">
    <button type="button" class="btn btn-primary creat-btn">{{commonLabels.btns.add}}</button>
</div>


<ng-template #approvalConfirm>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.approvalConfirm}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.approvalConfirmation}}</span>
        <div class="text-center mt-4">
            <button (click)="sendApproval()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>
<!-- End Training Tab Content -->