<!-- Training Tab Content -->

<div class="col-md-12 clearfix py-2 px-0"><h6 class="float-right">{{cmsLibraryVar.labels.count}} : {{totalCourseTrainingCount}}</h6></div>
<!-- <div class="white-bg pt-4 pb-4 mb-3" *ngFor="let course of trainingClassCourseList | paginate: {itemsPerPage: pageLength,currentPage: currentPage,totalItems : totalCourseTrainingCount};"> -->
        <div class="white-bg pt-4 pb-4 mb-3" *ngFor="let course of trainingClassCourseList">
    <div class="head-part clearfix pr-3">
        <h6 class="float-left">{{course.courseName}}</h6>
        <div class="float-right">
            <a href="#"><i class="fas fa-pencil-alt icons_header" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="select-arbx p-4" *ngFor="let training of course.CourseTrainingClassMaps">
        <label class="square-cont float-left">
                <input type="checkbox" name="web">{{training?.TrainingClass?.trainingClassName}}
                <span class="square-checkmark"></span>
        </label>
        <div class="clk-part clearfix pt-1">
            <div class="clk-sec float-left">
                <a href="javascript:void(0);" (click) = "tabChange('video',training.trainingClassId,'')" >{{cmsLibraryVar.labels.video}} : {{training?.TrainingClass?.videosCount}}</a>
                <a href="javascript:void(0);" (click) = "tabChange('document',training.trainingClassId,'')" class="ml-2">{{cmsLibraryVar.labels.document}} : {{training?.TrainingClass?.documentsCount}}</a>
            </div>
            <a class="float-right" href="javascript:void(0);" (click) = "tabChange('quiz',training.trainingClassId,course.courseId)">{{cmsLibraryVar.labels.viewQuiz}}</a>
        </div>
    </div>
</div> 
<!-- <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>  -->

<!-- End Training Tab Content -->