
  /* Training */
  .count-alg{
  float: right;
  font-weight: 600;
}
  .head-part{
      padding-left: 30px;
  }
  .head-part h6{
      font-weight: 600;
      color: #697380;
      font-size: 16px;
  }
  .select-arbx .square-cont{
      font-size: 15px;
      font-weight: 600;
      color: #468FB9;
  }
  .clk-part{
      clear: both;
  }
  .clk-part button{
      color: #000;
      font-size: 13px;
      text-decoration: underline;
  }
  .view-quiz-disabled {
    cursor: not-allowed;
}
  .clk-part a{
    color: #000;
    font-size: 13px;
    text-decoration: underline;
}
  .clk-sec{
      padding-left: 12px;
  }
  .select-arbx{   
      border-bottom:1px solid #ccc;
  }
  .select-arbx:last-child{
      margin-bottom:0;
      border-bottom:none;
      /* padding-bottom: 0 !important; */
  }
.square-cont {
    display: block;
}
.select-arbx .square-cont{
    font-size: 14px;
    margin-left: 24px;
    line-height: 20px;
    padding: 0;
}
.save-btn{
    background-color: transparent;
    border: unset;
}
.save-icon{
    font-size: 20px;
    line-height: 35px;
    color: #468FB9;
    padding: 0 12px;
}
.text-over{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
    width: 370px;
    font-weight: 600;
    color: #697380;
    font-size: 16px;
  }
  .square-cont {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
    line-height: 20px;
    font-size: 14px;
     color: #73737B;
     font-weight: 600;
     margin-bottom:0;
 }
 .square-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }
 .square-checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #9c9c9c;
    border-radius: 3px !important;
 }
 .square-cont input:checked ~ .square-checkmark {
    background-color: #468FB9;
    border: 1px solid #468FB9;
 }
 .square-checkmark:after {
    content: "";
    position: absolute;
    display: none;
 }
 .square-cont input:checked ~ .square-checkmark:after {
    display: block;
 }
 .square-cont .square-checkmark:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 /* Training */

