
  /* Training */
  .count-alg{
  float: right;
  font-weight: 600;
}
  .head-part{
      padding-left: 30px;
  }
  .head-part h6{
      font-weight: 600;
      color: #697380;
      font-size: 16px;
  }
  .select-arbx .square-cont{
      font-size: 15px;
      font-weight: 600;
      color: #468FB9;
  }
  .clk-part{
      clear: both;
  }
  .clk-part button{
      color: #000;
      font-size: 13px;
      text-decoration: underline;
  }
  .clk-part a{
    color: #000;
    font-size: 13px;
    text-decoration: underline;
}
  .clk-sec{
      padding-left: 12px;
  }
  .select-arbx{   
      border-bottom:1px solid #ccc;
  }
  .select-arbx:last-child{
      margin-bottom:0;
      border-bottom:none;
      /* padding-bottom: 0 !important; */
  }
.square-cont {
    display: block;
}
.select-arbx .square-cont{
    font-size: 14px;
    margin-left: 24px;
    line-height: 20px;
    padding: 0;
}
.save-btn{
    background-color: transparent;
    border: unset;
}
.save-icon{
    font-size: 20px;
    line-height: 35px;
    color: #468FB9;
    padding: 0 12px;
}
.text-over{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
    width: 370px;
    font-weight: 600;
    color: #697380;
    font-size: 16px;
  }
 /* Training */

