<ion-header class="main-header my-component" color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{constant.title.forum}}</ion-title>
  </ion-navbar>
  <div class="segment-block">
    <ion-segment [(ngModel)]="forumTopics">
      <ion-segment-button value="mostRecent">
        {{constant.pages.forumLabels.mostRecent}}
      </ion-segment-button>
      <ion-segment-button value="featuredTopics">
        {{constant.pages.forumLabels.featuredTopics}}
      </ion-segment-button>
      <ion-segment-button value="featuredFav">
        {{constant.pages.forumLabels.featuredFav}}
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content padding class="headerFull-bg">
  <div [ngSwitch]="forumTopics">
    <ion-list *ngSwitchCase="'mostRecent'">
      <ion-card class="forum-card">
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4 >
              <h2>John Doe</h2>
              <p class="forum-txt">6 Hours ago,36 Replays</p>
              <p class="forum-txt">36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4 class="heart-icon">
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p class="forum-txt date-det">03 Dec 2018</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="forum-desc">Every employee plays a significant role in representing our company and contributing to our
                distinctive style. every employee plays significant role represnting our company</p>
            </ion-col>
          </ion-row>
          <ion-row class="review-block">
            <ion-col col-3>
              <p class="vote-count">568 <span class="forum-txt">Votes</span></p>
            </ion-col>
            <ion-col col-4>
              <p class="vote-count">365 <span class="forum-txt">Answers</span></p>
            </ion-col>
            <ion-col col-5 class="cmd-btn">
              <button ion-button round small class="blue-btn">
                Comment
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card class="forum-card">
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>William</h2>
              <p class="forum-txt">6 Hours ago,36 Replays</p>
              <p class="forum-txt">36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4 class="heart-icon">
              <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="!like" (click)="likeUnlikeQuestion()"></ion-icon>
              <ion-icon name="md-heart" *ngIf="like" (click)="likeUnlikeQuestion()"></ion-icon>
              <p></p>
              <p class="forum-txt">03 Dec 2018</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Every employee plays a significant role in representing our company and contributing to our
                distinctive style. every employee plays significant role represnting our company</p>
            </ion-col>
          </ion-row>
          <ion-row class="review-block">
            <ion-col col-3>
              <div class="vote-count">568 <span class="forum-txt">Votes</span></div>
            </ion-col>
            <ion-col col-4>
              <div class="vote-count">365 <span class="forum-txt">Answers</span></div>
            </ion-col>
            <ion-col col-5 class="cmd-btn">
              <button ion-button round small class="blue-btn">
                Comment
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Mark</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Every employee plays a significant role in representing our company and contributing to our
                distinctive style. every employee plays significant role represnting our company</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <div>568 Votes</div>
            </ion-col>
            <ion-col col-4>
              <div>365 Answers</div>
            </ion-col>
            <ion-col col-5>
              <button ion-button round small>
                Comment
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Vin Diesel</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Every employee plays a significant role in representing our company and contributing to our
                distinctive style. every employee plays significant role represnting our company</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <div>568 Votes</div>
            </ion-col>
            <ion-col col-4>
              <div>365 Answers</div>
            </ion-col>
            <ion-col col-5>
              <button ion-button round small>
                Comment
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Adam</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <button ion-button round (click)="openModal(template)">
        Add Question
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'featuredTopics'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>John Doe</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>William</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Mark</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Vin Diesel</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Adam</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'featuredFav'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>John Doe</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Mark</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Vin Diesel</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-6 col-lg-4>
              <img src="assets/images/user.png" class="forum-img">
            </ion-col>
            <ion-col col-7 col-sm-6 col-lg-4>
              <h2>Adam</h2>
              <p>6 Hours ago,36 Replays</p>
              <p>36 Replies</p>
            </ion-col>
            <ion-col col-3 col-sm-6 col-lg-4>
              <ion-icon name="md-heart"></ion-icon>
              <p></p>
              <p>03 Dec 2018</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{constant.pages.forumLabels.typeQuestionHere}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form novalidate (ngSubmit)="questionSubmit()" [formGroup]="QuestionForm">
      <div class="modal-body">
        <ion-item>
          <ion-input type="question" [(ngModel)]="forum.question" formControlName="question" [class.error1]="!QuestionForm.controls.question.valid && QuestionForm.controls.question.dirty"></ion-input>
        </ion-item>
        <div *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
          <div class="error" *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
            {{constant.pages.forumLabels.validations.questionRequired}}
          </div>
        </div>
      </div>
      <div class="model-footer">
        <button ion-button small clear type="button" (click)="modalRef.hide()">{{constant.buttons.cancel}}</button>
        <button ion-button small clear type="submit" [disabled]="QuestionForm.invalid">{{constant.buttons.add}}</button>
      </div>
    </form>
  </ng-template>
</ion-content>