page-forum {
	.notify-arrow {
    float: right;
    padding-top: 5px;
}

ion-header.header {
    padding: 0;
}
.notify-txt {
    margin-top: 15px;
}

.hour-status {
    padding-top: 2px;
    display: inline-block;
}
p.forum-hours,.forum-date {
    font-size: 12px;
}
.forum-card {

    padding-right: 5px;
    padding-left: 5px;
}
.forum-date {
    text-align: right;
}

.forum-hours {
    margin-top: 5px;
}
.forum-content {
    padding-left: 15px;
}
}
