page-popover {
 .button-group{
     text-align: center;
 }
 .apply-btn{
    background-color: #2b92ca;
    border-radius: 5px;
 }
 .clr-btn{
    background-color: #e7e7e7;
    color: black;
    border-radius: 5px;
 }
}
