<ion-split-pane when="xl">
    <!--  our side menu  -->
    <ion-menu [content]="content" [persistent]="true" class="menu-page" type="overlay" *ngIf="showSideBar">
        <ion-content class="sidebar-list">
            <ion-header class="sidebar-header">
                <ion-title>{{constant.title.menu}}</ion-title>
                <ion-icon name="ios-close" class="menu-close-button" menuClose></ion-icon>
            </ion-header>
            <ion-list>
                <ion-item menuClose (tap)="openPage(profilePage)">
                    <img *ngIf="!userImage" src="assets/images/user.png" class="profile-image">
                    <img *ngIf="userImage" src="{{uploadPath}}{{userImage}}" class="profile-image">
                </ion-item>
                <button menuClose ion-item *ngFor="let p of pages" (tap)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-nav [root]="rootPage" main #content swipeBackEnabled="false">
    </ion-nav>
</ion-split-pane>