// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'sf_pro_displayregular';
    src: url('../assets/fonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_pro_displaysemibold';
    src: url('../assets/fonts/sf-pro-display-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/sf-pro-display-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_ui_textregular';
    src: url('../assets/fonts/sfuitext-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/sfuitext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_pro_displayregular';
    src: url('../assets/fonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border-bottom: none;
}
.go-back {
    margin-right: 15px;
}
/*******************sidebar style *******************/
.sidebar-list .label-ios, .sidebar-list .label-md{
        line-height: 35px;
            margin: 11px 8px 11px 0;
}
/*******************header menu css **************/
ion-toolbar {
    color: #fff;
}

ion-toolbar ion-icon {
    float: left;
    font-size: 20pt;
}

.toolbar-content-ios p, ion-toolbar p {
    float: left;
    margin: 4px;
    font-size: 17px;
    margin-left: 15px;
}

.toolbar-content-ios p {
    margin: 2px;
    margin-left: 15px;
}


.toolbar-ios ion-title {
    padding: 0 20px 0 50px;
}

.toolbar-title-ios {
    text-align: left;
    font-size: 2rem;
}

.toolbar-title-md {
    padding: 0 0;
}

.toolbar-title-ios, .toolbar-title-md,.toolbar-title-wp{
    font-family: 'sf_ui_textregular';
    font-size: 17px;
    font-weight: 100;
    text-transform: none; 

}
.toolbar-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
    background: rgb(33,131,185); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
}
.bar-button-default-ios,.bar-button-default-md,.bar-buttons-wp{
    color: #fff;
}
.bar-button-default-md {
    margin: 15px 0 0 0;
}
/*ion-header {
padding: 0 !important;
}*/
.list-ios {
    margin: 30px 0 32px;
}
.toolbar-title {
    color: #fff;
}
.toolbar-title-md .header-title {
    padding: 12px 0 0 0;
    display: inline-block;
}
.sidebar-header {
    padding: 0;
}
/* .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child{
min-height: calc(56px + env(safe-area-inset-top));
}
.toolbar-title-ios {
margin-top: 12px;
}*/
.title-type2.toolbar-ios ion-title {
    padding: 0 20px 0 30px;
}
.title-type2.toolbar-md ion-title{
        margin-top: -4px;
        padding: 0 20px 0 20px;
}
.back-arrow img {
    width: 11px;
    float: left;
}
/******************************** module dropdowm ****************/
.module-select {

    margin-left: -16px;
    margin-right: -16px;

    button.btn {
        word-wrap: break-word;
        width: 100%;
        background: #fff;
        padding: 7px 36px;
        margin-bottom: 17px;
        font-size: 15px;
        -webkit-box-shadow: -1px 4px 4px 0px #3333331c;
        box-shadow: -1px 4px 4px 0px #3333331c;
        overflow: hidden;
        white-space: normal;
        text-align: left;
    }
    ion-icon {
        position: absolute;
        right: 36px;
        top: 20px;
        color: #7E7E7E;
        font-size: 22px;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        width: 100%;
        color: #000000;
        font-size: 15px;
        padding: 0;
    }
    .dropdown-item:active{
        color: #fff;
    }
    .module-txt {
        display: block;
        font-size: 12px;
    }
    .dropdown-item{
        border-bottom: 1px solid #e0e0e0;
        line-height: 35px;
        color: #000;
        border-bottom: 1px solid #e0e0e0;
        padding: 7px 36px;
    }

}
.module-drpdwn.show #dropdownMenuButton {
    border-left: 5px solid #329CD6;
}
.module-drpdwn #dropdownMenuButton {
    border-left: 5px solid #fff;
}
/********************************end module dropdowm ****************/
.row {
    margin: 0 !important;
}


.bar-button-menutoggle-ios ion-icon {
    padding: 0 6px;
    font-size: 2.9rem;
}
.headerFull-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
    background: rgb(33,131,185); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
}
.scroll-content{
    background-color: #F3F6F9;
}
.sidebar-header{
    .toolbar-ios ion-title , .toolbar-title-md{
        padding: 0 15px 0px;
    }
}
.menu-page{

    background: url(../assets/imgs/loginbg.png);
    background-size: cover;
    ion-header.header-ios.sidebar-header {
        top: 40px;
    }
    ion-header.header-md.sidebar-header{
        top: 25px;
    }
    .sidebar-list {
        .item-ios,.item-md,.item-wp{
            padding: 0px;
            border: none;
            color: #fff;
            font-weight: 100;
            font-family: sf_ui_textregular;
            text-align: center;
            letter-spacing: 0.5;
        }
        .list-md .item-block .item-inner{
            border: none;
        }
        .item-inner {
            padding: 0 16px;
        }

        .sidebar-header{
            ion-title{
                float: left;
                padding-left: 15px;
            }
            .menu-close-button {
                float: right;
                color: #fff;
                font-size: 35px;
                padding-right: 15px;
            }
        }
    }

    .scroll-content,.item-block,.sidebar-list,.menu-inner,.ios .menu-inner{
        background-color: transparent;
    }
    .list-ios .item-block .item-inner{
        border:none;
    }
    ion-list {
        padding-top: 50px;

    }
    button.item-ios:not([detail-none]) .item-inner{    background-image: none;}
    .menu-inner {
        width: 100%;
    }
}

a,.batch-icon{
    cursor: pointer;
}

.bg-trans{
    background:transparent;
}
a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
    outline: none;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner,.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    box-shadow: none;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.error {
    color: #df3e3e;
    font-size: 15px;
}
.login-btn {
    width: 100%;
    padding: 30px 10px;
}
.blue-btn.button-ios,.blue-btn.button-md, .blue-btn.button-wp
{
    background-color: #329CD6;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.forum-card {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 0px);
}
.bold-title{
    font-weight: 600 !important;
}
.red-color {
    color: #D63232;
}
.orange-color {
    color: #FF5722;

}
.green-color {
    color: #12860D;
}
.header-icon {
    display: inline-block;
    float: right;
    position: relative;
    margin-right: 6px;
    cursor: pointer;
}
.title-md .header-icon {
    margin-right: 15px;
    margin-top: 10px;
}
.dot-circle {
    background: #fff;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 70px;
    position: absolute;
    right: -4px;
    border: 1px solid #2F98D2;
    top: 1px;
}
.toastr-error { .toast-message { border-radius: 0.65rem !important; background: color($colors, danger) } }
.toastr-success { .toast-message { border-radius: 0.65rem !important; background: color($colors, secondary) } }
.forum-img {
    border-radius: 50%;
}
.forum-title, .notify-title{
    font-weight: 600 !important;
}
.forum-title {
    margin-top: 5px !important;
}
.img-block{
    vertical-align: middle;
    align-items: center;
    display: flex;
}
.text-input-wp {
    margin: 10px 8px 11px 0;
    border:none;
    line-height: normal;
}
.header-md::after{
    background-image: none;
}
.max-wth {
    max-width: 320px;
    margin: 0 auto;
}
.ovr-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.toolbar .searchbar-ios .searchbar-input,.searchbar-md .searchbar-input {
    background: #fff;
    border-radius: 0;
    height: 30px !important;
}
.searchbar-md .searchbar-search-icon{
    top: 6px;
}

/*************** check box and radio button **************/
.hole-cont {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
}
.hole-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
}
.hole-cont input:checked ~ .checkmark {
    background-color: #468FB9;
    border: 1px solid #468FB9;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.hole-cont input:checked ~ .checkmark:after {
    display: block;
}
.hole-cont .checkmark:after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media (min-width: 1200px) { } 
@media (min-width: 980px) and (max-width: 1199px) { } 
@media (min-width: 768px) and (max-width: 979px) { } 
@media (min-width: 979px){}
@media (max-width: 767px) { } 
@media (max-width: 480px) { }