
<ion-content padding class="headerFull-bg default-header">
  <ion-header class="static-header main-header my-component no-backbtn" color="primary">
    <ion-navbar>
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.topic}}</span>
        <div class="header-icon">
         <app-bell></app-bell>
        </div>
      </ion-title>
    </ion-navbar>
  </ion-header>


  <div class="main-content">
    <ion-list>
      <div *ngIf="forumDetails.length > 0">
        <div *ngFor="let forum of forumDetails; let i =index;" class="main-forum">
            <ion-row>
             <ion-col col-12 col-sm-12 col-md-6 *ngFor="let topic of forum.Topics">
          <ion-card  class="forum-card m-0">
            <ion-card-content (click)="goToForumDetail(forum)" class="forum-card">
              <ion-row>
                <ion-col col-2 class="img-block">
                  <img src="assets/imgs/sms@3x.png" class="forum-image">
                </ion-col>
                <ion-col col-6 class="forum-content">
                  <h4 class="forum-title ovr-txt">{{topic.topics}}</h4>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        </ion-row>
        </div>
      </div>
    </ion-list>
    <img *ngIf="forumDetails.length == 0" src="assets/imgs/norecordsfound.png" class="no-records" />
  </div> 
  </ion-content>

