<div class="bg-img">
	<div class="Login clearfix clear login-page">
		<form #formDir="ngForm" (ngSubmit)="submitResetPassword()" class="col-xs-3 col-xs-offset-4">
			<div class="login-text">{{commonLabels.labels.resetPassword}}</div>
			<div class="login-input">
				<div class="input-group ">
					<input type="password" class="form-control input-alg" [(ngModel)]="resetFormData.newpassword" name="password"
					 #password="ngModel" autocomplete="off" placeholder="New Password" required>
					<span class="input-group-addon"><img src="assets/images/password.png" class="icon"></span>
				</div>
				<div class="required_color" *ngIf="formDir.form.controls.password && formDir.form.controls.password.invalid && (formDir.submitted || formDir.form.controls.password.touched)">
					{{commonLabels.mandatoryLabels.passwordError}}
				</div>
			</div>
			<div class="login-input">
				<div class="input-group">
					<input type="password" class="form-control input-alg" [(ngModel)]="resetFormData.confirmpassword" name="confirmpwd" #confirmpwd="ngModel"
					 autocomplete="off" placeholder="Confirm New Password" required>
					<span class="input-group-addon"><img src="assets/images/password.png" class="icon"></span>
				</div>
				<div class="required_color" *ngIf="formDir.form.controls.confirmpwd && formDir.form.controls.confirmpwd.invalid && (formDir.submitted || formDir.form.controls.confirmpwd.touched)">
					{{commonLabels.mandatoryLabels.confirmPasswordError}}
				</div>
			</div>
			<div class="form-group">
				<button type="submit" [disabled]="!formDir.form.valid" class="btn btn-primary login-btn">{{commonLabels.btns.submit}}</button>
			</div>
		</form>
	</div>
</div>