<ion-header class="my-component">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="text-left">
      {{constant.title.accomplishment}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="headerFull-bg">
  <div class="certificate-block">
  <h3>{{constant.pages.accomplishmentLabels.certificates}}</h3>
  <ion-slides #sliderOne [pager]="true" [slidesPerView]="2" class="certificate-slide" spaceBetween="1"
    (ionSlideDidChange)="onSlideCertChanged()">
    <ion-slide *ngFor="let item of certificateList;let i=index;" class="cert-indv-slide">
      <img class="certificate-image" src="{{item.certificateImage}}" alt="Certificate Image" (click)="openModal(certificatetemplate,item)">
    </ion-slide>
  </ion-slides>
  <span class="slider-btns">
    <ion-icon name="ios-arrow-back" class="ios-arrow-back-icon" (click)="sliderOne.slidePrev()" *ngIf="leftButton"></ion-icon>
    <ion-icon name="ios-arrow-back" class="ios-arrow-back-icon disabledSliderIcon" *ngIf="!leftButton"></ion-icon>
    <ion-icon name="ios-arrow-forward" class="ios-arrow-forward-icon" (click)="sliderOne.slideNext()" *ngIf="rightButton"></ion-icon>
    <ion-icon name="ios-arrow-forward" class="ios-arrow-forward-icon disabledSliderIcon" *ngIf="!rightButton"></ion-icon>
  </span>
  </div>
   <div class="badge-block">
  <h3>{{constant.pages.accomplishmentLabels.badges}}</h3>
  <ion-slides #sliderTwo [pager]="true" [slidesPerView]="2" class="badge-slide" spaceBetween="1" (ionSlideDidChange)="onSlideBadgeChanged()">
    <ion-slide *ngFor="let item of badgeList;let i=index;" class="badge-indv-slide">
      <img class="badge-image" src="{{item.badgeImage}}" alt="Badge Image" (click)="openBadgeModal(badgetemplate,item)">
      <!-- <span>3 Days streak</span> -->
    </ion-slide>
  </ion-slides>
  <span class="slider-btns">
    <ion-icon name="ios-arrow-back" class="ios-arrow-back-icon" (click)="sliderTwo.slidePrev()" *ngIf="badgeLftBtn"></ion-icon>
    <ion-icon name="ios-arrow-back" class="ios-arrow-back-icon disabledSliderIcon" *ngIf="!badgeLftBtn"></ion-icon>
    <ion-icon name="ios-arrow-forward" class="ios-arrow-forward-icon" (click)="sliderTwo.slideNext()" *ngIf="badgeRigBtn"></ion-icon>
    <ion-icon name="ios-arrow-forward" class="ios-arrow-forward-icon disabledSliderIcon" *ngIf="!badgeRigBtn"></ion-icon>
  </span>
</div>
  <ng-template #badgetemplate>
    <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <img class="img-subimage" src="{{badgeSubImage}}" alt="{{badgeSubImage}}">
    </div>
  </ng-template>
  <ng-template #certificatetemplate>
    <div class="modal-body" *ngIf="certificateDetail">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <img class="img-subimage" src="{{certificateDetail.certificateImage}}" alt="{{certificateDetail.certificateImage}}">
      <div class="certificate-content">
        <h6>{{certificateDetail.moduleName}}</h6>
        <p>{{constant.pages.accomplishmentLabels.gradeAchieved}} {{certificateDetail.score}}%</p>
        <p>{{constant.pages.accomplishmentLabels.completedBy}} {{certificateDetail.certifiedTo}}</p>
        <p>{{constant.pages.accomplishmentLabels.at}} {{certificateDetail.certifiedOn | date:'EEEE ,LLLL M,yyyy h:mm
          a'}}</p>
        <input class="form-control" name="certicateLink" disabled value="{{certificateDetail.certificateImage}}">
      </div>
    </div>
  </ng-template>
</ion-content>