<ion-header class="main-header my-component" color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="text-left">
      {{constant.title.accomplishment}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3>{{constant.pages.accomplishmentLabels.certificates}}</h3>
  <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
    <div class="carousel-inner row w-100 mx-auto" role="listbox">
      <div class="carousel-item col-md-3" *ngFor="let item of certificateList;let i=index;" [ngClass]="(i === 0) ? 'active' : ''">
        <img class="img-fluid mx-auto d-block" src="{{item.certificateImage}}" alt="slide 1" (click)="openModal(certificatetemplate,item)">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <i class="fa fa-chevron-left fa-lg text-muted"></i>
      <span class="sr-only">{{constant.buttons.previous}}</span>
      <ion-icon name="arrow-dropleft-circle" class="arrow-dropleft-icon"></ion-icon>
    </a>
    <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
      <i class="fa fa-chevron-right fa-lg text-muted"></i>
      <span class="sr-only">{{constant.buttons.next}}</span>
      <ion-icon name="arrow-dropright-circle" class="arrow-dropright-icon"></ion-icon>
    </a>
  </div>
  <h3>{{constant.pages.accomplishmentLabels.badges}}</h3>
  <div id="badgecarouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
    <div class="carousel-inner row w-100 mx-auto" role="listbox">
      <div class="carousel-item col-md-3" *ngFor="let item of badgeList;let i=index;" [ngClass]="(i === 0) ? 'active' : ''">
        <img class="img-fluid mx-auto d-block" src="{{item.badgeImage}}" alt="slide 1" (click)="openBadgeModal(badgetemplate,item)">
      </div>
    </div>
    <a class="carousel-control-prev" href="#badgecarouselExample" role="button" data-slide="prev">
      <i class="fa fa-chevron-left fa-lg text-muted"></i>
      <span class="sr-only">{{constant.buttons.previous}}</span>
      <ion-icon name="arrow-dropleft-circle" class="arrow-dropleft-icon"></ion-icon>
    </a>
    <a class="carousel-control-next text-faded" href="#badgecarouselExample" role="button" data-slide="next">
      <i class="fa fa-chevron-right fa-lg text-muted"></i>
      <span class="sr-only">{{constant.buttons.next}}</span>
      <ion-icon name="arrow-dropright-circle" class="arrow-dropright-icon"></ion-icon>
    </a>
  </div>
  <ng-template #badgetemplate>
    <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <img class="img-subimage" src="{{badgeSubImage}}" alt="{{badgeSubImage}}">
    </div>
  </ng-template>
  <ng-template #certificatetemplate>
    <div class="modal-body" *ngIf="certificateDetail">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
      <img class="img-subimage" src="{{certificateDetail.certificateImage}}" alt="{{certificateDetail.certificateImage}}">
      <div class="certificate-content">
        <h6>{{certificateDetail.moduleName}}</h6>
        <p>{{constant.pages.accomplishmentLabels.gradeAchieved}} {{certificateDetail.score}}%</p>
        <p>{{constant.pages.accomplishmentLabels.completedBy}} {{certificateDetail.certifiedTo}}</p>
        <p>{{constant.pages.accomplishmentLabels.at}} {{certificateDetail.certifiedOn | date:'EEEE ,LLLL M,yyyy h:mm a'}}</p>
        <input class="form-control" name="certicateLink" disabled value="{{certificateDetail.certificateImage}}">
      </div>
    </div>
  </ng-template>
</ion-content>