page-accomplishment {
ion-slides {
    height: 30%;
}
ion-header.header {
        padding: 0;
    }

.swiper-slide img {
    padding: 10px;
}
.certificate-block{
    position: relative;
}
.badge-block{
    position: relative;
}
.certificate-block .ion-ios-arrow-back,.certificate-block .ion-ios-arrow-forward ,
.badge-block .ion-ios-arrow-back, .badge-block .ion-ios-arrow-forward {
      z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    width: 32px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 30px; 
        position: absolute;
}

.certificate-block .ion-ios-arrow-back,.certificate-block .ion-ios-arrow-forward {
 
    top: 94px;
 
   
}
.certificate-block .ion-ios-arrow-back{
   left: -4px;  
}

.certificate-block .ion-ios-arrow-forward {
    right: -4px;
}
.badge-block .ion-ios-arrow-back,.badge-block .ion-ios-arrow-forward {
    top: 134px;
}
.badge-block .ion-ios-arrow-back{
   left: -4px;  
}

.badge-block .ion-ios-arrow-forward {
    right: -4px;
}
}


