<ion-content padding class="details-page-content">
    <ion-header no-border>
        <ion-toolbar transparent class="details-page-toolbar ">
            <ion-icon name="ios-arrow-back" (click)="goBackToDetailPage()"></ion-icon>
            <p class="inner-title">{{videoMenuTitle}}</p>
        </ion-toolbar>
    </ion-header>
    <div class="inner-content">
        <div class="row">
            <div class="quiz-details-content" *ngIf="quizData && quizData.length && !isQuizCompleted">
                <div class="quiz-container" *ngIf="selectedQuizContent && selectedQuizContent.questionType == 'True/False'">
                    <div class="quiz-content" *ngIf="selectedQuizContent && selectedQuizContent.questionName">
                        <div class="quiz-content-text">
                            <p class="setpCount">{{quizStep+1}}/{{quizData[0].QuizMappings.length}}</p>
                            <h5 class="selectedQuizContentTitle">{{selectedQuizContent.questionName}}</h5>
                        </div>
                        <div class="quiz-content-options">
                            <span class="quizOption">
                                <ion-row>
                                    <ion-col col-1 class="quiz-radio">
                                        <label for="true"></label>
                                        <ion-icon name="radio-button-off" class="quizOption-icon" *ngIf="'true' != selectedQuizContent['selectedAnswer']"></ion-icon>
                                        <ion-icon name="checkmark-circle" class="quizOption-icon" *ngIf="'true' == selectedQuizContent['selectedAnswer']"></ion-icon>
                                    </ion-col>
                                    <ion-col col-11>
                                        <input hidden id="true" type="radio" class="with-font" name="TorF" [value]="true"
                                            (change)="changeSelectedValue('true')" [checked]="'true' == selectedQuizContent['selectedAnswer']" />
                                        <p>True</p>
                                    </ion-col>
                                </ion-row>
                            </span>
                            <span class="quizOption">
                                <ion-row>
                                    <ion-col col-1 class="quiz-radio">
                                        <label for="false"></label>
                                        <ion-icon name="radio-button-off" class="quizOption-icon" *ngIf="'false' != selectedQuizContent['selectedAnswer']"></ion-icon>
                                        <ion-icon name="checkmark-circle" class="quizOption-icon" *ngIf="'false' == selectedQuizContent['selectedAnswer']"></ion-icon>
                                    </ion-col>

                                    <ion-col col-11>
                                        <input hidden id="false" type="radio" class="with-font" name="TorF" [value]="false"
                                            (change)="changeSelectedValue('false')" [checked]="'false' == selectedQuizContent['selectedAnswer']" />
                                        <p>False</p>
                                    </ion-col>
                                </ion-row>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="quiz-container" *ngIf="selectedQuizContent && selectedQuizContent.questionType == 'MCQ'">
                    <div class="quiz-content" *ngIf="selectedQuizContent && selectedQuizContent.questionName">
                        <div class="quiz-content-text">
                            <p class="setpCount">{{quizStep+1}}/{{quizData[0].QuizMappings.length}}</p>
                            <h5 class="selectedQuizContentTitle">{{selectedQuizContent.questionName}}</h5>
                        </div>
                        <div class="quiz-content-options" *ngIf="selectedQuizContent.options && selectedQuizContent.options.length">
                            <span *ngFor="let quizOption of selectedQuizContent.options" class="quizOption">
                                <ion-row>
                                    <ion-col col-1 class="quiz-radio">
                                        <label for={{quizOption.optionName}}></label>
                                        <ion-icon name="radio-button-off" class="quizOption-icon" *ngIf="quizOption.optionName != selectedQuizContent['selectedAnswer']"></ion-icon>
                                        <ion-icon name="checkmark-circle" class="quizOption-icon" *ngIf="quizOption.optionName == selectedQuizContent['selectedAnswer']"></ion-icon>
                                    </ion-col>
                                    <ion-col col-11>
                                        <input hidden id={{quizOption.optionName}} type="radio" class="with-font" name="radiogroup"
                                            [value]="quizOption.optionName" (change)="changeSelectedValue(quizOption.optionName)"
                                            [checked]="quizOption.optionName == selectedQuizContent['selectedAnswer']" />
                                        <p>{{quizOption.optionName}}</p>
                                    </ion-col>
                                </ion-row>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="quiz-container" *ngIf="selectedQuizContent && selectedQuizContent.questionType == 'NON-MCQ'">
                    <div class="quiz-content" *ngIf="selectedQuizContent && selectedQuizContent.questionName">
                        <div class="quiz-content-text">
                            <p class="setpCount">{{quizStep+1}}/{{quizData[0].QuizMappings.length}}</p>
                            <h5 class="selectedQuizContentTitle">{{selectedQuizContent.questionName}}</h5>
                        </div>
                        <div class="quiz-content-options">
                            <span class="quizOption">
                                <ion-row>
                                    <ion-item>
                                        <ion-input type="text" [(ngModel)]="selectedQuizContent.selectedAnswer"
                                            (change)="changeSelectedValue(selectedQuizContent.selectedAnswer)"></ion-input>
                                    </ion-item>
                                </ion-row>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="quiz-btn-container">
                    <button float-left class="btn quiz-btn quiz-btn-left" [disabled]="!quizStep" (click)="quizPreviousContent()">
                        Preview
                    </button>
                    <button float-right class="btn quiz-btn" [disabled]="(selectedQuizContent && !selectedQuizContent.selectedAnswer)"
                        (click)="quizNextContent()">
                        {{(quizStep == (quizData[0].QuizMappings.length-1)) ? 'finish' : 'next'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-content>