<ion-content padding class="details-page-content">
    <ion-header no-border>
        <ion-toolbar transparent class="details-page-toolbar ">
            <ion-icon name="ios-arrow-back" (click)="goBackLevel()"></ion-icon>
            <p>{{courseName}}</p>
        </ion-toolbar>
    </ion-header>

    <!-- Previous Works Modifications -->
    <!-- <div class="inner-content">
        <div class="row">
            <div class="slides-container">
                <ion-slides pager (ionSlideDidChange)="slideChanged()">
                     <ion-slide *ngFor="let slide of trainingDatas">
                        <video class="video-width" controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" playsinline class="videoPlayer">
                            <source src="{{slide.fileLink}}" type="video/mp4"/>
                        </video>
                        <div class = "video-content">
                            <div class = "loading-bar-div">
                                <div class = "loading-bar">
                                    <span class = "video-progress-bar" [ngClass] = "{'playedProgressBar': i <= currentVideoIndex}" [ngStyle]="{'width.%': loadingBarWidth}" *ngFor = "let trainingVideo of trainingDatas; let i = index">
                                        <p>{{i}}</p>
                                    </span>
                                </div>
                                <span class = "loading-bar-percentage">
                                    <p>{{Math.round(loadingBarWidth * (currentVideoIndex+1))}}<sub>%</sub></p>
                                </span>
                            </div>
                            <ion-card-title [innerHTML]="slide.fileDescription" class = "video-title"></ion-card-title>
                            <span class = "video-description">
                                <p [innerHTML]="slide.description"></p>
                            </span>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class = "btn-container">
                    <span class = "slider-btns">
                        <ion-icon name="arrow-dropleft-circle" class="arrow-dropleft-icon" (click)="slides.slidePrev()" *ngIf="leftButton"></ion-icon>
                        <ion-icon name="arrow-dropleft-circle" class="arrow-dropleft-icon disabledSliderIcon" *ngIf="!leftButton"></ion-icon>
                        
                        <ion-icon name="arrow-dropright-circle" class="arrow-dropright-icon" (click)="slides.slideNext()" *ngIf="rightButton"></ion-icon>
                        <ion-icon name="arrow-dropright-circle" class="arrow-dropright-icon disabledSliderIcon" *ngIf="!rightButton"></ion-icon>
                    </span>
                    <span class = "take-quiz-btn" (click)="goToQuizPage()">
                       {{constant.buttons.takeQuiz}}
                    </span>
                </div>
            </div>
        </div>
    </div> -->


    <div class="inner-content" *ngIf="setTraining">
        <video class="video-width" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
            playsinline class="videoPlayer">
            <source src="{{setTraining.fileLink}}" type="video/mp4" />
        </video>
        <div class="row training-block">
            <h6>{{setTraining.fileTitle}}</h6>
            <p>
                {{setTraining.fileDescription}}
            </p>
            <span class="take-quiz-btn" (click)="showNextPage()" *ngIf="!quizBtn">
                {{constant.buttons.next}}
            </span>
            <span class="take-quiz-btn" (click)="goToQuizPage()" *ngIf="quizBtn">
                {{constant.buttons.takeQuiz}}
            </span>
        </div>
    </div>
</ion-content>