page-training-detail {


.scroll-content {
    // background-image: linear-gradient(#2F99D4, #005684);
    background: #F9F9F9;
    padding: 0px !important;
    font-family: 'sf_pro_displayregular';
}
.next-btn,.prev-btn{
    width: 100%;
    text-align: center;
    display: block;
     font-size: 18px;
     // padding: 0 36px;
}
.next-btn {   
    text-align: right;  
}
.prev-btn {
    text-align: left;
}
ion-header {
    padding: 0 0px;
}

ion-header.header-ios {
    top:30px; 
}

ion-toolbar {
    color: #fff;
}
.training-block{
    padding: 16px;

}
.image-tag{
    padding: 0;
    background-color: #468FB9;
    position: relative;
}
.view-image-tag{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
  }
.inner-image{
       width: 100%;
    height: auto;
}
 .inner-content {
    margin-top: 0;
}

.more-icon {
    float: right;
}

.swiper-button-prev {
    margin-top: 25%;
}

.swiper-button-next {
    margin-top: 25%;
}

.take-quizbtn {
    width: 100%;
    margin-top: 3%
}

.swiper-pagination {
    display: none;
}

.videoPlayer {
    width: 100%;
    //position: fixed;
    // top: 50%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
   // height: auto;
    //z-index: -100;
	// -webkit-transform: translateX(-50%) translateY(-50%);
	// -moz-transform: translateX(-50%) translateY(-50%);
	// -ms-transform: translateX(-50%) translateY(-50%);
	// -o-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
    object-fit: fill;
    background-size: cover;
}
.ver-bottom{
    display: block;
}
.arrow-dropleft-icon {
    font-size: 36px;
    float: left;
}
.arrow-dropright-icon {
    font-size: 36px;
    float: right;
}
.slides-container {
    float: left;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.video-content, .btn-container {
    float: left;
    width: 100%;
    text-align: left;
    padding: 16px;
}
.video-title {
    color:#1D1D1D;
    font-size: 20px;
}
.video-description {
    float: left;
    width: 100%;
    min-height: 200px;
}
.video-description p {
    color: #A0A0A0;
    font-size: 17px;
}
.slider-btns {
    float: left;
    width: 100%;
    padding: 16px 32px;
    color: #329CD6;
}
.disabledSliderIcon {
    color: #B5B5B5;
}
.take-quiz-btn {
        max-width: 300px;
    width: 100%;
    border-radius: 39px;
    background-image: linear-gradient(to right, #1582BE, #329CD6);
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
   margin: 20px auto 20px auto;
}
.loading-bar-div {
    float: left;
    width: 100%;
}
.loading-bar {
    float: left;
    width: 90%;
    display: table;
    padding: 12px 0px;
}
.loading-bar-percentage {
    float: right;
    width: 10%;
}
.loading-bar-percentage p {
    color: #fff;
    margin: 0;
    background: #329CD6;
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 30px;
    padding: 9px 0;
    float: right;
    border-radius: 25px;
    line-height: 10px;
}
.video-progress-bar {
    float: left;
    display: table-cell;
}
.playedProgressBar p {
    background: #329CD6 !important;
}
.video-progress-bar p {
    margin: 0;
    text-align: center;
    margin-right: 5px;
    height: 5px;
    font-size: 0;
    background: #D5D5D5;
}
h6{
    font-family: 'sf_pro_displaysemibold';
        width: 100%;
            margin: 40px 0 15px 0;
}
.button-bottom{
    width: 100%;
}
.quiz-text {
    color: #A0A0A0;
    font-weight: 100;
    font-family: 'sf_pro_displayregular';
}
.hole-cont {
    color: #A0A0A0;
}
.training-det {
    min-height: calc(94vh - 100px);
    display: block;
}
/*.training-block {
    min-height: calc(100vh - 290px);
}*/
//sheema
.view-button{
    float: right;
    position: relative;
    top: -7px;
}
.eye-icon{
    color:#219BCE;
    font-size: 24px;
    position: relative;
    top: 4px;
    font-size: 28px;
}
.view-text{
    color:#5b5757;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    font-weight: 100;
    font-family: 'sf_pro_displaysemibold';
}
.view-text:hover{
    color: #468FB9;
    text-decoration: underline;
    cursor: pointer;
}
.ack-label{
    float: right;
    margin: -4px 0 0 11px;
}
.checkbox-item{
    margin: 20px 0 20px 0;
}
.collapse{
    height: 250px;
}
// sheema
}
// alert pop up
.alert-button .button-inner{
    font-weight: normal;
}
.alert-ios .alert-button, .alert-md .alert-button{
    text-align: center;
    width: 100%;
}
.alert-md .alert-button .button-inner{
    justify-content: center;
}
.alert-ios .alert-title,.alert-md .alert-title {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.alert-md .alert-button{   
    border-top: 0.55px solid #dbdbdf;
}
.alert-md .alert-button .button-inner,.alert-ios .alert-button{
        font-weight: normal;
    text-transform: capitalize;
    font-size: 16px;
}

page-training-detail .image-tag.img-box {
    padding: 0;
    background-color: #468FB9;
  }
  
  page-training-detail .img-box .inner-image {
    width: 100%;
    height: auto;
  }
  