.table thead th, .table td{
    vertical-align: middle;
    border: none;
}
.user-searchbox{
    position: relative;
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin-right: 1px;
    width: 100%;
    }
    .user-search-icon{
    background: none;
    border: none;
    position: absolute;
    right: 22px;
    top: 85px;
    }
    .search-icon{
    color: #468FB9;
    font-size: 14px;
    border: none;
    padding-top: 26px;
    }

    .bbs-1{
        border-bottom: 1px solid #ccc !important;
    }
    .bbsw-1{
        border-bottom: 1px solid white !important;
    }

    @media print{
    .noPrint{
        display:none;
        }
    }

