<ion-content padding class="change-password">
  <ion-header no-border>
    <ion-toolbar transparent class="change-password-toolbar">
      <ion-icon name="ios-arrow-back" (click)="navCtrl.pop()"></ion-icon>
      <p>{{constant.title.changePassword}}</p>
    </ion-toolbar>
  </ion-header>
  <div class="inner-content">
    <form novalidate (ngSubmit)="submit()" [formGroup]="settingsForm">
      <div class="row">
        <ion-item>
          <ion-label color="default" stacked> {{constant.pages.settingLabels.oldPassword}}</ion-label>
          <ion-input type="password" [(ngModel)]="setting.oldpassword" formControlName="password" [class.error1]="!settingsForm.controls.password.valid && settingsForm.controls.password.dirty"
            placeholder="{{constant.pages.settingLabels.oldPassword}}"></ion-input>
        </ion-item>
        <div *ngIf="( settingsForm.get('password').hasError('minlength') || settingsForm.get('password').hasError('maxlength') ||settingsForm.get('password').hasError('pattern') || settingsForm.get('password').hasError('required') ) && settingsForm.get('password').touched">
          <div class="error" *ngIf="settingsForm.get('password').hasError('required') && settingsForm.get('password').touched">
            {{constant.pages.settingLabels.validations.oldPasswordRequired}}
          </div>
          <div class="error" *ngIf="settingsForm.get('password').hasError('minlength') && settingsForm.get('password').touched">
            {{constant.pages.settingLabels.validations.minLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('password').hasError('maxlength') && settingsForm.get('password').touched">
            {{constant.pages.settingLabels.validations.maxLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('password').hasError('pattern') && settingsForm.get('password').touched">
            {{constant.pages.settingLabels.validations.pattern}}
          </div>
        </div>
        <ion-item>
          <ion-label color="default" stacked>{{constant.pages.settingLabels.newPassword}}</ion-label>
          <ion-input type="password" [(ngModel)]="setting.newpassword" formControlName="newpassword" [class.error1]="!settingsForm.controls.newpassword.valid && settingsForm.controls.newpassword.dirty"
            placeholder="{{constant.pages.settingLabels.newPassword}}"></ion-input>
        </ion-item>
        <div *ngIf="( settingsForm.get('newpassword').hasError('minlength') || settingsForm.get('newpassword').hasError('maxlength') ||settingsForm.get('newpassword').hasError('pattern') || settingsForm.get('newpassword').hasError('required') ) && settingsForm.get('newpassword').touched">
          <div class="error" *ngIf="settingsForm.get('newpassword').hasError('required') && settingsForm.get('newpassword').touched">
            {{constant.pages.settingLabels.validations.newPasswordRequired}}
          </div>
          <div class="error" *ngIf="settingsForm.get('newpassword').hasError('minlength') && settingsForm.get('newpassword').touched">
            {{constant.pages.settingLabels.validations.minLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('newpassword').hasError('maxlength') && settingsForm.get('newpassword').touched">
            {{constant.pages.settingLabels.validations.maxLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('newpassword').hasError('pattern') && settingsForm.get('newpassword').touched">
            {{constant.pages.settingLabels.validations.pattern}}
          </div>
        </div>
        <ion-item>
          <ion-label color="default" stacked>{{constant.pages.settingLabels.confirmPassword}}</ion-label>
          <ion-input type="password" [(ngModel)]="setting.confirmpassword" formControlName="confirmpassword"
            [class.error1]="!settingsForm.controls.confirmpassword.valid && settingsForm.controls.confirmpassword.dirty"
            placeholder="Confirm Password"></ion-input>
        </ion-item>
        <div *ngIf="( settingsForm.get('confirmpassword').hasError('minlength') || settingsForm.get('confirmpassword').hasError('maxlength') ||settingsForm.get('confirmpassword').hasError('pattern') || settingsForm.get('confirmpassword').hasError('required') ) && settingsForm.get('confirmpassword').touched">
          <div class="error" *ngIf="settingsForm.get('password').hasError('required') && settingsForm.get('password').touched">
            {{constant.pages.settingLabels.validations.confirmPasswordRequired}}
          </div>
          <div class="error" *ngIf="settingsForm.get('confirmpassword').hasError('minlength') && settingsForm.get('confirmpassword').touched">
            {{constant.pages.settingLabels.validations.minLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('confirmpassword').hasError('maxlength') && settingsForm.get('confirmpassword').touched">
            {{constant.pages.settingLabels.validations.maxLength}}
          </div>
          <div class="error" *ngIf="settingsForm.get('confirmpassword').hasError('pattern') && settingsForm.get('confirmpassword').touched">
            {{constant.pages.settingLabels.validations.pattern}}
          </div>
        </div>
        <ion-item>
          <button type="submit" ion-button round [disabled]="settingsForm.invalid"> {{constant.buttons.save}}</button>
        </ion-item>
      </div>
    </form>
  </div>
</ion-content>