.role-cont {
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   float: left;
   color: #495057;
   line-height: 65px;
}
.role-cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.checkmark {
   position: absolute;
   top: 23px;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 0 !important;
}
.role-cont input:checked ~ .checkmark {
   background-color: #468FB9;
   border: 1px solid #468FB9;
}
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.role-cont input:checked ~ .checkmark:after {
   display: block;
}
.role-cont .checkmark:after {
   left: 6px;
   top: 1px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.table-checkbox-cont{
   position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
    line-height: 27px;
}
.table-checkbox-cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.table-checkmark {
   position: absolute;
   top: 4px;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
  /* border-radius: 15px;*/
}
.table-checkbox-cont input:checked ~ .checkmark {
   background-color: #468FB9;
   border: 1px solid #468FB9;
}
.table-checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.table-checkbox-cont input:checked ~ .checkmark:after {
   display: block;
}
.table-checkbox-cont .checkmark:after {
   left: 6px;
   top: 1px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.checkbox-padding{
   padding-left: 40px;
    padding-bottom: 28px;
}
.edit-padding{
   padding-left: 65px;
    padding-bottom: 28px;
}
