.label-title{
	color: #697380;
	line-height: 47px;
	font-size: 14px;
}
.batch-input{
	position: relative;
}
.batch-icon{
	position: absolute;
    top: 10px;
    right: 5px;
}
.add-batch-icon{
	line-height: 37px;
    font-size: 22px;
}
.module-title-mand{
	color: #697380;
    line-height: 36px;
     margin-bottom: 0;
    font-size: 15px;   
}
.module-title-opt{
    color: #697380;
    line-height: 27px;
    margin-bottom: 10px;
    font-size: 15px;
}
.module-radiobtn input[type='radio'] {
 -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #468FB9;
    border-radius: 50%;
    outline: none;
} 
.module-radiobtn input[type='radio']:before { 
	content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: 13% auto;
    border-radius: 50%;
} 
.module-radiobtn input[type='radio']:checked:before { 
	 	background: #468FB9; 
}
.module-btn-alg{
	position: relative;
    top: 3px;
}
.module-createbtn{
	float: none;
}
.batch-calender{
    border: none;
    color: #576271;
    width: 215px;
}
.modal-cotent .label-title{
    color: #000;
}

.module-radiobtn label{
    width: 45%;
    margin-right:11px;
}

.course-input{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.select-style {
   position: relative;
   display: inline-block;
   margin-bottom: 15px;
   width: 100%;
  }   
   .select-style select {
       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
   }
       .select-style select::-ms-expand {
           display: none;
       }
       .select-style select:hover,
       .select-style select:focus {
           color: #000000;
           background: #cccccc;
       } 
       .select-style select:disabled {
           opacity: 0.5;
           pointer-events: none;
       }
  .select_arrow {
    position: absolute;
    top: 16px;
    right: 7px;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: #989898 transparent transparent transparent;
  }
  .select select-style:hover ~ .select_arrow,
  .select select-style:focus ~ .select_arrow {
   border-top-color: #000000;
  }
  .select select-style:disabled ~ .select_arrow {
   border-top-color: #cccccc;
  }
  .select-style select:hover, .select-style select:focus{
    color: #495057 !important;
    background: unset;
  }
.ml-35{
    margin-left: 35px;
}
.ml-36{
    margin-left: 36px;
}