<!-- <div>   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a (click)="goTocmsLibrary()" class="cms-breadcrumb" href="javascript:void(0);">{{scheduleId ? commonLabels.labels.calendarView : commonLabels.labels.cmsLibrary}}</a></li>
            <li class="breadcrumb-item active">{{commonLabels.btns.scheduleTraining}}</li>
        </ol>
    </nav>
</div> -->
<div class="common-pg-hd clearfix">
    <h4 class="add-notify" *ngIf="!scheduleId">{{commonLabels.modaltitle.addnewtrainingschedule}}</h4>
    <h4 class="add-notify" *ngIf="scheduleId">{{commonLabels.modaltitle.editTrainingschedule}}</h4>
</div>
<div class="white-bg p-4">
<span *ngIf="submitted && errorValidate" class="required_color">{{errorValidate}}</span>
<form #formDir="ngForm" (ngSubmit)="addBatch(formDir)">
    <div class="Schedule-box">       
            <div class="row">  
                    <span class="required_color" *ngIf="errStatus">{{errMsg}}</span>              
                        <div class="col-md-6 row form-group pl-0">
                                <label class="col-md-5 pl-0 label-title">{{commonLabels.labels.from}}</label>
                                <div class="col-md-7 p-0">
                                    <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen"
                                            class="batch-icon">
                                        <input type="text" class="form-control p-0" #dpFrom="bsDatepicker" autocomplete="off"
                                            name="batchFrom" bsDatepicker [(ngModel)]="batchVar.batchFrom" #BatchFrom="ngModel"
                                            [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}" required>
                                        <span class="required_color" *ngIf="BatchFrom && BatchFrom.invalid && (formDir.submitted || BatchFrom.touched)">
                                            {{commonLabels.mandatoryLabels.from}}
                                        </span>
                                        <div *ngIf="batchVar.dategreater" class="required_color">
                                            <span>{{commonLabels.mandatoryLabels.dateLimitError}} </span>
                                        </div>
                                    </span>
                                </div>
                                <span class="required_color" *ngIf="batchVar.batchFrom && batchVar.batchTo && dateError">
                                    {{commonLabels.mandatoryLabels.dateLimitError}}
                                </span>
                            </div>
                            <div class="col-md-6 row form-group pr-0">
                                    <label class="col-md-5 pl-0 label-title">{{commonLabels.labels.to}}</label>
                                    <div class="col-md-7 p-0 batch-input">
                                        <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"
                                                class="batch-icon">
                                            <input type="text" class="form-control" #dp="bsDatepicker" autocomplete="off" name="batchTo"
                                                bsDatepicker [(ngModel)]="batchVar.batchTo" #BatchTo="ngModel" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                                                required>
                                            <span class="required_color" *ngIf="BatchTo && BatchTo.invalid && (formDir.submitted || BatchTo.touched)">
                                                {{commonLabels.mandatoryLabels.to}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                
                <div class="col-md-6 pl-0">
                    
                    <div class="row form-group">
                        <label class="col-md-5 pl-0 label-title">{{commonLabels.labels.batchName}}</label>
                        <div class="col-md-7 p-0">
                            <input class="form-control  p-0" name="batchName" [(ngModel)]="batchVar.batchName"
                                #BatchName="ngModel" type="text" placeholder="Enter Training Schedule Name" maxlength="30" required>
                            <span class="required_color" *ngIf="BatchName && BatchName.invalid && (formDir.submitted || BatchName.touched)">
                                {{commonLabels.mandatoryLabels.batchName}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 p-0 float-left">
                        <!-- <label class="col-md-4 p-0 label-title">{{batchVar.labels.selectDept}}</label> -->
                        <div class="pl-0 form-group select-Courses select select-style clearfix">

                            <!-- <select id="resort" class="col-md-5 form-control p-0" name="resortId" [(ngModel)]="batchVar.selectedResort">
                                <option value="null">{{batchVar.resort}}</option> -->
                            <!-- <ng-multiselect-dropdown [placeholder]="'Resort'" name="resortId" [data]="batchVar.resortList"
                                [(ngModel)]="batchVar.selectedResort" [settings]="batchVar.resortSettings" (onSelect)="onEmpSelect($event)"
                                (onDeSelect)="onEmpSelect($event)" #resortId="ngModel" required></ng-multiselect-dropdown> -->
                            <select id="resort" class="form-control p-0" name="resortId" [(ngModel)]="batchVar.selectedResort" [disabled]="scheduleId ? true : false" #resort (change)=getResortData(resort.value)>
                                <option value="null">{{commonLabels.labels.resort}}</option>

                                <option *ngFor="let data of batchVar.resortList" value="{{data.resortId}}">{{data.resortName}}</option>
                            </select> <div class="select_arrow"></div>
                            <span class="required_color" *ngIf="submitted && !batchVar.selectedResort">
                                {{commonLabels.mandatoryLabels.selectResort}}
                            </span>
                        </div>
                    
                        <!-- <label class="col-md-4 p-0 label-title">{{batchVar.labels.selectDept}}</label> -->
                        <div class="pl-0 form-group select-Courses">
                            <ng-multiselect-dropdown [disabled]="scheduleId ? true : false"  [placeholder]="'Department'" name="departmentId" [data]="batchVar.departmentList"
                                [(ngModel)]="batchVar.selectedDepartment" [settings]="batchVar.departmentSettings" (onSelect)="onEmpSelect($event,'dept')"
                                (onDeSelect)="onEmpSelect($event,'dept')" #departmentId="ngModel" (onSelectAll)="onEmpAllSelect($event,'dept')" (onDeSelectAll)="onEmpAllSelect($event,'dept')" required></ng-multiselect-dropdown>
                            <span class="required_color" *ngIf="submitted && !batchVar.selectedDepartment.length">
                                {{commonLabels.mandatoryLabels.dept}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5 p-0 ml-auto">
                            <!-- <label class="col-md-4 p-0 label-title">{{batchVar.labels.selectDept}}</label> -->
                            <div class="pl-0 form-group select-Courses">
                                <ng-multiselect-dropdown [disabled]="scheduleId ? true : false" [placeholder]="'Division'" name="divisionId" (onSelect)="onEmpSelect($event,'div')" [data]="batchVar.divisionList"
                                    [(ngModel)]="batchVar.selectedDivision" [settings]="batchVar.divisionSettings"  #divisionId="ngModel" (onSelectAll)="onEmpAllSelect($event,'div')" (onDeSelectAll)="onEmpAllSelect($event,'div')" required></ng-multiselect-dropdown>
                                <span class="required_color" *ngIf="submitted && !batchVar.selectedDivision.length">
                                    {{commonLabels.mandatoryLabels.division}}
                                </span>
                            </div>
                            <div class="pl-0 form-group select-Courses">
                                <ng-multiselect-dropdown [placeholder]="'Employees'" name="employeeId"  (onSelect)="onEmpSelect($event,'emp')"  (onDeSelect)="onEmpDeSelect($event)" [data]="batchVar.employeeList"
                                    [(ngModel)]="batchVar.selectedEmp" [settings]="batchVar.empSettings" #empId="ngModel" (onSelectAll)="onEmpAllSelect($event,'emp')" (onDeSelectAll)="onEmpAllSelect($event,'emp')"  required></ng-multiselect-dropdown>
                                <span class="required_color" *ngIf="submitted && !batchVar.selectedEmp.length">
                                    {{commonLabels.mandatoryLabels.selectEmp}}
                                </span>
                            </div>
                        </div>
                        
                                <!-- <label class="col-md-4 p-0 label-title">{{batchVar.labels.selectDept}}</label> -->    
                            <div class="col-md-6 pl-0 form-group">
                                    <!-- <label class="col-md-4 p-0 label-title">{{batchVar.labels.selectDept}}</label> -->
                                    
                                </div>
                    </div>
                </div>

                <div class="col-md-6 pr-0">
                    
                    <div class="row form-group" *ngFor="let data of batchVar.moduleForm; let i = index">
                        <!-- <label class="col-md-2 p-0 label-title">{{batchVar.labels.module}}</label> -->
                        <div  [ngClass]="scheduleId ? 'col-11 col-md-12 p-0' : 'col-12 col-md-12 p-0'">
                            <div class="row">
                                <div [ngClass]="scheduleId ? 'row col-md-12 p-0 prgm-select' : 'row col-md-12 p-0 prgm-select'">
                                    <input type="hidden" class="form-control p-0" [(ngModel)]="data.courseId" name="courseId{{i}}">
                                    <input *ngIf = "!scheduleId" disabled type="text" class="form-control pl-0 col-md-3 course-input" [(ngModel)]="data.courseName" name="courseName{{i}}">
                                    <select *ngIf = "scheduleId" id="courseListValue" class="col-md-4 form-control p-0 ml-0" name="course{{i}}"
                                        [(ngModel)]="data.courseId" #courses="ngModel" (change)="courseUpdate(courses.value,i)" placeholder="Course Name" required >
                                        <option value="null" disabled>{{commonLabels.labels.courseName}}</option>
                                        <option *ngFor="let courses of courseDataList" value="{{courses.courseId}}">{{courses.courseName}}</option>
                                    </select>
                                    <span *ngIf="data.duplicateCourse" class="required_color" >{{commonLabels.mandatoryLabels.courseScheduleError}}</span>
                                    <!-- <select id="program" class="col-md-5 form-control p-0" name="program{{i}}" [(ngModel)]="data.program">
                                        <option value="null">{{batchVar.select}}</option>
                                        <option *ngFor="let program of batchVar.programList" value="{{program.id}}">{{program.name}}</option>
                                    </select> -->

                                    <select id="percentageList" [ngClass]="scheduleId ? 'col-md-6 form-control ml-35' : 'col-md-7 form-control ml-75'" name="passPercentage{{i}}"
                                        [(ngModel)]="data.passPercentage" #passpercentage="ngModel" required placeholder="Pass percentage %">
                                        <option value="null">{{commonLabels.labels.percentage}}</option>
                                        <option *ngFor="let percentage of batchVar.percentageList" value="{{percentage.percentage}}">{{percentage.percentage}}</option>
                                    </select>
                                    <span *ngIf="submitted && !courseError && passPerError && data.passPercentage === 'null'" class="required_color" >{{commonLabels.mandatoryLabels.passPercentageError}}</span>
                                    <span *ngIf="submitted && courseError && data.courseId === ''" class="required_color" >{{commonLabels.mandatoryLabels.courseError}}</span>
                                    <div class="col-1 col-md-1 p-0" *ngIf="scheduleId">
                                            <span><a class="float-right" *ngIf="i==0" (click)="addForm()"><i class="fa fa-plus icons_header add-batch-icon p-0"></i></a></span>
                                            <span *ngIf="!data.trainingScheduleCourseId"><a class="float-right" *ngIf="i!=0" (click)="removeForm(i)"><i class="fa fa-times icons_header add-batch-icon"></i></a></span>
                                        </div>
                                </div>

                                <!-- <div class="" [ngClass]="scheduleId ? 'col-md-7 module-radiobtn p-0' : 'col-md-6 module-radiobtn p-0'">
                                    <label class="module-title-mand"><input class="mr-2 module-btn-alg" type="radio"
                                            name="mandatory{{i}}" value="true" [(ngModel)]="data.mandatory"><label
                                            class="">{{commonLabels.labels.mandatory}}</label></label>
                                    <label class="module-title-opt"><input class="mr-2 module-btn-alg" type="radio"
                                            name="mandatory{{i}}" value="false" [(ngModel)]="data.mandatory"><label
                                            class="">{{commonLabels.labels.optional}}</label></label>
                                </div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="row form-group">
                            <label class="col-md-5 p-0 label-title">{{commonLabels.labels.regNote}}</label>
                            <div class="row col-md-7 p-0">
                                <span class="col-md-6 pl-0">
                                    <input class="form-control  p-0" name="reminder" [(ngModel)]="reminder" #reminderValue="ngModel"
                                        type="number" placeholder="Select" min="1" max="{{maxdurationCount}}" (keyup)="countErrorCheck()"
                                        required>
                                </span>
                                <span class="col-md-6 pr-0">
                                    <select id="notificationTime" class="form-control" name="notificationTime" [(ngModel)]="durationValue"
                                        (change)="durationUpdate()" required>
                                        <option value="null" disabled>{{commonLabels.labels.select}}</option>
                                        <option *ngFor="let program of batchVar.regDuration" value="{{program.id}}">{{program.name}}</option>
                                    </select>
                                </span>
                                <div>
                                    <span class="required_color" *ngIf="formDir.submitted && (!reminder || !durationValue)">{{commonLabels.mandatoryLabels.notificationError}}</span>
                                    <span class="required_color" *ngIf="countCheck">{{countError}}</span>
                                </div>
                            </div>
                        </div>
                    <span class="required_color" *ngIf="batchVar.moduleDuplicate">
                        {{commonLabels.labels.invalidModule}}
                    </span>
                </div>
                <div class="text-center col-md-12 p-4">
                    <button type="submit" class="btn btn-primary module-createbtn mr-4">{{scheduleId ? commonLabels.btns.update : commonLabels.btns.create}}</button>
                    <button type="button" class="btn btn-default creat-btn" (click)="goTocmsLibrary()">{{commonLabels.btns.cancel}}</button>
                </div>

            </div>
        
    </div>
</form>