<div class="">  
<p *ngIf="totalCount">{{commonLabels.labels.total}}: {{totalCount}}</p>    
<div class="float-right row pb-3 pr-2 adduser-respon noPrint">
    <div class="dropdown btn-group pull-right export-btn mr-2" *ngIf="trendList.length">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{commonLabels.btns.exportTo}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item pl-3" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a>
            <a class="dropdown-item pl-3" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a>
        </div>
    </div>
    <button type = "button" class="btn btn-primary float-right mr-2" (click)="onPrint()"><i class="fas fa-print pr-2"></i>Print</button>
  <form class="filter-search" (ngSubmit)="getTrendCountList()">
      <div class="search-container clearfix">
        <input type="text" placeholder="Search Keyword.." name="search" [(ngModel)]="search" class="user-searchbox">
        <button type="submit"  class="user-search-icon"><i class="fa fa-search search-icon"></i></button>
      </div>
    </form>
</div>
<div class="table-responsive custom-table2 mt-3">
    <table class="table white-bg table-striped" [mfData]="trendList" #mf="mfDataTable" [mfRowsOnPage]="10" id="trendList">
        <thead>
                <tr class="th-boxshadow text-center">
                <th>Course Name</th>
                <th>Assigned to (No. of employees)</th>
                <th>Completion status (No. of employees)</th>
                </tr>
        </thead>
        <tbody>
            <tr class="video-trend-desc text-center" *ngFor="let item of mf.data;let i=index;">                
                <td class="vdo-desc-height">{{item.courseName}}</td>
                <td class="vdo-desc-height">{{item.assignedCount}}</td>
                <td class="vdo-desc-height text-center und-txt">
                  <span *ngIf="item.completedCount > 0"><a href="javaScript:void" routerLink="/certification/{{item.courseId}}">{{item.completedCount}}</a></span>
                  <span *ngIf="item.completedCount == 0">{{item.completedCount}}</span>
                </td>
            </tr>  
            <tr *ngIf="trendList?.length == 0">
                <td colspan="10"><p class="text-center data-design p-5">
                <span class="nodata"><i class="far fa-frown nodata-img"></i>Nodata</span></p></td>
            </tr>
        </tbody>  
        <tfoot class="noPrint">
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</div>

