.table-img{
    max-width: 100%;
    width: 100px;
    height: 50px;
}
/* .table td {
    border-bottom: 1px solid #C5C5C5;
} */
/* .certificate .table td {
  border: 1px solid #C5C5C5 !important;
  vertical-align: middle !important;
} */
.video-trend-desc{
	color: #939399;
}
.vdo-desc-height{
  line-height: 65px;
}
.certificate .vdo-desc-height{
  border: 1px solid #C5C5C5 !important;
  vertical-align: middle !important;
}
.table {
  width: 99% !important;
  margin-bottom: 1rem;
  color: #212529;
}
.export-btn{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #468FB9;
    width: 80px;
    min-width: unset;
    padding: 4px 8px;
  }
  .video-hd{
  	display: block;
  	width: 100%;
  }
  tfoot > tr > td {
    border-bottom: 0;
   }
   /* .pagenation-dropdown{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #468fb9;
    width: 75px;
    padding: 4px 8px;
    height: 32px;
    color: #468FB9;
    -webkit-appearance: none;
    position: relative;
    cursor: pointer;
  }
   .btn-down{
    position: absolute;
    right: 25px;
    top: 88px;
    color: #468FB9;
    cursor: pointer;
   } */
   .vdo-btn{
     width:130px;
     background: #fff;
     border-radius: 3px;
     border:1px solid #dcdcdc;    
     padding: 3px;
   }
   .video-trend-desc {
    color: #73737B;
    font-size: 15px;
}
.vdo-desc-height {
 line-height: inherit;
}
.table td.vdo-desc-height {
  border-bottom: none
}
.und-txt a{
  text-decoration: underline;
}
.creat-btn{
  float: none;
}
.certificate-table-alg{
  width: 87%;
    float: right;
    height: 200px;
}
.user-searchbox{
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin-right: 1px;
  width: 84%;
  }
  .user-search-icon{
  background: none;
  border: none;
  }
  .search-icon{
  color: #468FB9;
  font-size: 14px;
  border: none;
  }