<div class="">  
<div class="float-right row pb-3 pr-2 adduser-respon noPrint">
    <select class="vdo-btn  select mr-2 select-style clearfix" id="year" name="year" (change)="onChangeYear()"
        [(ngModel)]="trendsVar.years">
        <option value=''>Year</option>
        <option *ngFor="let years of trendsVar.yearsList" [value]="years.year">{{years.year}}</option>
        <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> -->
        <div class="select_arrow"></div>
    </select>
    <select class="vdo-btn mr-2 select select-style clearfix" id="month" name="month" [disabled]="trendsVar.years == ''"
        (change)="onChangeMonth()" [(ngModel)]="trendsVar.months">
        <option value=''>Month</option>
        <option *ngFor="let months of trendsVar.monthsList" [value]="months.id">{{months.month}}</option>
        <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> -->
        <div class="select_arrow"></div>
    </select>
    <div class="dropdown btn-group pull-right export-btn mr-2" *ngIf="trendList.length">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{commonLabels.btns.exportTo}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item pl-3" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a>
            <a class="dropdown-item pl-3" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a>
        </div>
    </div>
    <button type = "button" class="btn btn-primary float-right mr-2" (click)="onPrint()"><i class="fas fa-print pr-2"></i>Print</button>
  <form class="filter-search" (ngSubmit)="getTrendCountList()">
      <div class="search-container clearfix">
        <input type="text" placeholder="Search Keyword.." name="search" [(ngModel)]="search" class="user-searchbox">
        <button type="submit"  class="user-search-icon"><i class="fa fa-search search-icon"></i></button>
      </div>
    </form>
</div>


<div class="float-right row pb-3 adduser-respon col-md-12 p-0 noPrint">
    <div class="row col-md-11 p-0">
        <div class="col-md-4 pl-0 select select-style clearfix">
            <select name="childResortId" class="form-control pl-2" [(ngModel)]="filterResort" #childResort
                (change)="filterSelect(childResort.value,'resort')">
                <option [value]=null>{{commonLabels.labels.selectResort}}</option>
                <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName  | titlecase}}
                </option>
            </select>
            <div class="select_arrow"></div>
        </div>
        <div class="col-md-4 pl-0 select select-style clearfix">
            <select name="parentDivisionId" class="form-control pl-2" [(ngModel)]="filterDivision" #parentdivision
                (change)="filterSelect(parentdivision.value,'division')">
                <option [value]=null>{{commonLabels.labels.selDiv}}</option>
                <option *ngFor="let division of divisionList" [value]="division.divisionId">{{division.divisionName}}
                </option>
            </select>
            <div class="select_arrow"></div>
        </div>
        <div class="col-md-4 pl-0 select select-style clearfix">
            <select name="parentDepartmentId" class="form-control pl-2" [(ngModel)]="filterDept" #dept
                (change)="filterSelect(dept.value,'dept')">
                <option [value]=null>{{commonLabels.labels.selDept}}</option>
                <option *ngFor="let dep of departmentList" [value]="dep.departmentId">{{dep.departmentName}}</option>
            </select>
            <div class="select_arrow"></div>
        </div>
       
    </div>
    <div class="col-md-1 refer-btn p-0">
        <button type="button" (click)="resetFilter()" class="btn reset-search-icon"><i
                class="fas fa-sync-alt refer-icon"></i></button>
    </div>
</div>

<div class="table-responsive custom-table2 mt-3">
    <p *ngIf="totalCount" class="count-wrapper">{{commonLabels.labels.total}}: {{totalCount}}</p>
    <table class="table white-bg table-striped" [mfData]="trendList" #mf="mfDataTable" [mfRowsOnPage]="10" id="trendList">
        <thead>
                <tr class="th-boxshadow text-center">
                <th>Course Name</th>
                <th>Assigned to (No. of employees)</th>
                <th>Completion status (No. of employees)</th>
                </tr>
        </thead>
        <tbody>
            <tr class="video-trend-desc text-center" *ngFor="let item of mf.data;let i=index;">                
                <td class="vdo-desc-height">{{item.courseName}}</td>
                <td class="vdo-desc-height">{{item.assignedCount}}</td>
                <td class="vdo-desc-height text-center und-txt">
                  <span *ngIf="item.completedCount > 0"><a href="javaScript:void" routerLink="/certification/{{item.courseId}}">{{item.completedCount}}</a></span>
                  <span *ngIf="item.completedCount == 0">{{item.completedCount}}</span>
                </td>
            </tr>  
            <tr *ngIf="trendList?.length == 0">
                <td colspan="10"><p class="text-center data-design p-5">
                <span class="nodata"><i class="far fa-frown nodata-img"></i>Nodata</span></p></td>
            </tr>
        </tbody>  
        <tfoot class="noPrint">
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</div>

