.bg-img{
    background-image: url(/assets/images/Login_bg.png);
    height: calc(100vh - 0px);
    background-size: cover;
    width: calc(100vw - 0px);
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.bg-color-faded{
    background-color: rgba(147, 194, 222, 0.56);
    width: calc(100vw - 0px);
    height: calc(100vh - 0px);
    display: table-cell;
    vertical-align: middle;
}
.login-page {
    text-align: center;
    width: 340px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    margin-left: 10%;
}
.login-text{
    text-align: left;
    padding: 25px 12px 30px 12px;
    font-family: inherit;
    color: #1D4960;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.login-input{
    margin-bottom: 50px;    
}
.login-input, .forgot-pwd{
    font-size: 12px;
    color: #495057;
}
.input-alg{
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
    float: left;
    color: #495057;
}
.login-btn{
    min-width: 125px;
    height: 38px;
    float: none;
    border-radius: 20px;
    border: 1px solid #468FB9;
    box-shadow: 0 1.5px 11px 5px rgba(190, 190, 190, .4), 0 0 6px 3px #ADCDE0;
}
form{
  margin: 0 auto;
}
.icon{
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 10px;
}
.forgot-pwd{
    float: right;
    cursor: pointer;
}
.back-btn{
    box-shadow: 0 1.5px 11px 5px rgba(190, 190, 190, .4), 0 0 6px 3px #ADCDE0;
    border-radius: 20px;
    border: none;
}
.pwd-content {
    font-size: 15px;
    font-weight: normal;
    text-transform: initial;
    width: 80%;
    margin: 0px auto;
    padding: 15px 0 0 0;
}
.login-input{
   margin-bottom: 50px;    
}
.login-input, .forgot-pwd, .logged-in{
   font-size: 12px;
   color: #495057;
}
.sent-btn{
    float: none;
    border-radius: 20px;
    box-shadow: 0 1.5px 11px 5px rgba(190, 190, 190, .4), 0 0 6px 3px #ADCDE0;
}