<div class="row pt-4">
    <div class="col-sm-12 pb-3 p-0">
        <button type = "button" class="btn btn-primary float-right" [routerLink]="['../resorts']"><i class="fa fa-plus pr-2"></i>{{resortVar.labels.createResort}}</button>
    </div>
    <div class="col-lg-12 col-sm-12 p-0">                
        <div class="table-responsive white-bg ">
            <table class="table table-striped" [mfData]="resortVar.resortList" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                    <tr class="th-boxshadow">
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.resortName}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.location}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.email}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.mobile}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.utilizedSpace}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.numberOfUser}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{resortVar.labels.status}}</mfDefaultSorter>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resort of mf.data" class="table-desc-color">
                            <td class="text-left"><a href="javascript:void" (click)="resortDetails(resort.resortId)">{{ resort.resortName }}</a></td>
                            <td class="text-left">{{ resort.location }}</td>
                            <td class="text-left">{{ resort.User.email }}</td>
                            <td class="text-left">{{ resort.User.phoneNumber }}</td>
                            <td class="text-left">{{ resort.utilizedSpace }}</td>
                            <td class="text-left">{{ resort.totalNoOfUsers }}</td>
                            <td class="text-left">{{ resort.status }}</td>
                        </tr>
                    <!-- <tr *ngIf="mf.data?.length == 0">
                        <td colspan="5" class="text-center data-design">{{forumVar.createForum.noData}}</td>
                    </tr> -->
                    </tbody>
                </table>
        </div>
    </div>
</div>