<div>	
	<div class="clearfix tab-section">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#pendinglist">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#">Approved</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Rejected</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="tab" href="#approvedsetting">Approval Setting</a>
                </li>               
            </ul> 
        </div>

    <div class="tab-content">
        <div id="pendinglist" class="col-lg-12 col-sm-12 p-0 pt-3 tab-pane active">                
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                        <thead>
                        <tr class="th-boxshadow">                            
                            <th class="text-left">
                               Resort
                            </th>
                            <th class="text-left">
                               Requestor
                            </th>
                            <th class="text-left">
                               Course Name
                            </th>
                            <th class="text-left">
                               Received On
                            </th>
                            <th class="text-left">
                                View
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  class="table-desc-color">
                                <td class="text-left">Resort 1</td>
                                <td class="text-left">John</td>
                                 <td class="text-left">Safety Video</td>
                                <td class="text-left">19 Dec 2018</td>
                                <td><a title="View"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr  class="table-desc-color">
                                   <td class="text-left">Resort 2</td>
                                <td class="text-left">Peter</td>
                                 <td class="text-left">Safety Video</td>
                                <td class="text-left">21 Jan 2019</td>
                                <td><a title="View"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr  class="table-desc-color">
                                   <td class="text-left">Resort 3</td>
                                <td class="text-left">David</td>
                                 <td class="text-left">Safety Video</td>
                                <td class="text-left">16 Feb 2019</td>
                                <td><a title="View"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                </tr>                       
                        </tbody>
                    </table>
            </div>
        </div>     




       


       
        	<div id="approvedsetting" class="col-lg-12 p-0 pt-3 tab-pane ">
        		<div class="white-bg p-3">
        			<div class="row">
        				<div class="col-md-3 mb-3 col-sm-6 select select-style clearfix pl-0">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Resort</option>
                    <option>Resort 1</option>
                    <option>Resort 2</option>
                    <option>Resort 3</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Division</option>
                    <option>Division 1</option>
                    <option>Division 2</option>
                    <option>Division 3</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Department</option>
                    <option>Department 1</option>
                    <option>Department 2</option>
                    <option>Department 3</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix pr-0">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Select Employee</option>
                    <option>Employee 1</option>
                    <option>Employee 2</option>
                    <option>Employee 3</option>
                </select>
                <div class="select_arrow"></div></div>
        			</div>
        			<div class="row pt-3">
        				<div class="col-md-3 mb-3 col-sm-6  select select-style clearfix pl-0">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Approver Type</option>
                    <option>Single</option>
                    <option>Multiple</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Approver Level</option>
                    <option>Level 1</option>
                    <option>Level 2</option>
                    <option>Level 3</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-6 mb-3 col-sm-12 select select-style clearfix pr-0">
    		<div class="mb-2 row">
                            <label class="col-md-4 col-sm-6  label-title p-0">Approval Within</label>
                            <div class="col-md-8 col-sm-6  select select-style clearfix p-0">
                                <select name="Training Class" class="form-control pl-0">
                                    <option>Days</option>
                                    <option>Day 1</option>
                                    <option>Day 2</option>
                                </select>
                           <div class="select_arrow"></div></div>
                        </div></div>
               		</div>
               		<div _ngcontent-c17="" class="col-sm-12 clearfix py-4 text-center"><button class="btn btn-primary creat-btn" type="submit">Set</button></div>
        		</div>
        	</div>

</div>
</div>