<div class="pt-3">
    <div class="clearfix tab-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#pendinglist" (click)="tabChange('Pending')">{{commonLabels.labels.pending}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#approvallist" (click)="tabChange('Approved')">{{commonLabels.labels.approved}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#rejectedlist" (click)="tabChange('Rejected')">{{commonLabels.labels.rejected}}</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#approvedsetting">{{commonLabels.labels.approvalSetting}}</a>
            </li>                -->
        </ul>
    </div>

    <div class="tab-content active">
        <div id="pendinglist" class="col-lg-12 col-sm-12 p-0 pt-3 tab-pane active">
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                    <thead>
                        <tr class="th-boxshadow">
                            <th class="text-left">
                                {{commonLabels.labels.resort}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.requestor}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentName}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentType}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.receivedOn}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.approverName}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.action}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-desc-color" *ngFor="let item of pendingList | paginate: {itemsPerPage: pageSize,currentPage: p,totalItems : totalCount};let i = index;">
                            <td class="text-left">{{item.Resort.resortName  | titlecase}}</td>
                            <td class="text-left">{{item.Requestor.userName  | titlecase}}</td>
                            <td class="text-left">{{item.contentName}}</td>
                            <td class="text-left">{{item.contentType}}</td>


                            <td class="text-left">{{item.created | date : 'medium'}}</td>
                            <td class="text-left">
                                <span *ngIf="item.Approver"> {{item.Approver.userName  | titlecase}}</span>
                                <span *ngIf="!item.Approver"> - </span>
                            </td>
                            <td>
                                <a title="To Approve" (click)="approveConfirm(approveConfirmPop,item)"><i class="fa fa-check"
                                        aria-hidden="true"></i></a>
                                <a title="To Reject" (click)="rejectConfirm(rejectConfirmPop,item)"><i class="fa fa-times"
                                        aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr class="table-desc-color" *ngIf="totalCount === 0">
                            
                            <td class="text-center" colspan="7">
                                <p class="data-design m-0">
                                    <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span>
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <pagination-controls *ngIf="totalCount > 0" class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>

        </div>
        <div id="approvallist" class="col-lg-12 col-sm-12 p-0 pt-3 tab-pane">
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                    <thead>
                        <tr class="th-boxshadow">
                            <th class="text-left">
                                {{commonLabels.labels.resort}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.requestor}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentName}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentType}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.receivedOn}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.approverName}}
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-desc-color" *ngFor="let item of pendingList | paginate: {itemsPerPage: pageSize,currentPage: p,totalItems : totalCount};let i = index;">
                            <td class="text-left">{{item.Resort.resortName  | titlecase}}</td>
                            <td class="text-left">{{item.Requestor.userName  | titlecase}}</td>
                            <td class="text-left">{{item.contentName}}</td>
                            <td class="text-left">{{item.contentType}}</td>


                            <td class="text-left">{{item.created | date : 'medium'}}</td>
                            <td class="text-left">
                                <span *ngIf="item.Approver"> {{item.Approver.userName  | titlecase}}</span>
                                <span *ngIf="!item.Approver"> - </span>
                            </td>

                        </tr>
                        <tr class="table-desc-color" *ngIf="totalCount === 0">
                            
                                <td  class="text-center" colspan="7">
                                    <p class="data-design m-0">
                                        <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span>
                                    </p>
                                </td>
                            </tr>
    

                    </tbody>
                </table>
            </div>
            <pagination-controls *ngIf="totalCount > 0" class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>

        </div>
        <div id="rejectedlist" class="col-lg-12 col-sm-12 p-0 pt-3 tab-pane">
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                    <thead>
                        <tr class="th-boxshadow">
                            <th class="text-left">
                                {{commonLabels.labels.resort}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.requestor}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentName}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.contentType}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.receivedOn}}
                            </th>
                            <th class="text-left">
                                {{commonLabels.labels.approverName}}
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-desc-color" *ngFor="let item of pendingList | paginate: {itemsPerPage: pageSize,currentPage: p,totalItems : totalCount};let i = index;">
                            <td class="text-left">{{item.Resort.resortName  | titlecase}}</td>
                            <td class="text-left">{{item.Requestor.userName  | titlecase}}</td>
                            <td class="text-left">{{item.contentName}}</td>
                            <td class="text-left">{{item.contentType}}</td>


                            <td class="text-left">{{item.created | date : 'medium'}}</td>
                            <td class="text-left">
                                <span *ngIf="item.Approver"> {{item.Approver.userName  | titlecase}}</span>
                                <span *ngIf="!item.Approver"> - </span>
                            </td>

                        </tr>
                        <tr class="table-desc-color" *ngIf="totalCount === 0">
                            
                                <td class="text-center" colspan="7">
                                    <p class="data-design m-0">
                                        <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span>
                                    </p>
                                </td>
                            </tr>





                    </tbody>
                </table>
            </div>
            <pagination-controls *ngIf="totalCount > 0" class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>

        </div>

        <div id="approvedsetting" class="col-lg-12 p-0 pt-3 tab-pane ">
            <div class="white-bg p-3">
                <div class="row">
                    <div class="col-md-3 mb-3 col-sm-6 select select-style clearfix pl-0">
                        <select id="resort" class="form-control p-0" name="resortId" [(ngModel)]="selectedResort"
                            #resort (change)=getResortData(resort.value)>
                            <option value="null">{{commonLabels.labels.resort}}</option>

                            <option *ngFor="let data of resortList" value="{{data.resortId}}">{{data.resortName  | titlecase}}</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
                        <div class="pl-0 form-group select-Courses">
                            <ng-multiselect-dropdown [placeholder]="'Division'" name="divisionId" (onSelect)="onEmpSelect($event,'div')"
                                [data]="divisionList" [(ngModel)]="selectedDivision" [settings]="batchVar.divisionSettings"
                                #divisionId="ngModel" (onSelectAll)="onEmpAllSelect($event,'div')" (onDeSelectAll)="onEmpAllSelect($event,'div')"
                                required></ng-multiselect-dropdown>
                            <span class="required_color" *ngIf="submitted && !selectedDivision.length">
                                {{commonLabels.mandatoryLabels.division}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
                        <div class="pl-0 form-group select-Courses">
                            <ng-multiselect-dropdown [placeholder]="'Department'" name="departmentId" [data]="departmentList"
                                [(ngModel)]="selectedDepartment" [settings]="batchVar.departmentSettings" (onSelect)="onEmpSelect($event,'dept')"
                                (onDeSelect)="onEmpSelect($event,'dept')" #departmentId="ngModel" (onSelectAll)="onEmpAllSelect($event,'dept')"
                                (onDeSelectAll)="onEmpAllSelect($event,'dept')" required></ng-multiselect-dropdown>
                            <span class="required_color" *ngIf="submitted && !selectedDepartment.length">
                                {{commonLabels.mandatoryLabels.dept}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix pr-0">
                        <div class="pl-0 form-group select-Courses">
                            <ng-multiselect-dropdown [placeholder]="'Employees'" name="employeeId" (onSelect)="onEmpSelect($event,'emp')"
                                (onDeSelect)="onEmpDeSelect($event)" [data]="employeeList" [(ngModel)]="selectedEmp"
                                [settings]="batchVar.empSettings" #empId="ngModel" (onSelectAll)="onEmpAllSelect($event,'emp')"
                                (onDeSelectAll)="onEmpAllSelect($event,'emp')" required></ng-multiselect-dropdown>
                            <span class="required_color" *ngIf="submitted && !selectedEmp.length">
                                {{commonLabels.mandatoryLabels.selectEmp}}
                            </span>
                        </div>
                    </div>
                </div>


                <div class="row pt-3">
                    <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix pl-0">
                        <select name="Training Class" class="form-control pl-0">
                            <option value="">Approver Type</option>
                            <option>Single</option>
                            <option>Multiple</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="col-md-3 mb-3 col-sm-6  select select-style clearfix">
                        <select name="Training Class" class="form-control pl-0">
                            <option value="">Approver Level</option>
                            <option>Level 1</option>
                            <option>Level 2</option>
                            <option>Level 3</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="col-md-6 mb-3 col-sm-12 select select-style clearfix pr-0">
                        <div class="mb-2 row">
                            <label class="col-md-4 col-sm-6  label-title p-0">Approval Within</label>
                            <div class="col-md-8 col-sm-6  select select-style clearfix p-0">
                                <select name="Training Class" class="form-control pl-0">
                                    <option>Days</option>
                                    <option>Day 1</option>
                                    <option>Day 2</option>
                                </select>
                                <div class="select_arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-c17="" class="col-sm-12 clearfix pb-4 px-0">
                    <button class="btn btn-primary" type="button" (click)="submitRequest()">{{commonLabels.btns.set}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #approveConfirmPop>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.approvalConfirm}}</p>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.approveStatusConfirm}}</span>

        <div class="col-md-12 clearfix">
            <div class="col-md-12 pt-3">
            <label class="square-cont float-left col-md-6">
                <input type="checkbox" name="newQuiz" [checked]= "showUsers" (change)="secondLevelApproval()">
                <span class="text-over">Second Level Approval</span>
                <span class="square-checkmark"></span>
            </label>
            <!-- <input class="col-md-6 form-control" name="resortName" placeholder="" required="" type="text"> -->
        </div>
            <div class="col-md-12 row pb-3" *ngIf="showUsers">
                <label class="col-md-6 label-title p-0 text-left">Employee
                    <span class="mandatory-color">*</span></label>
                <select [(ngModel)]="approvalAccess" name="approvalAccess" class="col-md-6 form-control">
                    <option value="null" disabled>{{commonLabels.labels.selectUsers}}</option>
                    <option *ngFor="let obj of createdByList" [value]="obj.userId">{{obj.userName  | titlecase}}</option>
                </select>
            </div>

        </div>
        <div class="text-center mt-4">
            <button (click)="approveStatus()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>
<ng-template #rejectConfirmPop>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.rejectConfirm}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.rejectStatusConfirm}}</span>
        <div class="col-md-12">
            <textarea [(ngModel)]="rejectComment" name="rejectComment" class="col-md-12 reject-textarea"></textarea>
        </div>
        <div class="text-center mt-4">
            <button (click)="rejectStatus()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>