.tab-section .nav-link{
	padding: .8rem 1.2rem;
    font-size: 15px;
}
.tab-section a{
	display: block;
    border: none;
    ccolor: #aeaeb4;
    font-weight: 600;
}
.tab-section .nav-tabs{
	background-color: #fff;
}
.select-style {
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
 width: 160px;
}   
 .select-style select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
 }
     .select-style select::-ms-expand {
         display: none;
     }
    /* .select-style select:hover,
     .select-style select:focus {
         color: #000000;
         background: #cccccc;
     } */
     .select-style select:disabled {
         opacity: 0.5;
         pointer-events: none;
     }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 7px;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: #989898 transparent transparent transparent;
}
.select select-style:hover ~ .select_arrow,
.select select-style:focus ~ .select_arrow {
 border-top-color: #000000;
}
.select select-style:disabled ~ .select_arrow {
 border-top-color: #cccccc;
}
.select-style{
 float: right;
 clear: both;
 padding-bottom: 0px;
}
.reject-textarea{
    margin-top: 18px;
    margin-bottom: 0px;
    height: 95px;
}