<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="pdt50">
            <a href="#" class="fix"><i class="fa fa-tachometer" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" routerLink="/videos"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" routerLink="/quiz"><i class="fa fa-archive" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
        </li>
        <li>
            <a routerLink="/employeestatus"><i class="fa fa-users" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>