<div *ngIf = "networkAdmin">
<div id="sidebar-wrapper">
    <ul class="sidebar-nav" >
        <li [class.active]="router.isActive('/dashboard') || router.isActive('/employeestatus') || router.isActive('/employeedetails') || router.isActive('/videostrend/:id') || router.isActive('/videostrend')"
            class="mt75">
            <a routerLink="/dashboard"><img src="{{commonLabels.imgs.dashboard}}"class="pr-3">{{commonLabels.titles.dashboard}}</a>
        </li>
        <li [class.active]="router.isActive('/subscriptionlist') || router.isActive('/module') || router.isActive('/module/:moduleId') || router.isActive('/modules/:moduleId/:courseId') || router.isActive('/modules')">
            <a routerLink="/subscriptionlist"><img src="{{commonLabels.imgs.subscription}}"class="pr-3">{{commonLabels.titles.subscription}}</a>
        </li>
        <li [class.active]="router.isActive('/resortslist') || router.isActive('/resorts') || router.isActive('/resorts/:id')">
            <a routerLink="/resortslist"><img src="{{commonLabels.imgs.resort}}"class="pr-3">{{commonLabels.titles.resortmanagement}}</a>
        </li>
        <li [class.active]="router.isActive('/cms-library') || router.isActive('/courselist') || router.isActive('/modulelist/:id') || router.isActive('/module') || router.isActive('/module/:moduleId') || router.isActive('/modules/:moduleId/:courseId') || router.isActive('/modules')">
            <a (click)="pageRedirection('edit','course')"><img src="{{commonLabels.imgs.cms}}"class="pr-3">{{commonLabels.labels.cmsLibrary}}</a>
        </li>
        <li [class.active]="router.isActive('/archivalsetting')">
            <a routerLink="/archivalsetting"><img src="{{commonLabels.imgs.archival}}"class="pr-3">{{commonLabels.titles.archivalSettings}}</a>
        </li>
    </ul>
</div>
</div>
<div  *ngIf="peerAdmin">
<div id="sidebar-wrapper">
    <ul class="sidebar-nav" id="scroll-bx">
        <!-- <li [class.active]="router.isActive('/dashboard') || router.isActive('/employeestatus') || router.isActive('/employeedetails') || router.isActive('/videostrend/:id') || router.isActive('/videostrend')" -->
        <li  [ngClass]="(tabType == 'dashboard') ? 'active mt75' : 'mt75'">
            <a (click)="dropDownEnable('dashboard')"><img src="{{commonLabels.imgs.dashboard}}"class="pr-3">{{commonLabels.titles.dashboard}}</a>
        </li>
        <!-- <li [class.active]="router.isActive('/cms-library') || router.isActive('/courselist') || router.isActive('/modulelist/:id') || router.isActive('/module') || router.isActive('/module/:moduleId') || router.isActive('/modules/:moduleId/:courseId') || router.isActive('/modules')"> -->
        <li [ngClass]="(tabType == 'create') ? 'active' : ''">
            <a   (click)="dropDownEnable('create')"><img src="{{commonLabels.imgs.cms}}" class="pr-3">{{commonLabels.btns.create}}<span class="drop-icon"><i *ngIf="enableCreate" aria-hidden="true" class="fa fa-angle-down icons_header pl-5" title="Open"></i><i *ngIf="!enableCreate" class="fa fa-angle-right icons_header  pl-5" aria-hidden="true" title="Open"></i></span></a>
        </li>
        <ul class="sub-menu" *ngIf="enableCreate">
            <li [ngClass]="(activeType == 'createclass') ? 'active' : ''">
                <a (click)="pageRedirection('create','class')">{{commonLabels.labels.createClasses}}</a>
            </li>
            <li [ngClass]="(activeType == 'createquiz') ? 'active' : ((activeType == '/createQuiz') ? 'active' : '')">
                <a (click)="pageRedirection('create','quiz')">{{commonLabels.labels.createQuiz}}</a>
            </li>
            <li [ngClass]="(activeType == 'createcourse') ? 'active' : ''">
                <a (click)="pageRedirection('create','course')">{{commonLabels.btns.createCourse}}</a>
            </li>
            <li [ngClass]="(activeType == 'createnotification') ? 'active' : ''">
                <a (click)="pageRedirection('create','notification')">{{commonLabels.labels.createNotification}}</a>
            </li>
        </ul>
       
        <li [ngClass]="(tabType == 'edit') ? 'active' : ''">
            <a (click)="dropDownEnable('edit')"><img src="assets/images/edit_icon.png" class="pr-3">{{commonLabels.labels.edit}}<span class="drop-icon"><i *ngIf="enableEdit" aria-hidden="true" class="fa fa-angle-down icons_header pl-5" title="Open"></i><i *ngIf="!enableEdit" class="fa fa-angle-right icons_header  pl-5" aria-hidden="true" title="Open"></i></span></a>       
        </li>
        <ul class="sub-menu" *ngIf="enableEdit">
            <li [ngClass]="(activeType == 'editclass') ? 'active' : ''">
                <a (click)="pageRedirection('edit','class')">{{commonLabels.labels.editClasses}}</a>
            </li>
            <li [ngClass]="(activeType == 'editquiz') ? 'active' : ''">
                <a (click)="pageRedirection('edit','quiz')">{{commonLabels.labels.editQuiz}}</a>
            </li>
            <li [ngClass]="(activeType == 'editcourse') ? 'active' : ''">
                <a (click)="pageRedirection('edit','course')">{{commonLabels.labels.editCourse}}</a>
            </li>
            <li [ngClass]="(activeType == 'editnotification') ? 'active' : ''">
                <a (click)="pageRedirection('edit','notification')">{{commonLabels.labels.editNotification}}</a>
            </li>
        </ul>        
        <li [class.active]="router.isActive('/calendar')">
            <a (click)="dropDownEnable('calendar')"><img src="{{commonLabels.imgs.calMenu}}" class="pr-3">{{commonLabels.labels.trainingSchedule}}</a>
        </li>
        <li [ngClass]="(tabType == 'report') ? 'active' : ''">
            <a (click)="dropDownEnable('report')"><img class="pr-2" src="assets/images/sel_reports.png">{{commonLabels.labels.performanceReport}}<span class="drop-icon"><i *ngIf="enableReport" aria-hidden="true" class="fa fa-angle-down icons_header pl-2" title="Open"></i><i *ngIf="!enableReport" class="fa fa-angle-right icons_header  pl-2" aria-hidden="true" title="Open"></i></span></a>
        </li>
        <ul class="sub-menu" *ngIf="enableReport">
            <li [ngClass]="(tabType == 'report' && currentUrl == '/videostrend') ? 'active' : ''">
                <a routerLink="/videostrend">{{commonLabels.labels.videosTrend}}</a>
            </li>
            <li [ngClass]="(tabType == 'report' && currentUrl == '/resortList') ? 'active' : ''">
                <a routerLink="/resortList">{{commonLabels.labels.resortDetails}}</a>
            </li>
            <li class="">
                <a>{{commonLabels.labels.certifiTrend}}</a>
            </li>
        </ul>  
        <li [ngClass]="(tabType == 'cms') ? 'active' : ''" >
            <a (click)="dropDownEnable('cms')"><img src="{{commonLabels.imgs.calMenu}}" class="pr-3">{{commonLabels.labels.resourceLibrary}}</a>
        </li>
        <!-- <li [class.active]="router.isActive('/calendar') || router.isActive('/addBatch')">
            <a routerLink="/calendar"><img src="{{commonLabels.imgs.calMenu}}" class="pr-3">{{commonLabels.titles.calendar}}</a>
        </li> -->
        <!-- <li
            [class.active]="router.isActive('/courselist') || router.isActive('/modulelist/:id') || router.isActive('/module') || router.isActive('/module/:moduleId') || router.isActive('/modules/:moduleId/:courseId') || router.isActive('/modules')">
            <a routerLink="/courselist"><img src="assets/images/Modules.png"class="pr-3">Courses</a>
        </li> -->
       
        <!-- <li [class.active]="router.isActive('/rolepermission')">
            <a routerLink="/rolepermission"><img src="assets/images/menu4.png"class="pr-3">Roles & Permissions</a>
        </li> -->
        
        <li [ngClass]="(tabType == 'show') ? 'active' : ''" >
            <a (click)="dropDownEnable('show')"><img src="assets/images/updown_arrow.png" class="pr-3"><span class="show-btn">{{commonLabels.labels.showMore}}</span></a>
        </li>
        <ul class="p-0" *ngIf="enableShow">
            <li [class.active]="router.isActive('/users')">
                <a routerLink="/users"><img src="{{commonLabels.imgs.user}}" class="pr-3">{{commonLabels.titles.userManagement}}</a>
            </li>
            <li [class.active]="router.isActive('/resortslist') || router.isActive('/resorts') || router.isActive('/resorts/:id')">
                <a routerLink="/resortslist"><img src="{{commonLabels.imgs.resort}}" class="pr-3">{{commonLabels.titles.resortmanagement}}</a>
            </li> 
            <li [class.active]="router.isActive('/approvalrequests')">
                <a routerLink="/approvalrequests"><img src="{{commonLabels.imgs.archival}}"class="pr-3">{{commonLabels.titles.approvalRequests}}</a>
            </li>
            <li [class.active]="router.isActive('/forum')">
                <a routerLink="/forum"><img src="{{commonLabels.imgs.forum}}"class="pr-3">{{commonLabels.labels.forum}}</a>
            </li>
            <li [class.active]="router.isActive('/certificates')">
                <a routerLink="/certificates"><img src="assets/images/Certificates.png"class="pr-3">{{commonLabels.titles.certificate}}</a>
            </li>
            <li [class.active]="router.isActive('/subscriptionlist')">
                <a routerLink="/subscriptionlist"><img src="{{commonLabels.imgs.subscription}}" class="pr-3">{{commonLabels.titles.subscription}}</a>
            </li>
            <li [class.active]="router.isActive('/feedback')">
                <a routerLink="/feedback"><img src="assets/images/feedback.png" class="pr-3">{{commonLabels.titles.feedback}}</a>
            </li>
        </ul>
    </ul>
</div>
</div>