<ion-content padding class="headerFull-bg default-header">
  <ion-header class="static-header main-header my-component" color="primary">
    <ion-navbar>
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.dashboard}}</span>
        <div class="header-icon">
            <ion-icon (click)="goToForum()" name="ios-chatboxes" class="chat-icon"></ion-icon>
          <a (click)="goToNotification()">
          <img src="assets/imgs/notification.png" />
          <span class="dot-circle">{{notificationCount}}</span>
          </a>
        </div>
      </ion-title>
    </ion-navbar>    
  </ion-header>
  <div class="main-content">
    <div class="current-day">
      <h3> {{constant.pages.dashboardLabels.goodMrng}}, Vernon</h3>
      <!-- <p class="day-detail">
              {{currentdate}}
            </p> -->
      <p class="m-0"><span class="day-detail">Thursday, Jan 10 </span></p>
      <p class="weather-status"><img class="weather-img" src="assets/imgs/cool.png" />
        <span class="weather-sts">-4<sup>&#8728;</sup> C</span></p> 
    </div>
    <ion-grid class="status-grid no-padding">
      <ion-row nowrap class="forecast_container">
        <ion-col col-4 col-md-4>
          <div class="status-block">
            <div class="expire-circle circle-style">
              <h4 class="status-title">4</h4>
            </div>

            <p class="course-sec">Courses Expiring</p>

          </div>
        </ion-col>
        <ion-col col-4 col-md-4>
          <div class="assign-box sts-style">
            <div class="blue-circle  circle-style">
              <h4 class="status-title">5</h4>
            </div>

            <p class="course-sec">Signature Required</p>

          </div>
        </ion-col>
        <ion-col col-4 col-md-4>
          <div class="assign-box sts-style">
            <div class="green-circle  circle-style">
              <h4 class="status-title">3</h4>
            </div>

            <p class="course-sec">General Notifications</p>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


      <ion-list>
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-4 class="batch-name">Schedule 1</ion-col>
              <ion-col col-7 class="batch-date">
                28 Dec 2018
                <!-- {{batch.BatchStart | date:'d MMM y'}} -->
                <span class="to-txt"> To </span>
                11 Jan 2019
                <!-- {{batch.BatchEnd| date:'d MMM y'}} -->
              </ion-col>
              <ion-col col-1 class="batch-icon">
                <!-- <ion-icon name="ios-arrow-forward" ></ion-icon> -->
                <ion-icon name="ios-arrow-down"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="course-count">
                <p>Course 1</p>
                <p>4 Training Classes</p>
              </ion-col>
              <ion-col col-6>
                <div class="expires org-color"><span class="aligtxt">Will expire in 1 day</span></div>
                <!-- <div class="average orange-color" *ngIf="batch.retakeCourse"><span class="aligtxt"> Avg Score
                          {{batch.Score}}% <br>
                          <ion-icon name="md-refresh"></ion-icon>Retake Course
                        </span></div>
                      <div class="completed green-color" *ngIf="batch.activeCompleteStatus"><span class="aligtxt"><img src="../assets/imgs/completed.png" class="completed-img" />{{batch.CourseStatus}}</span></div> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>



        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-4 class="batch-name">Schedule 1</ion-col>
              <ion-col col-7 class="batch-date">
                1 Dec 2018

                <span class="to-txt"> To </span>
                12 Dec 2018

              </ion-col>
              <ion-col col-1 class="batch-icon">
                <!-- <ion-icon name="ios-arrow-forward" ></ion-icon> -->
                <ion-icon name="ios-arrow-down"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="course-count">
                <p>Course 1</p>
                <p>4 Training Classes</p>
              </ion-col>
              <ion-col col-6>
                <div class="expires org-color"><span class="aligtxt">Will expire in 2 days</span></div>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-4 class="batch-name">Schedule 1</ion-col>
              <ion-col col-7 class="batch-date">
                1 Apr 2019

                <span class="to-txt"> To </span>
                12 Apr 2019

              </ion-col>
              <ion-col col-1 class="batch-icon">
                <!-- <ion-icon name="ios-arrow-forward" ></ion-icon> -->
                <ion-icon name="ios-arrow-down"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="course-count">
                <p>Course 1</p>
                <p>4 Training Classes</p>
              </ion-col>
              <ion-col col-6>
                <div class="expires org-color"><span class="aligtxt">Will expire in 12 days</span></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
  </div>
</ion-content>
<section class="tab-footer">
<div class="tab-foot-bg">
<ul class="clearfix">
    <li ><span class="active-color">Assigned</span></li>
    <li><span>|</span></li>
    <li><span>In Progress</span></li>
</ul>
</div>
</section>