page-home {
	ion-header.header {
		padding: 0;
	}
	.scroll-content{
		background-color:  #F3F6F9;
	}
	.headerFull-bg {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
		background: rgb(33,131,185); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
	}
	.weather-img {
    display: inline-block;
    width: 40px;
}
.weather-sts {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
    margin-left: 7px;
}
	.current-day{ 
		font-family: 'sf_pro_displayregular';
		padding: 7px 20px 6px 13px;

		.day-detail {
			opacity: 0.5;
			font-size: 15px;
			margin: 0;
			line-height: 19px;
		}
		h1{
			margin: 0;
		}
	}
	.course-sts {

		flex: 0 0 140px;
		width: 140px;
		max-width: 31.26667%;
	}
	.status-grid {
		padding: 0;
		/* width */
		::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #f1f1f1; 
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #888; 
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555; 
		}
		.forecast_container{
			overflow-x: auto !important;
			overflow-y: hidden;
			word-wrap: break-word;
			font-size:0.8em;
			font-weight:300;
		}

		.tvs-statusBox:last-child {
			margin-right: 0;
		}

		.tvs-statusBox {
			color: #fff;
			font-family: 'sf_pro_displayregular';
			padding: 0;
			margin: 0 10px 10px 0;
			.num-sec {
				font-size: 26px;
			}
			.acc-num {
				float: right;
				padding-right: 10px;
				line-height: 40px;
			}
			.course-sec {
				font-size: 12px;
				margin-top: 0px;
				color: rgba(255, 255, 255, 0.7);
			}
			.fwd-arw {
					float: right;
					line-height: 22px;
				}
			.read-more {
				text-align: right;
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 12px;
				.fwd-arw {
					position: relative;
					top: 2px;
					padding-left: 5px;
					font-size: 15px;
					float: right;
					line-height: 22px;
				}
			}


			.sts-style {
				padding: 15px 10px;
				box-shadow: 0px 3px 6px rgba(0,0,0,0.3);


			}
			.sts-style .status-title {
				text-decoration: underline;
				color: rgba(255, 255, 255, 0.9);
				font-size: 16px;
			}

		}



	}
	.certification-section {
		margin: 1em 0 1em 0;
	}
	.score-board {
		margin: 8px 0 20px 0;

		ion-card-header {
			background: #435DEA;
			color: #fff !important;
		}
		.header-primary {
			p{color: #fff;
				display: inline-block;
			}
			.score-title {
				display: inline-block;
				font-size: 14px;
				line-height: 27px;
				float: left;
				color: #fff;
				padding-top: 5px;
			}
			.score-number {
				float: right;
			}

			.score-number img {
				width: 24px;
				display: inline-block;
				position: relative;
				top: -4px;
				left: 6px;
			}

		}
		.body-primary{
			background: #5D76FF;
			padding: 20px 10px 14px 10px !important;
			.ranker-det {
				color: #fff;
				text-align: center;
				h4 {
					font-size: 14px;
					color: #fff;
				}
				small {
					font-size: 12px;
					font-weight: 100;
				}
				.score-cnt {
					display: inline-block;
					font-size: 18px;
				}
				.person-name {
					padding: 16px 10px;
				}
			}
			.tropy-sec img {
				width: auto;
				display: inline-block;
			}
		}
		ion-card .winner-img img {
			display: block;
			width: auto;
		}
		.score-head {
			margin: 0;
			width: 100%;
		}
		.winner-img {
			position: relative;
			display: inline-block;

		}
		.rank-num {
			position: absolute;
			bottom: 20px;
			right: -7px;
			background: #fff;
			color: #01BCD1;
			width: 20px;
			height: 20px;
			line-height: 21px;
			font-size: 15px;
			border-radius: 70%;
		}
		.score-viewAll {
			color: #fff;
			display: block;
			text-align: center;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			padding: 15px 0 0 0;
			font-size: 16px;
			font-weight: 100;
			font-family: sf_pro_displayregular;
		}

		a.score-viewAll:hover {
			color: #fff !important;
		}
		.card-header-md,.card-header-ios {

			padding: 5px 16px;
		}
	}
	.certification-section{
		.download-txt {
			margin-right: 7px;
		}
		.status-grid{
			.certificate-box {
				font-family: sf_ui_textregular;


			}

		}

		.pdf-name {
			font-size: 14px;
			margin: 5px 0 18px 0;

		}
		.certificate-footer {
			float: right;
			a{
				color: rgba(255, 255, 255,0.5);
				text-decoration: none;
				font-size: 12px;
			}

		}
	}
	.badge-content {
		font-family: sf_pro_displayregular;
		font-size: 12px;
	}
	.badge-box .sts-style {
		min-height: 140px;
	}
	p.section-title {
		font-size: 16px;
		// padding: 0 5px 0 5px;
		font-family: sf_pro_displayregular;
	}
	.purple-bg {
		background: #9F6CFF;
	}
	.blue-bg {
		background: #37B9FF;
	}
	.light-green-bg {
		background: #9FD000;
	}
	.pink-bg  {
		background: #FE87AF;
	}
	.tomato-red-bg {
		background: #FA7D61;
	}
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}
	.progress-bar{
		background-color :#ffffff;
		border-radius: 0
	}
	.progress{
		border-radius: 0
	}
	.progress-set{
		color:#ffffff;
		margin-top: 15px !important;
	}
	.accomplishment-section .tvs-statusBox .sts-style {
		padding: 15px 0 0 15px;
		position: relative;
	}

	ion-col:nth-child(2) .ranker-det .winner-img img {
		width: 90px;
	}
	ion-col:nth-child(2) .ranker-det .person-name {
		padding-top: 3px !important;
	}
	ion-col:nth-child(2) .ranker-det .tropy-sec img {
		width: 30px;
	}
p.main-score {
    font-size: 20px;
}
.circle-style {
    height: 60px;
    width: 60px;
    border-radius: 70px;
    text-align: center;
    vertical-align: middle;
    display: flex;
	align-items: center;
	margin: 0 auto;
	.status-title {
		width: 100%;
		margin: 0;
	}
}
.course-sec {
    text-align: center;
    font-size: 13px;
    margin-top: 9px;
}
.expire-circle {
    // background: #E24343;
	// color: #fff;
	border: 5px solid #E24343;
}
.blue-circle {
    border: 5px solid #329CD6;
}
.green-circle {
    border: 5px solid #12860D;
}
.weather-status {
	color: #237FBC;
	margin-bottom: 0;
    margin-top: 10px;
}
.batch-name {
    font-weight: 800;
    padding-top: 6px;
    padding-bottom: 0;
}
.batch-date {
    font-size: 12px;
    text-align: right;
    font-weight: 500;
    color: #7D7D7D;
    padding-top: 15px;
}
.expires,.average,.completed
{
     font-weight: 600;
     height: 100%;
    align-items: flex-end;
    display: flex;
    text-align: right;
    width: 100%;
}
.aligtxt {
    width: 100%;
}
.to-txt {
    padding: 0 3px;
}
.course-count p {
    font-size: 13px;
}
.ion-md-refresh {
    margin-right: 10px;
}
.batch-icon {
    text-align: right;
    color: rgba(0,0,0,0.54);
    padding-bottom: 0;
	padding-top: 7px;
	line-height: 50px;
}
.forum-card .grid{
   padding: 10px 10px 10px 10px; 
}
img.completed-img {
    display: inline-block;
    width: 19px;
    margin-right: 7px;
}
.tab-footer {
    position: fixed;
	bottom: 0;
	width: 100%;
	.tab-foot-bg {
		background: #329CD6;
		ul {
			padding: 0 20px;
    background: #329CD6;
    width: auto;
    margin: 0 auto;
    display: table;
			 li {
				float: left;
				list-style: none;
				position: relative;
				span {
					opacity: 0.4;
    color: #fff;
    padding: 0 10px;
    line-height: 40px;
	font-size: 13px;
	
	
				}
				.notification-cont{
					position: absolute;
    top: -5px;
    right: -13px;
    border-radius: 30px;
    background-color: red;
    width: 28px;
    text-align: center;
    height: 28px;
    margin: 0 auto;
    padding: 2px;
				}
.notification-num{
	border: 1px solid #fff;
    border-radius: 37px;
    font-size: 15px;
    opacity: 1;
    line-height: 20px;
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 0;
    font-weight: 800;
				}
				.notification-num{
					text-align: center;
				}
				.active-color{
					opacity: 1;
				}
				
			}
		}
		
	}
}

}
.module-select button {
	width: 100%;
	background: #fff;
}
.score-number {
	padding-top: 5px;
	line-height: 27px;
}

.view-tag {
	float: right;
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 3px 10px;
	font-size: 13px;
}
.view-tag:hover {
	color: #fff;
}


.certificate-footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

.certificate-box .sts-style {
	min-height: 95px;
}

a.dropdown-item {
	left: 6px !important;
}
.dropdown-menu {
	left: 7px !important;
}
.badge-title {
	font-size: 15px;
}
.certificate-box{
	flex: 0 0 49.33333%;
	width: 49.33333%;
}
page-home .course-sec{
	color: #656565;
}
.course-click{
	color: #468FB9 !important;
	text-decoration: underline !important;
	cursor: pointer;
}

.arrow-icon{
	line-height: 32px;
}


.no-backbtn .back-button.show-back-button {
    display: none !important;
}

.description {
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}