<ion-content padding class="headerFull-bg default-header">
  <ion-header class="static-header main-header my-component no-backbtn" color="primary">
    <ion-navbar>
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.dashboard}}</span>
        
        <div class="header-icon">
          <ion-icon (click)="goToForum()" name="ios-chatboxes" class="chat-icon"></ion-icon>
          <app-bell></app-bell>
        </div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <div class="main-content">
    <div class="current-day">
      <h3 *ngIf="currentUser">{{constant.pages.dashboardLabels.goodMrng}}, {{currentUser.userName}}</h3>
      <!-- <p class="m-0"><span class="day-detail">{{todayDate | date :'E, MMM dd'}} </span></p>
      <p class="weather-status"><img class="weather-img" src="assets/imgs/cool.png" />
        <span class="weather-sts">-4<sup>&#8728;</sup> C</span></p> -->
    </div>
    <ion-grid class="status-grid no-padding">
      <ion-row nowrap class="forecast_container">
        <ion-col col-4 col-md-4>
          <div class="status-block">
            <div class="expire-circle circle-style" (click)="navPage('course','')">
              <h4 class="status-title" >{{dashboardCount.courseExpire}}</h4>
              <!-- <h4 class="status-title" *ngIf="!dashboardCount.courseExpire">{{constant.pages.dashboardLabels.zero}}</h4> -->
            </div>

            <p class="course-sec">{{constant.pages.dashboardLabels.assignedLabel}}</p>

          </div>
        </ion-col>
        <ion-col col-4 col-md-4>
          <div class="assign-box sts-style">
            <div class="blue-circle  circle-style" (click)="navPage('signReq')">
              <h4 class="status-title"  >{{dashboardCount.signatureReq}}</h4>
              <!-- <h4 class="status-title" *ngIf="!dashboardCount.signatureReq">{{constant.pages.dashboardLabels.zero}}</h4> -->

            </div>

            <p class="course-sec">{{constant.pages.dashboardLabels.signatureRequired}}</p>

          </div>
        </ion-col>
        <ion-col col-4 col-md-4>
          <div class="assign-box sts-style">
            <div class="green-circle  circle-style" (click)="navPage('notification','')">
              <h4 class="status-title">{{dashboardCount.generalNotification}}</h4>
              <!-- <h4 class="status-title" *ngIf="!dashboardCount.generalNotification">{{constant.pages.dashboardLabels.zero}}</h4> -->
            </div>

            <p class="course-sec">{{constant.pages.dashboardLabels.generalNotifications}}</p>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf="dashboardInfo">
      <ion-card class="forum-card" *ngFor="let schedule of dashboardInfo;let i=index">
        <ion-grid>
          
         <ion-row>
            <ion-col col-11 (click)="navPage('course','')">
            <ion-row>
            <ion-col col-4 class="batch-name">{{schedule.name}}</ion-col>
            <ion-col col-7 class="batch-date pr-0">
              {{schedule.assignedDate | date:'dd MMM yyyy'}}
              <span class="to-txt"> To </span>
              {{schedule.dueDate | date:'dd MMM yyyy'}}
            </ion-col>
            </ion-row>
           </ion-col>
          <ion-col col-1 class="batch-icon" (click)="hideShowDesc(i)">
            <ion-icon *ngIf="!enableView || enableIndex !== i" name="ios-arrow-forward" class="arrow-icon"></ion-icon>
            <ion-icon *ngIf="enableView && enableIndex === i" name="ios-arrow-down" class="arrow-icon"></ion-icon>
          </ion-col>
        </ion-row>
          
        <div *ngIf="enableView && enableIndex === i" >
            <ion-row *ngFor="let data of schedule.Resorts"> 
                 <!-- Scheduled Course-->
                 <ion-col col-6 class="course-count" *ngIf="data.Course" (click)="navPage('trainingClass',data)">
                  <a>
                  <p class="course-click" (click)="navPage('trainingClass',data)">{{data.Course.courseName}}</p></a>
                  <a> <p>{{data.Course.CourseTrainingClassMaps.length}} {{constant.pages.dashboardLabels.trainingClasses}}
                  </p></a>
                </ion-col>
                <ion-col col-6 *ngIf="data.Course" (click)="navPage('trainingClass',data)">
                  <div class="expires org-color"><span class="aligtxt">
                      {{calculateExpireDays(schedule.dueDate)}}</span></div>
                </ion-col>
              
                <!-- Scheduled Class -->
                <ion-col col-6 class="course-count"  *ngIf="data.TrainingClass" (click)="navPage('trainingDetail',data)">
                  <a>
                    <p class="course-click" (click)="navPage('trainingDetail',data)">{{data.TrainingClass.trainingClassName}}</p>
                  </a>
                </ion-col>
                <ion-col col-6  *ngIf="data.TrainingClass" (click)="navPage('trainingDetail', data)">
                  <div class="expires org-color"><span class="aligtxt">
                      {{calculateExpireDays(schedule.dueDate)}}</span></div>
                </ion-col>

                  <!-- Scheduled Notification-->
                  <ion-col col-6 class="course-count" *ngIf="data.NotificationFile" (click)="navPage(data.NotificationFile.type,'')">
                    <a>
                      <p class="course-click" *ngIf="data.NotificationFile.File" (click)="navPage(data.NotificationFile.type,'')">{{data.NotificationFile.File.fileName}}</p>
                    </a>
                    <p class="description" *ngIf="data.NotificationFile.description">{{data.NotificationFile.description}}</p>
                  </ion-col>
                  <ion-col col-6 *ngIf="data.NotificationFile" (click)="navPage(data.NotificationFile.type,'')">
                    <div class="expires org-color"><span class="aligtxt">
                        {{calculateExpireDays(schedule.dueDate)}}</span></div>
                  </ion-col>
            </ion-row>
          </div>

        </ion-grid>
      </ion-card>
    </ion-list>

    <ion-row *ngIf=" dashboardInfo.length == 0">
      <ion-col class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-12>{{constant.pages.dashboardLabels.noData}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
</ion-content>

<ion-footer class="tab-footer">
  <section>
    <div class="tab-foot-bg">
      <ul class="clearfix">
        <li (click)="changeStatus('assigned')"><span 
            [ngClass]="status == 'assigned' ? 'active-color' : ''">{{constant.pages.dashboardLabels.courseExpiring}}</span>
            <div class="notification-cont" *ngIf="dashboardCount.assignedCount > 0"><span class="notification-num">{{dashboardCount.assignedCount}}</span></div>
        </li>
        <li><span>|</span></li>
        <li (click)="changeStatus('inProgress')"><span 
            [ngClass]="status == 'inProgress' ? 'active-color' : ''">{{constant.pages.dashboardLabels.progressLabel}}</span>
            <div class="notification-cont" *ngIf="dashboardCount.inProgressCount > 0"><span class="notification-num">{{dashboardCount.inProgressCount}}</span></div>
        </li>
      </ul>
    </div>
  </section>
</ion-footer>

