<ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader>
<div class="row">
    <div class="col-sm-9">
        <div class="table-responsive">
            <table class="table table-striped white-bg" [mfData]="groupArray" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead>
                    <tr class="th-boxshadow"  class="text-center">
                        <th>
                            <mfDefaultSorter></mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="groupName">Group Name</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="group.employeeId.length">Employee count</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="activeStatus">Active/Inactive</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter>Action</mfDefaultSorter>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let group of mf.data" class="text-center">
                            <td><img class="img" src="assets/images/sample_img.png"></td>
                            <td>{{ group.groupName }}<br/>{{group.groupDescription}}</td>
                            <td>{{ group.employeeId.length }}</td>
                            <td><label class="switch">
                                    <input type="checkbox" [(ngModel)]="group.activeStatus" (change)= "statusUpdate(group.groupName,group.activeStatus)" > 
                                    <span class="slider round"></span>
                                </label></td>
                                <td><a (click)="editGroup(group)"><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a></td> 
                    </tr>
                    <tr *ngIf="mf.data?.length == 0">
                        <td colspan="5" class="text-center data-design">No data!</td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <div class="col-sm-3 white-bg py-4 fs-12">
        <h6>{{editKey ? 'Edit Group' : 'Create Group'}}</h6>
        <div>
            <form #formDir="ngForm" (ngSubmit)="onSubmitForm(formDir.value)">
                <div class="text-center pt-3">
                    <img *ngIf="!imagePreviewUrl" src="assets/images/Add_Profile_Picture.png">
                    <span className="btn-bs-file btn btn-lg btn-primary"><img *ngIf="imagePreviewUrl" class="img" src="{{imagePreviewUrl}}"><input type="file" name="filename" (change)="onhandleImageChange($event)" accept="image/*"/></span>
                    
                    <p class="my-3"></p>
                </div>
                <div class="form-group">
                    <label>Group Name</label>
                    <input type="text" class="form-control" [(ngModel)]="groupName" name = "groupName" id="group-name" placeholder="Enter Group Name">   
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" [(ngModel)]="description" name = "description" id="description" placeholder="Enter Description">   
                </div>
                <div class="form-group">
                    <label>Add Employee</label>
                    <!-- <ngx-select-dropdown class="form-control" name = "employeeId" [options]="employeeOptions" multiple="true" [(value)]="selectedValues" [config]="dropDownConfig" (change)= "onEmployeeChange()"></ngx-select-dropdown> -->
                    <tag-input [ngModel]="employeeItems" #empName="ngModel"
                        name="empItems"
                        [onlyFromAutocomplete]="true"
                        [placeholder]="'+ Employee'"      [displayBy]="'name'"
                        [identifyBy]="'id'" [secondaryPlaceholder]="'Select Employee'" class="multi-input"
                        required>
                        <tag-input-dropdown [showDropdownIfEmpty]="true"
                        [dynamicUpdate]="false"
                        [focusFirstElement]="true"             
                        [autocompleteItems]="autocompleteItemsAsEmpObjects">
                        <ng-template let-item="item" let-index="index">
                            {{ item.display }}
                        </ng-template>
                       </tag-input-dropdown>
                        </tag-input>

                        <!-- <tag-input [ngModel]="courseItems" #courseName="ngModel"
                        name="courses"
                        [onlyFromAutocomplete]="true"
                        [placeholder]="'+ courses'"      [displayBy]="'courses'" (onAdd)="changeValue(courseName.value)" (onRemove) = "changeValue(courseName.value)"
                        [identifyBy]="'id'" [secondaryPlaceholder]="'Select Course'" class="multi-input"
                        required>
                        <tag-input-dropdown [showDropdownIfEmpty]="true"
                        [dynamicUpdate]="false"
                        [focusFirstElement]="true"             
                        [autocompleteItems]="autocompleteItemsAsCourseObjects">
                        <ng-template let-item="item" let-index="index">
                            {{ item.display }}
                        </ng-template>
                       </tag-input-dropdown>
                        </tag-input> -->
                </div>
                <div class="text-center pt-5">
                    <button class="btn btn-default mr-3" (click)="clearForm()">CLEAR</button>
                    <button type = "submit" class="btn btn-primary creat-btn">SAVE</button>
                </div>
            </form>
        </div>
    </div>

</div>

