page-event {
    .list-ios {
        margin: 16px 0 32px;
    }
ion-header.header {
		padding: 0;
	}
	.batch-name {
    font-weight: 800;
    padding-top: 6px;
    padding-bottom: 0;
}
.batch-date {
        font-size: 12px;
    text-align: right;
    font-weight: 500;
        color: #7D7D7D;
            padding-top: 8px;
}
.expires,.average,.completed
{
     font-weight: 600;
     height: 100%;
    align-items: flex-end;
    display: flex;
    text-align: right;
    width: 100%;
}
.aligtxt {
    width: 100%;
}
.to-txt {
    padding: 0 3px;
}
.course-count p {
    font-size: 13px;
}
.ion-md-refresh {
    margin-right: 10px;
}
.batch-icon {
    text-align: right;
        color: rgba(0,0,0,0.54);
            padding-bottom: 0;
    padding-top: 7px;
}
.forum-card .grid{
   padding: 10px 10px 10px 10px; 
}
img.completed-img {
    display: inline-block;
    width: 19px;
    margin-right: 7px;
}
// .add-question{
//     left: 10px;
//     width:170px;
//     text-transform: capitalize;
// }
// .calendar-btn {
//     text-transform: capitalize;
//     z-index: 6;
//     position: fixed;
//     bottom: 25px;
//     width: 120px;   
//     right:10px; 
//     background: #2183b9;    
//     background: -webkit-gradient(linear, left top, right top, color-stop(1%, #2183b9), to(#329cd6));
//     background: linear-gradient(to right, #2183b9 1%, #329cd6 100%);
//     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 );
//     /* IE6-9 */
//   }

  .add-question {
		z-index: 6;
		position: fixed;
		bottom: 25px;
		width: 200px;
	/*	left: 22%;*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
		background: rgb(33,131,185); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
	}
	.fixed-btn {
		display: flex;
		justify-content: center;
	}
}

