page-event {
ion-header.header {
		padding: 0;
	}
	.batch-name {
    font-weight: 800;
}
.batch-date {
        font-size: 12px;
    text-align: right;
    font-weight: 500;
        color: #7D7D7D;
}
.expires,.average,.completed
{
     font-weight: 600;
     height: 100%;
    align-items: flex-end;
    display: flex;
    text-align: right;
    width: 100%;
}
.aligtxt {
    width: 100%;
}
.to-txt {
    padding: 0 3px;
}
.course-count p {
    font-size: 13px;
}
.ion-md-refresh {
    margin-right: 10px;
}
.batch-icon {
    text-align: right;
        color: rgba(0,0,0,0.54);
}
.forum-card .grid{
   padding: 10px 10px 10px 10px; 
}
img.completed-img {
    display: inline-block;
    width: 19px;
    margin-right: 7px;
}
}
