<ion-content padding class="headerFull-bg default-header">
  <ion-header class="main-header my-component static-header no-backbtn" color="primary">
    <ion-navbar>
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.event}}</span>
        <div class="header-icon">
          <!-- <ion-icon click="goToForum()" name="ios-chatboxes" class="chat-icon"></ion-icon> -->
          <app-bell></app-bell>
        </div>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <div class="main-content">
    <ion-list>
      <ion-card *ngFor="let schedule of scheduleList;let i=index;" class="forum-card">
        <ion-grid>
          <ion-row (click)="openSubEvent(i, schedule)">
            <ion-col col-4 class="batch-name">
              <h4>{{schedule.name}}</h4>
            </ion-col>
            <ion-col col-7 class="batch-date">{{schedule.assignedDate | date:'d MMM y'}}<span class="to-txt"> To </span>{{schedule.dueDate
              | date:'d MMM y'}}
            </ion-col>
            <ion-col col-1 class="batch-icon">
              <ion-icon *ngIf="!enableView || enableIndex !== i" name="ios-arrow-forward"></ion-icon>
              <ion-icon *ngIf="enableView && enableIndex === i" name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
         
          <div *ngIf="enableView && enableIndex === i && courseScheduleDetail">
            <ion-row *ngFor="let course of courseScheduleDetail" >
              <div class="course-count" *ngIf="course.CourseTrainingClassMaps.length">
                <div>
                  <p class="course-click" (click)="redirectTCPage(course.courseId,schedule.trainingScheduleId)">{{course.courseName}}</p>
                  <div *ngFor="let class of course.CourseTrainingClassMaps">
                  <ion-row>
                  <ion-col col-6>TC - {{class.TrainingClass.trainingClassName}}</ion-col>
                  <ion-col col-6>
                      <div class="expires red-color" *ngIf="class.TrainingClass.FeedbackMappings[0].status == null">
                        <span class="aligtxt">
                          {{calculateExpireDays(schedule.dueDate)}}</span>
                      </div>
                      <div class="average aligtxt"
                        *ngIf="class.TrainingClass.FeedbackMappings[0].status == 'passed'">
                        <span class="orange-color"> {{constant.pages.trainingLabels.score}}
                          {{class.TrainingClass.FeedbackMappings[0].passPerc}}% <br>
                        </span>
                        <span class="green-color"><img src="assets/imgs/completed.png" class="completed-img" />{{constant.pages.trainingLabels.completedLabel}}</span>
                      </div>
                      <div class="average orange-color"
                        *ngIf="class.TrainingClass.FeedbackMappings[0].status == 'failed'">
                        {{constant.pages.trainingLabels.score}} {{class.TrainingClass.FeedbackMappings[0].passPerc}}%
                        <span class="aligtxt" (click)="redirectTCPage(class.courseId,schedule.trainingScheduleId)"><br>
                          <ion-icon name="md-refresh"> {{constant.pages.trainingLabels.takeCourse}} </ion-icon>
                        </span>
                      </div>
                  </ion-col>
                  </ion-row>
                  </div>
                </div>
              </div>
            </ion-row>
          </div>


          <div *ngIf="enableView && enableIndex === i && classScheduleDetail">
            <ion-row *ngFor="let class of classScheduleDetail">
              <div class="course-count">
                    <ion-row>
                      <ion-col col-6>
                        <p class="course-click" (click)="redirectFilesPage(class.trainingClassId,schedule.trainingScheduleId)">TC - {{class.trainingClassName}}</p>
                      </ion-col>
                      <ion-col col-6>
                        <div class="expires red-color" *ngIf="class.FeedbackMappings.length == 0">
                          <span class="aligtxt">
                            {{calculateExpireDays(schedule.dueDate)}}</span>
                        </div>
                        <div class="average aligtxt" *ngIf="class.FeedbackMappings.length && class.FeedbackMappings[0].status == 'passed'">
                          <span class="orange-color"> {{constant.pages.trainingLabels.score}}
                            {{class.FeedbackMappings[0].passPercentage}}% <br>
                          </span>
                          <span class="green-color"><img src="assets/imgs/completed.png"
                              class="completed-img" />{{constant.pages.trainingLabels.completedLabel}}</span>
                        </div>
                        <div class="average orange-color" *ngIf="class.FeedbackMappings.length && class.FeedbackMappings[0].status == 'failed'">
                          {{constant.pages.trainingLabels.score}} {{class.FeedbackMappings[0].passPercentage}}%
                          <span class="aligtxt" (click)="redirectFilesPage(class.trainingClassId,schedule.trainingScheduleId)"><br>
                            <ion-icon name="md-refresh"> {{constant.pages.trainingLabels.takeCourse}} </ion-icon>
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
              </div>
            </ion-row>
          </div>


        </ion-grid>
      </ion-card>
    
   
    <ion-row *ngIf="scheduleList.length == 0">
      <ion-col class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="no-data">{{constant.title.noSchedules}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
   </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="currentPage < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="fixed-btn">
  <button ion-button round class="add-question common-btn" (click)="goToCalendar()">
    {{constant.buttons.calendar}}
  </button>
</ion-footer>