<ion-content padding class="headerFull-bg default-header">
<ion-header class="main-header my-component static-header" color="primary">
  <ion-navbar>
    <button ion-button menuToggle>
     <img src="assets/imgs/menu.png" />
    </button>
    <ion-title class="text-left">
      <span class="header-title">{{constant.title.event}}</span>
      <div class="header-icon">
          <ion-icon name="ios-chatboxes" class="chat-icon"></ion-icon>
          <span (click)="goToNotification()">
        <img src="assets/imgs/notification.png" />
        <span class="dot-circle">{{notificationCount}}</span>
        </span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<div class="main-content">
  <ion-list>
    <ion-card *ngFor="let schedule of scheduleList;let i=index;" class="forum-card">
      <ion-grid>
        <ion-row (click)="openSubEvent(i)">
          <ion-col col-4 class="batch-name"><h4>{{schedule.name}}</h4></ion-col>
          <ion-col col-7 class="batch-date">{{schedule.assignedDate | date:'d MMM y'}}<span class="to-txt"> To </span>{{schedule.dueDate
            | date:'d MMM y'}}
          </ion-col>
          <ion-col col-1 class="batch-icon">
            <ion-icon *ngIf="!enableView || enableIndex !== i" name="ios-arrow-forward" ></ion-icon>
            <ion-icon *ngIf="enableView && enableIndex === i" name="ios-arrow-down"></ion-icon>
          </ion-col>
        </ion-row>
       
        <div *ngIf="enableView && enableIndex === i">
        <ion-row  *ngFor="let course of schedule.Courses">
          <ion-col col-6 class="course-count">
            <div >            
              <p *ngIf="course.Course">{{course.Course.courseName}}</p>
              <p *ngIf="course.Course">{{course.Course.CourseTrainingClassMaps.length}} Training Classes</p>
            </div>
          </ion-col>
          <!-- <ion-col>
              <div class="align-right">
                <p class="red-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                  {{calculateExpireDays(schedule.dueDate)}}</p> -->
                <!-- <p class="green-color alert-txt-style">{{course.Course.TrainingScheduleResorts[0].status}}</p> -->
              <!-- </div> -->
          <!-- </ion-col> -->
          <ion-col col-6>
            <div class="expires red-color" *ngIf="course.Course.FeedbackMappings.length == 0"><span class="aligtxt">{{constant.pages.trainingLabels.willExpire}}
              {{calculateExpireDays(schedule.dueDate)}}</span></div>
            <!-- <div class="average orange-color" ><span class="aligtxt"> Avg Score
                {{batch.Score}}% <br>
                <ion-icon name="md-refresh"></ion-icon>Retake Course
              </span>
            </div> -->
            <div class="average orange-color" *ngIf="course.Course.TrainingScheduleResorts[0].status == 'completed' && course.Course.FeedbackMappings.length"><span class="aligtxt"> Score
                {{course.Course.FeedbackMappings[0].Feedback.ratingPercent}}% <br>
                </span>
            </div>
            <div class="completed green-color" *ngIf="course.Course.TrainingScheduleResorts[0].status == 'completed' && course.Course.FeedbackMappings.length"><span class="aligtxt"><img src="assets/imgs/completed.png" class="completed-img" />{{course.Course.TrainingScheduleResorts[0].status}}</span></div>
          </ion-col>
        </ion-row>
        </div>

      </ion-grid>
    </ion-card>
  </ion-list>
</div>
<!-- <div class="fixed-btn">
  <button ion-button round class="add-question">
   Training Schedule
  </button>
  <button ion-button round class="calendar-btn">
    Calendar
   </button>
</div> -->
</ion-content>

<div class="fixed-btn">
  <button ion-button round class="add-question common-btn" (click)="goToCalendar()">
   Calendar
  </button>
</div>