<div class="row pt-4">
    <div class="col-sm-12 pb-3 p-0 button-section">
        <button type = "button" class="btn btn-primary float-right" [routerLink]="['../resorts']">Export to Excel</button>
    </div>
    <div class="col-lg-12 col-sm-12 p-0">
    <div class="header-section mb-2 clearfix">
      <h4 class="float-left">Employee 3</h4>
      <h6 class="float-right">Count 0</h6>
    </div>                
        <div class="table-responsive white-bg ">
            <table class="table table-striped">
                    <thead>
                    <tr class="th-boxshadow">
                        <th class="text-left">
                          Employee Name
                        </th>
                        <th class="text-left">
                          Status
                        </th>
                        <th class="text-left">
                          Assigned Date
                        </th>
                        <th class="text-left">
                          Completed Date
                        </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        <tr  class="table-desc-color">
                            <td class="text-left">Employee 1</td>
                            <td class="text-left"><a href="#">In progress</a></td>
                            <td class="text-left">12 Feb 2019</td>
                            <td class="text-left">01 May 2019</td>                          
                        </tr>
                   
                    </tbody>
                </table>
        </div>
    </div>
</div>