<div class="row pt-4">
    <div class="col-sm-12 pb-3 p-0 button-section">
        <button *ngIf = "listDetails.length" type = "button" class="btn btn-primary float-right" (click)="exportAsXLSX()">Export to Excel</button>
        <!-- <button type = "button" class="btn btn-primary float-right mr-2" *ngIf="enableFilter" (click)="resetFilter()">Reset filter</button>       
        <button type = "button" class="btn btn-primary float-right mr-2" (click)="enableFilter = !enableFilter">filter</button>        -->
    </div>
    <!-- <div class="float-right row pb-3 adduser-respon col-md-12 p-0" *ngIf="enableFilter">
        <div class="col-md-3 select select-style clearfix">
            <select name="childResortId" class="form-control pl-2" [(ngModel)]="filterResort" #childResort
                (change)="filterSelect(childResort.value,'resort')">
                <option [value]=null>{{commonLabels.labels.selectResort}}</option>
                <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName  | titlecase}}</option>
            </select>
            <div class="select_arrow"></div>
        </div>
        <div class="col-md-3 select select-style clearfix">
            <select name="parentDivisionId" class="form-control pl-2" [(ngModel)]="filterDivision"
                #parentdivision (change)="filterSelect(parentdivision.value,'division')">
                <option [value]=null>{{commonLabels.labels.selDiv}}</option>
                <option *ngFor="let division of divisionList" [value]="division.divisionId">{{division.divisionName}}</option>
            </select>
            <div class="select_arrow"></div>
        </div>
        <div class="col-md-3 select select-style clearfix">
            <select name="parentDepartmentId" class="form-control pl-2" [(ngModel)]="filterDept" #dept
                [disabled]="filterParentDivision === 'null'" (change)="filterSelect(dept.value,'dept')">
                <option [value]=null>{{commonLabels.labels.selDept}}</option>
                <option *ngFor="let dep of departmentList" [value]="dep.departmentId">{{dep.departmentName}}</option>
            </select>
            <div class="select_arrow"></div>
        </div>
        <div class="col-md-3 select select-style clearfix">
            <select name="empId" class="form-control pl-2" [(ngModel)]="filterUser" #emp
                (change)="filterSelect(emp.value,'emp')">
                <option [value]=null>{{commonLabels.labels.selEmp}}</option>
                <option *ngFor="let emp of empList" [value]="emp.userId">{{emp.userName}}</option>
            </select>
            <div class="select_arrow"></div>
        </div>
     </div> -->
     <div class="float-right row pb-3 adduser-respon col-md-12 p-0">
            <div class="row col-md-11 p-0">
                <div class="col-md-3 pl-0 select select-style clearfix">
                        <select name="childResortId" class="form-control pl-2" [(ngModel)]="filterResort" #childResort
                            (change)="filterSelect(childResort.value,'resort')">
                            <option [value]=null>{{commonLabels.labels.selectResort}}</option>
                            <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName  | titlecase}}</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
            <div class="col-md-3 pl-0 select select-style clearfix">
                <select name="parentDivisionId" class="form-control pl-2" [(ngModel)]="filterDivision"
                    #parentdivision (change)="filterSelect(parentdivision.value,'division')">
                    <option [value]=null>{{commonLabels.labels.selDiv}}</option>
                    <option *ngFor="let division of divisionList" [value]="division.divisionId">{{division.divisionName}}</option>
                </select>
                <div class="select_arrow"></div>
            </div>
            <div class="col-md-3 pl-0 select select-style clearfix">
                <select name="parentDepartmentId" class="form-control pl-2" [(ngModel)]="filterDept" #dept
                     (change)="filterSelect(dept.value,'dept')">
                    <option [value]=null>{{commonLabels.labels.selDept}}</option>
                    <option *ngFor="let dep of departmentList" [value]="dep.departmentId">{{dep.departmentName}}</option>
                </select>
                <div class="select_arrow"></div>
            </div>
            <div class="col-md-3 pl-0 filter-search">
                    <form class="search-container clearfix" (ngSubmit)="getEmployeeDetails('')">
                        <input type="text" placeholder="Search Keyword.." name="search" [(ngModel)]="search" class="user-searchbox">
                        <button type="submit" class="user-search-icon"><i class="fa fa-search search-icon"></i></button>
                        <!-- <button type="button" (click)="resetSearch()" class="user-search-icon"><i class="fas fa-sync-alt search-icon"></i></button> -->
                    </form>
                </div>
            <!-- <div class="col-md-3 pl-0 select select-style clearfix">
                    <select name="empId" class="form-control pl-2" [(ngModel)]="filterUser" #emp
                        (change)="filterSelect(emp.value,'emp')">
                        <option [value]=null>{{commonLabels.labels.selEmp}}</option>
                        <option *ngFor="let emp of empList" [value]="emp.userId">{{emp.userName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                </div> -->
                </div>
                <div class="col-md-1 refer-btn p-0">
                <button type="button" (click)="resetFilter()" class="btn reset-search-icon"><i class="fas fa-sync-alt refer-icon"></i></button>
                </div>
        </div>
     <div class="col-lg-12 col-sm-12 p-0">
    <div class="header-section mb-2 clearfix">
      <h4 class="float-left">{{user?.userName  | titlecase}}</h4>
      <h6 class="float-right">{{commonLabels.labels.count}}{{count}}</h6>
    </div>                
        <div class="table-responsive ">
            <table class="table table-striped white-bg mt-1" [mfData]="listDetails" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
                <thead>
                    <tr class="th-boxshadow text-center">
                        <th>
                            <mfDefaultSorter by="TrainingClass.trainingClassName">{{commonLabels.labels.trainingClass}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter by="File.fileName">{{commonLabels.labels.contentFiles}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter>{{commonLabels.labels.fileType}}</mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter by="status">{{commonLabels.labels.status}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of mf.data,index as i" class="table-desc-color">
                        <td class="text-center">{{emp?.TrainingClass?.trainingClassName}}</td>
                        <td class="text-center" ><span *ngIf="emp.File">{{emp?.File?.fileName}}</span></td>
                        <td class="text-center" ><span *ngIf="emp.File">{{emp?.File?.fileExtension}}</span></td>
                        <td class="text-center">{{emp?.status}}</td>                          
                    </tr>
                    <tr *ngIf="listDetails && !listDetails.length">
                        <td colspan="10"> <p class="text-center data-design p-5"><span class="nodata">
                            <i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-html2canvas-ignore="true">
                        <td colspan="10">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-12 p-0 text-center mt-3">
            <button class="btn btn-primary creat-btn" (click)="location.back()">{{commonLabels.btns.back}}</button>
        </div>
</div>