<a class="nav-link dropdown-toggle p-0" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-bell icons_header" aria-hidden="true"></i>
  <span class="badge badge-danger noti-pop" *ngIf="notificationCount > 0">{{notificationCount}}</span>
</a>
<div class="dropdown-menu dropdown-menu-right header-noti-dropdown pb-2"  aria-labelledby="alertsDropdown" >
  <div class="dropdown-item pt-2 pb-0" href="#" *ngIf="notificationList?.length > 0" >
    <div class="row  sec-notify mb-2" *ngFor="let item of notificationList">
      <span class="col-md-2 pr-0" *ngIf="!item.User.userImage"><img class="notification-img" src="assets/images/user-icon1.png"></span>
      <span class="col-md-2 pr-0" *ngIf="item.User.userImage"><img class="notification-img" src="{{uploadPath}}{{item.User.userImage}}"></span> 
      <span class="noti-desc col-md-8 p-0">{{item.notification}}</span>
      <span class="noti-timer col-md-2 pr-0">{{calculateHours(item.created)}}</span>
    </div>
  </div>
  <div class="dropdown-item pt-2 pb-0 text-center" *ngIf="notificationList?.length == 0">
    <span class=""><i class="far fa-frown notification-icon"></i><span class="notification-txt">No notifications found</span></span>
  </div>
</div>