<div class=" pt-5">
    <div class="" id="contentToConvert">
        <div class="float-right row pb-3 adduser-respon col-md-12 p-0">
            <div class="row col-md-11 p-0">
                <div class="col-md-3 pl-0 select select-style clearfix">
                    <select name="childResortId" class="form-control pl-2" [(ngModel)]="filterResort" #childResort
                        (change)="filterSelect(childResort.value,'resort')">
                        <option [value]=null>{{commonLabels.labels.selectResort}}</option>
                        <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName |
                            titlecase}}</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
                <div class="col-md-3 pl-0 select select-style clearfix">
                    <select name="parentDivisionId" class="form-control pl-2" [(ngModel)]="filterDivision"
                        #parentdivision (change)="filterSelect(parentdivision.value,'division')">
                        <option [value]=null>{{commonLabels.labels.selDiv}}</option>
                        <option *ngFor="let division of divisionList" [value]="division.divisionId">{{division.divisionName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
                <div class="col-md-3 pl-0 select select-style clearfix">
                    <select name="parentDepartmentId" class="form-control pl-2" [(ngModel)]="filterDept" #dept (change)="filterSelect(dept.value,'dept')">
                        <option [value]=null>{{commonLabels.labels.selDept}}</option>
                        <option *ngFor="let dep of departmentList" [value]="dep.departmentId">{{dep.departmentName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
                <div class="col-md-3 pl-0 select select-style clearfix">
                    <select name="empId" class="form-control pl-2" [(ngModel)]="filterUser" #emp (change)="filterSelect(emp.value,'emp')">
                        <option [value]=null>{{commonLabels.labels.selEmp}}</option>
                        <option *ngFor="let emp of empList" [value]="emp.userId">{{emp.userName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </div>
            <div class="col-md-1 refer-btn p-0">
                <button type="button" (click)="resetFilter()" class="btn user-search-icon"><i class="fas fa-sync-alt refer-icon"></i></button>
            </div>
        </div>
        <div><button class="float-right btn btn-primary" (click)="openNotificationModel(notification)">{{commonLabels.btns.sendNotification}}</button></div>
        <div class="table-responsive custom-table2 px-2">
            <table class="table white-bg table-striped mt-3" [mfData]="trendsVar.employeeList" #mf="mfDataTable"
                [mfRowsOnPage]="10">
                <thead>
                    <tr class="th-boxshadow">
                        <th colspan="1"><label class="square-cont float-left">
                            <input type="checkbox" name="course" [checked]="selectAllEmp" (change)="selectAll($event.target.checked)">
                            <span class="square-checkmark"></span>
                        </label></th>
                        <th colspan="1" class="text-left">
                            <mfDefaultSorter by="resortName">{{commonLabels.labels.resortName}}</mfDefaultSorter>
                        </th>
                        <th colspan="1" class="pl-4 employeeName-width">
                            <mfDefaultSorter by="userName">{{commonLabels.labels.employeeName}}<span class="ml-2"><img
                                        src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th colspan="1" class="text-left">
                            <mfDefaultSorter>{{commonLabels.labels.division}}</mfDefaultSorter>
                        </th>
                        <th colspan="1" class="text-left">
                            <mfDefaultSorter>{{commonLabels.labels.department}}</mfDefaultSorter>
                        </th>
                        <th colspan="1" class="text-left">
                            <mfDefaultSorter>{{commonLabels.labels.reportingTo}}</mfDefaultSorter>
                        </th>
                        <!-- <th colspan="1" class="text-left">
                            <mfDefaultSorter>Due Date</mfDefaultSorter>
                        </th> -->
                        <th colspan="1" class="text-left" >
                            <mfDefaultSorter>{{commonLabels.labels.noOfDays}}</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of mf.data" class="table-desc-color">
                        <td>
                            <label class="square-cont float-left">
                                <input type="checkbox" name="courseId{{i}}" [checked]="emp.checked" (change)="selectEmployee(emp,$event.target.checked)">
                                <span class="square-checkmark"></span>
                            </label>
                        </td>
                        <td class="vat employeeName-width">{{emp?.ResortUserMappings[0]?.Resort?.resortName | titlecase}}</td>
                        <td class="vat pl-4 employeeName-width">{{emp?.userName | titlecase}}</td>
                        <td class="vat text-left">{{getListArray(emp.ResortUserMappings,'division')}}</td>
                        <td class="vat text-left">{{getListArray(emp.ResortUserMappings,'dept')}}</td>
                        <td class="vat text-left" *ngIf="emp.reportDetails">{{emp?.reportDetails?.userName}}</td>
                        <td class="vat text-left" *ngIf="!emp.reportDetails">-</td>
                        <!-- <td class="vat text-left"><span *ngIf="emp.TrainingScheduleResorts">{{emp.TrainingScheduleResorts[0].TrainingSchedule.dueDate}}</span></td> -->
                        <td class="vat text-left"><span *ngIf="emp.TrainingScheduleResorts"  [ngClass]="{'no-red-font': getCalculateDue(emp.TrainingScheduleResorts[0]) <= 3, 'no-blue-font': getCalculateDue(emp.TrainingScheduleResorts[0]) > 3 }">{{getCalculateDue(emp.TrainingScheduleResorts[0])}}</span></td>
                    </tr>
                    <tr *ngIf="trendsVar.employeeList?.length == 0">
                        <td colspan="10">
                            <p class="text-center data-design p-5">
                                <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary creat-btn" (click)="location.back()">{{commonLabels.btns.back}}</button>
        </div>
    </div>
</div>
<ng-template #notification>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.notifyConfirm}}</p>

        <button type="button" class="close pull-right" aria-label="Close" (click)="resetData()" title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="col-md-12 clearfix">
            <div class="col-md-12 pt-3 clearfix">
                <span>
                    <label class="square-cont mr-5">
                        <input type="checkbox" [(ngModel)]="hideReporters" (change)="reportersSelect('hide')" name="hideReport">
                        {{commonLabels.labels.sendToAll}}
                        <span class="square-checkmark"></span>
                    </label>
                    <label class="square-cont">
                        <input type="checkbox" [(ngModel)]="showReporters" (change)="reportersSelect('show')" name="showReport">
                        {{commonLabels.labels.sendToReporter}}
                        <span class="square-checkmark"></span>
                    </label>
                </span>
            </div>
            <span *ngIf="reportingError" class="required_color">{{commonLabels.labels.reportingError}}</span>
            <div class="pl-0 form-group select-Courses" *ngIf="showReporters == 'show'">
                <ng-multiselect-dropdown [placeholder]="'Reporting Manager'" name="reporter" [data]="reportingMangerList"
                    [(ngModel)]="reporter" [settings]="reportSettings" #reporterId="ngModel" required></ng-multiselect-dropdown>
            </div>
            <div class="col-md-12">
                <textarea [(ngModel)]="comments" name="Comment" class="col-md-12 reject-textarea" placeholder="Write your comment here"></textarea>
            </div>
        </div>
        <div class="text-center mt-4">
            <button (click)="sendNotification()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="resetData()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>