<!-- Profile -->
<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="pr-3 py-4" *ngIf="profVar.hideEditProfile">
<div class="white-bg">
  <div class="row py-4"> 
  	 <div class="col-lg-6 col-md-6">
  	    <div class="row py-4 did-line">
  		<div class="col-lg-5">
        <div>
        <img class="selected-prf-img" [src]="previewProfilePic">
      </div>
      </div>
  		<div class="col-lg-7 pl-0">
  			<div class="py-4">
  			<h4>{{profVar.userName  | titlecase}}</h4>
          <button type = "button" routerLink="/editprofile" class="btn btn-primary profile-save-btn">{{commonLabels.btns.editProfile}}</button>
  		</div>
  		</div>
     	</div>
    </div>
  	<div class="col-lg-6 col-md-6 p-0">
        <div class="row">  		
            <label class="col-lg-3 label-title">{{commonLabels.labels.empId}}</label>  		
                <div class="col-lg-6">
                  <label class="view-prf-alg">{{profVar.empId}}</label>
                 </div>
            </div>
  		<div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.name}}</label>  		
            <div class="col-lg-6">
              <label class="view-prf-alg">{{profVar.userName}}</label>
             </div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.dob}}</label>  		
               <div class="col-lg-6">
                <label class="view-prf-alg">{{profVar.dob | date : medium}}</label>
               </div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.email}}</label>  		
            <div class="col-lg-6">
                    <label class="view-prf-alg">{{profVar.email}}</label>
            </div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.mobile}}</label>  		
            <div class="col-lg-6">
                <label class="view-prf-alg">{{profVar.mobile}}</label>
            </div>
  	    </div>
  	    <!-- <div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.department}}</label>  		
            <div class="col-lg-6">
                    <label class="view-prf-alg">{{profVar.dept}}</label>
            </div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">{{commonLabels.labels.designation}}</label>  		
            <div class="col-lg-6">
                    <label class="view-prf-alg">{{profVar.designation}}</label>
            </div>
        </div> -->
      </div>
      </div>
</div>
</div>      




<!-- Edit Profile -->
<form #formDir="ngForm" (ngSubmit)="onSubmitForm(formDir)" *ngIf="profVar.hideProfile">
        <div class="pr-3 py-4">
        <div class="white-bg">
          <div class="row py-4"> 
               <div class="col-lg-6 col-md-6">
                  <div class="row py-4 did-line">
                  <div class="col-lg-4">
                      <div class="profile-img">
                          <img class="selected-prf-img" src="assets/images/profile_circle.png">
                          <a class="profile-bg"><i class="fas fa-plus-circle profile-icon"><input  class="upload" type="file" name="profilePic" [(ngModel)]="profilePic" accept="image/*" (change)="fileUpload($event)"/></i></a>
                        </div>
                    </div>
                  <div class="col-lg-8">
                      <div class="py-4">
                      <h4>{{profVar.userName  | titlecase}}</h4>
                      <button type = "submit" class="btn btn-primary profile-save-btn">{{commonLabels.btns.save}}</button>
                  </div>
                  </div>
                 </div>
            </div>
              <div class="col-lg-6 col-md-6 p-0">
                
                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.empId}}</label>  		
                      <div class="col-lg-6">
                         <input disabled class="form-control" name="empId" [(ngModel)]="profVar.empId" #EmpId="ngModel" type="text" readonly>  
                    </div>
                  </div>

                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.name}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>  		
                      <div class="col-lg-6">
                         <input class="form-control" name="username" [(ngModel)]="profVar.userName" #UserName="ngModel" type="text" required>
                         <span class="required_color" *ngIf="UserName && UserName.invalid && (formDir.submitted || UserName.touched)">
                             {{profVar.mandatoryLabels.name}}
                        </span>   
                    </div>
                  </div>
                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.dob}}</label>  		
                       <div class="col-lg-6">
                         <input type="text" class="form-control" #Dob="bsDatepicker" autocomplete="off" name="dob" bsDatepicker [(ngModel)]="profVar.dob"  [bsConfig]="{dateInputFormat: 'D MMM YYYY '}">
                        </div>
                  </div>
                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.email}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>  		
                    <div class="col-lg-6">
                       
                           <input class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="emailAddress" [(ngModel)]="profVar.email" #Email="ngModel" type="text" required>
                           <div *ngIf="Email?.touched && Email.invalid || (Email.pristine && formDir.submitted)">
                                <div class="required_color" *ngIf="Email.errors?.required">
                                        {{profVar.mandatoryLabels.emailId}}
                                </div>
                                <div  class="required_color" [hidden]="!Email.hasError('pattern')">
                                       {{commonLabels.mandatoryLabels.emailInvalid}}
                                </div>
                            </div>  
 
                    </div>
                  </div>
                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.mobile}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>  		
                    <div class="col-lg-6">
                     
                        <input class="form-control"  name="phoneNumber" [(ngModel)]="profVar.mobile" #PhNumber="ngModel"  type="text" (keyup)="validationUpdate('mobile')" required> 
                        <div *ngIf="PhNumber?.touched && PhNumber.invalid || (PhNumber.pristine && formDir.submitted)">
                          <div class="required_color" *ngIf="PhNumber.errors?.required">
                                  {{commonLabels.mandatoryLabels.mobNo}}
                          </div>
                        </div>  
                        <div  class="required_color" *ngIf="profVar.mobile && validPhone">
                          {{commonLabels.mandatoryLabels.invalidMobNo}}
                        </div>
                    </div>
                  </div>
                  <!-- <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.department}}</label>  		
                    <div class="col-lg-6">
                        <input disabled class="form-control" name="department" [(ngModel)]="profVar.dept"  #Dept="ngModel"  type="text" required>
                        <span class="required_color" *ngIf="Dept && Dept.invalid && (formDir.submitted || Dept.touched)">
                          {{profVar.mandatoryLabels.dept}}        
                        </span> 
                    </div>
                  </div>
                  <div class="row">  		
                      <label class="col-lg-3 label-title">{{commonLabels.labels.designation}}</label>  		
                    <div class="col-lg-6">
                        <input disabled class="form-control" name="designation" [(ngModel)]="profVar.designation" #Designation="ngModel"  type="text" required>
                        <span class="required_color" *ngIf="Designation && Designation.invalid && (formDir.submitted || Designation.touched)">
                              {{commonLabels.mandatoryLabels.designation}}
                           </span> 
                    </div>
                </div> -->
              </div>
              </div>
        </div>
        </div>
        </form>      
        