<div class="pr-3 py-4">
<div class="white-bg">
  <div class="row py-4"> 
  	<div class="col-lg-6 col-md-6">
  	<div class="row py-4 did-line">
  		<div class="col-lg-4"><img src="assets/images/profile_circle.png"></div>
  		<div class="col-lg-8">
  			<div class="py-4">
  			<h4>David James</h4>
  			<button type = "submit" class="btn btn-primary profile-save-btn">SAVE</button>
  		    </div>
  		</div>
  	</div>
  	</div>
  	<div class="col-lg-6 col-md-6">
  		<div class="row">  		
  			<label class="col-lg-3 label-title">Name</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="David James" type="text">
  		</div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">DOB</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="13 Jun 1988" type="text">
  		</div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">Email</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="Davidjames@mail.com" type="text">
  		</div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">Mobile</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="9876543210" type="text">
  		</div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">Department</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="Marketing" type="text">
  		</div>
  	    </div>
  	    <div class="row">  		
  			<label class="col-lg-3 label-title">Designation</label>  		
  		<div class="col-lg-5">
  			<input class="form-control" placeholder="Analyst" type="text">
  		</div>
  	    </div>
  	</div>
  </div>
</div>
</div>
