
.top-section .label-title{
    display: flex;
    vertical-align: middle;
    margin-top: 0px;
    line-height: 20px;
    align-items: center;
    font-size: 15px;
}
.tab-section .label-title{
  margin-top: 5px;
}
.tab .select-form{
    border: none;
    margin-right: 30px;
    margin-top: 3px;
    font-size: 15px;
    
}
.form-control.label-title{
    margin-top: 1px;
    font-size: 15px;
}
/* .nav-tabs li a:before {
    content: "";
    width: 0;
    height: 15%;
    background: purple;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.nav-tabs li a.active:before {
    content: "";
    width: 100%;
} */

/* Resort Detail Page */



.detail-top {
    border-bottom: 1px solid #EAF0F4;
    margin-bottom: 20px;
}
.dpt-list{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top:10px;
}
.detail-bottom{
    
}
.detail-bottom span{
    font-size: 15px;
    font-weight: normal;
    padding: 3px 7px;
    background-color:#EAEAEA;
    border-radius: 20px;
    color: #576271;
    float: left;
    margin-right: 5px;
}
.depart-dtl{
    margin-bottom: 20px;
}