<!-- <div class="">   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/resortslist" class="resort-breadcrumb">{{commonLabels.labels.resort}}</a></li>                
            <li class="breadcrumb-item active" *ngIf="!resortId">{{commonLabels.btns.add}}</li>
            <li class="breadcrumb-item active" *ngIf="resortId">{{commonLabels.labels.edit}}</li>
        </ol>
    </nav>
</div> -->

<div class="pt-3">
<span *ngIf="!enableEdit" class="pr-2"><button class="btn btn-primary" (click)="editDetails()">{{commonLabels.labels.edit}}</button></span>
<div class="pt-4">
    <div class="col-12 col-md-12 white-bg p-3 clearfix"> 
        <form (ngSubmit)="submitResortData()" *ngIf="enableEdit" #resortForm = "ngForm">
        <div class="top-section">      
            <div class="row">
                <div class="col-12 col-md-6 pl-0">
                    <div class="row mb-4 ">
                        <label class="col-6 col-md-4 label-title pl-0">{{commonLabels.labels.resortName}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <input class="col-6 col-md-8 form-control" type="text" name="resortName" placeholder="Resort Name" [(ngModel)]="resortName" #resort = "ngModel" required>
                        <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortName">{{commonLabels.mandatoryLabels.resortRequired}} </span>
                        <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && resortName && !permissionService.nameValidationCheck(resortName)">Please enter the valid name</span>
                    </div>
                    <div class="row mb-4">
                        <label class="col-6 col-md-4 label-title pl-0">{{commonLabels.labels.email}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <input class="col-6 col-md-8 form-control" type="email" placeholder="Email" name="email" [(ngModel)]="email" (keyup) = "validationValueCheck('email')" #resort = "ngModel" required>
                        <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !email">{{commonLabels.mandatoryLabels.emailId}} </span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && email && !emailValidation"> {{commonLabels.mandatoryLabels.emailInvalid}} </span>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                    <div class="row mb-4">
                        <label class="col-6 col-md-4 label-title">{{commonLabels.labels.location}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <input class="col-6 col-md-8 form-control" placeholder="Location" type="text" name="location" [(ngModel)]="locationName" #resort = "ngModel" required>
                        <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !locationName">{{commonLabels.mandatoryLabels.locationRequired}} </span>
                    </div>
                    <div class="row mb-4">
                        <label class="col-6 col-md-4 label-title">{{commonLabels.labels.mobile}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <input class="col-6 col-md-8 form-control" placeholder="mobile" type="text" autocomplete="off" name="mobile" [(ngModel)]="phoneNumber" #resort = "ngModel" (keyup) = "validationValueCheck('mobile')" required>
                        <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !phoneNumber">{{commonLabels.mandatoryLabels.mobNo}} </span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && phoneNumber && !mobileValidation"> {{commonLabels.mandatoryLabels.invalidMobNo}}  </span>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-sm-12 p-0 subscription-section" *ngIf="userType === 1">
            <div class="row">
                <div class="row col-12 col-md-6 form-group pl-0">
                    <label class="col-6 col-sm-8 col-md-4 label-title pl-0">{{commonLabels.labels.subscribTyp}}</label>
                    <select class="col-md-8 select-form form-control">
                        <option>Type</option>
                        <option>Economy</option>
                        <option>Premium</option>
                    </select> 
                </div>
                <div class="row col-12 col-md-6 form-group pr-0">
                    <label class="col-6 col-sm-8 col-md-4 label-title pl-0">{{commonLabels.labels.totalStorage}}</label>
                    <input class="col-6 col-sm-8 col-md-8 form-control" type="text" name="storageSpace" [(ngModel)]="resortVar.storageSpace">
                </div>
            </div>
        </div> 
        <div class="col-12 col-md-6 pl-0">
            <div class="row mb-4">
                <label class="col-6 col-md-4 label-title pl-0">{{commonLabels.labels.status}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <select class="col-6 col-md-8 form-control" [(ngModel)] = "status" name="status"> 
                    <option [value]="null" disabled>--Select Status--</option>
                    <option *ngFor="let status of resortVar.statusList" [value]="status.name">{{status.name}}</option>
                </select>
                <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !status">{{commonLabels.mandatoryLabels.statusRequired}} </span>
            </div>
        </div>
        <div _ngcontent-c16="" class="clearfix">
            <div class="float-right">
            <button _ngcontent-c16="" class="btn btn-primary creat-btn  mr-3" type="submit">{{commonLabels.btns.save}}</button>
            <button _ngcontent-c16="" class="btn btn-default" type="button" (click)="back()">{{commonLabels.btns.cancel}}</button>            
        </div> 
    </div>
        </form> 

<!-- Resort Detail Page -->
<form class="detail-pg" *ngIf="!enableEdit">
    <div class="row">
            <div class="col-md-3 form-group">
                <label class="label-title">{{commonLabels.labels.resortName}}</label>
                <span>{{resortVar.resortName  | titlecase}}</span>
            </div>
            <div class="col-md-3 form-group">
                <label class="label-title">{{commonLabels.labels.location}}</label>
                <span>{{resortVar.location}}</span>
            </div>
            <div class="col-md-3 form-group">
                <label class="label-title">{{commonLabels.labels.email}}</label>
                <span>{{resortVar.email}}</span>
            </div>
            <div class="col-md-3 form-group">
                <label class="label-title">{{commonLabels.labels.mobile}}</label>
                <span>{{resortVar.phoneNumber}}</span>
            </div>
            <div class="col-md-3 form-group">
                <label class="label-title">{{commonLabels.labels.status}}</label>
                <span>{{resortVar.status}}</span>
            </div>
    </div>
</form>


</div>

    </div>
</div>