.module-batch-title{
    color: #697380;
    line-height: 35px;
    font-size: 15px;
    margin: 0;
}
.choose-file-btn{
	border: 1px solid #C6C6C6;
    width: 99px;
    height: 28px;
    background-color: #F1F1F1;
    color: #F1F1F1;
    margin: 0 !important;
    color: #656565;
    padding: 0 7px;
    margin-bottom: 10px !important;
}
.uploadTemplate-title{
	color: #697380;
	font-size: 14px;
}
.add-certificate{
	color: #468FB9;
    font-size: 18px;
    font-weight: 600;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    float: none;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.save-btn{
    float: none;
    margin-right: 20px;
}

.success-message{
   color:#1fbb21;
   text-align:left 
}
.error-message{
    color:#f44336;
    text-align:left 
 }
 .badge-title{
    color: #697380;
    font-size: 15px;
    padding-left: 4px;
 }
 .badge-dropdown{
    width: 200px;
    padding-left: 0;    
 }
 .badge-dropdown:disabled{
    opacity: 0.5;
    pointer-events: none;
 }
 .certificate-name{
    font-size: 15px;
    text-align: center;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin: 0;
    width: 70%;
 }
 .select-style {
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
 width: 160px;
}   
 .select-style select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
 }
     .select-style select::-ms-expand {
         display: none;
     }
    /* .select-style select:hover,
     .select-style select:focus {
         color: #000000;
         background: #cccccc;
     } */
     .select-style select:disabled {
         opacity: 0.5;
         pointer-events: none;
     }
     .select_arrow-alg{
        right: 20px !important;
     }
.select_arrow, .select_arrow-alg {
    position: absolute;
    top: 16px;
    right: 7px;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: #989898 transparent transparent transparent;
}
.select select-style:hover ~ .select_arrow,
.select select-style:focus ~ .select_arrow {
 border-top-color: #000000;
}
.select select-style:disabled ~ .select_arrow {
 border-top-color: #cccccc;
}
.select-style{
 float: right;
 clear: both;
 padding-bottom: 0px;
}
iframe{
    border-style: solid;
    border: 1px solid #ccc;
    box-shadow: inset 2px 0px 12px 1px #ccc;
    /* width: 100%;
    text-align: center;
    height: 279px;
    overflow-x: hidden;
    overflow-y: hidden; */
}
.add-icon{
    line-height: 35px;
}
 