.module-batch-title{
    color: #697380;
    line-height: 35px;
    font-size: 15px;
    margin: 0;
}
.choose-file-btn{
	border: 1px solid #C6C6C6;
    width: 99px;
    height: 28px;
    background-color: #F1F1F1;
    color: #F1F1F1;
    margin: 0 !important;
    color: #656565;
    padding: 0 7px;
}
.uploadTemplate-title{
	color: #697380;
	font-size: 14px;
}
.add-certificate{
	color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    float: none;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.save-btn{
    float: none;
    margin-right: 20px;
}

.success-message{
   color:#1fbb21;
   text-align:left 
}
.error-message{
    color:#f44336;
    text-align:left 
 }
 .badge-title{
    color: #697380;
    font-size: 15px;
    padding-left: 4px;
 }
 .badge-dropdown{
    width: 200px;
    padding-left: 0;
 }
 .certificate-name{
    font-size: 15px;
    text-align: center;
 }
 