<div class="pt-3">
    <form #assignTemplate="ngForm" (ngSubmit)="assignBatchTemplate(assignTemplate)">
        <div class="white-bg p-3">
            <div class="clearfix pb-3 certificate-respon">
                <h5 class="float-left certificate-respon">{{commonLabels.titles.certiTempl}}</h5>
                <button *ngIf="permissionCheck('Certificates','edit')" type="button" class="btn btn-primary certificate-respon" (click)="openAddtemplate(addTemplate, '')">{{commonLabels.btns.add}}</button>
            </div>
            <owl-carousel-o [options]="customOptions" class="certificate-list" *ngIf="constant.certificateList?.length > 0;else noData">
                <ng-container *ngFor="let template of constant.certificateList">
                    <ng-template carouselSlide [id]="template.certificateId">
                        <iframe [src]="template.imageFile | sanitizeHtml:'resourceUrl'" width="100%" height="200"></iframe>
                        <div class="p-2 clearfix">
                            <p class="certificate-name">{{template.certificateName}} </p>
                            <span class="float-right" *ngIf="permissionCheck('Certificates','edit')">
                                <a title="Edit" (click)="openAddtemplate(addTemplate, template.certificateId)" class="ml-2"><i
                                        class="fas fa-pencil-alt icons_header p-0" aria-hidden="true"></i></a>
                                <a (click)="openDeleteTemplate(deleteTemplate,template.certificateId)" title="Delete"
                                    class="ml-2"><i class="fa fa-trash header-icon"></i></a>
                            </span>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
            <ng-template #noData>
                <div class="col-md-12">
                    <div class="text-center p-4">
                        <p class="data-design m-0"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
                    </div>
                </div>
            </ng-template>

            <div class="pb-2">
                <div class="col-md-12 p-0">
                    <div class="col-md-12 p-0">
                        <!-- <div class="row">
                            <label class="col-md-1 col-sm-3 module-batch-title p-0">{{commonLabels.labels.assignTo}}</label>
                            <div class=" col-md-10 col-sm-8 select select-style clearfix pl-5 m-0">
                                <select id="course" class="form-control p-0" name="assignTo" [(ngModel)]="assignTo"
                                    (change)="changeAssigning()">
                                    <option value="" disabled="disabled">{{commonLabels.labels.select}}</option>
                                    <option value="course">{{commonLabels.labels.course}}</option>
                                    <option value="tranClass">{{commonLabels.labels.trainingClass}}</option>
                                </select>
                                <div class="select_arrow-alg"></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="pr-3 pb-2" *ngFor="let data of constant.templateAssign; let i = index">
                <div class="row">

                    <div class="col-md-6 col-sm-12 p-0">

                        <div class="row" *ngIf="assignTo == 'course' || data.assignTo == 'course'">
                            <label class="col-md-2 col-sm-3 module-batch-title p-0">{{commonLabels.labels.course}}</label>
                            <!-- <label class="col-md-2 col-sm-3" *ngIf="i!=0"></label> -->
                            <div class=" col-md-9 col-sm-9 select select-style clearfix pl-5 m-0">
                                <select id="course" class="form-control p-0" name="Course{{i}}" [(ngModel)]="data.course"
                                    #course (change)="checkCourse(course.value)">
                                    <option value="null" disabled>{{this.commonLabels.labels.selectcourse}}</option>
                                    <option *ngFor="let course of constant.courseList" [value]="course.courseId">{{course.courseName}}</option>
                                </select>
                                <div class="select_arrow-alg"></div>
                            </div>
                        </div>
                        <div class="row" *ngIf="assignTo == 'tranClass' || data.assignTo == 'tranClass'">
                            <label class="col-md-3 col-sm-3 module-batch-title p-0">{{commonLabels.labels.trainingClass}}</label>
                            <!-- <label class="col-md-3 col-sm-3" *ngIf="i!=0"></label> -->
                            <div class=" col-md-8 col-sm-8 select select-style clearfix pl-2 m-0">
                                <select id="class" class="form-control p-0" name="Course{{i}}" [(ngModel)]="data.course"
                                    (change)="checkCourse(class.value)" #class>
                                    <option value="null" disabled>{{this.commonLabels.labels.selectopt}}</option>
                                    <option *ngFor="let class of constant.trainingClassList" [value]="class.trainingClassId">{{class.trainingClassName}}</option>
                                </select>
                                <div class="select_arrow-alg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 p-0">
                        <div class="row" >
                            <label class="col-md-3 col-sm-3 module-batch-title p-0">{{commonLabels.labels.template}}</label>
                            <!-- <label class="col-md-3 col-sm-3" *ngIf="i!=0"></label> -->
                            <div class="col-md-7 col-sm-7 select select-style clearfix p-0 m-0">
                                <select id="Template" class="form-control p-0" name="Template{{i}}" [(ngModel)]="data.template">
                                    <option value="null" disabled>{{this.commonLabels.labels.selectTemplate}}</option>
                                    <option *ngFor="let template of constant.certificateList" value="{{template.certificateId}}">{{template.certificateName}}</option>
                                </select>
                                <div class="select_arrow"></div>
                            </div>
                            <span><a class="col-md-1 p-0" *ngIf="i==0" (click)="addForm()"><i class="fa fa-plus icons_header add-icon"></i></a></span>
                            <span><a class="col-md-1 p-0" *ngIf="i!=0" (click)="removeForm(i)"><i class="fa fa-times icons_header add-icon"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix pt-4 pb-2" *ngIf="permissionCheck('Certificates','edit')">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
                    <button type="button" class="btn btn-default" (click)="clearMessage()">{{commonLabels.btns.cancel}}</button>
                </div>
            </div>
        </div>

    </form>
</div>

<div>
    <form #BadgeSelection="ngForm" (ngSubmit)="batchSelection(BadgeSelection)">
        <div class="white-bg p-3 mt-3">
            <div class="clearfix">
                <h5 class="float-left certificate-respon">{{commonLabels.labels.badge}}</h5>
                <!-- <span class="float-right"><a (click)="resetPercentage()"><i class="fa fa-refresh"></i></a></span> -->
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 pt-3 pl-0">
                    <label class="badge-title">
                        <!-- {{constant.labels.platinum}} -->{{commonLabels.labels.platinum}}</label>
                    <select [disabled]="editFieldEnable" id="platinum" class="form-control badge-dropdown" name="platinum"
                        [(ngModel)]="constant.platinum" (change)="badgePercentageUPdate($event.target.name,$event.target.value)">
                        <option value="null">Select percentage</option>
                        <option *ngFor="let percentage of constant.badgePercentage" value="{{percentage.id}}"
                            [disabled]="percentage.disable">{{percentage.value}}</option>
                    </select>
                    <span *ngIf="percentageTakenError.platinum" class="required_color">{{commonLabels.mandatoryLabels.badgepercentageError}}</span>
                    <span *ngIf="constant.badgesRequired" class="required_color">{{commonLabels.mandatoryLabels.badgeRequiredMsg}}</span>
                </div>
                <div class="col-md-3 col-sm-6 pt-3 pl-0">
                    <label class="badge-title">{{commonLabels.labels.gold}}</label>
                    <select [disabled]="editFieldEnable" id="gold" class="form-control badge-dropdown" name="gold"
                        [(ngModel)]="constant.gold" (change)="badgePercentageUPdate($event.target.name,$event.target.value)">
                        <option value="null">Select percentage</option>
                        <option *ngFor="let percentage of constant.badgePercentage" value="{{percentage.id}}"
                            [disabled]="percentage.disable">{{percentage.value}}</option>
                    </select>
                    <span *ngIf="percentageTakenError.gold" class="required_color">{{commonLabels.mandatoryLabels.badgepercentageError}}</span>
                </div>
                <div class="col-md-3 col-sm-6 pt-3 pl-0">
                    <label class="badge-title">{{commonLabels.labels.silver}}</label>
                    <select [disabled]="editFieldEnable" id="silver" class="form-control badge-dropdown" name="silver"
                        [(ngModel)]="constant.silver" (change)="badgePercentageUPdate($event.target.name,$event.target.value)">
                        <option value="null">Select percentage</option>
                        <option *ngFor="let percentage of constant.badgePercentage" value="{{percentage.id}}"
                            [disabled]="percentage.disable">{{percentage.value}}</option>
                    </select>
                    <span *ngIf="percentageTakenError.silver" class="required_color">{{commonLabels.mandatoryLabels.badgepercentageError}}</span>
                </div>
                <div class="col-md-3 col-sm-6 pt-3 pl-0">
                    <label class="badge-title">{{commonLabels.labels.bronze}}</label>
                    <select [disabled]="editFieldEnable" id="bronze" class="form-control badge-dropdown" name="bronze"
                        [(ngModel)]="constant.bronze" (change)="badgePercentageUPdate($event.target.name,$event.target.value)">
                        <option value="null">Select percentage</option>
                        <option *ngFor="let percentage of constant.badgePercentage" value="{{percentage.id}}"
                            [disabled]="percentage.disable">{{percentage.value}}</option>
                    </select>
                    <span *ngIf="percentageTakenError.bronze" class="required_color">{{commonLabels.mandatoryLabels.badgepercentageError}}</span>
                </div>
            </div>

            <div class="clearfix pt-4 pb-2" *ngIf="permissionCheck('Certificates','edit')">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
                    <button type="button" class="btn btn-default" (click)="clearbatchSelection()">{{commonLabels.btns.clear}}</button>
                </div>
            </div>
        </div>
    </form>
</div>



<ng-template #addTemplate>
    <div class="modal-header">
        <p class="modal-title add-certificate" *ngIf="!certificateId">{{commonLabels.modaltitle.addcertTemplate}}</p>
        <p class="modal-title add-certificate" *ngIf="certificateId">{{commonLabels.modaltitle.editcertTemplate}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="clearAddForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <span class="required_color pl-5" *ngIf="fileExist">{{commonLabels.msgs.fileExist}}
    </span>
    <span class="required_color pl-5" *ngIf="errorCertificate">{{errorMsg}}
    </span>
    <div class="modal-body">
        <form #uploadTemplate="ngForm" (ngSubmit)="onSave(uploadTemplate)">
            <div class="form-group">
                <label class="uploadTemplate-title">{{commonLabels.labels.tempName}}
                    <span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <input type="text" class="form-control pl-0" [(ngModel)]="constant.tempName" #TempName="ngModel" name="tempName"
                    id="tempName" placeholder="Enter Template Name" (keyup)="hideError()" required>
                <span class="required_color" *ngIf="TempName && TempName.invalid && (uploadTemplate.submitted || TempName.touched)">
                    {{commonLabels.mandatoryLabels.tempNameMandatory}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-md-12 pl-0 uploadTemplate-title">{{commonLabels.labels.fileUpload}}<span class="file-alg">{{commonLabels.labels.acceptedhtmlTypes}}</span></label>
                <div class="choose-file-btn fileUpload ">
                    <span class="pl-2">{{commonLabels.labels.chooseFile}}</span>
                    <input [disabled]="!permissionCheck('Certificates','upload')" type="file" id="file" accept="text/html" (change)="handleFileInput($event.target.files)"
                        class="upload"></div><span>{{constant.fileToUpload?.name}}</span>
                <!-- <iframe *ngIf="constant.fileToUpload && certificateId" [src]="htmlView | sanitizeHtml"></iframe> -->
                <iframe *ngIf="certificateId" [src]="htmlView | sanitizeHtml:'resourceUrl'"></iframe>
                <span class="required_color" *ngIf=" (uploadTemplate.submitted && !htmlName)">
                        {{commonLabels.mandatoryLabels.tempFileMandatory}}
                    </span>
            </div>
            <div class="text-center pt-4">
                <button type="submit" class="btn btn-default  mr-3" *ngIf="!certificateId">{{commonLabels.labels.upload}}</button>
                <button type="submit" class="btn btn-default  mr-3" *ngIf="certificateId">{{commonLabels.btns.update}}</button>
                <button type="button" class="btn btn-primary creat-btn mr-3" (click)="clearAddForm()">{{commonLabels.btns.cancel}}</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #deleteTemplate>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.deleteCertificate}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.delConfirmCertificate}}</span>
        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary creat-btn mr-3" (click)="deleteCertificate()">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="constant.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>