    <select id="moduleType" name="moduleType">     
        <option value="null">Module</option>
        <option value="Module">{{module.moduleName}}</option>
    </select>
        <div class="container-fluid quizpage p-0">
            <div class="mb-3">
                <h6 class="course-main-tit">Course Name 1</h6>
                <div class="row">
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <h6 class="course-main-tit">Course Name 1</h6>
                <div class="row">
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <h6 class="course-main-tit">Course Name 1</h6>
                <div class="row">
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <h6 class="course-main-tit">Course Name 1</h6>
                <div class="row">
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                    <div class="col-sm-3 course-box ">
                        <div class="white-bg p-3">
                            <div class="video-title row">
                                <div class="video-name col-sm-10">
                                    Video Name 1
                                </div>
                                <a class="video-edit col-sm-2" href>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                            </div>
                            <p class="video-count">Total No of Question(s) <span>4</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
