/****************Quiz page****************/
.video-count {
    margin: 0;
}
.video-name {
    font-weight: 600;
    font-size: 15px;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-count {
    margin: 0;
    font-size: 12px;
    padding-right: 0px;
}
.video-edit {
    padding-right: 0;
    text-align: right;
}
.quizpage {
    padding: 0 5px 0 15px;
}
.video-count span {
    margin-left: 15px;
}
.course-box {
        padding-left: 3px;
    padding-right: 15px;
    margin-bottom: 20px;
}