page-feedback {
    .smiley-icon ion-icon {
        font-size: 120px;
    }
    .smiley-icon {
        display: block;
        text-align: center;
        p {
            text-align: center;
            margin-top: 15px;
        }
    }
    .your-feedback textarea {
        border-bottom: 1px solid #ACAEAF;
        resize: none;
        max-height: 40px;
    }
    .your-feedback textarea {
        border-bottom: 1px solid #ACAEAF;
        resize: none;
        max-height: 40px;
        height: 35px;
        font-size: 16px;
    }
    .smiley-icon img {
        width: 80px;
    }
    .unselect-img{
        display: block;
    }
    .select-img{
        display: none;
    }
    .active .select-img{
        display: block;
    }
    .active .unselect-img{
        display: none;
    }
    .word-count{
        float: right;
        display: block;
        color: #656565;
        font: 15px 'sf_pro_displayregular';
    }
    .list-md {
        margin: -1px 0 115px;
    }
    
}
