page-feedback {
    .input-cover{
		display: none;
	}
    .scroll-content{
        padding-bottom: 0 !important;
        overflow-y: auto !important;
    }
    .smiley-icon ion-icon {
        font-size: 120px;
    }
    .smiley-icon {
        display: block;
        text-align: center;
        p {
            text-align: center;
            margin-top: 15px;
        }
    }
    .your-feedback textarea {
        border: 1px solid #ACAEAF;
        resize: none;
        max-height: 100px;
    }
    .your-feedback textarea {
        border: 1px solid #ACAEAF;
        resize: none;
        max-height: 100px;
        height: 100px;
        font-size: 16px;
        border-radius: 4px;
        padding: 0 7px;
    }
    .smiley-icon img {
        width: 80px;
    }
    .unselect-img{
        display: block;
    }
    .select-img{
        display: none;
    }
    .active .select-img{
        display: block;
    }
    .active .unselect-img{
        display: none;
    }
    .word-count{
        float: right;
        display: block;
        color: #656565;
        font: 15px 'sf_pro_displayregular';
    }
    .list-md {
        margin: -1px 0 115px;
    }

    
    .no-backbtn .back-button.show-back-button {
        display: none !important;
    }

    
}
