<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="row">
  <div class="col-md-12 p-0">
    <div class="row my-4">
        <div class="col-md-1 p-0 pt-2 snow-img"><img src="assets/images/cool@2x.png">
          <p class="cloudy pt-2">{{dashboardVar.temp}} <sup>{{dashboardVar.degree}}</sup>{{dashboardVar.celcius}}</p>
          <h6>{{dashboardVar.cloudy}}</h6>
        </div>
        <div class="dashboard-header col-md-11">
          <div class="clearfix">
            <h4 class="float-left fnt-size">Good Morning, Peak Resort!</h4>
          </div>
          <div class="clearfix">
            <p class="notification-alg">{{dashboardVar.employeeTabText.notification}}
            </p>
            <!-- <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button> -->
          </div>
          <!-- <button class="btn btn-link float-right" (click)="enableView()">{{viewText}}</button> -->
        </div>
      </div>
       <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">10</div>
            <p class="resort-title">Total Division</p>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">15</div>
            <p class="resort-title">Total Department</p>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">150</div>
            <p class="resort-title">Total Employee</p>
          </div>
        </div>
      </div>
      

      <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                Total Courses</h6>
              <div id="visitorsByResort" style="height: 200px;"></div>
          </div>
        </div>
        <div class="col-md-8 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              Course Trend
              <select class="vdo-btn mr-3" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year}}">{{year}}</option>
                <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select>
            </h6>
            <div id="videosTrend" style="height: 195px; margin: 0 auto; padding-left: 12px;" (click)="goToVideosTrend()"></div>
          </div>
        </div>
      </div>
     

            <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                Top Rated Training Class</h6>
             <div class="custom-table">
            <table class="table">
                <tbody>
                  <tr *ngFor="let item of dashboardVar.topResorts">
                    <td>
                      {{item.id}}.{{item.name}}
                    </td>
                    <td>
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                            </span>
                          </ng-template>
                      <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>          
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
               Badges</h6>
              <div id="visitorsByResort" style="height: 200px;"></div>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                Resort Certificate Trend
              <select class="vdo-btn mr-3" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year}}">{{year}}</option>
                <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select></h6>
          </div>
        </div>
      </div>


  </div>
</div>





<!-- <div class="row pr-3">
  <div class="col-md-9 p-0">
    <div class="row my-4">
      <div class="col-md-1 p-0 pt-2 snow-img"><img src="assets/images/cool@2x.png">
        <p class="cloudy pt-2">{{dashboardVar.temp}}  <sup>{{dashboardVar.degree}}</sup>{{dashboardVar.celcius}}</p>
        <h6>{{dashboardVar.cloudy}}</h6>
      </div>
      <div class="dashboard-header col-md-11">
         <div class="clearfix">
        <h4 class="float-left fnt-size">{{dashboardVar.employeeTabText.wishes}}{{dashboardVar.symbols.apostrophe}}</h4>
      </div>
      <div class="clearfix">
        <p class="p-color">{{dashboardVar.employeeTabText.notification}}</p>
        <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button>
      </div>
      </div>
    </div>
    <div class="row course-section mb-3">
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
         <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
        {{dashboardVar.resortGridsTitle.visitors}} <span class="resort-num-alg">{{dashboardVar.visitorsData?.total}}</span></h6>
         <div class="avg-alg"><p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
            <p class="mr0 pect-color"><i [ngClass]="this.dashboardVar.visitorsData?.avgWeekly > 15 ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{this.dashboardVar.visitorsData?.avgWeekly}}%</p></div>
        <div id="visitors" style=" height: 100px; margin: 0 auto"></div>
      </div>
      </div>
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
         <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
      {{dashboardVar.resortGridsTitle.staff}} <span class="resort-num-alg">{{dashboardVar.staffData?.total}}</span></h6> -->
      <!-- <div class="avg-alg"><p class="mr0 avg-color">Average weekly</p>
            <p class="mr0 pect-color"><i class="fa fa-caret-up pdr7" aria-hidden="true"></i>25%</p></div> -->
      <!-- <div id="staff" style=" height: 145px; margin: 0 auto"></div>
    </div>
      </div>
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
        <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
        {{dashboardVar.resortGridsTitle.feedbackRating}}</h6> -->
      <!-- <div class="avg-alg"><p class="mr0 avg-color">Average weekly</p>
            <p class="mr0 pect-color"><i class="fa fa-caret-up pdr7" aria-hidden="true"></i>20%</p></div> -->
            <!-- <div class="row py-3" style=" height: 149px">
            <div class="col-sm-5" *ngIf ="dashboardVar.feedbackData?.rating" >
              <span class="rating-point">{{dashboardVar.feedbackData.rating}}</span>
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                    </span>
                  </ng-template>
              <ngb-rating [(rate)]='dashboardVar.feedbackData.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <span class="total-alg"><img src="assets/images/user2.png" class="user-img">{{dashboardVar.feedbackData.people}} {{dashboardVar.total}}</span>
            </div>
            <div class="col-sm-7"> <canvas id="rating" height="110" class="rating-chart"></canvas></div>
            </div>
       </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 p-0">
    <div class="side-widget">
            <div class=" chart-bg pt-3 pb-4" style=" height: 405px">
              <div class="keyheader">
                <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i> Key Stats</h6>
              </div>
              <div class="key-content">
                <div class="row py-4">
                  <div class="col-sm-6">
                    <p class="small-txt">New Employees </p>
                    <p class="small-txt">(This week)</p>
                    <h3 class="pl-2">{{dashboardVar.newEmployee}}</h3>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-4">
                      <p class="week-growth">{{dashboardVar.weeklyGrowth}}</p>
                    <span class="growth-percen text-success">{{dashboardVar.weekGrowth}}{{dashboardVar.symbols.percentage}}</span>
                  </div>
                </div>

                <div class="recent-command col-md-12">
                  <h6 class="recent-command-tit">{{dashboardVar.recentComment}}</h6>
                    <carousel>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                      </carousel>
                      <div class="clearfix pt-3">
                        <p class="float-left">-Anggoon</p>
                        <a><img src="assets/images/Reply.png" class="share-icon"></a>
                      </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div> -->






<!-- <div class="row"> -->

<!--   <div class="col-sm-6">
    <h4>{{dashboardVar.employeeTabText.wishes}}{{dashboardVar.symbols.apostrophe}}</h4>
    <p>{{dashboardVar.employeeTabText.notification}} <b>{{dashboardVar.btns.editTasks}}</b></p>
    <button mat-stroked-button>{{dashboardVar.btns.quickTasks}}</button>
    <button mat-stroked-button>{{dashboardVar.btns.openCalendar}}</button>
 </div> -->

<!-- </div>
 -->
<!-- <div class="row mb-3">

    <div class="col-sm-3 pl-0">
       <div class=" chart-bg">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
            {{dashboardVar.resortGridsTitle.visitorsByResort}}</h6>
            <div id="visitorsByResort" style="height: 200px;"></div>
      </div>  
    </div>

      <div class="col-sm-3 pl-0" >
         <div class=" chart-bg">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
               {{dashboardVar.resortGridsTitle.reservationByResort}}</h6> -->
            <!-- <angular-d3-donut *ngIf = "this.donutEnable" [id]="reservationByResort" [data]="donutChartData" [middleText]="'Total 100%'" [innerRadius]=100 ></angular-d3-donut> -->
           <!--  <div id="chartContainer" style="height: 200px;"></div>
          </div>
      </div>

      <div class="col-sm-6 pl-0">
        <div class="chart-bg" style="height: 247px;">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
            {{dashboardVar.resortGridsTitle.topResorts}}<select class="select-btn" ><option *ngFor="let data of dashboardVar.topEmployeeDropdown" value="{{data.id}}">{{data.value}}</option><i class="fa fa-chevron-down" aria-hidden="true"></i></select></h6>
            <div class="custom-table">
            <table class="table">
                <tbody>
                  <tr *ngFor="let item of dashboardVar.topResorts">
                    <td>
                      {{item.id}}.{{item.name}}
                    </td>
                    <td>
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                            </span>
                          </ng-template>
                      <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
</div>

<div class="pr-3">
  <div class="chart-bg">
    <div class="row resort-pd">
      <div class="chart-mr clearfix">
      <h6 class="float-left"><i class="fa fa-circle-o" aria-hidden="true"></i>  {{dashboardVar.resortGridsTitle.resort}}</h6>
        <span class="float-right">{{dashboardVar.selectResort}}
        <select class="resort-btn">
          <option *ngFor="let resort of dashboardVar.resortList" value="{{resort.id}}">{{resort.name}}</option><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </select></span>      
    </div>
    <div class="col-md-4 bor-right">
        <h6 class="resort-hd">{{dashboardVar.totEmp}}</h6>
        <div class="clearfix rest-pd">
          <h4 class="resort-alg">Whitetail resort</h4>
          <span class="resort-num">80</span>
        </div>          
            <div id="totalemployee" style="height: 200px;"></div>           
      </div>

<div class="col-md-4  bor-right"> <h6 class="resort-hd">{{dashboardVar.task}}</h6>
  <div id="task" style="height: 250px; padding-top: 45px;"></div>
</div>
<div class="col-md-4 badge-section">
  <h6 class="resort-hd">{{dashboardVar.resortGridsTitle.badges}}</h6>
  <div class="row pt-4">
    <div class="col-sm-6 badge-li pl-0" *ngFor="let badge of Badges"><span class="badge">{{badge.label}}</span><span class="badge-color">{{badge.value}}</span></div>
  </div>
  <h6 class="resort-hd">{{dashboardVar.resortGridsTitle.certification}}</h6>
  <li *ngFor="let badgeC of BadgesCertificate"> 
    <span class="badge crt-alg">{{badgeC.label}}</span> <span class="Bbadge-color">{{badgeC.value}}</span>
  </li>
</div>
</div>
</div>
</div> -->



