.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #CCCACA;
}
.full {
  color: #737373;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #737373;
}
.silder-alg{
	color: #ccc;
    font-size: 25px;
}
