<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="row">
  <div class="col-md-12 p-0">
    <div class="row my-4">
        <!-- <div class="col-md-1 p-0 pt-2 snow-img">
          <img src="{{commonLabels.imgs.cool}}">
          <p class="cloudy pt-2">{{commonLabels.labels.temp}} <sup>{{commonLabels.labels.degree}}</sup>{{commonLabels.labels.celcius}}</p>
          <h6>{{commonLabels.labels.cloudy}}</h6>
        </div> -->
        <div class="dashboard-header col-md-12">
          <div class="clearfix">
            <h4 class="float-left fnt-size" *ngIf="roleId != 4">{{commonLabels.labels.welcome}} <span *ngIf="resortName">{{resortName | titlecase}}</span>
              <span *ngIf="!resortName && roleId != 4">{{userName | titlecase}}</span>
            </h4>
            <h4 class="float-left fnt-size" *ngIf="roleId == 4">{{commonLabels.labels.welcome}} <span *ngIf="userName">{{userName | titlecase}}</span></h4>
          </div>
          <div class="clearfix">
            <p class="notification-alg" *ngIf="notificationCount">{{commonLabels.labels.notificationdash}}{{notificationCount}}{{commonLabels.labels.notifyAlert}}</p>
            <!-- <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button> -->
          </div>
          <div class="clearfix pt-3">
            <p class="parent-data" *ngIf="!selectedResort && !selectedParentResort && roleId != 4">{{commonLabels.labels.dashprtdatamsg}}</p>
            <p class="parent-data" *ngIf="selectedParentResort && !selectedResort && roleId != 4">{{commonLabels.labels.dashchilddatamsg}}</p>
            
             <span  *ngIf="roleId != 4" ><button type="button" (click)="selectResort()" class="btn btn-primary parent-resortbtn">{{commonLabels.btns.go}}</button></span>
             <select *ngIf="roleId != 4"  [disabled]="selectedParentResort == 'null'" [ngClass]="selectedResort ? 'select-resort select-btn cp' : 'select-btn cp'" [(ngModel)]='selectedResort' #resort>
                <option value="null">{{commonLabels.labels.selChildResort}}</option>
                <option *ngFor="let resort of resortChildList" [value]='resort.resortId' class="select-resort">{{resort.resortName  | titlecase}}</option>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </select>
             <select *ngIf="roleId == 1"  [ngClass]="selectedParentResort ? 'select-parent select-btn cp mr-3':'select-btn cp mr-3'" [(ngModel)]='selectedParentResort' #resort (change)="getChildResort(resort.value)">
              <option value="null" >{{commonLabels.labels.selParentresort}}</option>
              <option *ngFor="let resort of resortList" [value]='resort.resortId' class="select-parent">{{resort.resortName  | titlecase}}</option>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </select>
            <select *ngIf = "roleId == 4" class="select-resort select-btn cp" name="department" [(ngModel)]='filterDept' (change)="filterSelect(filterDept,'dept')" #dept>
              <option value="null" >{{commonLabels.labels.selDept}}</option>
              <option *ngFor="let dep of departmentList" [value]="dep.departmentId">{{dep.departmentName}}</option>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </select>
           <select *ngIf = "roleId == 4" class="select-parent select-btn cp mr-3" name ="division" [(ngModel)]='filterDivision' #div (change)="filterSelect(filterDivision,'division')">
            <option value="null" >{{commonLabels.labels.selDiv}}</option>
            <option *ngFor="let division of divisionList" [value]="division.divisionId">{{division.divisionName}}</option>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </select>
            <!-- <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button> -->
          </div>
          
          <!-- <button class="btn btn-link float-right" (click)="enableView()">{{viewText}}</button> -->
        </div>
      </div>
       <div class="row mb-3" *ngIf="roleId != 4">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlDivision}}</div>
            <p class="resort-title">{{commonLabels.labels.totalDivision}}</p>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlDepartment}}</div>
            <p class="resort-title">{{commonLabels.labels.totalDept}}</p>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlEmployee}}</div>
            <p class="resort-title">{{commonLabels.labels.totEmp}}</p>
          </div>
        </div>
      </div>
      

      <div class="row mb-3">
        <!-- <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.totalCourses}}</h6>
             
          </div>
        </div> -->
        
        <!-- Total courses -->
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>{{commonLabels.labels.videosTrend}}</h6>
            <!-- <span class="totalcourses">{{commonLabels.labels.totalNoOfScheduleCourses}}
              <span class="percent-alg">{{dashboardVar.totalCoursesCount}}</span>
            </span>   -->
            <div id="totalCourses" style="min-width: 150px; height: 220px; max-width: 600px; margin: 0 auto" (click)="goToVideosTrend()"></div>
            <!-- <canvas id="courseTrendPie" style="min-width: 150px; height: 220px; max-width: 600px; margin: 0 auto" (click)="goToVideosTrend()"></canvas> -->

          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg"></div>
          </div>
        </div>

        <div class="col-md-8 p-0">
          <!-- <div class="d3-chart" #barchart></div> -->

          <div class=" chart-bg p-2" style=" height: 275px">
              <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.totalNoOfCourses}}
                <select class="vdo-btn mr-3" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.certYear">
                  <option *ngFor="let year of dashboardVar.yearList" [value]="year.year">{{year.year}}</option>
                  <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
                </select>
                <div  id="trend" style="height: 225px; margin: 0 auto; padding-top: 50px;"></div>
              </h6>  
              
            </div>
          </div>
      </div>
     

        <div class="row mb-3">
          <div class="col-md-4 pl-0">
              <div class=" chart-bg p-2" style=" height: 275px">
                <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                  {{commonLabels.labels.topCourses}}</h6>
                  <div class="col-sm-12 pl-0 sidebar-wrapper training-alg">
                      <div class="">
                        <!-- <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i> -->
                          <!-- {{dashboardVar.employeeGridsTitle.topCourses}}</h6> -->
                        <table class="table">
                          <tbody class="topratedcourse">
                            <tr *ngFor="let item of topCourses">
                              <td class="word-wrap">
                                {{item.courseName}}
                              </td>
                              <td class="start-spacing">
                                <ng-template #t let-fill="fill">
                                  <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                                  </span>
                                </ng-template>
                                <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
              </div>
            </div>

        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.badges}}</h6>
              <div class="badge-alg">
                <p class="total-count">Total</p>
                <p class="mb-0 pl-3 percent-size">{{dashboardVar.totalBadges}}</p>
              </div>
              <div class="donutchat-style">
                <div  id="chartContainer" style="height: 200px; width: 300px"></div>
              </div>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.empCertificationTrend}}
              <select class="vdo-btn mr-3" id="year" name="year" (change)="changeCertificationYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year.year}}">{{year.year}}</option>
                <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select></h6>
             <div class="trend-sec" id="certificationTrend"
                            (click)="goTocertificationTrend()"></div>

          </div>
        </div>
      </div>


  </div>
</div>





<!-- <div class="row pr-3">
  <div class="col-md-9 p-0">
    <div class="row my-4">
      <div class="col-md-1 p-0 pt-2 snow-img"><img src="assets/images/cool@2x.png">
        <p class="cloudy pt-2">{{dashboardVar.temp}}  <sup>{{dashboardVar.degree}}</sup>{{dashboardVar.celcius}}</p>
        <h6>{{dashboardVar.cloudy}}</h6>
      </div>
      <div class="dashboard-header col-md-11">
         <div class="clearfix">
        <h4 class="float-left fnt-size">{{dashboardVar.employeeTabText.wishes}}{{dashboardVar.symbols.apostrophe}}</h4>
      </div>
      <div class="clearfix">
        <p class="p-color">{{dashboardVar.employeeTabText.notification}}</p>
        <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button>
      </div>
      </div>
    </div>
    <div class="row course-section mb-3">
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
         <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
        {{dashboardVar.resortGridsTitle.visitors}} <span class="resort-num-alg">{{dashboardVar.visitorsData?.total}}</span></h6>
         <div class="avg-alg"><p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
            <p class="mr0 pect-color"><i [ngClass]="this.dashboardVar.visitorsData?.avgWeekly > 15 ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{this.dashboardVar.visitorsData?.avgWeekly}}%</p></div>
        <div id="visitors" style=" height: 100px; margin: 0 auto"></div>
      </div>
      </div>
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
         <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
      {{dashboardVar.resortGridsTitle.staff}} <span class="resort-num-alg">{{dashboardVar.staffData?.total}}</span></h6> -->
      <!-- <div class="avg-alg"><p class="mr0 avg-color">Average weekly</p>
            <p class="mr0 pect-color"><i class="fa fa-caret-up pdr7" aria-hidden="true"></i>25%</p></div> -->
      <!-- <div id="staff" style=" height: 145px; margin: 0 auto"></div>
    </div>
      </div>
      <div class="col-md-4 pl-0">
         <div class=" chart-bg">
        <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
        {{dashboardVar.resortGridsTitle.feedbackRating}}</h6> -->
      <!-- <div class="avg-alg"><p class="mr0 avg-color">Average weekly</p>
            <p class="mr0 pect-color"><i class="fa fa-caret-up pdr7" aria-hidden="true"></i>20%</p></div> -->
            <!-- <div class="row py-3" style=" height: 149px">
            <div class="col-sm-5" *ngIf ="dashboardVar.feedbackData?.rating" >
              <span class="rating-point">{{dashboardVar.feedbackData.rating}}</span>
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                    </span>
                  </ng-template>
              <ngb-rating [(rate)]='dashboardVar.feedbackData.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <span class="total-alg"><img src="assets/images/user2.png" class="user-img">{{dashboardVar.feedbackData.people}} {{dashboardVar.total}}</span>
            </div>
            <div class="col-sm-7"> <canvas id="rating" height="110" class="rating-chart"></canvas></div>
            </div>
       </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 p-0">
    <div class="side-widget">
            <div class=" chart-bg pt-3 pb-4" style=" height: 405px">
              <div class="keyheader">
                <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i> Key Stats</h6>
              </div>
              <div class="key-content">
                <div class="row py-4">
                  <div class="col-sm-6">
                    <p class="small-txt">New Employees </p>
                    <p class="small-txt">(This week)</p>
                    <h3 class="pl-2">{{dashboardVar.newEmployee}}</h3>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-4">
                      <p class="week-growth">{{dashboardVar.weeklyGrowth}}</p>
                    <span class="growth-percen text-success">{{dashboardVar.weekGrowth}}{{dashboardVar.symbols.percentage}}</span>
                  </div>
                </div>

                <div class="recent-command col-md-12">
                  <h6 class="recent-command-tit">{{dashboardVar.recentComment}}</h6>
                    <carousel>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                        <slide>
                            <p class="small-txt"><span class="text-primary">@Siva</span>, Can you look into this and give me an update on cross training employees</p>
                          </slide>
                      </carousel>
                      <div class="clearfix pt-3">
                        <p class="float-left">-Anggoon</p>
                        <a><img src="assets/images/Reply.png" class="share-icon"></a>
                      </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div> -->






<!-- <div class="row"> -->

<!--   <div class="col-sm-6">
    <h4>{{dashboardVar.employeeTabText.wishes}}{{dashboardVar.symbols.apostrophe}}</h4>
    <p>{{dashboardVar.employeeTabText.notification}} <b>{{dashboardVar.btns.editTasks}}</b></p>
    <button mat-stroked-button>{{dashboardVar.btns.quickTasks}}</button>
    <button mat-stroked-button>{{dashboardVar.btns.openCalendar}}</button>
 </div> -->

<!-- </div>
 -->
<!-- <div class="row mb-3">

    <div class="col-sm-3 pl-0">
       <div class=" chart-bg">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
            {{dashboardVar.resortGridsTitle.visitorsByResort}}</h6>
            <div id="visitorsByResort" style="height: 200px;"></div>
      </div>  
    </div>

      <div class="col-sm-3 pl-0" >
         <div class=" chart-bg">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
               {{dashboardVar.resortGridsTitle.reservationByResort}}</h6> -->
            <!-- <angular-d3-donut *ngIf = "this.donutEnable" [id]="reservationByResort" [data]="donutChartData" [middleText]="'Total 100%'" [innerRadius]=100 ></angular-d3-donut> -->
           <!--  <div id="chartContainer" style="height: 200px;"></div>
          </div>
      </div>

      <div class="col-sm-6 pl-0">
        <div class="chart-bg" style="height: 247px;">
          <h6 class="chart-mr"><i class="fa fa-circle-o" aria-hidden="true"></i>
            {{dashboardVar.resortGridsTitle.topResorts}}<select class="select-btn" ><option *ngFor="let data of dashboardVar.topEmployeeDropdown" value="{{data.id}}">{{data.value}}</option><i class="fa fa-chevron-down" aria-hidden="true"></i></select></h6>
            <div class="custom-table">
            <table class="table">
                <tbody>
                  <tr *ngFor="let item of dashboardVar.topResorts">
                    <td>
                      {{item.id}}.{{item.name}}
                    </td>
                    <td>
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                            </span>
                          </ng-template>
                      <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
</div>

<div class="pr-3">
  <div class="chart-bg">
    <div class="row resort-pd">
      <div class="chart-mr clearfix">
      <h6 class="float-left"><i class="fa fa-circle-o" aria-hidden="true"></i>  {{dashboardVar.resortGridsTitle.resort}}</h6>
        <span class="float-right">{{dashboardVar.selectResort}}
        <select class="resort-btn">
          <option *ngFor="let resort of dashboardVar.resortList" value="{{resort.id}}">{{resort.name}}</option><i class="fa fa-chevron-down" aria-hidden="true"></i>
        </select></span>      
    </div>
    <div class="col-md-4 bor-right">
        <h6 class="resort-hd">{{dashboardVar.totEmp}}</h6>
        <div class="clearfix rest-pd">
          <h4 class="resort-alg">Whitetail resort</h4>
          <span class="resort-num">80</span>
        </div>          
            <div id="totalemployee" style="height: 200px;"></div>           
      </div>

<div class="col-md-4  bor-right"> <h6 class="resort-hd">{{dashboardVar.task}}</h6>
  <div id="task" style="height: 250px; padding-top: 45px;"></div>
</div>
<div class="col-md-4 badge-section">
  <h6 class="resort-hd">{{dashboardVar.resortGridsTitle.badges}}</h6>
  <div class="row pt-4">
    <div class="col-sm-6 badge-li pl-0" *ngFor="let badge of Badges"><span class="badge">{{badge.label}}</span><span class="badge-color">{{badge.value}}</span></div>
  </div>
  <h6 class="resort-hd">{{dashboardVar.resortGridsTitle.certification}}</h6>
  <li *ngFor="let badgeC of BadgesCertificate"> 
    <span class="badge crt-alg">{{badgeC.label}}</span> <span class="Bbadge-color">{{badgeC.value}}</span>
  </li>
</div>
</div>
</div>
</div> -->



