.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #CCCACA;
}
.full {
  color: #737373;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #737373;
}
.silder-alg{
	color: #ccc;
    font-size: 25px;
}

.totalcourses{
  position: absolute;
  font-size: 15px;
  color: #454545;
  font-weight: 600;
  top: 38px;
  left: 111px;
  z-index: 1000;
}
.top-employee-height, .topratedcourse{  
  font-size: 14px;
  font-weight: 600;
  color: #454545;
}
.top-employee-height{
height: 145px !important;
}
.training-alg{
  height: 200px;
}
.percent-alg{
  color: #1D4960;
  font-size: 20px;
  font-weight: 600;
  padding-left: 6px;
}

.select-style {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 160px;
 }   
  .select-style select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select-style select::-ms-expand {
          display: none;
      }
     /* .select-style select:hover,
      .select-style select:focus {
          color: #000000;
          background: #cccccc;
      } */
      .select-style select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }

.select select-style:hover ~ .select_arrow,
.select select-style:focus ~ .select_arrow {
 border-top-color: #000000;
}
.select select-style:disabled ~ .select_arrow {
 border-top-color: #cccccc;
}
.select-style{
 float: right;
 clear: both;
 padding-bottom: 0px;
}
.resort-num-alg{
    font-size: 32px;
    color: #1D4960;
    line-height: 20px;
    font-weight: 600;
    padding: 10px;
    float: right;
}
.rating-point{
  display: block;
    font-size: 38px;
    padding-left: 5px;
    color: #333333;
}
.rating-chart{
    height: 85px !important;
    width: 135px !important;
    margin-top: 15px;
}
.resort-hd{
  color: #1D4960;
    font-size: 18px;
    font-weight: 600;
}
.resort-alg{
  color: #9F9F9F;
    font-size: 22px;
    float: left;
    font-weight: 600;
}
/* .d-inline-flex{
  display: block !important;
} */
.user-img{
    width: 12px;
    padding-right: 4px;
}
.total-alg{
  color: #6A6868;
    font-size: 12px;
}
.resort-list{
  font-size: 60px;
    color: #468FB9;
    font-weight: 600;
    text-align: center;
}
.resort-title{
  font-size: 16px;
    color: #1D4960;
    font-weight: 600;
    text-align: center; 
}
.select-btn{
  width: 13%;
  font-size: 12px;
}
.parent-resortbtn{
  margin-left: 20px;
    line-height: 10px;
    font-size: 12px;
    padding: 6px 3px;
    min-width: 23px;
}
.parent-data{
  font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    float: left;
}
.word-wrap {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    display: inline-block;
    padding: 0 0 0 14px;
    vertical-align: top;
}
.start-spacing{
  letter-spacing: 4px;
    padding: 0 15px 11px 0 !important;
    width: 40%;
    display: inline-block;
    text-align: right;
}
.badge-alg{
  position: absolute;
    z-index: 1;
    top: 133px;
    left: 135px;
    font-size: 13px;
    font-weight: 700;
    width: 30px;
    color: #65A1C5;
}
.total-count{
  margin: 0;
    color: #1D4960;
    font-size: 20px;
}
