<div class="">
    <div class="float-right row pb-3 adduser-respon">
        <div class="dropdown btn-group pull-right export-btn mr-2" *ngIf="resortList.length">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {{commonLabels.btns.exportTo}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item pl-3" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a>
                <a class="dropdown-item pl-3" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a>
            </div>
        </div>
        <button type = "button" class="btn btn-primary float-right mr-2" (click)="onPrint()"><i class="fas fa-print pr-2"></i>Print</button>
        <form class="filter-search" (ngSubmit)="getResortDetails()">
                <div class="search-container clearfix">
                  <input type="text" placeholder="Search Keyword.." name="search" [(ngModel)]="search" class="user-searchbox">
                    <button type="submit"  class="user-search-icon"><i class="fa fa-search search-icon"></i></button>
                    <!-- <button type="button" (click)="resetSearch()" class="user-search-icon"><i class="fas fa-sync-alt search-icon"></i></button> -->
                </div>
            </form>
    </div> 

    <div class="col-lg-12 col-sm-12 p-0 table-alg">                
        <div class="table-responsive white-bg custom-table2" id="resortList">
            <table class="table table-striped" [mfData]="resortList" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr class="th-boxshadow">
                        <th class="text-left name-txt">
                            <mfDefaultSorter>{{commonLabels.labels.childResort}}</mfDefaultSorter>
                        </th>
                        <th class="text-left">
                            <mfDefaultSorter>{{commonLabels.labels.totalNoOfCourses}}</mfDefaultSorter>
                        </th>   
                        <th class="text-left">
                            <mfDefaultSorter>{{commonLabels.labels.utilizedSpace}}</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resort of mf.data;let i = index" class="table-desc-color">
                        <td class="text-left txt-unline">{{ resort.resortName  | titlecase}}</td>
                        <td class="text-left">{{resort.Courses.length}}</td>
                        <td class="text-left">{{resort.utilizedSpace}}</td>
                    </tr>
                    <tr *ngIf="mf.data?.length == 0">
                        <td colspan="10"><p class="text-center data-design p-5"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </div>
</div>
<div class="text-center m-3 center-btn">
    <button type = "button" class="btn btn-primary" (click)="location.back()">{{commonLabels.btns.back}}</button>
</div>