
  <div>  
      <label class="emp-details">{{labels.employeeName}} : {{employeeName}}</label>
      <span class="float-right">
        <div class="dropdown show mb-3">
            <label class="ext-txt mb-0 mr-2">{{labels.exportTo}}</label>
          <a class="btn export-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="float-left">PDF</span></a>
            <div class="dropdown-menu drp-dwn" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item drp-item" (click)="exportAsXLSX()">{{labels.btns.excel}}</a>
                <a class="dropdown-item drp-item" (click)="exportAsPDF()">{{labels.btns.pdf}}</a>             
            </div>
        </div>             
      </span>     
  </div>
      <div class="table-responsive custom-table2">
        <table class="table table-striped white-bg" [mfData]="employeeArray" #mf="mfDataTable" [mfRowsOnPage]="5" id="contentToConvert">
            <thead>
            <tr class="th-boxshadow">
                <th colspan="1" class="text-center">
                    <mfDefaultSorter by="courseName" >{{labels.tableTitle.courseName}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                <th colspan="1">
                    <mfDefaultSorter by="completedPercentage">{{labels.tableTitle.percentageCompleted}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                
                <th colspan="1">
                    <mfDefaultSorter by="badgeName">{{labels.tableTitle.badgeName}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                <th colspan="1"></th>
                <th colspan="1">
                    <mfDefaultSorter by="videoName ">{{labels.tableTitle.videoName}}</mfDefaultSorter>
                </th>
                <th colspan="1"></th>
                <th colspan="1">
                    <mfDefaultSorter by="status ">{{labels.tableTitle.status}}</mfDefaultSorter>
                </th>
                <th colspan="1"> 
                    <mfDefaultSorter by="assignedDate">{{labels.tableTitle.assignedDate}}</mfDefaultSorter>
                </th>
                <th colspan="1">
                    <mfDefaultSorter by="viewedDate">{{labels.tableTitle.viewedDate}}</mfDefaultSorter>
                </th>
                <th colspan="1">
                    <mfDefaultSorter by="completedDate">{{labels.tableTitle.completedDate}}</mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of mf.data" class="text-center">
                <td class="vat">{{ emp.courseName }}</td>
                <td class="vat">{{ emp.completedPercentage }}</td>
                <td class="vat">{{ emp.badgeName }}</td>
                <td class="vat" colspan="7">
                  <tr *ngFor="let video of emp.videos">
                    <td>{{ video.videoName }}</td>
                    <td [ngClass] = "video.status !== 'In progress' ? (video.status === 'Assigned'?'text-danger':'text-success'):''">{{ video.status }}</td>
                    <td>{{ video.assignedDate }}</td>
                    <td></td>
                    <td>{{ video.viewedDate }}</td>
                    <td></td>
                    <td>{{ video.completedDate }}</td>
                  </tr>
                </td>
            </tr>
            <tr *ngIf="mf.data?.length == 0">
                <td colspan="10" class="text-center data-design">{{labels.noData}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
      </div>
