<ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader>
<div>      
<ul class="btn-alg dashboard-btn" role="tablist">
    <button *ngFor="let title of tabTitle; let first = first;" [ngClass]="{firstItem: first}" role="presentation" class="accounts_li hd-button" [class.active]="selectedtab===title">
        <a (click)="selectedtab = title" aria-controls="one" role="tab" data-toggle="tab">{{title}}</a>
    </button>
</ul>
</div>

<div class="tab-content">
    <div *ngIf="selectedtab === tabTitle[0]" role="tabpanel" class="tab-pane active" id="one"><app-employee-charts></app-employee-charts></div>
    <div *ngIf="selectedtab === tabTitle[1]" role="tabpanel" class="tab-pane active" id="two"><app-resort-charts></app-resort-charts></div>
</div>

        

