<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="pt-3">      
    <ul class="btn-alg dashboard-btn" role="tablist">
        <li *ngFor="let title of tabTitle" class="accounts_li hd-button nav-item" [class.active]="selectedtab == title">
            <a (click)="selectedtab = title" class="nav-link text-center"><span>{{title}}</span></a>
        </li>
    </ul>
</div>

<div class="tab-content" *ngIf = "roleId != 4">
    <div *ngIf="selectedtab === tabTitle[0]" role="tabpanel" class="tab-pane active" id="one"><app-employee-charts [notificationCount]="notificationCount"></app-employee-charts></div>
    <div *ngIf="selectedtab === tabTitle[1]" role="tabpanel" class="tab-pane active" id="two"><app-resort-charts [notificationCount]="notificationCount"></app-resort-charts></div>
</div>
<div class="tab-content" *ngIf = "roleId == 4">
    <!-- <div *ngIf="selectedtab === tabTitle[0]" role="tabpanel" class="tab-pane active" id="one"><app-employee-charts [notificationCount]="notificationCount"></app-employee-charts></div> -->
    <div role="tabpanel" class="tab-pane active" id="two"><app-resort-charts [notificationCount]="notificationCount"></app-resort-charts></div>
</div>

        

