/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* @import '~css-star-rating/scss/star-rating'; */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
    font-family: 'Open Sans', sans-serif;
}
/******** common styles ***************/
.hd-alg{
  font-size: 20px;
  font-weight: 600;
  float: left;  
  line-height: 31px;
}
.header-border{
  position: absolute;
  border-left: 3px solid #468FB9;
  height: 30px;
  left: -15px;
  padding: 0 0 0 12px;
}
.sucess-msg{
    color:green !important
}
.table-desc-color{
	color: #73737B;
  font-size: 15px;
}
.text-nowrap{
  font-weight: 600 !important;
}
.alert {
  width:50%;
  margin-bottom:0;
  position: fixed;
  right: 0;
  top:10px;
  z-index: 100;
}
.cp{
cursor: pointer;
}
.quiz-border{
  border-top: 1px solid #ccc;
}
.quiz-border:first-child{
  border: none;
}
span.nodata {
    background-color: unset !important; 
    padding: 10px 20px !important;
    border-radius: 7px !important;
    font-size: 25px !important;
    float: unset !important;
    margin-right: 0 !important;
    font-weight: 600 !important;
    color: #697380 !important;
    display: block;
}
.data-design{
  margin: 20px 0;
  background: #cccccc4a;
  padding: 50px 20px;
}
.nodata-img{
  padding: 0 0;
  font-size: 40px;
  color: #468FB9;
  display: block;
}
.btn-save{
    float: none !important;
 } 
button:focus {
  outline: none;
  outline: none;
}
.mt75{ margin-top: 75px;}
.pdl45{ padding-left: 45px !important}
.pdl65{ padding-left: 65px !important;}
.pdl27{ padding-left: 27px;}
.pd30{ padding: 30px 0;}
.ptb-4{
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}
.row {
  margin-left: 0 ;
  margin-right: 0;
}
.form-control{
  border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #73737B;
    border-radius: 0;
    font-size: 14px;   
   
}
.btn-primary{
  background-color: #468FB9;
  float: right;
  text-transform:capitalize;  
  border: 2px solid #468FB9;
}
.btn-default{
    border: 2px solid #468FB9;
    background-color: #fff;
    color: #468FB9;
}
.btn{ 
    font-size: 13px;  min-width: 80px;text-transform: capitalize;}
    .custm-label {
    padding-left: 0;
    font-size: 15px;
}
select:focus, .filter-search input[type=text] {
  outline: 0;
}
.fs-12{
font-size: 12px;
}
.word-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inner-table tr {
    background: transparent !important;
}
table td.td-pd {
    padding-top: 0;
    padding-bottom: 0px;
}
.s-width{
  	width: 14px;
  	opacity: 0.5;
  }
  .theme-green .bs-datepicker-head{background-color: #468FB9 !important;}
  .theme-green .bs-datepicker-body table td span.selected{background-color: #468FB9 !important;}
  .show>.btn-primary.dropdown-toggle{
    background-color: #468FB9;
    border-color: #468FB9;
  }
   .btn-primary:hover{
    color: #fff;
    background-color: #468FB9 !important; 
    border-color: #468FB9 !important; 
  }
  .btn{
    box-shadow: none !important;
  }
  .multiselect-dropdown .disabled > span{
    background-color: unset !important;
  }
  .btn:hover{
    color: none;
  }
  .dropdown-list li.no-data{
    font-size: 9px;
      text-align: center;
      width: 100%;
  }
  .dropdown-list h5{
    font-size: 15px;
      font-weight: 600;
      text-align: center;
  }
  .modal-content .forum-create-form {
    padding: 0 !important;
}
.breadcrumb-current{
  color: #656565 !important;
}
/******** check box ***************/
.hole-cont {
   position: relative;
   padding-left: 27px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   float: left;
   color: #495057;
   line-height: 30px;
}
.hole-cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.checkmark {
   position: absolute;
   top: 6px;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 15px;
}
.hole-cont input:checked ~ .checkmark {
       background-color: #468FB9;
   border: 1px solid #468FB9;
}
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.hole-cont input:checked ~ .checkmark:after {
   display: block;
}
.hole-cont .checkmark:after {
   left: 7px;
   top: 4px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
/************ Square checkbox***********/
.square-cont {
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   float: left;
   color: #576271;
   line-height: 50px;
   font-size: 15px;
}
.square-cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.square-checkmark {
   position: absolute;
   top: 15px;
   left: 0;
   height: 18px;
   width: 18px;
   background-color: #fff;
   border: 2px solid #9c9c9c;
   border-radius: 3px !important;
}
.square-cont input:checked ~ .square-checkmark {
   background-color: #468FB9;
   border: 1px solid #468FB9;
}
.square-checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.square-cont input:checked ~ .square-checkmark:after {
   display: block;
}
.square-cont .square-checkmark:after {
   left: 5px;
   top: 0px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.txt-unline a{
  text-decoration: underline;
}
/*************** sidebar ********************/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px 15px 65px 15px;
  min-height: calc(100vh - 0px);
  background-color: #F5F6FA;
}
#wrapper.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
  /* position: absolute; */
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  /*text-indent: 8px;*/
  line-height: 65px;
  width: 100%;
  /*text-align: center;*/
}
.sidebar-nav li a {
  display: block;
  text-decoration: none !important;
  /*margin-left: 15px;*/
  padding: 0 0 0 25px !important;
  color: #73737B !important;
}
.sidebar-nav li a:hover {
    background-color: #E4EFF5;
    width: 100%;
    color: #468FB9 !important;
}
.sidebar-nav li.active{
  background-color: #E4EFF5;
  width: 100%;
} 
.fix{
  background-color: #E4EFF5;
    width: 92px;
    border-radius: 5px;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav li.active a {
    color: #468FB9 !important;
}
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
  color: #999999;
}
.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
ul li{
  display: inline-block;
}
.sub-menu {
  padding: 0;
  line-height: 40px;
}
.sub-menu li {
  line-height: 40px;
  font-size: 14px;
  background-image: url(assets/images/unsel_arrow.png);
  background-repeat: no-repeat;
  background-position: 24px 7px;
}
.sub-menu li a {
  padding: 0 0 0 40px !important;
  margin-left: 20px;
}
.sub-menu li.active ,.sub-menu li:hover {
  background-color: #E4EFF5;
  background-image:  url(assets/images/sel_arrow.png);
  background-repeat: no-repeat;
}
.sub-menu li:hover a ,.sub-menu li.active a {
  color: #468FB9;
  background-color: unset;
}
.sub-menu li.active {
  background-color: unset;
}
.sub-menu li.active a {
  color: #468FB9 !important;
}
.sub-menu li a:hover{
  background-color: unset;
  color: #468FB9 !important;
}
.pl104{
  padding-left: 104px !important;
}
.show-btn{
  font-size: 16px;
    color: #468FB9;
    font-weight: 500;
    text-decoration: underline;
}
.sidebar-title{
   text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
/***************** end sidebar **************************/
/************************* Header ***********************/
.form-searchbox {
  font-size: 14px;
  padding: 0px 0 0 20px;
  border-radius: 25px;
}
.searchbox-alg{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
  color: #468FB9;
}
.list_search {
     position: absolute;
    bottom: 7px;
    right: 9px;
    /* color: #007bff; */
    font-size: 16px;
}
li.search-block {
    position: relative;
}
.noti-pop{
	width: 20px;
    border-radius: 10px;
    color: #fff !important;
    background-color: #468FB9;
    position: absolute;
    top: -11px;
    right: -2px;
    font-size: 12px;
    min-width: 0 !important
}
.drp-noti{
	position: absolute;
    transform: translate3d(-5px, 22px, 0px);
    top: 20px;
    left: -48px;
    will-change: transform;
}
.bell-notification .dropdown-toggle::after {
    content: none;
}
.user-logout .dropdown-toggle::after {
    content: none;
}
.header-noti-dropdown{
	position: absolute;
    transform: translate3d(-226px, 24px, 0px) !important;
    top: 7px !important;
    left: -7px !important;
    will-change: transform;
        min-width: 389px !important;
}
.header-noti-dropdown .dropdown-item:hover {
    background-color: #E5EFF5;
}
.user-logout .dropdown-item:hover {
    background-color: #E5EFF5;
}
.dropdown-item:active {
    color: #212529;
    text-decoration: none;
    /* background-color: #007bff; */
    }
.module-btn{
	  color: #9B9B9B;
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 7px;
    margin-top: 5px;
}
.noti-desc{
  font-size: 12px;
  line-height: 30px;
}
.noti-timer{
  font-size: 14px;
  line-height: 30px;
}
.bg-color{
      padding-bottom: 40px;
}
/*************************End  Header ***********************/
/************************ Common colors ***********************/

.hd-alg, .icons_header, .list_search, button, button.accounts_li.active, h4, .video-edit, h6, h5,.drp-item, .ext-txt{
  color: #468FB9;
}
h5{
  font-weight: 700;
  font-size: 18px;
}
.chart-bg,.white-bg{
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px #ccc;
}
.bg-color{
    background-color: #F5F6FA;
}
.mandatory-color{
  color: #f10606;
  padding-left: 2px;
}
.notification-alg{
  color: #7a8996;
  max-width: 83%;
  font-size: 14px;
}
.click-color{color: #39647a;}

.icons_header{
  padding: 0 12px; 
}
.btn-alg{
  padding: 25px 0 25px 0px;
}
.dashboard-btn{
	display: inline-block;
    box-shadow: 0px 0px 8px 0px #ccc;
    padding: 0;
    /*margin-top: 30px;*/
    /*margin-bottom: 45px; */
}
.snow-img img{width: 100%;}
.cloudy{
  font-size: 25px;
  color: #468FB9;
  margin: 0;
}
.fnt-size{
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 2px;
  line-height: 2;
}
.circle-fnt{
  font-size: 12px;
  color: #468FB9;
}
.hd-button{
  background-color: #fff;
  width: 120px;
  height: 46px;
  border: 2px solid #fff;
  cursor: pointer;
  /* color: #697380; */
  color: #aeaeb4;
  font-weight: 600;
}
.hd-button.accounts_li.active {
  border-bottom: 3px solid #468FB9;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li{
	background-color: #EAEAEA;
	border-radius: 12px;
    width: 8px;
    height: 8px;
}
.carousel-indicators .active{
	background-color: #8B8A88;
}
.carousel-control-next-icon{
    background-image:  url(/assets/images/path.png);
}
.carousel-control-next {
    right: -10px;
    width: 10px;
    height: 10px;
    top: 12px;
}
.carousel-control-prev-icon{
    background-image:  url(/assets/images/path.png);
}
.carousel-control-prev  {
    left: -10px;
    width: 10px;
    height: 10px;
    top: 12px;
    transform: rotate(180deg);
}
.btn_alg {
  background-color: #468FB9;
  color: #fff;
  margin-right: 15px !important;
  padding: 5px 15px 5px 15px;
  border: 0px solid #468FB9;
  border-radius: 5px;
  cursor: pointer;
}

.num-alg{
    font-size: 32px;
    color: #1D4960;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    padding: 20px;
}
.select-btn{
  border: 1px solid #999999;
  border-radius: 4px;
  width: 25%;
  padding: 2px;
  color: #999999;
  float: right;
  font-size: 14px;
}
.chart-mr{
    color: #1D4960;
    font-size: 15px;
    font-weight: 600;
}
.chart-mr{padding: 10px;width: 100%;}
.recent-command-tit {
      border-top: 1px solid #ccc;
    padding: 25px 0 20px 0;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #686868;
}
.recent-command {
  padding-bottom: 1em;
}
.vdo-btn{
	background-color: transparent;
    width: 20%;
    padding: 2px;
    color: #999999;
    float: right;
    border-bottom: 1px solid #999999;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 14px;
}
.pdl60{padding-left: 60px;}
.pdl68{padding-left: 68px !important;}
.pdr7{padding-right: 7px;}
.avg-alg{
	color: #999999;
    padding-left: 27px;
}
.pect-color{color: #51CC3A;}
.avg-color{
    color: #959595;
    font-size: 14px;
}
.dwn-color{color: #ED2201;}
.mr0{margin: 0;}
li {
    list-style: none;
}
.resort-btn{
	border: 1px solid #999999;
    border-radius: 4px;
    margin-left: 15px;
    padding: 2px;
    color: #999999;
    float: right;
    font-size: 14px;
}
/*.wdt{width: 20%;}*/
.bor-right{
	border-right: 2px solid #ccc;
}
.hd-color{color: #468FB9;}
.cancel-btn{
	background-color: transparent;
    border: 1px solid #999999;
    border-radius: 35px;
    width: 32px;
    cursor: pointer;
    line-height: 0;
}
.cancel-icon{
	color: #9999;
    padding: 5px 3px 5px 3px;
    font-size: 15px;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    /* width: 19%; */
    width:244px;
  }
  #wrapper.toggled #sidebar-wrapper {
    /* width: 19%; */
    width:244px;
  }
  .page-content-wrapper {
    /* padding: 20px 15px 65px 274px; */
    position: relative;
    /*background-color: #F5F6FA;*/
    margin-left: 244px;
    width: inherit;
  }
  #wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.small-txt {
    font-size: 14px;
    color: #9B9B9B;
    margin: 0;
    padding: 0 0 0 10px;
}
.share-icon{
  box-shadow: 0px 0px 8px 0px #ccc;
  float: right;
}
.growth-percen {
  text-align: right;
  display: block;
  font-size: 18px;
  font-weight: 600;
}
.week-growth {
  color: #000;
  font-weight: 600;
  display: block;
  text-align: right;
  margin: 0;
}
.side-widget {
  margin-bottom: 15px;
}
.snow-img {
  text-align: center;
}
 .form-control:disabled, .form-control[readonly]{
    background-color: unset;
  }
/*********************** table css*********************/
.table{
  margin-bottom: 0;
}
.table thead th, .table td {
  vertical-align: bottom;
  border: none;
}
.table thead th,a i{

  color: #468FB9;
  font-size: 15px;
}
.custom-table {
    padding: 0px 20px 1px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  border-radius: 10px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  /* background: #007bff; */
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.custom-table table {
  width: 100%;
}
.custom-table {
  padding: 0 20px;
}
.custom-table thead, .custom-table tbody, .custom-table tr,.custom-table td, .custom-table th { display: block; }

.custom-table tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
/*.custom-table thead th {
  height: 30px;
}*/
.custom-table tbody {
  height: 180px;
  overflow-y: auto;
}
.custom-table thead {
  /* fallback */
}.custom-table tbody td, .custom-table thead th {
  width: 50%;
  float: left;
}
.table-striped tbody tr:nth-child(odd){
  background-color: #fff;
}
.table-striped tbody tr:nth-child(even) {
    background-color: #F4FBFF;
}
.th-boxshadow{
    border-bottom: 3px solid #ccc;
    box-shadow: 0px 2px 2px 2px #ccc;
    border-radius: 3px;
}
.custom-table2 .table thead th {
   font-weight: 600;
    color: #737373;
    font-size: 15px;
}
.table td a{
  margin: 0 7px;
}
.table tr a i{
  color: #468FB9;
}
.donutchat-style {
    padding: 0 0 30px 0px;
}
.badge-li:nth-child(1) .badge-color {
    background: #B9F2FF;   
}
.badge-li:nth-child(2) .badge-color {
    background: #FFD700;   
}
.badge-li:nth-child(3) .badge-color {
    background:#C0C0C0;   
}
.badge-li:nth-child(4) .badge-color {
    background: #CD7F32;   
}
.badge-li{
  margin-bottom: 15px;
}
.badge-li .badge-color{
   color: #fff;
    text-align: center;
    width: 35px;
    display: inline-block;
    height: 35px;
    border-radius: 50%;
    line-height: 33px;
    font-size: 12px;
}
.Bbadge-color {
    background: #468FB9;
    width: 70px;
    height: 70px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
}
.badge{
	color: #999999;
	min-width: 100px;
}
.crt-alg{
	min-width: 260px;
    text-align: left;
}
.resort-pd{
	padding: 7px 7px 45px 7px;
}
.resort-num{
	  font-size: 40px;
    color: #1D4960;
    float: right;
    font-weight: 600;
    line-height: 25px;
}
.rest-pd{
	padding: 20px 0 0 0;
}
.form-control:focus {
    box-shadow: none;
}
/*.video-screen .modal-content{
    width: 70%;
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
}
.video-screen .video-player-set{
    max-width: 100%;
}
.video-screen .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    height: calc(100vh - 0px);
    width: calc(100vw - 0px);
    vertical-align: middle;
    display: table-cell;
    max-width: unset;
    margin: 0 auto;
}*/
.modalButtons,.modalButtons .btn-primary {
    text-align: center;
    float: none;
}
.modal-header {
    border-bottom: none;
}
/* .modal-dialog {
    transform: translate(0,0);
    height: calc(100vh - 60px);
    width: calc(100vw - 0px);
    vertical-align: middle;
    display: table-cell;
    max-width: unset;
    margin: 0 auto;
}
 .modal-content {
    width: 40%;
    margin: 0 auto;
} */
.add-video-header ul.nav.nav-tabs {
    background-color: #fff;
    width: 260px;
    height: 51px;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #ccc;
    margin-top: 25px;
}
.add-video-header ul li.nav-item.active {
    border-bottom: 3px solid #468FB9;
}
.add-video-header ul li.nav-item{
    width: 128px;
}
.add-video-header ul li a.nav-link.active {
    border: none;
    text-align: center;
    color: #007fbb;
}
.add-video-header .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #007fbb;
}
.add-video-header ul li a.nav-link{
	text-align: center;
	color: #808088;
}
.multiselect-input delete-icon svg {
    vertical-align: middle !important;
    height: 29px !important;
    position: relative !important;
    top: -3px !important;
}
.multiselect-input delete-icon {
        width: 30px !important;
    background: #ccc;
    height: 28px !important;
    border-radius: 70px;
    text-align: center !important;
    line-height: 34px;
}
.multiselect-input delete-icon:hover {
    -webkit-transform: none !important;
    transform: none !important;
}
.multiselect-input .tag__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60px;
    line-height: 29px;
}
.required_color{
    color: #f44336;
    font-size: 12px;
    display: block;
    width: 100%;
    margin-top: 15px;
}
.multiselect-input tag {
    /* min-width: 110px; */
    padding-right: 0 !important;
    height: 31px !important;
}
.sk-wave .sk-rect {
    background-color: #468FB9 !important;   
}
/* .pagenation-dropdown{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #468fb9;
    width: 80px;
    padding: 4px 8px;
    height: 32px;
    color: #468FB9;
    outline: unset !important;
} */
.pagenation-dropdown button.ngx-dropdown-button {
    border-radius: 20px !important;
    background-color: transparent !important;
    border: 1px solid #468FB9 !important;
    width: 80px !important;
    min-width: unset;
    padding: 4px 8px !important;
    min-height: unset !important;
    height: 28px !important;
    overflow: hidden !important;
}
.pagenation-dropdown  .ngx-dropdown-container .ngx-dropdown-list-container{
    top: 32px !important;
    right: 0px !important;
}
.pagenation-dropdown  .ngx-dropdown-container .ngx-dropdown-list-container ul li{
    padding: 3px 15px !important;
    text-align: center;
}
.pagenation-dropdown .ngx-dropdown-container button span {
   color: #468FB9;
   line-height: 4px;
}
ul.pagination {
    margin: 0;
}
span.nsdicon-close {
    display: none;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #468FB9;
    border-color: #468FB9;
}
a {
    cursor: pointer;
}
.ng2-dropdown-menu{    
    z-index: 9999 !important;
    height: 150px !important;
    width: 250px !important;
}
.export-btn .dropdown-menu.show {
  min-width: 102px;
}
.creat-btn{
	float: none;
  /*box-shadow: none !important;*/
}
.video-play{
  width:100%;
}
.video-box .modal-header .close {
  padding: 5px 10px;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 1000;
  background: #fff;
  border-radius: 25px;
  top: -6px;
  right: -10px;
}
.video-box .modal-header {
  border-bottom: none;
  padding: 0;
}
.video-box .modal-body{
  padding: 0;
}
.video-box .modal-content{
  background: transparent;
  border: none;
}
/*************Edit forum***************/
.multi-input tag {
    border: 1px solid #EAEAEA;
    background-color: #EAEAEA !important;
    height: 23px !important;
    min-width: 0 !important;
    padding: 0 0 0 6px !important;
    line-height: unset !important;
}
.multi-input div {
    /*overflow: unset !important;*/
    font-size: 15px;
    padding: 0 2px 0 0;
}
.multi-input svg {
    border: 1px solid #989898;
    border-radius: 20px;
    background-color: #989898;
    width: 20px;
    height: 20px !important;
    line-height: 15px;
    color: #EAEAEA !important;
    vertical-align: unset !important;
    margin: 0 0 0 4px;
}
.multi-input tag:hover{
	  background: unset !important;
    color: unset !important;
    -webkit-box-shadow: 0 2px 3px 1px #d4d1d1;
    box-shadow: unset !important;
}
.multi-input delete-icon:hover{
	transform: unset !important;
}
.multi-input delete-icon path {
    fill: #fff !important;
}
.multi-input input.ng2-tag-input__text-input {
    height: 27px;
}
/******************end Edit forum*************/
/***********Module style*******************/
/*.module-list .owl-item {
    background-color: #EDF0F8;
    width: 226px !important;
    height: 50px;
    margin: 0 7px;
    margin-bottom: 30px !important;
}
.module-list .owl-nav {
    margin-top: 0;
    text-align: unset;
}
.module-list .owl-theme .owl-nav{
	margin-top: 0 !important;
}*/
.owl-prev {
    position: absolute;
    top: 67px;
    left: -21px;
    width: 30px;
    background-color: #468FB9 !important;
}
.owl-next {
    position: absolute;
    top: 67px;
    right: -21px;
    width: 30px;
    background-color: #468FB9 !important;
}
/***********************End Module style***************/
/*******************certificate*************/
.certificate-list .owl-item {
    /* width: 333px !important; */
    /* margin: 0 7px; */
    margin-bottom: 30px !important;
}
.certificate-list .owl-nav {
    margin-top: 0;
    text-align: unset;
}
.certificate-list .owl-theme .owl-nav{
	margin-top: 0 !important;
}
.certificate-list .owl-prev {
    position: absolute;
    top: 65px;
    left: -21px;
    width: 30px;
    background-color: #468FB9 !important;
}
.certificate-list .owl-next {
    position: absolute;
    top: 65px;
    right: -21px;
    width: 30px;
    background-color: #468FB9 !important;
}
/***************end certificate*************/
/*************Add module style**************/
.select-Courses span.dropdown-btn {
    border: 1px solid #ccc !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    color: #73737B !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.select-Courses .dropdown-list {
    width: 267px !important;
    right: -14px;
}
.addcourse{
    color: #468FB9;
    font-size: 20px;
    padding: 11px;
    cursor: pointer;
}
.addnewcourse-title{
  font-size: 15px;
    color: #576271;
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 40px;
}
.select-Courses li.multiselect-item-checkbox {
    display: block;
}
.select-Courses span.dropdown-down {
    border-top: 6px solid #989898 !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}
.select-Courses span.dropdown-up {
    border-bottom: 6px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}
.select-Courses div {
    color: #576271 !important;
    font-size: 15px;
}
.select-Courses span.selected-item {
    border: 1px solid #ccc !important;
    border-radius: 20px !important;
    background-color: #EAEAEA !important;
    color: #576271 !important;
    margin: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.select-Courses span.selected-item:hover{
	background-color: #ccc;
}
.select-Courses a {
    border: 1px solid #989898;
    border-radius: 20px;
    background-color: #989898;
    width: 20px;
    display: inline-block;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: 0 !important;
    font-size: 18px;
    margin: 3px 0 3px 0;
    color: #EAEAEA !important;
}
.select-Courses .dropdown-list ul.item1 {
    overflow: unset !important;
}
/************end add module style************/
/**************calender style*************/
.calender-view .cal-header {
    background-color: #F5F6FA !important;
    border: 1px solid #EAF0F4 !important;
    height: 47px !important;
    color: #73737B !important;
    font-weight: 700 !important;
    line-height: 35px !important;
}
/*.calender-view .cal-month-view .cal-cell-top {
    min-height: unset;
}*/
.cal-month-view .cal-cell-row .cal-cell:hover {
    background-color: #E5EFF5 !important;
}
.cal-month-view .cal-cell-top {
    min-height: 44px;
    flex: 1;
}
/****************end calender style**********/
/****************Start Resort**********/
.label-title{
  color: #697380;
    line-height: 35px;
    font-size: 15px;
    margin: 0;
}
.tab-section .nav-link {
  display: block;
  padding: .8rem 1.2rem;
  border: none;
  color: #aeaeb4;
  font-weight: 600;
  font-size: 15px;
}
.tab-section .nav-tabs .nav-link.active{
  border:none;
  /*font-weight: 600;*/
  color:#468FB9;
  border-bottom: 3px solid #468FB9;
}
.tab-section .nav-tabs .nav-item {
  margin-bottom: 0;
}
.tab-section .nav-tabs {
  border-bottom: none;
  display: inline-block;
  box-shadow: 0 0 3px 2px rgba(204, 204, 204, 0.44);
  background-color: #fff;
}
.tab-section input{
  background: none;
}
.btn-icon{
  width: auto;
  min-width: inherit;
  padding: 0;
}
.btn-icon i{
  font-size: 18px;
}
.group-box .form-control{
  border: none;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 15px;  
}
.group-box {
  border-bottom: 1px solid #ccc;
  padding: 0;
}
/*label{
  text-transform: capitalize;
}*/
.detail-pg span {
  display: block;
  font-weight: 600;
  color: #73737B;
  font-size: 17px;
}
.detail-pg label{
  font-size: 15px;
  margin-bottom: 10px;
  /*text-transform: capitalize;*/
}
.detail-pg .form-group {
  margin-bottom: 1.6rem;
}
/****************end Resort **********/
.modal-content .white-bg{
  background: none !important;
  box-shadow: inherit
}
.modal-content{
  border-radius: 0;
}
.modal-content .Schedule-box{
  padding: 0;
}
.multiselect-dropdown .dropdown-btn{
  border-radius: 0 !important;
}
.modal-title {
  font-size: 20px !important;
}
.custom-modal{
  max-width: 680px;
}
.notification-modal{
  max-width: 590px;
}
.option-btn{
	border: 1px solid #468FB9;
    border-radius: 40px;
    padding: 0px 5px;    
    font-size: 10px;
    color: #909CA8;
    position: absolute;
    top: 11px;
    left: 4px;
}
.option-btn:hover{
background-color: #C1E1F3;
}
.modal-content .group-box .form-control{
  border: none;
}
/* pagination */
.my-pagination .ngx-pagination {
  margin-top:1.5em;
  padding-left:0;
  text-align: center;
}
.my-pagination .ngx-pagination li.current {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #828181;
    padding: 5px 12px;
    border-radius: 32px;
}
.my-pagination .current{
  background-color:#fff;
  border:1px solid #dcdcdc;
}
.my-pagination .ngx-pagination .pagination-previous a::before,
.my-pagination .ngx-pagination .pagination-previous.disabled::before,
.my-pagination .ngx-pagination .pagination-next a::after,
.my-pagination .ngx-pagination .pagination-next.disabled::after{
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #A2A9AB;
    font-size: 18px;
    font-family: FontAwesome;
    vertical-align:-1px;
}
.my-pagination .ngx-pagination .pagination-previous a::before,
.my-pagination .ngx-pagination .pagination-previous.disabled::before
{
  content: "\f0d9";  

}
.my-pagination .ngx-pagination .pagination-next a::after,
.my-pagination .ngx-pagination .pagination-next.disabled::after
{
  content: "\f0da";  
  margin-left:10px; 
}
.my-pagination li.pagination-previous,.my-pagination li.pagination-next {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 25px;
    padding:3px 12px;
}
.my-pagination .ngx-pagination li.current,
.my-pagination .ngx-pagination li.pagination-previous a,
.my-pagination .ngx-pagination li.pagination-next a{
  color:#A2A9AB;
}
.my-pagination .ngx-pagination li.pagination-previous a:hover,
.my-pagination .ngx-pagination li.pagination-next a:hover{
  background:none;
}
.my-pagination .ngx-pagination li {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right:10px;
}
.my-pagination .ngx-pagination li a {
    color: #abaaaa;
}
.my-pagination .ngx-pagination li.small-screen {
    display: none;
}
.my-pagination .ngx-pagination .pagination-next a,
.my-pagination .ngx-pagination .pagination-previous a{
  padding:0;
  text-decoration:none
}
.pagination-next a,.my-pagination a{
  outline: none;
  -webkit-appearance: none;
}
/* End Pagination */
.icon-list a{
  float:left;
}
.pencil-icon{
  background:url("assets/images/edit.png") no-repeat;
  width:19px;
  height:20px;
  display:block;
}
th.action-hd {
    width: 110px;
    display: block;
}

.header-section h4{
  font-size: 18px;
  color: #385E73;
  font-weight: 600;
}
.forum-create-form input{
  padding-left: 0 !important;
}
/* Breadcrumb */
.breadcrumb{
  background: none;
  padding:0;
}
.breadcrumb-item+.breadcrumb-item::before {
   content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:11px;
  color:#468FB9;
}
.breadcrumb-item a{
  color:#468FB9;
}
.breadcrumb-item a,.breadcrumb-item{
  font-size: 13px;
}
/* Breadcrumb */

/* Tooltip */
.tooltip.top .tooltip-inner,.tooltip.bottom .tooltip-inner,
.tooltip.right .tooltip-inner,.tooltip.left .tooltip-inner {
  background-color:#F4F4F5;
  border:1px solid #468fb9;
  color: #468FB9;
}
.tooltip.top .tooltip-arrow.arrow::before {
    border-top-color: #468FB9 !important;
}
/* Tooltip */

/* Switch Button */
.switch {
  position: relative;
    display: inline-block;
   
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    width: 34px;
    height: 14px;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider:before {
      background-color: #468FB9;
      left: -9px;
}
input:checked + .slider {
    background-color: #A1C6DB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    bottom: -2px;
    background-color: #F1F1F1;
    transition: .4s;
}
/* Switch Button */

th.action-hd {
  width: 110px;
  display: block;
}
p.text-nowrap{
  margin-bottom: 0;
}
.cross-icon{
  color: #999999;
}
.email-td label{
  text-transform: lowercase;
}
.mCSB_container{
  overflow: inherit;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width: 6px !important;
}
.text-content{
  font-size:15px;
  color: #73737B;
}
/*.capitalize{
  text-transform: capitalize;
}*/
.table td label{
  text-transform: inherit;
}
.dropdown-menu{
  padding: 0;
}
.dropdown-menu .dropdown-item{
  font-size: 14px;
  padding: 8px 0px;
}
.dropdown-divider{
  margin: 0;
}
.center-btn button.btn {
  float: none;
  }
 .common-pg-hd h4{
   font-size: 16px;
   font-weight: 600;
 }
 span.drop-icon {
  float: right;
}
.cal-disabled {
  background-color: #eee;
  pointer-events: none;
  /* opacity: 0.1; */
}
.cal-disabled .cal-day-number {
  opacity: 0.1;
} 
/************************************ Responsive Alignment ************************************/


@media (min-width: 1200px) {}
@media (min-width: 800px) and (max-width: 1280px) { 
  .tab-section .nav-link{
    padding: 8px 14px !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) { }
@media (min-width: 768px) and (max-width: 979px) { 
.did-line{
	text-align: center;
}
.mob-alg{
  margin-top: 10px;
}
/* .modal-content{
  width: 50%;
  margin: 0 auto;
} */
.setting-alg{
  width: 70% !important;
}
}
@media (max-width: 767px) { 
.did-line {
    display: contents;
    text-align: center;
}
.mob-alg{
  margin-top: 10px;
}
.module-title{
  padding-right: 10px;
}
/* .modal-content{
  width: 60%;
  margin: 0 auto;
} */
.setting-alg{
  width: 95% !important;
  text-align: center;
}
}
@media (max-width: 480px) { 
.did-line {
    display: contents;
    text-align: center;
}
.mob-alg{
  margin-top: 10px;
}
.module-title{
  padding-right: 10px;
}
.header-icon{
  text-align: center;
    padding-top: 15px;
    float: none !important;
    padding-left: 0;
}
 .emp-details{
  float: none !important;
  text-align: center;
  padding-bottom: 15px;
  margin: 0 !important;
}
.exportto-resp{
    float: none !important;
    text-align: center;
    margin: 0 !important;
}
/*.hd-alg{
  display: contents;
}*/
.video-hd{
  width: 65% !important;
}
.certificate-respon{
  float: none !important;
  /*margin-bottom: 7px;*/
  text-align: center;
}
/* .modal-content{
  width: 85%;
  margin: 0 auto;
} */
.adduser-respon{
  float: none !important;
  width: 70%;
  margin: 0 auto;
}
.setting-alg{
  width: 95% !important;
  text-align: center;
}
.header-border{
   position: static;
    width: 100%;
    display: block;
    border: unset;
}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}