<div class="tab-section pt-3">
    <form class="float-right row pb-3 filter-search" *ngIf="approvalForm">
        <div class="search-container clearfix">
            <!-- <input type="text" placeholder="Search Keyword.." name="search" [(ngModel)]="search" class="user-searchbox"> -->
            <button *ngIf="courseDetails.length" type="button" class="btn btn-primary" (click)="goToCourse()">Edit
                Course</button>
            <!-- <button type="button" (click)="resetSearch()" class="user-search-icon"><i class="fas fa-sync-alt search-icon"></i></button> -->
        </div>
    </form>

    <tabset #staticTabs class="course-tab" *ngIf="courseDetails.length">
        <tab *ngFor="let course of courseDetails;let i = index" [active]="i == tabIndex" heading={{course?.TrainingClass?.trainingClassName}}
            (select)="classTabSelect(i)">
            <!-- <div>{{course.trainingClassId}}</div> -->
            <div id="coss" class="col-md-12 p-3 mb-3 clearfix px-0" *ngIf="course?.TrainingClass && course?.TrainingClass?.FileMappings.length">
                <div class="white-bg p-3" dnd-sortable-container [sortableData]="course?.TrainingClass?.FileMappings">
                    <div class="file-title">Files</div>
                    <div class="dnd-bg p-3 clearfix" *ngFor="let file of course?.TrainingClass?.FileMappings;let fi = index"
                        dnd-sortable [sortableIndex]="fi">
                        <div class="row col-md-12">
                            <!-- <span class="text-over col-md-3 p-3">Training Class Name</span> -->
                            <span class="text-over col-md-6 p-3">File Name</span>
                        </div>
                        <div class="row col-md-12">
                            <span class="col-md-6 p-3 content-class">{{file?.File?.fileName}}</span>
                            <span class="col-md-6 p-3 content-class">
                                <a href="javascript:void(0);" class="atag-big" (click)="openFileContent(viewVideo,file?.File?.fileUrl)">View</a>
                            </span>
                        </div>
                        <div class="row col-md-12">
                            <span class="text-over col-md-3 p-3">Description</span>

                        </div>
                        <div class="row col-md-12">
                            <p class="pdl-50 p-3 content-class-desc">{{file?.File?.fileDescription}}</p>
                        </div>
                        <!-- <hr/> -->
                    </div>
                </div>
            </div>
            <!-- <div class="white-bg p-3">
          <div class="file-title">Files</div>
          <ul class="list-group col-md-12 pt-2" dnd-sortable-container [sortableData]="course?.TrainingClass?.FileMappings">
              <li  *ngFor="let file of course?.TrainingClass?.FileMappings; let fi = index" class="p-3" dnd-sortable [sortableIndex]="fi">
                  <div class="row col-md-12">
                      <span class="text-over col-md-6 p-3">File Name</span>
                    </div>
                    <div class="row col-md-12">
                      <span class="col-md-6 p-3 content-class">{{file?.File?.fileName}}</span>
                    </div>
                    <div class="row col-md-12">
                        <span class="text-over col-md-3 p-3">Description</span>
                    </div>
                    <div class="row col-md-12">
                      <span class="pdl-50 p-3 content-class">{{file?.File?.fileDescription}}</span>
                    </div>
                    <hr/>
              </li>
          </ul>
        </div> -->
            <div id="coss" class="col-md-12 p-3 mb-3 clearfix px-0" *ngIf="course?.TrainingClass?.QuizMappings .length">
                <div class="white-bg p-3 clearfix">
                    <div class="file-title">Quiz</div>
                    <div *ngFor="let quiz of course?.TrainingClass?.QuizMappings">
                        <div class="row col-md-12">
                            <span class="text-over col-md-3 p-3">Quiz Name</span>
                        </div>
                        <div class="row col-md-12">
                            <span class="col-md-6 p-3 content-class">{{quiz?.Quiz?.quizName}}</span>
                        </div>
                        <div dnd-sortable-container [sortableData]="quiz?.Quiz?.Questions">
                            <div class="dnd-bg p-3 clearfix" *ngFor="let que of quiz?.Quiz?.Questions;let qi =index"
                                dnd-sortable [sortableIndex]="qi">
                                <div class="row col-md-12">
                                    <span class="text-over col-md-12 p-3">Q{{qi+1}} : {{que.questionName}}</span>
                                </div>
                                <div class="row col-md-12">
                                    <span class="pdl-50 p-3 content-class">Ans : {{que.answer}}</span>
                                </div>
                                <!-- <hr/> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button *ngIf="course?.TrainingClass?.FileMappings.length" type="button" class="btn btn-primary" (click)="updateClass(course.trainingClassId,i)">
                {{(courseDetails.length === 1)?'Save':'Save & next'}}
            </button>
        </tab>
    </tabset>

    <div class="white-bg text-center p-4" *ngIf="!courseDetails.length">
        <p class="data-design m-0">
            <span class="nodata"><i class="far fa-frown nodata-img"></i> {{commonLabels.labels.noData}}</span>
        </p>
    </div>
</div>

<ng-template #viewVideo>
    <div class="modal-header pb-0">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <video controls class="video-play">
            <source src="{{uploadPath}}{{videoUrl}}" type="video/mp4" />
        </video>
    </div>
</ng-template>