.file-title{
    color: #468FB9
}

.pdl-50{
    padding-left: 50px;
}

.text-over{
    float: left;
    line-height: 1px;
    font-weight: 600;
    font-size: 16px;
}

.content-class{
    font-size: 12px;
    line-height: 1px;
    color: #697380;
}

.content-class-desc{
    font-size: 12px;
    /* line-height: 1px; */
    color: #697380;
}

.drop-and-drag-pdb {
    margin-bottom: 10px;
}

.dnd-bg{
    margin: 10px;
    background-color: #EDF0F8;

}
