<ion-content padding class="headerFull-bg default-header">
  <ion-header class="static-header main-header my-component" color="primary">
    <ion-navbar  *ngIf="!showSearchBar"> 
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.training}}</span>
        <div class="header-icon">
            <ion-icon name="ios-search" (click)="toggleSearchBox()" class="chat-icon"></ion-icon>
            <ion-icon name="ios-alert" (click)="goToFailedList()" class="chat-icon"></ion-icon>
            <ion-icon name="ios-chatboxes" (click)="goToForum()" class="chat-icon"></ion-icon>
            <span (click)="goToNotification()">
          <img src="assets/imgs/notification.png"/>
          <span class="dot-circle">{{notificationCount}}</span>
          </span>
        </div>
      </ion-title>
    </ion-navbar>
    <ion-toolbar *ngIf="showSearchBar">
      <ion-icon name="md-arrow-back" class="search-backarrow" (click)="toggleSearchBox()"></ion-icon>
      <ion-searchbar [(ngModel)]="search" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" class="search-bar">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <div class={{className}} *ngIf="showToastr">
    <div class="notify-inset">
      <h6>{{msgTitle}}</h6>
      <p>{{msgDes}}</p>
    </div>
  </div>

  <div class="main-content">
      <ion-list>

  <div class="tabs progress-tab  clearfix">
    <span class="tab-item" (click)="showData('assigned')" [ngClass]="!showAssigned ? 'assigned' : ''">
      {{constant.pages.trainingLabels.assignedLabel}}
    </span>
    <span class="tab-item" (click)="showData('inProgress')" [ngClass]="!showProgress ? 'inprogress' : ''">
      {{constant.pages.trainingLabels.progressLabel}}
    </span>
    <span class="tab-item" (click)="getSignRequired()" [ngClass]="!showSignRequire ? 'signRequire' : ''">
      {{constant.pages.trainingLabels.signRequired}}
    </span>
    <span class="tab-item" (click)="showData('completed')" [ngClass]="!showCompleted ? 'complete' : ''">
      {{constant.pages.trainingLabels.completedLabel}}
    </span>
  </div>


  <div class="tab-content clearfix" [hidden]="showAssigned">
    <ion-row *ngIf="assignedCount > 0">
      <ion-col col-12 col-sm-12 col-md-12 *ngFor="let task of courseList;let i=index;" class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row (click)="openTrainingClass(task.Course.courseId)">
              <ion-col col-2 col-sm-1 col-md-1 class="align-self-center">
                <img src="assets/imgs/profile_circle.png" class="forum-img">
              </ion-col>
              <ion-col col-4 col-sm-5 col-md-6 class="course-det">
                <h4 class="notify-title" (click)="openTrainingClass(task.Course.courseId)"> {{task.Course.courseName}}</h4>
                <p class="notify-txt">{{task.Course.CourseTrainingClassMaps.length}}
                  {{constant.pages.trainingLabels.trainingClass}}</p>
              </ion-col>
              <ion-col col-5 col-sm-5 col-md-4 class="arrow-icon">
                <div class="align-right" *ngIf="task.TrainingSchedule">
                  <span class="hour-status batch-date">Due On - {{task.TrainingSchedule.dueDate | date:'dd MMM yyyy'}}</span>
                  <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                    {{calculateExpireDays(task.TrainingSchedule.dueDate)}}</p>
                </div>
                <div class="align-right" *ngIf="task.NotificationFile">
                    <span class="hour-status batch-date">Due On - {{task.NotificationFile.dueDate | date:'dd MMM yyyy'}}</span>
                    <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                      {{calculateExpireDays(task.NotificationFile.dueDate)}}</p>
                  </div>
              </ion-col>
              <ion-col col-1 col-sm-1 col-md-1 class="middle-arw" >
                <ion-icon name="ios-arrow-forward" class="notify-arrow"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="assignedCount == 0">
        <ion-col class="main-forum">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row>
                <ion-col col-12 class="no-data">{{noRecordsFoundMessage}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
  </div>
  <div class="tab-content" [hidden]="showProgress">
    <ion-row *ngIf="assignedCount > 0">
      <ion-col col-12 col-sm-12 col-md-12 *ngFor="let task of courseList;let i=index;" class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row (click)="openTrainingClass(task.Course.courseId)">
              <ion-col col-2 col-sm-1 col-md-1 class="align-self-center">
                <img src="assets/imgs/profile_circle.png" class="forum-img">
              </ion-col>
              <ion-col col-4 col-sm-5 col-md-6 class="course-det">
                <h4 class="notify-title" (click)="openTrainingClass(task.Course.courseId)"> {{task.Course.courseName}}</h4>
                <p class="notify-txt">{{task.Course.CourseTrainingClassMaps.length}}
                  {{constant.pages.trainingLabels.trainingClass}}</p>
              </ion-col>
              <ion-col col-5 col-sm-5 col-md-4 class="arrow-icon">
                <div class="align-right" *ngIf="task.TrainingSchedule">
                  <span class="hour-status batch-date">Due On - {{task.TrainingSchedule.dueDate | date:'dd MMM yyyy'}}</span>
                  <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                    {{calculateExpireDays(task.TrainingSchedule.dueDate)}}</p>
                </div>
                <div class="align-right" *ngIf="task.NotificationFile">
                  <span class="hour-status batch-date">Due On - {{task.NotificationFile.dueDate | date:'dd MMM yyyy'}}</span>
                  <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                    {{calculateExpireDays(task.NotificationFile.dueDate)}}</p>
                </div>
              </ion-col>
              <ion-col col-1 col-sm-1 col-md-1 class="middle-arw" (click)="openTrainingClass(task.Course.courseId)">
                <ion-icon name="ios-arrow-forward" class="notify-arrow"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="assignedCount == 0">
        <ion-col class="main-forum">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row>
                <ion-col col-12 class="no-data">{{noRecordsFoundMessage}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
  </div>
  <div class="tab-content" [hidden]="showSignRequire">
    <ion-row *ngIf="signRequireCount > 0">
      <ion-col col-12 col-sm-12 col-md-12 *ngFor="let task of signRequireList;let i=index;" class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row (click)="openSignRequireDetail(task.File)">
              <ion-col col-2 col-sm-1 col-md-1 class="align-self-center">
                <img src="assets/imgs/profile_circle.png" class="forum-img">
              </ion-col>
              <ion-col col-4 col-sm-5 col-md-6 class="course-det">
                <h4 class="notify-title" (click)="openSignRequireDetail(task.File)"> {{task.File.fileName}}</h4>
              </ion-col>
              <ion-col col-5 col-sm-5 col-md-4 class="arrow-icon">
                <div class="align-right" *ngIf="task.dueDate">
                  <span class="hour-status batch-date">Due On - {{task.dueDate | date:'dd MMM yyyy'}}</span>
                  <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                  {{calculateExpireDays(task.dueDate)}}</p>
                </div>
              </ion-col>
              <ion-col col-1 col-sm-1 col-md-1 class="middle-arw" (click)="openSignRequireDetail(task.File)">
                <ion-icon name="ios-arrow-forward" class="notify-arrow"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="signRequireCount == 0">
        <ion-col class="main-forum">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row>
                <ion-col col-12 class="no-data">{{noRecordsFoundMessage}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
  </div>
  <div class="tab-content" [hidden]="showCompleted">
    <ion-row *ngIf="assignedCount > 0">
      <ion-col col-12 col-sm-12 col-md-12 *ngFor="let task of courseList;let i=index;" class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row (click)="openTrainingClass(task.Course.courseId)">
              <ion-col col-2 col-sm-1 col-md-1 class="align-self-center">
                <img src="assets/imgs/profile_circle.png" class="forum-img">
              </ion-col>
              <ion-col col-4 col-sm-5 col-md-6 class="course-det">
                <h4 class="notify-title" (click)="openTrainingClass(task.Course.courseId)"> {{task.Course.courseName}}</h4>
                <p class="notify-txt">{{task.Course.CourseTrainingClassMaps.length}}
                  {{constant.pages.trainingLabels.trainingClass}}</p>
              </ion-col>
              <ion-col col-5 col-sm-5 col-md-4 class="arrow-icon">
                <!-- <div class="align-right" *ngIf="task.TrainingSchedule.dueDate">
                  <span class="hour-status batch-date">Due On - {{task.TrainingSchedule.dueDate | date:'dd MMM yyyy'}}</span>
                  <p class="org-color alert-txt-style">{{constant.pages.trainingLabels.willExpire}}
                  {{calculateExpireDays(task.TrainingSchedule.dueDate)}}</p>
                </div> -->
              </ion-col>
              <ion-col col-1 col-sm-1 col-md-1 class="middle-arw" (click)="openTrainingClass(task.Course.courseId)">
                <ion-icon name="ios-arrow-forward" class="notify-arrow"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="assignedCount == 0">
      <ion-col class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="no-data">{{noRecordsFoundMessage}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-list>
  </div>
</ion-content>
<ion-footer class="fixed-btn">
    <button ion-button round class="add-question common-btn" (click)="openLaunchModal(launch)">
     {{constant.buttons.uploadContent}}
    </button>
 </ion-footer>


  <ng-template #launch>
      <div class="modal-body">
        <div class="Launch-alg">{{constant.pages.trainingLabels.launchMsg}}
        </div>       
      </div>
      <div class="quest-foot model-footer">
        <!-- <button ion-button small clear class="text-can" type="button"
          (click)="modalRef.hide()">{{constant.buttons.cancel}}</button> -->
        <button ion-button small clear class="text-add" type="submit"
          (click)="launchApp()">{{constant.buttons.ok}}</button>
      </div>
  </ng-template>
