
.table-checkbox-cont{
   position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
    line-height: 27px;
    font-size: 16px;
}
.table-checkbox-cont input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.table-checkmark {
   position: absolute;
   top: 4px;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
  /* border-radius: 15px;*/
}
.table-checkbox-cont input:checked ~ .table-checkmark {
   background-color: #468FB9;
   border: 1px solid #468FB9;
}
.table-checkmark:after {
   content: "";
   position: absolute;
   display: none;
}
.table-checkbox-cont input:checked ~ .table-checkmark:after {
   display: block;
}
.table-checkbox-cont .table-checkmark:after {
   left: 6px;
   top: 1px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}
.checkbox-padding{
   padding-left: 40px;
    padding-bottom: 28px;
}
.edit-padding{
   padding-left: 65px;
    padding-bottom: 28px;
}


.select-style {
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
 width: 160px;
}   
 .select-style select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
 }
     .select-style select::-ms-expand {
         display: none;
     }
    /* .select-style select:hover,
     .select-style select:focus {
         color: #000000;
         background: #cccccc;
     } */
     .select-style select:disabled {
         opacity: 0.5;
         pointer-events: none;
     }
.select_arrow {
 position: absolute;
 top: 16px;
 right: 20px;
 pointer-events: none;
 border-style: solid;
 border-width: 5px 4px 0px 4px;
 border-color: #7b7b7b transparent transparent transparent;
}
.select select-style:hover ~ .select_arrow,
.select select-style:focus ~ .select_arrow {
 border-top-color: #000000;
}
.select select-style:disabled ~ .select_arrow {
 border-top-color: #cccccc;
}
.select-style{
 float: right;
 clear: both;
 padding-bottom: 0px;
}

