<form #rolepermission="ngForm" (ngSubmit)="saveRolePermission(rolepermission)">
<div class="pt-5">
	<div class="white-bg pt-3 pl-3 pr-3">
		<div class="row pb-4">
			<div class="col-md-4 select select-style clearfix">
					<select [(ngModel)]="constant.resortId" name="resortId" class="form-control pl-0" (change)="getRolePermission()">
						<option value="">{{constant.labels.selectResort}}</option>
						<option *ngFor="let obj of constant.resortList" [value]="obj.resortId">{{obj.resortName}}</option>
					</select>
					<div class="select_arrow"></div>
					<span class="required_color" *ngIf="rolepermission.submitted && !constant.resortId">
						{{constant.mandatoryText.resort}}</span>
			</div>
			<div class="col-md-4 select select-style clearfix">
						<select [(ngModel)]="constant.divisionId" name="divisionId" class="form-control pl-0"  (change)="getRolePermission()">
							<option value="">{{constant.labels.selectDivision}}</option>
							<option *ngFor="let obj of constant.divisionList" [value]="obj.divisionId">{{obj.divisionName}}</option>
						</select>
						<div class="select_arrow"></div>
							<span class="required_color" *ngIf="rolepermission.submitted && !constant.divisionId">
								{{constant.mandatoryText.division}}</span>
			</div>
			<div class="col-md-4 select select-style clearfix">
					<select [(ngModel)]="constant.departmentId" name="departmentId" class="form-control pl-0"  (change)="getRolePermission()">
						<option value="">{{constant.labels.selectDepartment}}</option>
						<option *ngFor="let obj of constant.departmentList" [value]="obj.departmentId">{{obj.departmentName}}</option>
					</select>		
					<div class="select_arrow"></div>
						<span class="required_color" *ngIf="rolepermission.submitted && !constant.departmentId">
							{{constant.mandatoryText.department}}</span>
			</div>
		</div>
		<div class="row pb-3">
			<div class="col-md-4 select select-style clearfix">
				<select [(ngModel)]="constant.roleId" name="roleId" class="form-control pl-0"  (change)="getRolePermission()">
					<option value="">{{constant.labels.selectRoles}}</option>
					<option *ngFor="let obj of constant.roleList" [value]="obj.designationId">{{obj.designationName}}</option>
				</select>
				<div class="select_arrow"></div>
					<span class="required_color" *ngIf="rolepermission.submitted && !constant.roleId">
						{{constant.mandatoryText.roles}}</span>
			</div>
			<div class="col-md-6">
				<span>
					<label class="square-cont mr-5">
						<input type="checkbox" [(ngModel)]="constant.web" (change)="getRolePermission()" name="web"> {{constant.labels.web}}
						<span class="square-checkmark"></span>
					</label>
					<label class="square-cont">
						<input type="checkbox" [(ngModel)]="constant.mobile" (change)="getRolePermission()"  name="mobile"> {{constant.labels.mobile}}
						<span class="square-checkmark"></span>
					</label>
				</span>
			</div>
		</div>
	</div>
</div>

  <div class="table-responsive custom-table2 pt-1">
 	<table class="table table-striped white-bg mt-1">
 		<thead>
 		<tr class="th-boxshadow">
    <th class="pl-5">{{constant.labels.menu}}</th>
    <th class="text-center"><label class="table-checkbox-cont mb-0">
						<input type="checkbox"  [checked] = 'constant.selectAllView && constant.selectAllView.length ? true : false'  name="view" (change)="selectAll($event)"> {{constant.labels.view}}
						<span class="table-checkmark"></span>
					</label></th>
    <th class="text-center"><label class="table-checkbox-cont mb-0">
						<input type="checkbox"  [checked] = 'constant.selectAllUpload && constant.selectAllUpload.length ? true : false' name="upload"  (change)="selectAll($event)"> {{constant.labels.upload}}
						<span class="table-checkmark"></span>
					</label></th>
    <th class="text-center"><label class="table-checkbox-cont mb-0">
						<input type="checkbox"  [checked] = 'constant.selectAllEdit && constant.selectAllEdit.length ? true : false'  name="edit"  (change)="selectAll($event)"> {{constant.labels.edit}}
						<span class="table-checkmark"></span>
					</label></th>
  </tr>
	</thead>
	<tbody>
  <tr class="table-desc-color" *ngFor="let module of constant.modules;let i = index;">
    <td class="pl-5">{{module.moduleName}}</td>
    <td class="checkbox-padding"><label class="table-checkbox-cont">
						<input type="checkbox" [checked]="module.view" name="view" (change)="checkIfAllSelected($event,module.view,i)">
						<span class="table-checkmark"></span>
					</label></td>
    <td class="checkbox-padding"><label class="table-checkbox-cont">
						<input type="checkbox"  [checked]="module.upload"  name="upload"  (change)="checkIfAllSelected($event,module.upload,i)">
						<span class="table-checkmark"></span>
					</label></td>
    <td class="edit-padding"><label class="table-checkbox-cont">
						<input type="checkbox"  [checked]="module.edit"  name="edit"  (change)="checkIfAllSelected($event,module.edit,i)">
						<span class="table-checkmark"></span>
					</label></td>
	</tr>
	</tbody>
 	</table>
 </div> 

 <div class="float-right p-3">
            <button type="button" class="btn btn-default mr-3" (click)="clearForm(rolepermission)">{{constant.btns.cancel}}</button>
            <button type="submit" class="btn btn-primary">{{constant.btns.save}}</button>
        </div>

			</form>