page-landing {

	.landing-bg{
		background-image: url(../assets/imgs/loginbg.png);
		background-size: cover;

		.scroll-content{
			overflow-y: auto !important;
			background-color: transparent;
			.l-buttons .login-btn {
				width: 100%;font-size: 15px;padding: 30px 10px;font-family: 'sf_pro_displayregular';	
			}
			.l-buttons {
				vertical-align: bottom;width: calc(100vw - 0px);height: calc(100vh - 40px);display: table-cell;padding: 0 20px;
			}
		}
	}

}
