<!-- <div class="pt-2">   
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="goTocmsLibrary()">{{commonLabels.labels.cmsLibrary}}</a></li>
                <li class="breadcrumb-item active">{{commonLabels.btns.workinProgress}}</li>
            </ol>
        </nav>
    </div> -->
    
<div class="col-md-12 clearfix py-2 px-0">
    <h6 class=" count-alg">{{commonLabels.labels.availablecourse}}{{totalCourseCount}}</h6></div>
<div  *ngFor="let courses of courseListValue | paginate: {itemsPerPage: pageSize,currentPage: p,totalItems : totalCourseCount};let i = index">
    <div id="coss" class="col-md-12 mb-3 clearfix px-0">
        <div class="white-bg p-3 clearfix">
            <div class="clearfix">
                    <label class="square-cont float-left p-0">
                        <span class="text-over">{{courses.courseName}}</span>
                    </label>
                <span class="float-right">
                    <a *ngIf ="permissionCheck('Course')" title="Edit"><i class="fas fa-pencil-alt icons_header" aria-hidden="true" (click)="enableDropData('edit',i)"></i></a>                    
                    <a (click)="enableDropData('view',i)"><i *ngIf ="enableView && enableIndex === i" class="fa fa-angle-down icons_header pr-0" aria-hidden="true" title="Close"></i><i *ngIf ="!enableView || enableIndex !== i" class="fa fa-angle-right icons_header pr-0" aria-hidden="true" title="open"></i></a>
                </span>
            </div>
            <div class="row py-3" *ngIf="enableView && enableIndex === i">
                <div class="col-md-4 p-0">
                    <div class="form-group pl-0">
                        <label class="course-header">{{commonLabels.labels.createdBy}}</label>
                        <span class="form-control pl-0" placeholder="Creator name" *ngIf="courses.createdByDetails">{{courses.createdByDetails.userName  | titlecase}}</span> 
                    </div>              		
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="course-header">{{commonLabels.labels.createdOn}}</label>
                        <span class="form-control pl-0" placeholder="Date">{{courses.created | date : 'medium'}}</span> 
                    </div>              		
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="course-header">{{commonLabels.labels.lastModifiedOn}}</label>
                        <span class="form-control pl-0" placeholder="Date">{{courses.updated | date : 'medium'}}</span> 
                    </div>              		
                  </div>
            </div> 
            <div class="row pt-3 pb-2" *ngIf="enableView && enableIndex === i">
                <div class="col-md-3 p-0">
                    <div class="form-group pl-0 mb-0">
                        <label class="course-header">{{commonLabels.labels.noOfTrainingClass}}</label>
                        <span class="course-count" (click)="tabChange('training',courses.courseId,'','')">{{courses?.CourseTrainingClassMaps.length}}</span>
                    </div>              		
                </div>
                <div class="col-md-3">
                    <div class="form-group mb-0">
                        <label class="course-header">{{commonLabels.labels.noOfContentFiles}}</label>
                        <span class="course-count" routerLink="/files/{{courses.courseId}}">{{calculateContentFiles(courses.CourseTrainingClassMaps)}}</span> 
                    </div>              		
                </div>
            </div>
            </div>
        </div> 
    </div>
   <!--  <span *ngIf="courseListValue && !courseListValue.length">No Data </span> -->
    <div class="col-md-12 p-0">
  <div class="white-bg text-center p-4"  *ngIf="courseListValue && !courseListValue.length"><p class="data-design">
    <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></div>
</div>

<pagination-controls [ngClass]="totalCourseCount < 10 ? 'my-pagination pagenation-count-alg' : 'my-pagination'"  (pageChange)="pageChanged($event)"></pagination-controls>  
