<div class="row px-5 pt-4">
    <div class="col-md-6 pb-1"  *ngIf="permissionCheck('Course / Training Class / Quiz','edit') || permissionCheck('Course / Training Class / Quiz','view')">
        <div class="white-bg pb-3">
            <div class="course-color clearfix p-1"></div>
          <h5 class="text-center pt-1">{{urlType == 'edit' ? 'Edit Course' : commonLabels.labels.createNewCourse}}</h5>
          <div class="row pb-3">
            <div class="col-md-5 text-center"><img class="pt-4" src="assets/images/Group 11861.png"></div>
            <div class="col-md-7 para-alg course-para">
              <p class="mb-0 pt-3 txt-overflow">Start here to create a new course. You can then fill it with classes. Upon course completion a certificate will be awarded. Complete progress of each class is tracked and can be seen in the Reports menu</p>
              <!-- <p class="mb-0"></p>
              <p class="mb-0 txt-overflow"></p> -->
            </div>
          </div>
          <div class="col-md-12 text-center px-5">
              <button *ngIf="urlType == 'create'" class="btn btn-primary start-btn course-color" (click)="pageRedirection('create','course')">{{commonLabels.btns.start}}</button>
              <button *ngIf="urlType == 'edit'" class="btn btn-primary start-btn course-color" (click)="pageRedirection('edit','course')">{{commonLabels.btns.start}}</button>     </div>
        </div>
      </div>
  <div class="col-md-6 pb-1" *ngIf="permissionCheck('Course / Training Class / Quiz','edit') || permissionCheck('Course / Training Class / Quiz','view')">
      <div class="white-bg pb-3">
          <div class="class-color clearfix p-1"></div>
        <h5 class="text-center pt-1">{{urlType == 'edit' ? 'Edit Class' : commonLabels.labels.createNewClass }}</h5>
        <div class="row pb-3">
          <div class="col-md-5 text-center"><img class="pt-4" src="assets/images/Group 11863.png"></div>
          <div class="col-md-7 para-alg course-para">
            <p class="mb-0 pt-3 txt-overflow">Start here to create a new class. Classes are placed inside courses. You can place X classes in a course. You can work on the class and then add it to the single or multiple courses.</p>
            <!-- <p class="mb-0"></p>
            <p class="mb-0"></p> -->
          </div>
        </div>
        <div class="col-md-12 text-center px-5">
            <button *ngIf="urlType == 'create'" class="btn btn-primary start-btn class-color" (click)="pageRedirection('create','class')">{{commonLabels.btns.start}}</button>
            <button *ngIf="urlType == 'edit'"  class="btn btn-primary start-btn class-color" (click)="pageRedirection('edit','class')">{{commonLabels.btns.start}}</button>            
        </div>
      </div>
  </div>
  <div class="col-md-6 pt-4" *ngIf="permissionCheck('Course / Training Class / Quiz','edit') || permissionCheck('Course / Training Class / Quiz','view')" >
      <div class="white-bg pb-3">
          <div class="quiz-color clearfix p-1"></div>
        <h5 class="text-center pt-1">{{urlType == 'edit' ? 'Edit Quiz' : commonLabels.labels.createNewQuiz}}</h5>
        <div class="row pb-3">
          <div class="col-md-5 text-center"><img class="pt-3" src="assets/images/Group 11862.png"></div>
          <div class="col-md-7 para-alg course-para quiz-para">
            <p class="mb-0 pt-3 txt-overflow">Start here to create a new quiz. It is to test a user's understanding on the course that was assigned to him. Based on the scoring, system will determine the pass or fall percentage.</p>
            <!-- <p class="mb-0"></p> -->
          </div>
        </div>
        <div class="col-md-12 text-center px-5">
            <button *ngIf="urlType == 'create'" class="btn btn-primary start-btn quiz-color" (click)="pageRedirection('create','quiz')">{{commonLabels.btns.start}}</button>
            <button *ngIf="urlType == 'edit'" class="btn btn-primary start-btn quiz-color" (click)="pageRedirection('edit','quiz')">{{commonLabels.btns.start}}</button>         
        </div>
      </div>
  </div>
  <div class="col-md-6 pt-4" *ngIf="permissionCheck('Notification', 'edit') || permissionCheck('Notification', 'view')">
    <div class="white-bg pb-3">
        <div class="Notification-color clearfix p-1"></div>
      <h5 class="text-center pt-1">{{urlType == 'edit' ? 'Edit Notification' : commonLabels.labels.createNewNotif}}</h5>
      <div class="row pb-3">
        <div class="col-md-5 text-center"><img class="pt-4" src="assets/images/Group 11860.png"></div>
        <div class="col-md-7 para-alg course-para">
          <p class="mb-0 pt-3 txt-overflow">Start here to create a new notification. You can notify employees on important announcements 
            and also receive their acknowledgement on the same.</p>
          </div>
      </div>
      <div class="col-md-12 text-center px-5">
          <button *ngIf="urlType == 'create'" class="btn btn-primary start-btn Notification-color" (click)="pageRedirection('create','notification')">{{commonLabels.btns.start}}</button>
          <button *ngIf="urlType == 'edit'" class="btn btn-primary start-btn Notification-color" (click)="pageRedirection('edit','notification')">{{commonLabels.btns.start}}</button>        </div>
    </div>
  </div>
</div>
  
  