.para-alg{
    color: #468FB9;
    font-size: 13px;
    font-weight: 600;
    height: 155px;
}
.quiz-para, .course-para{
    height: 155px;
}
.start-btn{
    width: 50%;
    float: none;
}
.class-color{
    background-color: #0491BD !important;
    border-color: #0491BD !important;
}
.quiz-color{
    background-color: #34CB6D !important;
    border-color: #34CB6D !important;
}

.course-color{
    background-color: #F1C400 !important;
    border-color: #F1C400 !important;
}
.Notification-color{
    background-color: #8B62CC !important;
    border-color: #8B62CC !important;
}

.course-para {
 /* -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis; */
}
@media screen and ( min-width:767px) and (max-width:1360px){
 /*mixin for multiline */
 /* styles for '...' */ 
.course-para p{
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height:152px; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.course-para p:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

    /* hide ... if we have text, which is less than r equal to max lines */

.course-para p:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

}
@media screen and (max-width:910px) and (min-width:770px){
.course-para{ padding:0 1rem;}
.white-bg .text-center img{ max-width: 100%;}

}