<div class="row px-5">
    <div class="col-md-6">
        <div class="white-bg py-3">
          <h5 class="text-center">Create New Class</h5>
          <div class="row py-3">
            <div class="col-md-5 text-center"><img class="pt-2" src="assets/images/Creat_new_class.png"></div>
            <div class="col-md-7 para-alg">
              <p>Start here to create a new class. Classes are placed inside courses.</p>
              <p>You can place X classes in a course.</p>
              <p>You can work on the class and then add it to the single or multiple courses.</p>
            </div>
          </div>
          <div class="col-md-12 text-center px-5">
              <button class="btn btn-primary start-btn" (click)="pageRedirection('create','course')">Start</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="white-bg py-3">
            <h5 class="text-center">Create New Quiz</h5>
            <div class="row py-3">
              <div class="col-md-5 text-center"><img class="pt-2" src="assets/images/Creat_new_Quiz.png"></div>
              <div class="col-md-7 para-alg">
                <p>Start here to create a new quiz. It is to test a user's understanding on the course that was assigned to him.</p>
                <p>Based on the scoring, system will determine the pass or fall percentage.</p>
              </div>
            </div>
            <div class="col-md-12 text-center px-5">
                <button class="btn btn-primary start-btn" (click)="pageRedirection('create','quiz')">Start</button>
            </div>
          </div>
        </div>
      </div>
<div class="row px-5 pt-4">
  <div class="col-md-6">
    <div class="white-bg py-3">
      <h5 class="text-center">Create New Course</h5>
      <div class="row py-3">
        <div class="col-md-5 text-center"><img class="pt-2" src="assets/images/Creat_new_course.png"></div>
        <div class="col-md-7 para-alg">
          <p>Start here to create a new course. You can then fill it with classes.</p>
          <p>Upon course completion a certificate will be awarded.</p>
          <p>Complete progress of each class is tracked and can br seen in the Reports menu</p>
        </div>
      </div>
      <div class="col-md-12 text-center px-5">
          <button class="btn btn-primary start-btn" (click)="pageRedirection('create','course')">Start</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="white-bg py-3">
      <h5 class="text-center">Create New Notification</h5>
      <div class="row py-3">
        <div class="col-md-5 text-center"><img class="" src="assets/images/Creat_new_notification.png"></div>
        <div class="col-md-7 para-alg">
          <p>Start here to create a new notification. You can notify employees on important announcements 
            and also receive their acknowledgement on the same.</p>
          </div>
      </div>
      <div class="col-md-12 text-center px-5">
          <button class="btn btn-primary start-btn" (click)="pageRedirection('create','notification')">Start</button>
      </div>
    </div>
  </div>
  </div>
  