.para-alg{
    color: #468FB9;
    font-size: 14px;
    font-weight: 600;
    height: 190px;
}
.quiz-para, .course-para{
    height: 205px;
}
.start-btn{
    width: 50%;
    float: none;
}
.class-header-color{
    background-color: #0491BD;
}
.quiz-header-color{
    background-color: #34CB6D;
}
.course-header-color{
    background-color: #F1C400;
}
.Notification-header-color{
    background-color: #8B62CC;
}

