<div class="row">
    <div class="col-sm-12 pb-10 pl-0">
        <button type = "button" class="btn btn-primary mr-3 float-right" (click)="openEditModal(notification)">{{moduleVar.labels.createNotification}}</button>
        <button type = "button" class="btn btn-primary mr-3 float-right" [routerLink]="['../module']">{{moduleVar.labels.createCourse}}</button>
        <button type = "button" class="btn btn-primary mr-3 float-right" (click)="openEditModal(editBatch)">{{moduleVar.labels.scheduleTraining}}</button>
    </div>
    <div class="col-lg-12 col-sm-12 pl-0">                
        <div class="table-responsive white-bg px-3">
            <table class="table" [mfData]="moduleVar.courseListPage" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                    <tr class="th-boxshadow"  class="">
                        <th class="text-center">
                            <mfDefaultSorter by="courseName">{{moduleVar.labels.courseName}}</mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter>{{moduleVar.labels.topicName}}</mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter>{{moduleVar.labels.trainingClass}}</mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter>{{moduleVar.labels.contentFiles}}</mfDefaultSorter>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of mf.data" class="table-desc-color">
                            <td class="text-center"><a href="javascript:void" (click)="courseDetails(course.courseId)">{{ course.courseName }}</a></td>
                            <td class="text-center">{{ course.topicName }}</td>
                            <td class="text-center">{{ course.trainingClass }}</td>
                            <td class="text-center">{{ course.contentFiles }}</td>
                        </tr>
                    <!-- <tr *ngIf="mf.data?.length == 0">
                        <td colspan="5" class="text-center data-design">{{forumVar.createForum.noData}}</td>
                    </tr> -->
                    </tbody>
                </table>
        </div>
    </div>
    <ng-template #editBatch>  
        <div class="modal-header"> 
            <h4 class="modal-title pull-left">Add New Training Schedule</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="moduleVar.modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <app-add-batch (someEvent)="moduleVar.modalRef.hide()"></app-add-batch>
    </ng-template> 
    <ng-template #notification>  
        <div class="modal-header"> 
            <h4 class="modal-title pull-left">Create Notification</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="moduleVar.modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            <p class="text-center">Is this a general notification?</p>
        </div>
        <div class="row p-4">
            <span class="col-md-6"><button type="button" class="btn btn-primary"  (click)="notificationType(createNotification,'yes')">YES</button></span>
            <span class="col-md-6"><button type="button" class="btn btn-default" (click)="notificationType(createNotification,'no')">NO</button></span>                
        </div> 
    </ng-template> 
    <ng-template #createNotification> 
        <div class="modal-header"> 
            <h4 class="modal-title pull-left">Notification Upload</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="moduleVar.modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <app-add-notification notificationType="{{notificationValue}}" (someEvent)="moduleVar.modalRef.hide()"></app-add-notification>
    </ng-template>
</div>