<div class="pt-4">
    <div class="col-sm-12 pb-3 p-0 clearfix">
        <button type = "button" class="btn btn-primary float-right" >Available Plan</button>
    </div>
  <div class="col-12 col-md-12 white-bg ptb-4"> 
    <!-- Subscription Form page -->
      <form>
      <div class="top-section">      
          <div class="row mb-2">
              
                  <div class="row col-md-6 mb-4">
                      <label class="col-6 col-md-4 label-title pl-0">Subcription Name</label>
                      <input class="col-6 col-md-8 form-control" type="text" name="resortName">
                      <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortVar.resortName">{{resortVar.labels.resortName}}{{resortVar.labels.isRequired}} </span>
                  </div>
                  <div class="row col-md-6 mb-4">
                      <label class="col-6 col-md-4 label-title pl-0">Total Storage Space</label>
                      <input class="col-6 col-md-8 form-control" type="email" name="email" >
                      <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortVar.email"> </span>
                  </div>
              
             
                <div class="row mb-4 col-md-6">
                    <label class="col-6 col-md-4 label-title  pl-0">Allocated Space</label>
                    <input class="col-6 col-md-8 form-control" type="text" name="resortName">
                    <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortVar.resortName">{{resortVar.labels.resortName}}{{resortVar.labels.isRequired}} </span>
              </div>
                <div class="row mb-4 col-md-6 ">
                    <label class="col-6 col-md-4 label-title pl-0">Available Space</label>
                    <input class="col-6 col-md-8 form-control" type="email" name="email" >
                    <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortVar.email"> </span>
                </div>
            
             
                  <div class="row mb-4 col-md-6">
                      <label class="col-6 col-md-4 label-title pl-0">Course</label>
                      <input class="col-6 col-md-8 form-control" type="text" name="location" >
                      <span class="col-6 col-md-4"></span><span class="col-6 col-md-8 required_color mt-0" *ngIf="submitted && !resortVar.location"> </span>
                  </div>
                  <div class="row mb-4 col-md-6">
                      <label class="col-6 col-md-4 label-title pl-0">Tenure</label>                      
                      <select class="col-md-8 select-form form-control">
                        <option>Month</option>
                        <option>Year</option>
                    </select> 
                  </div>
             
                  
          </div>
      </div>  

      
      <div _ngcontent-c16="" class="text-center pt-5 mb-4"><button _ngcontent-c16="" class="btn btn-default mr-3" type="button" (click)="back()">Cancel</button>
        <button _ngcontent-c16="" class="btn btn-primary creat-btn" type="submit">save</button>
    </div> 
  
      </form> 
<!-- End Subscription Form page -->

<!-- Subscription Detail page -->


      <div class="detail-pg">
        <form>
        <div class="row col-md-6">
          <div class="col-md-6 form-group">
            <label class="label-title">Subscription Name</label>
            <span>Green</span>
          </div>
          <div class="col-md-6 form-group">
            <label class="label-title">Total Storage Space</label>
            <span>100 MB</span>
          </div>
          <div class="col-md-6 form-group">
            <label class="label-title">Allocated Space</label>
            <span>50 MB</span>
          </div>
          <div class="col-md-6 form-group">
            <label class="label-title">Available Space</label>
            <span>50 MB</span>
          </div>
          <div class="col-md-6 form-group">
            <label class="label-title">Active From</label>
            <span>31 Dec 2018</span>
          </div>
          <div class="col-md-6 form-group">
            <label class="label-title">Expire On</label>
            <span>30 May 2019</span>
          </div>
        </div>
        <div _ngcontent-c16="" class="text-center pt-5 mb-4">
          <button _ngcontent-c16="" class="btn btn-primary creat-btn" type="submit">RENEW PLAN</button>
      </div> 
      </form>
      </div>

<!-- End Subscription Detail page -->


  </div>
</div>