<ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader>
<div class="pr-3">
	<div class="white-bg pt-5">
		<form #quizForm="ngForm" (ngSubmit)="quizSubmit(quizForm)" novalidate>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group  row">
						<label for="" class="col-sm-4 custm-label col-form-label">{{constant.quizLabels.assignTo}}</label>
						<div class="col-sm-8">
							<select class="form-control" placeholder="Select Course" name="courseName" [(ngModel)]="selectedCourse"
							 #CourseName="ngModel" required>
								<option [ngValue]='null'>{{constant.quizLabels.course}}</option>
								<option *ngFor="let option of courseOptions" [ngValue]="option.value">{{option.name}}</option>
							</select>
							<span class="required_color" *ngIf="CourseName && CourseName.invalid && (quizForm.submitted || CourseName.touched)">
								{{constant.mandatoryLabels.courseName}}
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group  row">
						<label for="" class="col-sm-4 custm-label col-form-label">{{constant.quizLabels.assignTo}}</label>
						<div class="col-sm-8">
							<select class="form-control" placeholder="Select Video" name="videoName" [(ngModel)]="selectedVideo" #VideoName="ngModel"
							 required>
								<option [ngValue]='null'>{{constant.quizLabels.video}}</option>
								<option *ngFor="let option of videoOptions" [ngValue]="option.value">{{option.name}}</option>
							</select>
							<span class="required_color" *ngIf="VideoName && VideoName.invalid && (quizForm.submitted || VideoName.touched)">
								{{constant.mandatoryLabels.videoName}}
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<i class="fa fa-plus float-right" aria-hidden="true" (click)="addQuestionForm()"></i>
				</div>
			</div>
			<div class="row" *ngFor="let data of quizQuestionsForm;let i = index;">
				<div class="col-sm-4">
					<div class="form-group  row">
						<label for="" class="col-sm-4 custm-label col-form-label">{{constant.quizLabels.questionType}}</label>
						<div class="col-sm-8">
							<select class="form-control" placeholder="Select" name="QuestionType{{i}}" [(ngModel)]="data.QuestionType" (change)="questionTypeUpdate(data.QuestionType,i)"
							 #QuestionTypeVal="ngModel" [ngModelOptions]="{ standalone : true }" required>
								<option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
							</select>
							<span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
								{{constant.quizLabels.questionType}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group  row">
						<label for="" class="col-sm-2 custm-label col-form-label">{{constant.quizLabels.question}} {{i+1}}</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Enter Question" name="Question{{i}}" [(ngModel)]="data.Question"
							 #QuestionVal="ngModel" required>
							<span class="required_color" *ngIf="QuestionVal && QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
								{{constant.quizLabels.question}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
							</span>
						</div>
					</div>
					<div class="form-group row">
						<label for="" class="col-sm-2 custm-label col-form-label">{{constant.quizLabels.options}}</label>
						<div class="col-sm-10">
							<div class="row" *ngIf="data.QuestionType === '1' && data.Options && data.Options.length">
								<span class="col-sm-3 pl-0" *ngFor=" let optionValue of data.Options; let oi = index;">
									<span class="option-btn">{{oi + 1}}</span>&nbsp;
									<input type="text" class="form-control" placeholder="Options" name="{{optionValue.Value}}" [(ngModel)]="optionValue.Value" [ngModelOptions]="{ standalone : true }">
								</span>
							</div>
							<div class="row" *ngIf="data.QuestionType === '2'">
								<span class="col-sm-3 pl-0">
									<label class="radio-inline">
										<input type="radio" name="options" [value]="1"> {{constant.quizLabels.true}}
									</label>&nbsp;
									<label class="radio-inline">
										<input type="radio" name="options" [value]="0"> {{constant.quizLabels.false}}
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="" class="col-sm-2 custm-label col-form-label">{{constant.quizLabels.weightage}}</label>
						<div class="col-sm-9">
							<div class="row">
								<span class="col-sm-3 pl-0">
									<input type="text" class="form-control" placeholder="Enter Weightage" name="Weightage" value="{{weightage}}%"
									 #WeightageVal="ngModel" [(ngModel)]="data.Weightage" required>
								</span>
								<span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
									{{constant.quizLabels.weightage}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
								</span>
							</div>
						</div>
					</div>
					<span><a class="btn btn-link float-right" (click)="removeQuestionForm(i)"><i class="fa fa-times"></i></a></span>
				</div>

			</div>
			<div class="col-sm-12 clearfix pb-4">
				<button type="submit" class="btn btn-primary" [disabled]="!quizForm.form.valid">{{constant.btns.saveBtn}}</button>
			</div>
		</form>
	</div>