<div class="forum-detail pt-3">
  <div class="row">
  <!-- <div class="col-md-6">
       <div class="topic-box-section">
         <div class="topic-wrap white-bg">
            <div class="topic-wrap-top clearfix p-3">
                <a class="topic-img-wrap">
                  <span class="topic-thumb">
                    <img src="{{commonLabels.imgs.user1}}">
                  </span>
                  </a>
                  <div class="topic-wrap-rt pl-3">
                      <div class="topic-into clearfix">
                        <h5 class="hd-tit float-left">David James</h5>
                        <span class="float-right"><a href="#"><i class="fas fa-times"></i></a></span>
                      </div>
                      <small class="topic-time">1 day ago , 36 Replies</small> 
                      <h6 class="topic-name mt-3"><a href="#">What are the safety instruction ?</a></h6>
                  </div>              
            </div>
            <div class="topic-foot clearfix p-3">
                <span class="topic-votes float-left">
                  <strong>560</strong>
                  <small>{{commonLabels.labels.votes}}</small>
                </span>
                <span class="topic-ans float-right">
                  <strong>630</strong>
                  <a href="#"> {{commonLabels.labels.answer}}</a>
                </span>
            </div>
          </div>
          <div class="tp-ry-content">
            <div class="tp-ry-section grey-bg">
                <div class="topic-wrap-top clearfix p-3">
                    <a class="topic-img-wrap">
                      <span class="small-topic-thumb">
                        <img src="{{commonLabels.imgs.user2}}">
                      </span>
                      </a>
                      <div class="topic-wrap-rt pl-3">
                          <div class="topic-into clearfix">
                            <h5 class="hd-tit float-left">David James</h5>
                            <span class="float-right">
                              <a href="#"><i class="fas fa-trash header-icon"></i></a>
                              <a href="#"><i class="fas fa-ellipsis-v header-icon"></i></a></span>
                          </div>
                          <small class="topic-time">1 day ago , 36 Replies</small> 
                          <p class="reply-content">Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>              
                </div>
            </div>
            <div class="tp-ry-section grey-bg">
                <div class="topic-wrap-top clearfix p-3">
                    <a class="topic-img-wrap">
                      <span class="small-topic-thumb">
                        <img src="{{commonLabels.imgs.user2}}">
                      </span>
                      </a>
                      <div class="topic-wrap-rt pl-3">
                          <div class="topic-into clearfix">
                            <h5 class="hd-tit float-left">David James</h5>
                            <span class="float-right"> <a href="#"><i class="fas fa-trash header-icon"></i></a>
                              <a href="#"><i class="fas fa-ellipsis-v header-icon"></i></a></span>
                          </div>
                          <small class="topic-time">1 day ago , 36 Replies</small> 
                          <p class="reply-content">Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                      </div>              
                </div>
            </div>
            <div class="topic-foot clearfix p-3">
                <span class="topic-votes float-left">
                  <strong>560</strong>
                  <small>{{commonLabels.labels.votes}}</small>
                </span>
                <span class="topic-ans float-right">
                  <strong>630</strong>
                  <a href="#"> {{commonLabels.labels.answer}}</a>
                </span>
            </div>
          </div>
       </div> 
  </div> -->
  <div class="col-md-6">
      <div class="topic-box-section pb-4" *ngFor="let posts of postList; let i=index">
          <div class="topic-wrap white-bg">
             <div class="topic-wrap-top clearfix p-3">
                 <a class="topic-img-wrap">
                   <span class="topic-thumb">
                    <img src="{{commonLabels.imgs.user1}}">
                   </span>
                   </a>
                   <div class="topic-wrap-rt pl-3">
                       <div class="topic-into clearfix">
                         <h5 class="hd-tit float-left">{{posts.User.userName}}</h5>
                         <span class="float-right"><a href="#"><i class="fas fa-times"></i></a></span>
                       </div>
                       <small class="topic-time">{{posts.createdDate | date}}</small> 
                       <h6 class="topic-name mt-3"><a href="#">{{posts.description}}</a></h6>
                   </div>              
             </div>
             <div class="topic-foot clearfix p-3">
                 <span class="topic-votes float-left">
                   <strong>{{posts.votesCount}}</strong>
                   <small>{{commonLabels.labels.votes}}</small>
                 </span>
                 <span class="topic-ans float-right">
                   <strong>{{posts.Comments.length}}</strong>
                   <a (click)="viewComment[i] = !viewComment[i]"> Answers</a>
                 </span>
             </div>
           </div>
           <div class="tp-ry-section grey-bg" *ngIf="viewComment[i]">
             <div *ngIf="posts.Comments?.length == 0">No data found</div>
              <div class="topic-wrap-top clearfix p-3" *ngFor="let comments of posts.Comments">
                  <a class="topic-img-wrap">
                    <span class="small-topic-thumb">
                      <img src="{{commonLabels.imgs.user2}}">
                    </span>
                    </a>
                    <div class="topic-wrap-rt pl-3">
                        <div class="topic-into clearfix">
                          <h5 class="hd-tit float-left">{{comments.User.userName}}</h5>
                          <span class="float-right">
                            <a href="#"><i class="fas fa-trash header-icon"></i></a>
                            <a href="#"><i class="fas fa-ellipsis-v header-icon"></i></a></span>
                        </div>
                        <small class="topic-time">{{comments.created | date}}</small> 
                        <p class="reply-content">{{comments.description}}</p>
                    </div>              
              </div>
          </div>
        </div> 
  </div>
</div>
<!-- <div class="col-md-12 p-0" *ngIf="postList?.length == 0">
  <div class="white-bg p-4"><label class="text-center mb-0 nodata">{{forumVar.createForum.noData}}</label></div>
</div> -->
<div class="col-md-12 p-0">
              <div class="text-center p-4"  *ngIf="postList?.length == 0">
                <p class="data-design"><span class="nodata">{{commonLabels.labels.noData}}<i class="far fa-frown nodata-img"></i></span></p>
              </div>
            </div>
<div class="text-center pt-5 mb-4">    
    <button type="submit" class="btn btn-primary creat-btn" routerLink="/forum">{{commonLabels.btns.back}}</button>
</div>
</div>
