.table td {
    border-bottom: 1px solid #C5C5C5;
}
.creat-btn{
	float: none;
}

.forumname-width{
 width: 120px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 display: block;
}
.img {
    height: 75px;
    width: 75px;
}
tbody > tr:last-child > td {
  border-bottom: 0;
}
.forum-title{
  color: #576271;
}
.success-message{
  color:#1fbb21;
  text-align:left 
}
.error-message{
   color:#f44336;
   text-align:left 
}
.modal-title {
   font-size: 20px !important;
}
/* .lt-dt-act span{
  width:200px;
  display: block;
} */
.table th a{
  padding: 0;
}
.txt-unline a{
  text-decoration: underline;
  color: #468FB9;
}
.pinned-icon{
  transform: rotate(-40deg) !important;
  color: #468FB9 !important;
}
.unpinned-icon{
  transform: rotate(-40deg) !important;
  color: #CCCCCC !important;
}
.export-btn .dropdown-menu.show{
    min-width: 107px !important;
}
.export-btn .dropdown-menu .dropdown-item:active{
  background-color: #a1c6db38 !important;
}
.export-btn .dropdown-toggle::after{
  margin-left: 10px !important;
}
.export-btn .dropdown .show>.btn-primary.dropdown-toggle{
    background-color: #468FB9 !important; 
    border-color: #468FB9 !important;
}