<!-- <div class="col-md-12 py-3 clearfix">
    <div class="btn-group pull-right" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">Export To</button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu upload-btn" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item pl-2" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a></li>
            <li role="menuitem"><a class="dropdown-item pl-2" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a></li>
        </ul>
    </div>
</div> -->
<div class="col-md-12 p-0 clearfix">
<div class="dropdown btn-group pull-right export-btn">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{commonLabels.btns.exportTo}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item pl-3" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a>
      <a class="dropdown-item pl-3" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a>
    </div>
  </div>
</div>
    <!-- <div class="py-3">
      <select>
        <option>{{commonLabels.btns.exportTo}}</option>
        <option (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</option>
        <option (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</option>
      </select>
    </div> -->

<div class="row pt-3">
        <div class="col-lg-9 col-sm-12 pl-0">                
            <div class="table-responsive white-bg px-2" id="forumList">
                <table class="table" [mfData]="forumVar.forumList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                        <tr class="th-boxshadow"  class="">                         
                            <th class="text-left">
                                <mfDefaultSorter by="forumName">{{commonLabels.labels.forumName}}</mfDefaultSorter>
                            </th>
                            <th class="text-left">
                                <span><mfDefaultSorter by="employeeId">{{commonLabels.labels.empCount}}</mfDefaultSorter></span>
                            </th>
                            <th class="text-left lt-dt-act">
                                <span><mfDefaultSorter>{{commonLabels.labels.lastactivedate}}</mfDefaultSorter></span>
                            </th>
                            <th class="text-left">
                                <span><mfDefaultSorter by="activeStatus">{{commonLabels.labels.activeInActive}}</mfDefaultSorter></span>
                            </th>
                            <th class="text-center action-hd">
                                <mfDefaultSorter>{{commonLabels.labels.action}}</mfDefaultSorter>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            
                        <tr *ngFor="let forum of forumVar.forumList | paginate: {itemsPerPage: pageSize,currentPage: currentPage,totalItems : totalCount};let i = index" class="table-desc-color">
                                <td class="text-left txt-unline"><a routerLink="/forumdetail/{{forum.forumId}}" class="forumname-width">{{ forum.forumName }}</a></td>
                                <td class="text-left">{{ forum.employeesCount }}</td>
                                <td class="lt-dt-act text-left"><span>{{forum?.updated |date}}</span></td>
                                <td class="text-left" ><label class="switch" *ngIf="hideStatus">
                                        <input type="checkbox" [checked]="forum.isActive" (change)= "isActive(forum.forumId, forum.isActive)" > 
                                        <span class="slider round"></span>
                                    </label>
                                    <label *ngIf="!hideStatus">{{forum.isActive ? 'Active' : 'Inactive'}}</label>
                                </td>
                                    <td class="text-center">
                                        <a (click)="openEditModal(editForum,forum)" title="Edit"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                                        <a (click)="deleteConfirmation(deleteForum, forum.forumId)"  title="Delete"><i class="fa fa-trash"></i></a>
                                        <a (click)="isPinned(forum.forumId, forum.isPinned)" title="Hook" ><i class="fas fa-thumbtack" [ngClass]="forum.isPinned ? 'pinned-icon':'unpinned-icon'"></i></a>
                                    </td> 
                        </tr>
                        <tr *ngIf="forumVar.forumList?.length == 0">
                            <td colspan="5"> <p class="text-center data-design p-5"><span class="nodata">
                                <i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    
        <div class="col-sm-12 col-lg-3 p-0 fs-12 mob-alg">
                <app-createForum></app-createForum>
        </div>
    
    </div>

    
    
    

  <ng-template #editForum>
        <div class="modal-header"> 
                <h4 class="hd-alg mb-0">{{commonLabels.labels.editForum}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModel()" >
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body pt-0">
        <app-createForum [closeModal]="forumVar.modalRef"></app-createForum>
        </div>
</ng-template> 

<ng-template #deleteForum>
        <div class="modal-header pb-0">
            <p class="hd-alg">{{forumVar.deleteForum}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="forumVar.modalRef.hide()" title="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <span class="text-content">{{forumVar.forumDelConfirmation}}</span>
            <div class="text-center mt-4">
                <button (click)="removeForum()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
                <button type="button" class="btn btn-default"
                    (click)="forumVar.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
            </div>
        </div>
    </ng-template>
