.table td {
    border-bottom: 1px solid #C5C5C5;
}
.creat-btn{
	float: none;
}

.forumname-width{width: 218px;}
.img {
    height: 75px;
    width: 75px;
}
tbody > tr:last-child > td {
  border-bottom: 0;
}
.forum-title{
  color: #576271;
}
.success-message{
  color:#1fbb21;
  text-align:left 
}
.error-message{
   color:#f44336;
   text-align:left 
}
.modal-title {
   font-size: 20px !important;
}
/* .lt-dt-act span{
  width:200px;
  display: block;
} */
.table th a{
  padding: 0;
}
.pinned-icon{
  transform: rotate(-40deg);
}