<div class="col-md-12 clearfix py-3 px-0">
    <button class="btn btn-primary creat-btn float-left" *ngIf="!uploadPage" type="submit" (click)="openAddVideosToCourse()">{{commonLabels.btns.addvideocourse}}</button>
    <h6 class="pt-2 count-alg">{{commonLabels.labels.count}}{{totalVideosCount}}</h6>
</div>

<div class="col-md-12 pt-2 clearfix px-0" *ngIf="addVideosToCourse">
    <div class="white-bg p-4 clearfix">
        <div class="clearfix">
            <p class="dup-hd">{{commonLabels.btns.assign}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="openAddVideosToCourse()" title="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="px-5 py-3">
            <div class="row">
                <div class="col-md-6 mb-3 select select-style clearfix">
                    <select name="courseId" class="form-control pl-0" [(ngModel)]="selectedCourse" (change)="courseChange()" >
                        <option value="">{{commonLabels.labels.selectcourse}}</option>
                        <option *ngFor="let course of courseList" [value]="course.courseId">{{course.courseName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color" *ngIf="submitted && !selectedCourse">{{commonLabels.mandatoryLabels.courseRequired}}</span>
                </div>
                <div class="col-md-6 mb-3 select select-style clearfix">
                    <select name="courseId" class="form-control pl-0" [(ngModel)]="selectedClass" (change)="getEditFileData()">
                        <option value="">{{commonLabels.labels.selectopt}}</option>
                        <option *ngFor="let class of trainingClassList" [value]="class.trainingClassId">{{class.trainingClassName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color"
                        *ngIf="submitted && !selectedClass">{{commonLabels.mandatoryLabels.trainingClassrequired}}</span>                 
                </div>
            </div>
            <div class="col-md-12 pt-3" dnd-sortable-container [sortableData]="fileList" >
                <p *ngFor="let fileData of fileList;let i = index" [ngClass]="fileData.addNew ? 'course-list course-list-select' : 'course-list'" dnd-sortable [sortableIndex]="i">       
                    {{fileData.fileName}}<a (click)="removeVideo(fileData,i)"><img class="close-alg" src="assets/images/close.png"></a>
                </p>
            </div>
            <div class="py-3 clearfix">
                <button class="btn btn-primary" (click)="AssignNewFiles()" type="submit">{{commonLabels.btns.save}}</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-sm-12 p-0">
    <div class="table-responsive custom-table2 white-bg">
        <table class="table table-striped">
            <thead>
                <tr class="th-boxshadow">
                    <th class="text-left text-nowrap">
                        <!-- <label class="square-cont float-left col-md-12 mb-0">
                            <input type="checkbox" name="web"> {{commonLabels.labels.file}}
                            <span class="square-checkmark"></span>
                        </label> -->
                        {{commonLabels.labels.file}}
                    </th>
                    <th class="text-left text-nowrap">
                            {{commonLabels.labels.fileSize}}
                    </th>
                    <th class="text-left text-nowrap">
                            {{commonLabels.labels.type}}
                    </th>
                    <th class="text-left text-nowrap">
                            {{commonLabels.labels.length}}
                    </th>
                    <th class="text-left text-nowrap">
                            {{commonLabels.labels.noofEmp}}
                    </th>
                    <th class="text-left text-nowrap">
                            {{commonLabels.labels.permission}}
                    </th>
                    <th class="text-center text-nowrap">
                            {{commonLabels.labels.action}}
                    </th>
                </tr>
            </thead>
            <tbody class=" text-nowrap">
                <tr class="table-desc-color"
                    *ngFor="let file of videoListValue | paginate: {itemsPerPage: pageSize,currentPage: page,totalItems : totalVideosCount};let i = index">
                    <td class="text-left">
                        <label class="square-cont float-left mb-0">
                            <input type="checkbox" name="web" value={{file.fileId}} [checked]="file.selected"  (change)="addFiles($event,file,i)"> {{file.fileName}}
                            <span class="square-checkmark"></span>
                        </label>
                    </td>
                    <td class="text-left">{{formatBytes(file.fileSize)}}</td>
                    <td class="text-left">{{file.fileExtension ? file.fileExtension : 'mp4'}}</td>
                    <td class="text-left">{{file.fileLength ? timeFormatTransform(file.fileLength) : '0:00'}}</td>
                   
                    <td>10</td>
                    <td class="text-left">{{file.filePermissionType}}</td>
                    <td>
                        <a (click)="viewTraningVideo(viewVideo,file.fileUrl)"><i class="fa fa-eye header-icon"
                            aria-hidden="true" title="View"></i></a>
                        <a (click)="openEditVideo(editVideoTemp,file,i)"  title="Edit"><i class="fas fa-pencil-alt header-icon"></i></a>
                        <a (click)="removeDoc(deleteDocument,file.fileId,i)" title="Delete"><i class="fa fa-trash header-icon"></i></a>
                    </td>
                </tr>
                <tr *ngIf="videoListValue && !videoListValue.length">
                    <td colspan="10"><p class="text-center data-design p-5"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></td>
                </tr>
            </tbody>
        </table>
        <!-- <span *ngIf="videoListValue && !videoListValue.length">No Data </span> -->
         </div>
        <pagination-controls  *ngIf = "videoListValue && videoListValue.length" class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
   
</div>
<!-- 
<div class="text-center pt-4" *ngIf="uploadPage">
    <button type="button" class="btn btn-primary creat-btn" (click)="AddFilestoEditCourse()">{{commonLabels.btns.add}}</button>
</div> -->

<ng-template #editVideoTemp>
    <div class="modal-header pb-0">
        <p class="hd-alg"><!-- {{constant.btns.editVideo}} -->{{commonLabels.modaltitle.editVideo}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeEditVideoForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #videoEditForm="ngForm" (ngSubmit)="permissionSetSubmit(videoEditForm)">
            <div class="row form-group">
                <div class="col-md-5 p-0 float-left">
                    <div class="pl-0 form-group select-Courses">
                        <select id="resort" class="form-control p-0" name="resortId"
                            [(ngModel)]="constant.selectedResort" disabled >
                            <!-- <select class="form-control p-0"> -->
                            <option value="null" disabled >Select</option>
                            <option *ngFor="let data of constant.resortList" value="{{data.resortId}}">
                                {{data.resortName}}</option>
                        </select>
                        <span class="required_color" *ngIf="submitted && !videoEditForm.selectedResort">
                            {{commonLabels.mandatoryLabels.selectResort}}
                        </span>
                    </div>

                    <div class="pl-0 form-group select-Courses">
                        <ng-multiselect-dropdown [placeholder]="'Department'" name="departmentId"
                            [data]="constant.departmentList" [(ngModel)]="videoEditForm.selectedDepartment"
                            [settings]="constant.departmentSettings" (onSelect)="onEmpSelect($event,'dept')"
                            (onDeSelect)="onEmpSelect($event,'dept')" #departmentId="ngModel" required>
                        </ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="submitted && !constant.selectedDepartment.length">
                            {{commonLabels.mandatoryLabels.dept}}
                        </span>
                    </div>
                </div>
                <div class="col-md-5 p-0 ml-auto">
                    <div class="pl-0 form-group select-Courses">
                        <ng-multiselect-dropdown [placeholder]="'Division'" name="divisionId"
                            (onSelect)="onEmpSelect($event,'div')" [data]="constant.divisionList"
                            [(ngModel)]="videoEditForm.selectedDivision" [settings]="constant.divisionSettings"
                            #divisionId="ngModel" required></ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="submitted && !constant.selectedDivision.length">
                            {{commonLabels.mandatoryLabels.division}}
                        </span>
                    </div>
                    <div class="pl-0 form-group select-Courses">
                        <ng-multiselect-dropdown [placeholder]="'Employees'" name="employeeId"
                            (onSelect)="onEmpSelect($event,'emp')" (onDeSelect)="onEmpDeSelect($event)"
                            [data]="constant.employeeList" [(ngModel)]="videoEditForm.selectedEmp"
                            [settings]="constant.empSettings" #empId="ngModel" required></ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="submitted && !constant.selectedEmp.length">
                            {{commonLabels.mandatoryLabels.selectEmp}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.set}}</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #deleteDocument>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.deleteVideo}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.coursedeleteConfirmation}}</span>
        <div class="text-center mt-4">
            <button (click)="deleteDoc()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default"
                (click)="constant.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>

<ng-template #viewVideo>
<div class="modal-header pb-0">
<!-- <p class="hd-alg">{{constant.videoFormLabels.deleteVideo}}</p> -->
<button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body text-center">
<video controls class="video-play">
<source src="{{uploadPath}}{{trainingVideoUrl}}" type="video/mp4" />
</video>
</div>
</ng-template>

