<div class="col-md-12 clearfix py-2 px-0">
    <button class="btn btn-primary creat-btn float-left" type="submit" (click)="openAddVideosToCourse()">Add Video to
        Course</button>
    <h6 class="pt-2 float-right">Count:{{totalVideosCount}}</h6>
</div>

<div class="col-md-12 pt-2 clearfix px-0" *ngIf="addVideosToCourse">
    <div class="white-bg p-4 clearfix">
        <div class="clearfix">
            <p class="dup-hd">Assign</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="openAddVideosToCourse()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="px-5 py-3">
            <div class="row">
                <div class="col-md-6 mb-3 select select-style clearfix">
                    <select name="Course" class="form-control pl-0">
                        <option value="">Course 1</option>
                        <option>Course 2</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
                <div class="col-md-6 mb-3 select select-style clearfix">
                    <select name="Training Class" class="form-control pl-0">
                        <option value="">Training Class 1</option>
                        <option>Training Class 2</option>
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </div>
            <div class="col-md-12 pt-3">
                <p class="course-list">Video 1<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Video 2<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Video 3<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Document 1<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Document 2<img class="close-alg" src="assets/images/close.png"></p>
            </div>
            <div class="col-md-12 pt-3">
                <p class="course-list">Video 4<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Video 3<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Video 5<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Document 4<img class="close-alg" src="assets/images/close.png"></p>
                <p class="course-list">Document 6<img class="close-alg" src="assets/images/close.png"></p>
            </div>
            <div class="py-3 clearfix">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-sm-12 p-0">
    <div class="table-responsive custom-table2 px-1">
        <table class="table table-striped white-bg mt-1">
            <thead>
                <tr class="th-boxshadow">
                    <th class="text-left">
                        <label class="square-cont float-left col-md-12 mb-0">
                            <input type="checkbox" name="web"> Files
                            <span class="square-checkmark"></span>
                        </label>
                    </th>
                    <th class="text-left">
                        File Size
                    </th>
                    <th class="text-left">
                        Type
                    </th>
                    <th class="text-left">
                        Length
                    </th>
                    <th class="text-left">
                        No.of Emp.
                    </th>
                    <th class="text-left">
                        Permission
                    </th>
                    <th class="text-left">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-desc-color" *ngFor="let file of videoListValue">
                    <td class="text-left">
                        <label class="square-cont float-left col-md-12 mb-0">
                            <input type="checkbox" name="web" value="{{file.fileName}}"> {{file.fileName}}
                            <span class="square-checkmark"></span>
                        </label>
                    </td>
                    <td class="text-left">{{file.fileSize}}10 MB</td>
                    <td class="text-left">{{file.fileName}}</td>
                    <td class="text-left">03:55</td>
                    <td class="text-left">100</td>
                    <td>{{file.fileName}}</td>
                    <td>
                        <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a (click)="openAddUser(addUserTemp,user,i)"><i class="fas fa-pencil-alt header-icon"></i></a>
                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                    </td>
                </tr>
                <!-- <tr class="table-desc-color">
                    <td class="text-left">
                        <label class="square-cont float-left col-md-12">
                            <input type="checkbox" name="web"> Document
                            <span class="square-checkmark"></span>
                        </label>
                    </td>
                    <td class="text-left">10 MB</td>
                    <td class="text-left">.mp4</td>
                    <td class="text-left">03:55</td>
                    <td class="text-left">100</td>
                    <td>Private</td>
                    <td>
                        <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a>
                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                    </td>
                </tr> -->

            </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>  
    </div>
</div>