<div class="tab-section">
<tabset>
<div class="tab-content mt-5">
   <tab heading={{commonLabels.labels.courses}} class="container tab-pane active p-0">      
     <div class="row col-md-10 text-center m-auto">
          <div class="col-md-3 ml-5">              
              <select class="form-control" [(ngModel)]="resortSelected">
                  <option value="">{{commonLabels.labels.resort}}</option>
                  <option *ngFor="let resorts of resortData" [value]=resorts.resortId>{{resorts.resortName}}</option>
              </select>             
          </div>
          <div class="col-md-3">              
              <select class="form-control" [(ngModel)]="courseSelected">
                  <option value="">{{commonLabels.labels.courses}}</option>
                  <option *ngFor="let courses of courseData" [value]=courses.courseId>{{courses.courseName}}</option>
              </select>             
          </div>
          <div class="col-md-3">              
              <select class="form-control" [(ngModel)]="trainingClassSelected">
                  <option value="">{{commonLabels.labels.trainingClass}}</option>
                  <option *ngFor="let trainingClass of trainingClassData" [value]=trainingClass.trainingClassId>{{trainingClass.trainingClassName}}</option>
              </select>             
          </div>
          <div class="col-md-2">
          <button class="btn btn-primary" (click)="searchFilter()">{{commonLabels.btns.go}}</button>
        </div>
      </div>
      <div class="row mt-4">
          <div class="topic-wrap white-bg col-md-12" *ngFor="let feedbacks of feedbackList">
              <div class="topic-wrap-top clearfix p-3">
                  <div class="topic-img-wrap mt-4">
                    <span class="topic-thumb">
                      <img src="{{commonLabels.imgs.user1}}">
                    </span>
                  </div>
                    <div class="topic-wrap-rt pl-4">
                        <div class="topic-into">
                          <h5 class="hd-tit">{{feedbacks.feedbackMap[0].User.userName}}</h5>
                          <div class="clearfix mt-2">
                            <small class="topic-time float-left">{{feedbacks.created |date}}</small> 
                            <span class="float-right rating">
                              <a href="#"><i class="fas fa-star y-color"></i></a>
                              <a href="#"><i class="fas fa-star y-color"></i></a>
                              <a href="#"><i class="fas fa-star y-color"></i></a>
                              <a href="#"><i class="fas fa-star gy-color"></i></a>
                              <a href="#"><i class="fas fa-star gy-color"></i></a>
                            </span>
                          </div>
                          
                        </div>
                        <div class="desc-section mt-2">
                          <p>
                              {{feedbacks.feedback}}
                          </p>
                        </div>
                        <div class="link-sec">
                          <p>{{feedbacks.feedbackMap[0].Resort.resortName}}</p>
                          <p>{{feedbacks.feedbackMap[0].Course.courseName}}</p>
                          <p>{{feedbacks.feedbackMap[0].TrainingClass.trainingClassName}}</p>
                        </div>
                       
                    </div>              
              </div>              
            </div>
      </div>
      <div class="col-md-12 p-0" *ngIf="feedbackList?.length == 0">
          <div class="white-bg text-center p-4">
            <p class="data-design"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
          </div>
        </div>
    </tab>
    <tab heading={{commonLabels.labels.application}} class="container tab-pane p-0">
      <div class="row col-md-5 text-center mx-auto">
        <div class="col-md-9 app-select">              
            <select class="form-control" [(ngModel)]="selectedResortApp">
                <option value="" >{{commonLabels.labels.resort}}</option>
                <option *ngFor="let resorts of resortData" [value]="resorts.resortId">{{resorts.resortName}}</option>
            </select>             
        </div>         
        <button class="btn btn-primary" (click)="applicationList()">{{commonLabels.btns.go}}</button>
    </div>
    <div class="row mt-4">
      <div class="topic-wrap white-bg col-md-12 p-0" *ngFor="let apps of applicationData">
        <div class="topic-wrap-top clearfix p-3">
            <div class="apl-img mt-2">
              <span class="apl-img-alg">
                <img [src]="apps.feedbackType == 'Compliment' ? commonLabels.imgs.good : apps.feedbackType === 'complaint' ? commonLabels.imgs.poor : commonLabels.imgs.average">
                <span>{{apps.feedbackType}}</span>
              </span>
            </div>
              <div class="apl-txt-rt pl-3">
                  <div class="topic-into">
                    <h5 class="hd-tit">{{apps.feedbackMap[0].User.userName}}</h5>
                    <div class="clearfix mt-2">
                      <small class="topic-time float-left">{{apps.created |date}}</small> 
                      <span class="float-right rating">
                          <a href="#"><i class="fas fa-star y-color"></i></a>
                          <a href="#"><i class="fas fa-star y-color"></i></a>
                          <a href="#"><i class="fas fa-star y-color"></i></a>
                          <a href="#"><i class="fas fa-star gy-color"></i></a>
                          <a href="#"><i class="fas fa-star gy-color"></i></a>
                          </span>
                    </div>
                    
                  </div>
                  <div class="desc-section mt-2">
                    <p>
                        {{apps.feedback}}
                    </p>
                  </div>
                  <div class="link-sec">
                      <p>{{apps.feedbackMap[0].Resort.resortName}}</p>
                  </div>
              </div>              
        </div>              
      </div>
    </div>
    <div class="col-md-12 p-0" *ngIf="applicationData?.length == 0">
        <div class="white-bg text-center p-4">
          <p class="data-design"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
        </div>
      </div>
  </tab>
</div>
</tabset>
</div>
