<div class="row pt-4">
    <div class="col-sm-12 pb-3 p-0">
        <button type = "button" class="btn btn-primary float-right"><i class="fa fa-plus pr-2"></i>Add New</button>
    </div>
    <div class="col-lg-12 col-sm-12 p-0">                
        <div class="table-responsive white-bg custom-table2">
            <table class="table table-striped" >
                    <thead>
                    <tr class="th-boxshadow">
                        <th class="text-left">
                           Subscription Name
                        </th>
                        <th class="text-left">
                           Storge Space
                        </th>
                        <th class="text-left">
                            Max no.of Courses
                        </th>
                        <th class="text-left">
                            No of Licenses
                        </th>
                        <th class="text-left">
                            Tenure
                        </th>
                        <th class="text-left">
                            
                        </th>
                      
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="table-desc-color">
                            <td class="text-left">Green</td>
                            <td class="text-left">100 GB</td>
                            <td class="text-left">20 courses</td>
                            <td class="text-left">20</td>
                            <td class="text-left">6 Month</td>
                            <td><button class="btn btn-primary creat-btn" type="submit">Purchase</button></td>
                
                        </tr>
                        <tr class="table-desc-color">
                            <td class="text-left">Green</td>
                            <td class="text-left">100 GB</td>
                            <td class="text-left">20 courses</td>
                            <td class="text-left">20</td>
                            <td class="text-left">6 Month</td>
                            <td><button class="btn btn-primary creat-btn" type="submit">Purchase</button></td>
                
                        </tr>
                    <!-- <tr *ngIf="mf.data?.length == 0">
                        <td colspan="5" class="text-center data-design">{{forumVar.createForum.noData}}</td>
                    </tr> -->
                    </tbody>
                </table>
        </div>
        <div class="clearfix text-center mt-4">
        <button class="btn btn-primary btn-save" type="button">Back</button>
    </div>
    </div>   
</div>
