
<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="pr-3" id="contentToConvert">
  <div>  
      <div class="emp-details">{{labels.employeeName}} : {{employeeName}}</div>
      <span class="float-right exportto-resp" data-html2canvas-ignore="true">
        <div class="dropdown show mb-3">
            <label class="ext-txt mb-0 mr-2">{{labels.exportTo}}</label>
          <a class="btn export-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-select">{{labels.btns.select}}</span></a>
            <div class="dropdown-menu drp-dwn" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item drp-item" (click)="exportAsXLSX()">{{labels.btns.excel}}</a>
                <a class="dropdown-item drp-item" (click)="exportAsPDF()">{{labels.btns.pdf}}</a>             
            </div>
        </div>             
      </span>     
  </div>
      <div class="table-responsive custom-table2 px-1">
        <table class="table table-striped white-bg mt-1" [mfData]="employeeArray" #mf="mfDataTable" [mfRowsOnPage]="5" >
            <thead>
            <tr class="th-boxshadow text-center">
                <th  class="pl-4 employeeName-width">
                    <mfDefaultSorter by="courseName" class="float-left">{{labels.tableTitle.courseName}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="completedPercentage">{{labels.tableTitle.percentageCompleted}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                
                <!-- <th>
                    <mfDefaultSorter by="badgeName">{{labels.tableTitle.badgeName}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th> -->
              
                <th>
                    <mfDefaultSorter by="videos">{{labels.tableTitle.videos}}</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="status">{{labels.tableTitle.status}} <span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                </th>
                <th> 
                    <mfDefaultSorter by="assignedDate">{{labels.tableTitle.assignedDate}}</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="viewedDate">{{labels.tableTitle.viewedDate}}</mfDefaultSorter>
                </th>
                <th >
                    <mfDefaultSorter by="completedDate">{{labels.tableTitle.completedDate}}</mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of mf.data" class="table-desc-color">
                <td class="vat pl-4 employeeName-width"><a href="javascript:void" (click)="goToVideosTrend(emp.courseId)">{{ emp.courseName }} </a></td>
                <td class="vat text-center">{{ emp.completedPercentage }}%</td>
                <!-- <td class="vat text-center">{{ emp.badgeName }}</td> -->
                <td class="vat text-center">{{emp.videos}}</td>
                <td class="vat text-center" [ngClass] = "emp.status !== 'In progress' ? (emp.status === 'Failed' || emp.status === 'Expired'?'text-danger':(emp.status === 'Completed'?'text-success':'text-primary')):''">
                        {{ emp.status }}
                </td >
                <td class="vat text-center">
                        {{ emp.assignedDate | date :'dd MMM yyyy' }}
                </td>
                <td class="vat text-center">
                        {{ emp.viewedDate | date :'dd MMM yyyy' }}
                </td>
                <td class="vat text-center">
                        {{ emp.completedDate | date :'dd MMM yyyy' }}
                </td>
                <!-- <td class="vat td-pd" colspan="7">
                    <table class="inner-table">
                        <tr *ngFor="let video of emp.videos">
                            <td>{{ video.videoName }}</td>
                            <td [ngClass] = "video.status !== 'In progress' ? (video.status === 'Failed'?'text-danger':(video.status === 'Completed'?'text-success':'text-primary')):''">{{ video.status }}</td>
                            <td>{{ video.assignedDate | date :'dd MMM yyyy' }}</td>
                            <td></td>
                            <td>{{ video.viewedDate | date :'dd MMM yyyy' }}</td>
                            <td></td>
                            <td>{{ video.completedDate | date :'dd MMM yyyy' }}</td>
                        </tr>
                    </table>
                 
                </td> -->
            </tr>
            <tr *ngIf="mf.data?.length == 0">
                <td colspan="10" class="text-center data-design">{{labels.noData}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr data-html2canvas-ignore="true">
                <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
      </div>
  </div>
