.vat{
    vertical-align: top
}
.text-danger{
    color: red;
}
.text-success{
    color: green;
}
.text-primary{
  color: blue;
}

 .export-btn{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #468FB9;
    width: 80px;
    min-width: unset;
    padding: 4px 8px;
  }
  .export-btn::after{
    margin-left: 14px;
    font-size: 20px;
    position: relative;
    top: 3px;
    color: #468FB9;
  }
  .ext-txt{
    font-size: 18px;
    font-weight: 600;
  }
  .drp-dwn{
    min-width: 0;
    width: 85px;    
  }
  .emp-details{
  	font-size: 18px;
    color: #737373;
    font-weight: 600;
    float: left;
  }
  .s-width{
  	width: 14px;
  	opacity: 0.5;
  }

