<!--Quiz Tab Content -->
    <div class="white-bg pt-4 pb-4">
        <form>
            <div class="col-md-9 row m-auto top-select-bx">
                <span class="col-md-5 form-control"> {{courseName}}</span>
                <span class="col-md-1 form-control" style='border-bottom: none'></span>
                <span class="col-md-5 form-control"> {{trainingClassName}}</span>
                <!-- <select class="col-md-5 form-control">
                    <option>Course Name1</option>
                    <option>Course Name2</option>
                    <option>Course Name3</option>
                </select>
                <select class="col-md-5 form-control">
                    <option>Training Name1</option>
                    <option>Training Name2</option>
                    <option>Training Name3</option>
                </select> -->
            </div>
            <div class="quiz-box row p-4" *ngFor="let data of quizQuestionsForm;let i = index;">                   
                    <div class="col-md-11 p-0">
                        <div class="row" >
                            <div class="col-md-6 row p-0"> 
                                <label for="" class="col-sm-4 label-title p-0 m-0">Question Type</label>
                                <div class="col-md-8 pl-0">
                                    <select class="form-control" placeholder="Select" name="questionType{{i}}" [(ngModel)]="data.questionType" (change)="questionTypeUpdate(data.questionType,i)"
                                    #QuestionTypeVal="ngModel" [ngModelOptions]="{ standalone : true }" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                        <option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
                                    </select>
                                    <!-- <span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
                                        {{constant.quizLabels.questionType}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span> -->
                                </div>
                            </div> 
                            <div class="col-md-6 row p-0 form-group">
                                <label class="col-md-4 p-0 label-title">Weightage</label>
                                <div class="col-md-8 pl-0">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Enter Weightage" name="Weightage" value="{{weightage}}%"
                                        #WeightageVal="ngModel" [(ngModel)]="data.weightage" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                    </span>
                                    <!-- <span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
                                        {{constant.quizLabels.weightage}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span> -->
                                
                                </div>
                            </div>
                        </div>
                        <div class="row  form-group">
                            <label class="col-md-2 pl-0 label-title m-0">{{constant.quizLabels.question}}{{i+1}}</label>
                            <div class="col-md-10 pl-0">
                                <input type="text" class="form-control" placeholder="Enter Question" name="question{{i}}" [(ngModel)]="data.questionName"
                                #QuestionVal="ngModel" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                <!-- <span class="required_color" *ngIf="QuestionVal && QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
                                    {{constant.quizLabels.question}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                </span> -->
                            </div>                		
                        </div>
                        <div class="row form-group">
                                <label *ngIf="data.questionType !== 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{constant.quizLabels.options}}</label>
                                <label *ngIf="data.questionType === 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{constant.quizLabels.answer}}</label>
                                <div class="col-md-10 pl-0">
                                    <div class="row">
                                        <div class="col-md-12 p-0 form-group">
                                            <div class="row" *ngIf="data.questionType === 'MCQ' && data.options && data.options.length">
                                                <span class="col-sm-12 p-0" *ngFor=" let optionValue of data.options; let oi = index;">
                                                    <span class="option-btn" *ngIf="oi===0">A</span>
                                                    <span class="option-btn" *ngIf="oi===1">B</span>
                                                    <span class="option-btn" *ngIf="oi===2">C</span>
                                                    <span class="option-btn" *ngIf="oi===3">D</span>
                                                    <input [disabled] = "data.enableEdit === false ? 'true' : false" type="text" class="form-control pdl27" placeholder="" [name]="optionValue.value" [(ngModel)]="optionValue.optionName" [ngModelOptions]="{ standalone : true }" required>
                                                </span>
                                                <input [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                            </div>
                                            <div class="pt-2" *ngIf="data.questionType === 'True/False'">
                                                <span class="col-sm-3 pl-0">
                                                    <label class="hole-cont mr-2">
                                                        <input [disabled] = "data.enableEdit === false ? 'true' : false" type="checkbox" [checked]="optionData" name="options" [value]="1" (change)="optionValueUpdate(data)"> {{constant.quizLabels.true}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="hole-cont mr-2">
                                                        <input  [disabled] = "data.enableEdit === false ? 'true' : false" type="checkbox" [checked]="!optionData"  name="options" [value]="0" (change)="optionValueUpdate(data)"> {{constant.quizLabels.false}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </span>
                                                <input hidden [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                            </div>
                                            <div class="row" *ngIf="data.questionType === 'NON-MCQ'">
                                                <span class="col-sm-12 pl-0">
                                                    <!-- <span class="option-btn">{{oi + 1}}</span> -->
                                                    <input  [disabled] = "data.enableEdit === false ? 'true' : false" type="text" class="form-control" placeholder="Enter Your Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                                </span>
                                                <input [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <a *ngIf="data.enableEdit === false" (click)="editQuizEnable(i)"><i class="fas fa-pencil-alt icons_header" aria-hidden="true"></i></a>
                        <a *ngIf="data.enableEdit === false" (click)="removeQuiz(deleteQuiz,data)"><i class="fa fa-trash header-icon"></i></a>
                        <a *ngIf="data.enableEdit === true" (click)="quizSubmit(data,i)"><img src="assets/images/Done.png" class="upload-crt-icon"></a>
                        <a *ngIf="data.enableEdit === true" (click)="cancelQuizSubmit(i)"><img src="assets/images/cancel2.png"></a>
                    </div>
                        
            </div>
        </form>
    </div> 
    <div class="text-center" *ngIf="uploadPage">
        <button type="button" class="btn btn-primary creat-btn">Add</button>
    </div>

    <ng-template #deleteQuiz>
            <div class="modal-header pb-0">
                <p class="hd-alg">{{constant.quizLabels.deleteQuiz}}</p>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <span class="text-content">{{constant.quizLabels.deleteConfirmation}}</span>
                <div class="text-center">
                    <button type="button" (click)="deleteQuizQuestion()" class="btn btn-primary creat-btn mr-3">{{constant.btns.ok}}</button>
                    <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{constant.btns.cancel}}</button>
                </div>
            </div>
        </ng-template>

<!--End Quiz Tab Content -->