.top-select-bx select:first-child {
    margin-right: 5rem;
}
.form-control:disabled, .form-control[readonly]{
  background-color: unset;
  }
  .text-over{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
    width: 370px;
    font-weight: 600;
    color: #697380;
    font-size: 16px;
  }

  .count-alg{
    float: right;
    font-weight: 600;
  }
