<!--Quiz Tab Content -->
<div class="col-md-12 clearfix py-2 px-0" *ngIf="enableQuizEdit">
    <h6 class="count-alg">{{commonLabels.labels.availableQuiz}}{{totalQuizCount}}</h6>
</div>   
<div *ngIf="!enableQuizEdit" class="white-bg pt-4 pb-4">
        <form >
            <div class="col-md-9 row m-auto top-select-bx">
                <span *ngIf="!directTabEnable && courseName" class="col-md-5 form-control" style="margin-right: 40px;"> {{courseName}}</span>
                <span *ngIf="!directTabEnable && trainingClassName" class="col-md-5 form-control word-wrap"> {{trainingClassName}}</span>
                <select *ngIf="directTabEnable" name="courseId" class="form-control col-md-5 pl-0 mr-5 select select-style clearfix" [(ngModel)] = "filterCourse" #course (change)="dropdownUpdate(course.value)">
                    <option [value]=null>{{commonLabels.labels.selectcourse}}</option>
                    <option *ngFor="let course of courseList" [value]="course.courseId">{{course.courseName}}</option><div class="select_arrow"></div>
                </select>
                <select *ngIf="directTabEnable" name="trainingClassId" class="form-control col-md-5 pl-0 select select-style clearfix" [(ngModel)] = "filterTrainingClass" #trainingClass (change)="dropdownClassUpdate()" [disabled]="filterCourse === 'null'" >
                    <option [value]=null>{{commonLabels.labels.selectopt}}</option>
                    <option *ngFor="let training of trainingClassList" [value]="training.trainingClassId">{{training.trainingClassName}}</option><div class="select_arrow"></div>
                </select>
                <span class="col-md-1 form-control" style='border-bottom: none'></span>
            </div>
            <div class="quiz-box row p-4" *ngFor="let data of quizQuestionsForm;let i = index;">                   
                    <div class="col-md-11 p-0">
                        <div class="row form-group">
                            <label class="col-md-2 p-0 label-title">{{commonLabels.labels.quizName}}</label>
                            <div class="col-md-10 pl-0">
                                <span>
                                    <input [disabled] = "data.enableEdit == false ? 'true' : 'false'" type="text" class="form-control" placeholder="Enter Quiz Name" name="name" #quizname="ngModel"
                                        [(ngModel)]="quizName" required>
                                </span>
                                <!-- <span class="required_color" *ngIf="!quizName && (quizForm.submitted || quizname.touched)">
                                    {{commonLabels.labels.quizName}} {{commonLabels.mandatoryLabels.isRequired}}
                                </span> -->
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6 row p-0"> 
                                <label class="square-cont float-left mb-0" *ngIf="uploadPage">
                                    <input type="checkbox" name="web"> 
                                    <span class="square-checkmark"></span>
                                </label>
                                <label for="" class="col-sm-4 label-title p-0 m-0">{{commonLabels.labels.questionType}}</label>
                                <div class="col-md-8 pl-0">
                                    <select class="form-control" placeholder="Select" name="questionType{{i}}" [(ngModel)]="data.questionType" (change)="questionTypeUpdate(data.questionType,i)"
                                    #QuestionTypeVal="ngModel" [ngModelOptions]="{ standalone : true }" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                        <option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
                                    </select>
                                    <!-- <span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
                                        {{constant.quizLabels.questionType}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span> -->
                                </div>
                            </div> 
                            <div class="col-md-6 row p-0 form-group">
                                <label class="col-md-4 p-0 label-title">{{commonLabels.labels.weightage}}</label>
                                <div class="col-md-8 pl-0">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Enter Weightage" name="Weightage" value="{{weightage}}%"
                                        #WeightageVal="ngModel" [(ngModel)]="data.weightage" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                    </span>
                                    <!-- <span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
                                        {{constant.quizLabels.weightage}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span> -->
                                
                                </div>
                            </div>
                        </div>
                        <div class="row  form-group">
                            <label class="col-md-2 pl-0 label-title m-0">{{commonLabels.labels.question}}{{i+1}}</label>
                            <div class="col-md-10 pl-0">
                                <input type="text" class="form-control" placeholder="Enter Question" name="question{{i}}" [(ngModel)]="data.questionName"
                                #QuestionVal="ngModel" required [disabled] = "data.enableEdit === false ? 'true' : false">
                                <!-- <span class="required_color" *ngIf="QuestionVal && QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
                                    {{constant.quizLabels.question}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                </span> -->
                            </div>                		
                        </div>
                        <div class="row form-group">
                                <label *ngIf="data.questionType !== 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{commonLabels.labels.options}}</label>
                                <label *ngIf="data.questionType === 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{commonLabels.labels.answer}}</label>
                                <div class="col-md-10 pl-0">
                                    <div class="row">
                                        <div class="col-md-12 p-0 form-group">
                                            <div class="row" *ngIf="data.questionType === 'MCQ' && data.options && data.options.length">
                                                <span class="col-sm-12 p-0" *ngFor=" let optionValue of data.options; let oi = index;">
                                                    <span class="option-btn" *ngIf="oi===0">{{commonLabels.labels.a}}</span>
                                                    <span class="option-btn" *ngIf="oi===1">{{commonLabels.labels.b}}</span>
                                                    <span class="option-btn" *ngIf="oi===2">{{commonLabels.labels.c}}</span>
                                                    <span class="option-btn" *ngIf="oi===3">{{commonLabels.labels.d}}</span>
                                                    <input [disabled] = "data.enableEdit === false ? 'true' : false" type="text" class="form-control pdl27" placeholder="" [name]="optionValue.value" [(ngModel)]="optionValue.optionName" [ngModelOptions]="{ standalone : true }" required>
                                                </span>
                                                <input [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                            </div>
                                            <div class="pt-2" *ngIf="data.questionType === 'True/False'">
                                                <span class="col-sm-3 pl-0">
                                                    <label class="hole-cont mr-2">
                                                        <input [disabled] = "data.enableEdit === false ? 'true' : false" type="checkbox" [checked]="optionData" name="options" [value]="1" (change)="optionValueUpdate(data)"> {{commonLabels.labels.true}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="hole-cont mr-2">
                                                        <input  [disabled] = "data.enableEdit === false ? 'true' : false" type="checkbox" [checked]="!optionData"  name="options" [value]="0" (change)="optionValueUpdate(data)"> {{commonLabels.labels.false}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </span>
                                                <input hidden [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                            </div>
                                            <div class="row" *ngIf="data.questionType === 'NON-MCQ'">
                                                <span class="col-sm-12 pl-0">
                                                    <!-- <span class="option-btn">{{oi + 1}}</span> -->
                                                    <input  [disabled] = "data.enableEdit === false ? 'true' : false" type="text" class="form-control" placeholder="Enter Your Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                                </span>
                                                <!-- <input [disabled] = "data.enableEdit === false ? 'true' : false"  type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <a *ngIf="data.enableEdit === false && iconEnable && editIconHide" (click)="editQuizEnable(i)" title="Edit"><i class="fas fa-pencil-alt icons_header" aria-hidden="true"></i></a>
                        <a *ngIf="data.enableEdit === false && iconEnable && editIconHide" (click)="removeQuiz(deleteQuiz,data)" title="Delete"><i class="fa fa-trash header-icon"></i></a>
                        <a *ngIf="data.enableEdit === true" (click)="quizSubmit(data,i)" class="mr-2"><img src="{{commonLabels.imgs.ok}}" class="upload-crt-icon"></a>
                        <a *ngIf="data.enableEdit === true" (click)="cancelQuizSubmit(i)"><img src="{{commonLabels.imgs.cancel}}"></a>
                    </div>          
            </div>
           <!--  <span *ngIf="!quizQuestionsForm.length">No Data </span> -->
           <div class="col-md-12 p-0">
             <div class="p-4" *ngIf="!quizQuestionsForm.length">
                <p class="text-center mb-0 data-design"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
             </div>
           </div>
        </form>
    </div> 
    <div *ngIf="enableQuizEdit">
        <div  *ngFor="let quiz of quizList | paginate: {itemsPerPage: pageLength,currentPage: currentPage,totalItems : totalQuizCount};let i = index"
        >
            <div class="white-bg p-3 mb-3">
                <div class="clearfix">
                    <label class="float-left mb-0">
                        <span class="text-over">{{quiz.quizName}}</span>
                    </label> 
                    <span class="float-right">
                        <a  title="Send Approval" *ngIf="roleId === 4 && accessSet && iconEnableApproval && userData.userId == quiz.createdBy" class="mr-4"><i class="fa fa-paper-plane p-0" aria-hidden="true" (click)="approvalConfirmation(approvalConfirm,quiz)"></i></a>
                        <a *ngIf= "iconEnable && userData.userId == quiz.createdBy" title="Edit" class="mr-4"><i class="fas fa-pencil-alt icons_header p-0" aria-hidden="true" (click)="editQuizData(quiz,i)"></i></a>                   
                        <!-- <a title="Delete" class="mr-4"><i class="fa fa-trash header-icon p-0" (click)="deleteConfirmation(deleteCourse,courses.courseId)"></i></a> -->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-0">
        <div class="white-bg text-center p-4" *ngIf="enableQuizEdit && !quizList.length"><p class="data-design">
            <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
        </div>
    </div>
    <pagination-controls *ngIf="enableQuizEdit" [ngClass]="totalQuizCount < 10 ? 'my-pagination pagenation-count-alg' : 'my-pagination'"  (pageChange)="pageChanged($event)"></pagination-controls>
    <div class="text-center pt-4" *ngIf="uploadPage">
        <button type="button" class="btn btn-primary creat-btn">Add</button>
    </div>

    <ng-template #deleteQuiz>
        <div class="modal-header pb-0">
            <p class="hd-alg">{{commonLabels.labels.deleteQuiz}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center pt-0">
            <span class="text-content">{{commonLabels.labels.deleteConfirmation}}</span>
            <div class="text-center pt-4">
                <button type="button" (click)="deleteQuizQuestion()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
                <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{commonLabels.btns.cancel}}</button>
            </div>
        </div>
    </ng-template>

    <ng-template #approvalConfirm>
        <div class="modal-header pb-0">
            <p class="hd-alg">{{commonLabels.labels.approvalConfirm}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" title="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <span class="text-content">{{commonLabels.labels.approvalConfirmation}}</span>
            <div class="text-center mt-4">
                <button (click)="sendApproval()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
                <button type="button" class="btn btn-default" (click)="modalRef.hide()">{{commonLabels.btns.cancel}}</button>
            </div>
        </div>
    </ng-template>

<!--End Quiz Tab Content -->