<header>
  <div  class="bg-color">
    <div>
      <div class="col-md-12 clearfix">
    <h4 class="hd-alg float-left">Dashboard</h4>
    <ul  class="float-right">
      <li class="search-block"><a><input placeholder="Search" name="search" autocomplete="off" type="text" id="formInlineName" class="form-searchbox form-control" value=""><i class="fa fa-search list_search" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-envelope icons_header" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-bell icons_header" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-user icons_header" aria-hidden="true"></i></a></li>    
    </ul>   
    </div>
  </div>
  </div>
</header>