.division-title{
    color: #697380;
    line-height: 0; 
    font-size: 15px;
  /*  margin-top: 9px;*/
}
.upload-crt-icon{
    /* padding: 0 25px; */
    color: #28a745;
    font-size: 22px;
}
.upload-wrg-icon{
    font-size: 22px;
   color: #f44336;
}

.header-icon{
    color: #468FB9;
}
.table-striped tbody tr:nth-of-type(odd) .input {
    background-color: #F4FBFF;
}
.br-btn {
    border-radius: 20px;
    color: white !important;
    min-height: unset !important;
    height: 28px !important;
    padding: 4px 8px !important;
}

.upload-line{
    line-height: 90px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    /* margin: 10px; */
    /* float: none; */
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* .addUser-upload{
    border-radius: 20px;
    padding: 4px;
} */
.addUser-upload{
    height: 38px;
}
.user-desc{
    /* padding: 16px; */
    text-align: center;
}
.designation-width{
    width: 132px;
}
.Number-width{
    width: 185px;
}
.label-title{
    color: #697380;
    line-height: 47px;
    font-size: 15px;
}
.form-control {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #73737B;
    border-radius: 0;
    font-size: 14px;
}
.default-set{
    color: #697380;
    line-height: 33px;
    font-size: 14px;
}
.close {
   font-size: 33px;
}
.select-style {
 position: relative;
 display: inline-block;
 margin-bottom: 15px;
 width: 160px;
}   
 .select-style select {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
 }
     .select-style select::-ms-expand {
         display: none;
     }
    /* .select-style select:hover,
     .select-style select:focus {
         color: #000000;
         background: #cccccc;
     } */
     .select-style select:disabled {
         opacity: 0.5;
         pointer-events: none;
     }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 7px;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: #989898 transparent transparent transparent;
}
.select select-style:hover ~ .select_arrow,
.select select-style:focus ~ .select_arrow {
 border-top-color: #000000;
}
.select select-style:disabled ~ .select_arrow {
 border-top-color: #cccccc;
}
.select-style{
 float: right;
 clear: both;
 padding-bottom: 0px;
}

.tab-section .nav-link{
    font-size: 15px;
    font-weight: 600;
}
.top-section .label-title{
    display: flex;
    vertical-align: middle;
    margin-top: 0px;
    line-height: 20px;
    align-items: center;
    font-size: 15px;
}
.tab-section .label-title{
  margin-top: 5px;
}
.select-form{
    border: none;
    margin-right: 30px;
    margin-top: 3px;
    
}
.mrb-15{
    margin-bottom: 15px !important;
}

.detail-pg span {
    display: block;
    font-weight: 600;
    color: #73737B;
    font-size: 17px;
}
.detail-pg label{
    font-size: 15px;
    margin-bottom: 10px;
}
.detail-pg .form-group {
    margin-bottom: 1.6rem;
}
.detail-top {
    border-bottom: 1px solid #EAF0F4;
    margin-bottom: 20px;
}
.dpt-list{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top:10px;
}
/* .detail-bottom{
    
} */

.detail-bottom span{
    font-size: 15px;
    font-weight: normal;
    padding: 3px 7px;
    background-color:#EAEAEA;
    border-radius: 20px;
    color: #576271;
    float: left;
    margin-right: 5px;
    /*text-transform: capitalize;*/
}
.detail-bottom span a{
    margin-left:5px;
}
.depart-dtl{
    margin-bottom: 20px;
}
.hierarchy-tab{
    clear: both;
}
.title-hd{
    font-size: 18px;
    margin-bottom: 0;
    color: #6c6c6c;
    font-weight: 600;
    margin-top: 8px;
}
th.action-hd {
    width: 135px;
    display: block;
}
.icon-section i{
    font-size: 18px;
}
.icon-section{
    padding-top: 13px;
    padding-left: 18px;
}
.modal .label-title{
    line-height: 37px;
}
.group-section-bx{
    margin-left: 7rem;
}
.listrole .detail-bottom span{
    line-height: 30px;
}
.active-alg{
    /* padding: 0 34px 4px 0 !important; */
    width: 150px;
}
.ml-10{
    margin-left: 10px;
}
.download-para{
    display: inline-block;
}
.download-alg{
    color: #948f8f;
    font-weight: 600;
}
/* .search-box{
    display: inline-grid;
    float: right;
} */
@media (max-width:767px){
    .group-section-bx{
        margin-left: 50%;
    }
}   
    /* .modal .select-form{
       
        margin-right: 0px;
      
        
    } */




.user-searchbox{
    position: relative;
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    margin-right: 1px;
    width: 100%;
    }
    .user-search-icon{
    background: none;
    border: none;
    position: absolute;
    right: 22px;
    top: 144px;
    }
    .search-icon{
    color: #468FB9;
    font-size: 14px;
    border: none;
    }
    .para-alg{
        color: #468FB9;
        font-size: 13px;
        font-weight: 600;
        height: 155px;
    }
    .quiz-para, .course-para{
        height: 155px;
    }
    .start-btn{
        width: 50%;
        float: none;
    }
    .class-color{
        background-color: #0491BD !important;
        border-color: #0491BD !important;
    }
    .quiz-color{
        background-color: #34CB6D !important;
        border-color: #34CB6D !important;
    }
    
    .course-color{
        background-color: #F1C400 !important;
        border-color: #F1C400 !important;
    }
    .Notification-color{
        background-color: #8B62CC !important;
        border-color: #8B62CC !important;
    }
    /* .user-tab ul.nav.nav-tabs {
        display: none !important;
    } */

    .select-style {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 185px;
       }   
        .select-style select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
            .select-style select::-ms-expand {
                display: none;
            }
            .select-style select:hover,
            .select-style select:focus {
                color: #000000;
                background: #cccccc;
            } 
            .select-style select:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
       .select_arrow {
         position: absolute;
         top: 16px;
         right: 7px;
         pointer-events: none;
         border-style: solid;
         border-width: 6px 5px 0px 5px;
         border-color: #989898 transparent transparent transparent;
       }
       .select select-style:hover ~ .select_arrow,
       .select select-style:focus ~ .select_arrow {
        border-top-color: #000000;
       }
       .select select-style:disabled ~ .select_arrow {
        border-top-color: #cccccc;
       }
       .select-style select:hover, .select-style select:focus{
         color: #495057 !important;
         background: unset;
       }
       .pl11{
           padding-left: 11px
       }
       .pl30{
        padding-left: 30px
    }
    .inner-table{
        font-size: 15px;
        color: #007bff;
        display: block;
        max-width: 90%;
    }
    .inner-table-data{
        font-size: 12px;
        color: #aeaeb4;
        display: block;
        max-width: 90%;
    }
    .mrl-25{
        margin-left: 25px;
    }