    <!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->

<div class="pt-4 tab-section">    
<tabset #staticTabs *ngIf="userType === 2">
    <tab heading="User Management">
        <div class="pr-3 pt-3" id="contentToConvert">
        <!-- <p *ngIf="message" class="sucess-msg"><i class="fa fa-check-circle upload-crt-icon" aria-hidden="true" (click)="messageClose()"></i>{{message}}</p> -->
            <div class="float-right row pb-3 adduser-respon">
                <span class="pr-2 upload-line">
                    <button class="fileUpload btn btn-primary addUser-upload">
                        <span><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{constant.btns.uploadEmp}}</span>
                        <input type="file" name="videoFile" class="upload" [(ngModel)]="fileUploadValue" (change)="fileUpload($event)"
                            accept=".xlsx" />
                    </button>
                </span>
                <span class="pr-2"><button class="btn btn-primary" (click)="openAddUser(addUserTemp,'','')">{{constant.btns.addUser}}</button></span>
                <span class="pagenation-btn">
                    <ngx-select-dropdown [options]="pageLimitOptions" [(value)]="pageLimit" [config]="{placeholder : 'Limit'}"
                        class="pagenation-dropdown"></ngx-select-dropdown>
                </span>
            </div>
            <form class="table-responsive custom-table2 px-1" #userForm="ngForm">
                <table class="table table-striped white-bg mt-1" [mfData]="constant.userList" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
                    <thead>
                        <tr class="th-boxshadow text-center">
                            <th>
                                <mfDefaultSorter by="employeeId">{{labels.employeeId}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="employeeName">{{labels.userName}}<span class="ml-2"><img src="assets/images/sortby.png"
                                            class="s-width"></span></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="division">{{labels.division}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="department">{{labels.department}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="role">{{labels.role}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="emailId">{{labels.email}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="mobile">{{labels.mobile}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter></mfDefaultSorter>
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of mf.data,index as i" class="table-desc-color">
                            <td class="vat user-desc"><label class="mb-0">{{ user.employeeId }}</label></td>
                            <td class="vat user-desc"><label class="mb-0">{{ user.userName }}</label></td>
                            <td class="vat user-desc"><span *ngIf="user.Division"><label class="mb-0">{{ user.Division.divisionName }}</label></span></td>
                            <td class="vat user-desc"><span *ngIf="user.Department"><label class="mb-0">{{ user.Department.departmentName }}</label></span></td>
                            <td class="vat user-desc"><span *ngIf="user.Designation"><label class="mb-0">{{ user.Designation.designationName }}</label></span></td>
                            <td class="vat user-desc"><label class="mb-0">{{ user.email }}</label></td>
                            <td class="vat user-desc"><label class="mb-0">{{ user.phoneNumber }}</label></td>
                            <td class="vat user-desc"><a (click)="openAddUser(addUserTemp,user,i)"><i class="fas fa-pencil-alt"></i></a>
                                <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                                <a><i class="fas fa-toggle-on"></i></a>
                            </td> 
                                
                        </tr>
                        <tr *ngIf="mf.data?.length == 0">
                            <td colspan="10" class="text-center data-design">{{constant.labels.noData}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-html2canvas-ignore="true">
                            <td colspan="10">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </tab>
    <tab heading="Hierarchy">  
        <div class="pr-3 pt-3 clearfix">
                <h5 class="float-left title-hd">Division</h5>
            <span class="pr-2"><button class="btn btn-primary" (click)="openAddUser(addDivision,'','')"><i class="fa fa-plus mr-1" aria-hidden="true"></i>Add New</button></span>
            <div class="hierarchy-tab white-bg pl-4 mt-3">
            <div class="detail-bottom row ">                
                <div class="row depart-dtl col-md-12 p-0">
                    <label class="col-md-12 p-0 label-title">Division1 <a href="#"><i class="fas fa-pencil-alt"></i></a></label>
                    <div class="dpt-list pl-1 ml-4"><span>Department 1</span><span>Department 1</span></div>
                </div>
                <div class="row depart-dtl col-md-12 p-0">
                    <label class="col-md-12 p-0 label-title">Division1 <a href="#"><i class="fas fa-pencil-alt"></i></a></label>
                    <div class="dpt-list pl-1 ml-4"><span>Department 1</span><span>Department 1</span></div>
                </div>
            </div> 
            </div>
        </div>    
    </tab>
    <tab heading="Role Permission">
       <app-rolepermission></app-rolepermission>
    </tab>
</tabset>  
</div>
<div class="pr-3 pt-3" id="contentToConvert" *ngIf="userType !== 2">
<!-- <p *ngIf="message" class="sucess-msg"><i class="fa fa-check-circle upload-crt-icon" aria-hidden="true" (click)="messageClose()"></i>{{message}}</p> -->
    <div class="float-right row pb-3 adduser-respon">
        <span class="pr-2 upload-line">
            <div class="fileUpload btn btn-primary addUser-upload">
                <span><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{constant.btns.uploadEmp}}</span>
                <input type="file" name="videoFile" class="upload" [(ngModel)]="fileUploadValue" (change)="fileUpload($event)"
                    accept=".xlsx" />
            </div>
        </span>
        <span class="pr-2"><a class="btn btn-primary br-btn" (click)="openAddUser(addUserTemp,'','')">{{constant.btns.addUser}}</a></span>
        <span class="pagenation-btn">
            <ngx-select-dropdown [options]="pageLimitOptions" [(value)]="pageLimit" [config]="{placeholder : 'Limit'}"
                class="pagenation-dropdown"></ngx-select-dropdown>
        </span>
    </div>
    <form class="table-responsive custom-table2 px-1" #userForm="ngForm">
        <table class="table table-striped white-bg mt-1" [mfData]="constant.userList" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
            <thead>
                <tr class="th-boxshadow text-center">
                    <th>
                        <mfDefaultSorter by="employeeId">{{labels.employeeId}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="employeeName">{{labels.userName}}<span class="ml-2"><img src="assets/images/sortby.png"
                                    class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="division">{{labels.division}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="department">{{labels.department}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="role">{{labels.role}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="emailId">{{labels.email}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="mobile">{{labels.mobile}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of mf.data,index as i" class="table-desc-color">
                    <td class="vat user-desc"><label class="mb-0">{{ user.employeeId }}</label></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.userName }}</label></td>
                    <td class="vat user-desc"><span *ngIf="user.Division"><label class="mb-0">{{ user.Division.divisionName }}</label></span></td>
                    <td class="vat user-desc"><span *ngIf="user.DepartMent"><label class="mb-0">{{ user.DepartMent.departmentName }}</label></span></td>
                    <td class="vat user-desc"><span *ngIf="user.Designation"><label class="mb-0">{{ user.Designation.designationName }}</label></span></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.email }}</label></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.phoneNumber }}</label></td>
                    <td class="vat user-desc"><a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a></td>
                    <td class="vat user-desc"><a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a></td> 
                </tr>
                <tr *ngIf="mf.data?.length == 0">
                    <td colspan="10" class="text-center data-design">{{constant.labels.noData}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr data-html2canvas-ignore="true">
                    <td colspan="10">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>  
<ng-template #addUserTemp>
    <div class="modal-header pb-0">
        <p class="hd-alg pl-3" *ngIf="!editEnable">{{constant.btns.addUser}}</p>
        <p class="hd-alg pl-3" *ngIf="editEnable">{{constant.btns.editUser}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <form #userForm="ngForm"  (ngSubmit)="addUser(userForm)">
           
        <!-- <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.employeeId}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter Emp ID" [(ngModel)]="userId"
                    name="userId" #user="ngModel" (keyup)="validationUpdate(mf.data,'userId')" />
                    <span class="required_color"
                        *ngIf="userForm.submitted && !userId">{{constant.mandatoryText.empId}}</span>
                    <span class="required_color"
                            *ngIf="userForm.submitted && userId && validUserId">{{constant.mandatoryText.empIdExist}}</span>
                </span>
            </div>  -->

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.userName}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter User Name" [(ngModel)]="userName"
                        name="userName" #user="ngModel" />
                    <span class="required_color"
                        *ngIf="userForm.submitted && !userName">{{constant.mandatoryText.empName}}</span>                 
                </span>
            </div>
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.division}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="division" name="division" class="form-control">
                        <option value="">{{constant.labels.select}}</option>
                        <option *ngFor="let obj of divisionArray" [value]="obj.divisionId">{{obj.divisionName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color" *ngIf="userForm.submitted && !division">
                        {{constant.mandatoryText.division}}</span>
                </span>
            </div>
            
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.department}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="department" (ngModelChange)="designationUpdate($event)" name="department"
                        class="form-control">
                        <option value="">{{constant.labels.select}}</option>
                        <option *ngFor="let obj of departmentArray" [value]="obj.departmentId">{{obj.departmentName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <!-- <span class="required_color"
                        *ngIf="userForm.submitted && !department">{{constant.mandatoryText.dept}}</span>-->
                </span> 
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.role}}</label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="designation" name="designation" class="form-control">
                        <option value="">{{constant.labels.select}}</option>
                        <option *ngFor="let obj of designationArray" [value]="obj.designationId">{{obj.designationName}}</option>
                    </select>
                     <div class="select_arrow"></div>
                    <!-- <span class="required_color" *ngIf="userForm.submitted && !designation">
                        {{constant.mandatoryText.designation}}</span> -->
                </span> 
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.email}}</label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="emailAddress"
                        name="emailAddress" #email="ngModel" (keyup)="validationUpdate('email')" />
                        <span class="required_color"
                            *ngIf="userForm.submitted && !emailAddress">{{constant.mandatoryText.emailId}}</span>
                        <span class="required_color"
                            *ngIf="userForm.submitted  && emailAddress && validEmail">{{constant.mandatoryText.emailInvalid}}</span>
                </span>
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.mobile}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter Mobile Number"
                        [(ngModel)]="phoneNumber" name="phoneNumber" #mobile="ngModel" (keyup)="validationUpdate('mobile')" /><span
                        class="required_color"
                        *ngIf="userForm.submitted && !phoneNumber">{{constant.mandatoryText.mobNo}}</span><span
                        class="required_color" *ngIf="userForm.submitted  && phoneNumber && validPhone">
                        {{constant.mandatoryText.invalidMobNo}}</span>
                </span>
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{labels.reportingTo}}</label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="reportingTo" name="reportingTo" class="form-control">
                        <option value="">{{constant.labels.select}}</option>
                        <option *ngFor="let obj of designationArray" [value]="obj.designationId">{{obj.designationName}}</option>
                    </select>
                     <div class="select_arrow"></div>
                    <!-- <span class="required_color" *ngIf="userForm.submitted && !reportingTo">
                        {{constant.mandatoryText.reportingTo}}</span>-->
                </span> 
            </div>

            <div class="row form-group pl-3">
                <label class="hole-cont default-set">{{labels.defaultSetting}}
                    <input type="checkbox" [(ngModel)] = "defaultSetting" name="defaultSetting" #setting="ngModel"  checked/>
                          <span class="checkmark"></span>
                           </label>
            </div>

            <div class="text-center">
                <button type="submit" *ngIf="!editEnable" class="btn btn-primary creat-btn mr-3">{{constant.btns.save}}</button>
                <button type="button" *ngIf="editEnable" (click)="updateUser(userForm)" class="btn btn-primary creat-btn mr-3">{{constant.btns.save}}</button>
                <button type="button" class="btn btn-default"
                    (click)="closeAddForm()">{{constant.btns.cancel}}</button>
            </div>
        </form> 
    </div>
</ng-template>

<ng-template #deleteUser>
    <div class="modal-header pb-0">
        <p class="hd-alg pl-3">{{constant.labels.deleteUser}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <span>{{constant.labels.deleteConfirmation}}</span>
        <div class="text-center">
            <button (click)="deleteuser()"
                class="btn btn-primary creat-btn mr-3">{{constant.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="constant.modalRef.hide()">{{constant.btns.Cancel}}</button>
        </div>
    </div>
</ng-template>
<ng-template #addDivision>
    <div class="modal-header pb-0">
        <p class="hd-alg pl-0">Add Division</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-12 tab-section" >           
        <ul class="nav nav-tabs" (click)="tabchange($event)">
            <li class="nav-item">
                <a [ngClass] = "!triggerNext ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#home" name="division">{{constant.labels.division}}</a>
            </li>
            <li class="nav-item">
                <a [ngClass] = "triggerNext ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#menu1" name="department">{{constant.labels.department}}</a>
            </li>
        </ul>    
        <div class="tab-content" *ngIf="userType === 2">
            <div id="home" [ngClass] = "!triggerNext ? 'container tab-pane col-md-12 pl-0 active' : 'container tab-pane col-md-12 pl-0'"><br>
                <div class="row col-12 col-md-12 pl-0" *ngFor="let data of constant.divisionTemplate; let i = index">
                    <label class="col-5 col-md-4 label-title pl-0" *ngIf="i==0">{{constant.labels.division}}</label>
                    <label class="col-5 col-md-4 label-title pl-0" *ngIf="i!=0"></label>
                    <div class="input-group mb-3 col-7 col-md-8 group-box">
                        <input type="text" class="form-control col-md-11" placeholder="Division{{i+1}}" [(ngModel)]="data.divisionName" name = "division{{i+1}}" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-icon" type="button" *ngIf="i==0" (click)="addForm('division')">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                            </button>
                            <button class="btn btn-icon" type="button" *ngIf="i!=0" (click)="removeForm(i,'division')">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                            </button>
                        </div> 
                    </div>                       
                </div>
            </div>
            <div id="menu1" [ngClass] = "triggerNext ? 'container tab-pane col-md-12 pl-0 active' : 'container tab-pane col-md-12 pl-0'"><br>
                <div class="row col-12 col-md-12 p-0" *ngFor="let data of constant.departmentTemplate; let i = index">
                    <select class="col-4 col-md-3 select-form form-control pl-0" *ngIf="i==0"> 
                        <option *ngFor="let name of constant.divisionTemplate">{{name.divisionName}}</option>
                    </select>
                    <label class="col-md-3 select-form form-control pl-0" *ngIf="i!=0"></label>
                    <div class="col-7 input-group mb-3 col-md-8 group-box">
                        <input type="text" class="form-control col-md-11" placeholder="Department{{i+1}}" [(ngModel)]="data.departmentName" name = "department{{i+1}}" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-icon" type="button" *ngIf="i==0" (click)="addForm('department')">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                            </button>
                            <button class="btn btn-icon" type="button" *ngIf="i!=0" (click)="removeForm(i,'department')">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                            </button>
                        </div> 
                    </div>   
                </div>
            </div>
        </div>  
        <div class="text-center mrb-15">
            <button type="submit" *ngIf="!triggerNext" (click)="next()" class="btn btn-primary creat-btn mr-3">{{constant.btns.next}}</button>
            <button type="button" *ngIf="triggerNext" (click)="addDivision()" class="btn btn-primary creat-btn mr-3">{{constant.btns.save}}</button>
            <button type="button" class="btn btn-default" (click)="closeAddForm()">{{constant.btns.cancel}}</button>
        </div>          
    </div>
</ng-template>