<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="tab-section pt-3">    
<tabset #staticTabs *ngIf="userType !== 1">
    <tab heading={{commonLabels.labels.userManagement}} (select)="roleTabSelect('user')">
        <div class="pt-3" id="contentToConvert">
        <!-- <p *ngIf="message" class="sucess-msg"><i class="fa fa-check-circle upload-crt-icon" aria-hidden="true" (click)="messageClose()"></i>{{message}}</p> -->
            <div class="float-right row pb-3 adduser-respon">
                <span class="pr-2 upload-line">
                    <button class="fileUpload btn btn-primary addUser-upload">
                        <span><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{commonLabels.btns.uploadEmp}}</span>
                        <input type="file" name="videoFile" class="upload" [(ngModel)]="fileUploadValue" (change)="fileUpload($event)"
                            accept=".xlsx,.csv" />
                    </button>
                </span> 
                <div class="dropdown btn-group pull-right export-btn mr-2" *ngIf="constant.userList.length">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {{commonLabels.btns.exportTo}}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item pl-3" (click)="exportAsXLSX()">{{commonLabels.btns.excel}}</a>
                          <a class="dropdown-item pl-3" (click)="exportAsPDF()">{{commonLabels.btns.pdf}}</a>
                        </div>
                      </div>
                <span class="pr-2"><button class="btn btn-primary" (click)="openAddUser(addUserTemp,'','')"><i class="fa fa-plus pr-2"></i>{{commonLabels.btns.addUser}}</button></span>
                <!-- <span class="pagenation-btn">
                    <ngx-select-dropdown [options]="pageLimitOptions" [(value)]="pageLimit" [config]="{placeholder : 'Limit'}"
                        class="pagenation-dropdown"></ngx-select-dropdown>
                </span> -->
                
            </div>
            <form class="table-responsive custom-table2 px-1" #userForm="ngForm" id="userForm">
                <table class="table table-striped white-bg mt-1" [mfData]="constant.userList" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
                    <thead>
                        <tr class="th-boxshadow text-center">
                            <th>
                                <mfDefaultSorter by="employeeId">{{commonLabels.labels.employeeId}}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="userName">{{commonLabels.labels.userName}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="Division.divisionName">{{commonLabels.labels.division}}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="Department.departmentName">{{commonLabels.labels.department}}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="Designation.designationName">{{commonLabels.labels.role}}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="emailId">{{commonLabels.labels.email}}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="mobile">{{commonLabels.labels.mobile}}</mfDefaultSorter>
                            </th>
                            <th class="text-center action-hd">
                               <!-- Action -->
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of mf.data,index as i" class="table-desc-color">
                            <td class="text-center"><label class="mb-0">{{ user.employeeId }}</label></td>
                            <td class="text-center"><label class="mb-0">{{ user.userName }}</label></td>
                            <td class="text-center"><span *ngIf = "user.ResortUserMappings.length"><label class="mb-0" >{{ getDivisionArray(user.ResortUserMappings,'div') }}</label></span></td>
                            <td class="text-center"><span *ngIf = "user.ResortUserMappings.length"><label class="mb-0">{{ getDivisionArray(user.ResortUserMappings,'dept')}}</label></span></td>
                            <td class="text-center"><span *ngIf = "user.ResortUserMappings.length"><label class="mb-0">{{ getDivisionArray(user.ResortUserMappings,'design') }}</label></span></td>
                            <td class="text-center"><label class="mb-0">{{ user.email }}</label></td>
                            <td class="text-center"><label class="mb-0">{{ user.phoneNumber }}</label></td>
                            <td class="text-center"><a (click)="openAddUser(addUserTemp,user,i)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <a (click)="removeUser(deleteUser,user,i)" title="Delete"><i class="fa fa-trash header-icon"></i></a>
                                <a title="{{user.active?'To InActive':'To Active'}}" class="mr-4"><label class="switch">
                                    <input type="checkbox" [checked]="user.active" (change)="activeStatus(user)"> 
                                    <span class="slider round"></span>
                                </label></a>                                
                            </td> 
                                
                        </tr>
                        <tr *ngIf="mf.data?.length == 0">
                            <td colspan="10"> <p class="text-center data-design p-5"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-html2canvas-ignore="true">
                            <td colspan="10">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </tab>
    <tab heading={{commonLabels.labels.hierarchy}} (select)="roleTabSelect('div')">  
        <div class="pt-3 clearfix">
            <div class="hd-section clearfix">
            <h5 class="float-left title-hd">{{commonLabels.labels.division}}</h5>
            <span *ngIf="!divisionDetails.length" class="float-right">
                <button class="btn btn-primary" (click)="openAddUser(addDivision,'','')"><i class="fa fa-plus mr-1" aria-hidden="true"></i>{{commonLabels.btns.addNew}}</button></span>
            </div>
            <div class="hierarchy-tab white-bg px-4 pt-4 mt-3">
            <div class="detail-bottom row">                
                <div class="row depart-dtl col-md-12 p-0 mb-4 clearfix" *ngFor="let division of divisionDetails;let i = index;">
                    <label *ngIf="division?.Division?.Departments.length" class="col-md-12 p-0 division-title">{{division?.Division?.divisionName}} 
                        <a (click)="openAddUser(addDivision,'','')" title="add"><i class="fa fa-plus ml-10"></i></a>
                        <a (click)="editDivisionData(division?.Division,editDivision)" title="Edit"><i class="fas fa-pencil-alt ml-10"></i></a>
                        <a (click)="removeDivision(deleteDivision,division,i)" class="ml-10" title="Delete"><i class="fas fa-trash"></i></a>
                    </label>
                        <div *ngIf="division?.Division?.Departments.length" class="dpt-list pl-1 ml-4" >
                            <div>
                                <span  *ngFor="let dept of division?.Division?.Departments">{{dept.departmentName}}</span>
                                <!-- <span>Department 1 <a href="#"><i class="fas fa-times-circle cross-icon"></i></a></span> -->
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- <span *ngIf="!divisionDetails.length">{{commonLabels.labels.noData}}</span> -->
            <div class="col-md-12 p-0">
              <div class="text-center p-4"  *ngIf="!divisionDetails.length">
                <p class="data-design mt-0"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
              </div>
            </div>
            </div>
        </div>    
    </tab>
    <tab heading = {{commonLabels.labels.listofRole}} (select)="roleTabSelect('roles')">
        <div class="pt-4 clearfix listrole">
            <div class="hd-section clearfix">
            <h5 class="float-left title-hd">{{commonLabels.labels.listofRole}}</h5>
            <span class="float-right"><button class="btn btn-primary" (click)="openAddRole(addRole,'','')"><i class="fa fa-plus mr-1" aria-hidden="true"></i>{{commonLabels.btns.addNew}}</button></span>
            </div>
            <div class="hierarchy-tab white-bg pt-4 px-4 mt-3">
                <div class="detail-bottom row">                
                    <div class="row depart-dtl col-md-12 p-0" *ngFor="let role of roleDetails;let i = index;">
                        <label  *ngIf="roleDetails.length" class="col-md-12 p-0 label-title">
                            <span class="col-md-2 mr-0 word-wrap">{{i+1}}.{{role.designationName}} </span>
                            <a (click)="editRoleData(role,editRole)" class="icon-section pt-2 pl-4" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a (click)="removeRole(deleteRole,role,i)" class="icon-section pt-2 pl-4" title="Delete"><i class="fas fa-trash"></i></a>
                        </label>
                    </div>
                    <!-- <span *ngIf="!roleDetails.length">>{{commonLabels.labels.noData}}</span> -->
                    <div class="col-md-12 p-0">
              <div class="text-center p-4"  *ngIf="!roleDetails.length">
                <p class="data-design mt-0"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
              </div>
            </div>
                </div> 
            </div>
        </div> 
    </tab>
    <tab heading={{commonLabels.labels.rolesPermission}} (select)="roleTabSelect('rolesPermission')">
       <app-rolepermission *ngIf="enableRolePermission"></app-rolepermission>
    </tab>
</tabset>  
</div>
<div class="pr-3 pt-3" id="contentToConvert" *ngIf="userType === 1">
<!-- <p *ngIf="message" class="sucess-msg"><i class="fa fa-check-circle upload-crt-icon" aria-hidden="true" (click)="messageClose()"></i>{{message}}</p> -->
    <div class="float-right row pb-3 adduser-respon">
        <span class="pr-2 upload-line">
            <div class="fileUpload btn btn-primary addUser-upload">
                <span><i class="fa fa-upload mr-1" aria-hidden="true"></i>{{commonLabels.btns.uploadEmp}}</span>
                <input type="file" name="videoFile" class="upload" [(ngModel)]="fileUploadValue" (change)="fileUpload($event)"
                    accept=".xlsx" />
            </div>
        </span>
        <span class="pr-2"><a class="btn btn-primary br-btn" (click)="openAddUser(addUserTemp,'','')">{{commonLabels.btns.addUser}}</a></span>
        <span class="pagenation-btn">
            <ngx-select-dropdown [options]="pageLimitOptions" [(value)]="pageLimit" [config]="{placeholder : 'Limit'}"
                class="pagenation-dropdown"></ngx-select-dropdown>
        </span>
    </div>
    <form class="table-responsive custom-table2 px-1" #userForm="ngForm">
        <table class="table table-striped white-bg mt-1" [mfData]="constant.userList" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
            <thead>
                <tr class="th-boxshadow text-center">
                    <th>
                        <mfDefaultSorter by="employeeId">{{commonLabels.labels.employeeId}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="employeeName">{{commonLabels.labels.userName}}<span class="ml-2"><img src="assets/images/sortby.png"
                                    class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="division">{{commonLabels.labels.division}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="department">{{commonLabels.labels.department}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="role">{{commonLabels.labels.role}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="emailId">{{commonLabels.labels.email}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="mobile">{{commonLabels.labels.mobile}}</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of mf.data,index as i" class="table-desc-color">
                    <td class="vat user-desc"><label class="mb-0">{{ user.employeeId }}</label></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.userName }}</label></td>
                    <td class="vat user-desc"><span *ngIf="user.ResortUserMappings.length"><label class="mb-0" *ngFor="let div of ResortUserMappings">{{ div.Division.divisionName }}</label></span></td>
                    <td class="vat user-desc"><span *ngIf="user.ResortUserMappings.length"><label class="mb-0" *ngFor="let div of ResortUserMappings">{{ div.Department.departmentName }}</label></span></td>
                    <td class="vat user-desc"><span *ngIf="user.ResortUserMappings.length"><label class="mb-0" *ngFor="let div of ResortUserMappings">{{ div.Designation.designationName }}</label></span></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.email }}</label></td>
                    <td class="vat user-desc"><label class="mb-0">{{ user.phoneNumber }}</label></td>
                    <td class="vat user-desc"><a (click)="openAddUser(addUserTemp,user,i)" title="Edit"><i class="fa fa-pen
                        cil header-icon"></i></a></td>
                    <td class="vat user-desc"><a (click)="removeUser(deleteUser,user,i)"  title="Delete"><i class="fa fa-trash header-icon"></i></a></td> 
                </tr>
                <tr *ngIf="mf.data?.length == 0">
                    <td colspan="10" class="text-center data-design"><span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr data-html2canvas-ignore="true">
                    <td colspan="10">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>  
<ng-template #addUserTemp>
    <div class="modal-header pb-0">
        <p class="hd-alg" *ngIf="!editEnable">{{commonLabels.btns.addUser}}</p>
        <p class="hd-alg" *ngIf="editEnable">{{commonLabels.btns.editUser}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <form #userForm="ngForm"  (ngSubmit)="addUser(userForm)">
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.employeeId}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter Employee Id" [(ngModel)]="empId"
                        name="employeeId" #employee="ngModel" />
                    <span class="required_color"
                        *ngIf="userForm.submitted && !empId">{{commonLabels.mandatoryLabels.employeeId}}</span>                 
                </span>
            </div>
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.userName}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter User Name" [(ngModel)]="userName"
                        name="userName" #user="ngModel" />
                    <span class="required_color"
                        *ngIf="userForm.submitted && !userName">{{commonLabels.mandatoryLabels.empName}}</span>                 
                </span>
            </div>
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.division}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <!-- <select [(ngModel)]="division" #divisionReq="ngModel" name="division" (ngModelChange)="changedivision()" class="form-control" required>
                        <option value="">{{commonLabels.labels.select}}</option>
                        <option *ngFor="let obj of divisionArray" [value]="obj.divisionId">{{obj.divisionName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color"
                        *ngIf="userForm.submitted && divisionReq.errors?.required">{{commonLabels.mandatoryLabels.division}}
                    </span> -->
                    <div class="pl-0 form-group select-Courses">
                    <ng-multiselect-dropdown [placeholder]="'Division'" name="division" [data]="divisionArray"
                        [(ngModel)]="division" [settings]="batchVar.divisionSettings" (onSelect)="onEmpSelect($event,'div')"
                        (onDeSelect)="onDeselect($event,'div')" #divisionId="ngModel" required></ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="userForm.submitted && !division.length">
                            {{commonLabels.mandatoryLabels.diviName}}
                        </span>
                    </div>
                </span>
            </div>
            
            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.department}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <!-- <select [(ngModel)]="department" #departmentReq="ngModel" (ngModelChange)="designationUpdate($event)" name="department"
                        class="form-control" required>
                        <option value="">{{commonLabels.labels.select}}</option>
                        <option *ngFor="let obj of departmentArray" [value]="obj.departmentId">{{obj.departmentName}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color"
                        *ngIf="userForm.submitted && departmentReq.errors?.required">{{commonLabels.labels.dept}}
                    </span> -->
                    <div class="pl-0 form-group select-Courses">
                        <ng-multiselect-dropdown [placeholder]="'Department'" name="department" [data]="departmentArray"
                        [(ngModel)]="department" [settings]="batchVar.departmentSettings" (onSelect)="onEmpSelect($event,'dept')"
                        (onDeSelect)="onDeselect($event,'dept')" #departmentId="ngModel" required></ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="userForm.submitted && !department.length">
                            {{commonLabels.mandatoryLabels.deptName}}
                        </span>
                    </div>
                </span> 
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.role}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <!-- <select [(ngModel)]="designation" name="designation"  #designationReq="ngModel" class="form-control" required>
                        <option value="">{{commonLabels.labels.select}}</option>
                        <option *ngFor="let obj of designationArray" [value]="obj.designationId">{{obj.designationName}}</option>
                    </select>
                     <div class="select_arrow"></div>
                    <span class="required_color" *ngIf="userForm.submitted && designationReq.errors?.required">
                        {{commonLabels.mandatoryLabels.designation}}
                    </span> -->
                    <div class="pl-0 form-group select-Courses">
                        <ng-multiselect-dropdown [placeholder]="'Designation'" name="designation" [data]="designationArray"
                        [(ngModel)]="designation" [settings]="batchVar.designationSettings" (onSelect)="onEmpSelect($event,'design')"
                        (onDeSelect)="onDeselect($event,'design')" #departmentId="ngModel" required></ng-multiselect-dropdown>
                        <span class="required_color" *ngIf="userForm.submitted && !designation.length">
                            {{commonLabels.mandatoryLabels.roleName}}
                        </span>
                    </div>
                </span> 
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.email}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="emailAddress"
                        name="emailAddress" #email="ngModel" (keyup)="validationUpdate('email')" />
                        <span class="required_color"
                            *ngIf="userForm.submitted && !emailAddress">{{commonLabels.mandatoryLabels.emailId}}</span>
                        <span class="required_color"
                            *ngIf="userForm.submitted && emailAddress && validEmail">{{commonLabels.mandatoryLabels.emailInvalid}}</span>
                </span>
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.mobile}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0">
                    <input type="text" class="form-control" placeholder="Enter Mobile Number"
                        [(ngModel)]="phoneNumber" name="phoneNumber" #mobile="ngModel" (keyup)="validationUpdate('mobile')" /><span
                        class="required_color"
                        *ngIf="userForm.submitted && !phoneNumber">{{commonLabels.mandatoryLabels.mobNo}}</span><span
                        class="required_color" *ngIf="userForm.submitted && phoneNumber && validPhone">
                        {{commonLabels.mandatoryLabels.invalidMobNo}}</span>
                </span>
            </div>

            <div class="row form-group">
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.reportingTo}}</label>
                 <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="reportingTo" name="reportingTo" class="form-control">
                        <option value="">{{commonLabels.labels.select}}</option>
                        <option *ngFor="let obj of designationArray" [value]="obj.designationId">{{obj.designationName}}</option>
                    </select>
                     <div class="select_arrow"></div>
                </span> 
            </div>

            <div class="row form-group">                    
                <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.accessTo}}</label>
                <span class="col-md-1"></span>
                <span class="col-md-8 pl-0 select select-style clearfix">
                    <select [(ngModel)]="accessTo" name="accessTo" #accessToReq="ngModel" class="form-control" required>
                        <option value="web">{{commonLabels.labels.web}}</option>
                        <option value="mobile">{{commonLabels.labels.mobile}}</option>
                    </select>
                    <div class="select_arrow"></div>
                    <span class="required_color"
                        *ngIf="userForm.submitted && accessToReq.errors?.required">{{commonLabels.mandatoryLabels.accessTo}}</span>
                </span>                 
            </div>

          <span class="text-center mb-3 mt-0 required_color" *ngIf="errMsg">{{errMsg}}</span>

            <div class="text-center">
                <button type="submit" *ngIf="!editEnable" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
                <button type="submit" *ngIf="editEnable"  class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.update}}</button>
                <button type="button" class="btn btn-default"
                    (click)="closeAddForm()">{{commonLabels.btns.cancel}}</button>
            </div>
        </form> 
    </div>
</ng-template>

<ng-template #deleteUser>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.deleteUser}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
         <span class="text-content">{{commonLabels.labels.deleteConfirmuser}}</span>
        <div class="text-center mt-4">
            <button (click)="deleteuser()"
                class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="constant.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>


<ng-template #addDivision>
    <div class="modal-header pb-0">
        <p class="hd-alg pl-0">{{commonLabels.labels.addDivision}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-md-12 tab-section" >           
        <ul class="nav nav-tabs" (click)="tabchange($event)">
            <li class="nav-item">
                <a [ngClass] = "!triggerNext ? 'nav-link active show' : 'nav-link'" data-toggle="tab" href="#home" name="division">{{commonLabels.labels.division}}</a>
            </li>
            <li class="nav-item">
                <a [ngClass] = "triggerNext ? 'nav-link active show' : 'nav-link disabled'" data-toggle="tab" href="#menu1" name="department">{{commonLabels.labels.department}}</a>
            </li>
        </ul>   
        <div *ngIf="!divisionValidationCheck"><span class="required_color text-left">{{divisionError}}</span></div> 
        <div *ngIf="duplicateError"><span class="required_color text-left">{{duplicateError}}</span></div> 
        <div class="tab-content" *ngIf="userType !== 1">
            <div id="home" [ngClass] = "!triggerNext ? 'container tab-pane col-md-12 p-0 active' : 'container tab-pane col-md-12 pl-0'"><br>
                <div class="row col-12 col-md-12 p-0" *ngFor="let data of constant.divisionTemplate; let i = index">
                    <label class="col-5 col-md-4 label-title pl-0" *ngIf="i==0">{{commonLabels.labels.division}}</label>
                    <label class="col-5 col-md-4 label-title pl-0" *ngIf="i!=0"></label>
                    <div class="input-group mb-3 col-7 col-md-8 group-box">
                        <input type="text" class="form-control col-md-11" placeholder="Enter the Division{{i+1}}" [(ngModel)]="data.divisionName" name = "division{{i+1}}" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-icon" type="button" *ngIf="i==0" (click)="addForm('division',i)" title="Add">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                            </button>
                            <button class="btn btn-icon" type="button" *ngIf="i!=0" (click)="removeForm(i,'division','')" title="Delete">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                            </button>
                        </div> 
                    </div>                       
                </div>
            </div>
            <div id="menu1" [ngClass] = "triggerNext ? 'container tab-pane col-md-12 p-0 active' : 'container tab-pane col-md-12 pl-0'"><br>
                <div class="row col-12 col-md-12 p-0" *ngFor="let data of constant.divisionTemplate; let i = index">
                    <!-- <select class="col-4 col-md-3 select-form form-control pl-0" *ngIf="i==0"> 
                        <option *ngFor="let name of constant.divisionTemplate">{{name.divisionName}}</option>
                    </select> -->
                    <label class="col-4 col-md-3  label-title pl-0">{{data.divisionName}}</label>
                    <!-- <label class="col-md-3 select-form form-control pl-0" *ngIf="i!=0"></label> -->
                    <div *ngFor="let dept of data.departments; let oi = index" class="col-8 col-md-9 p-0">
                        <div  [ngClass] = "oi === 0 ? 'col-12 input-group mb-3 col-md-12 group-box cll' : 'col-12 input-group mb-3 col-md-12 group-box group-section-bx'" >
                        <input type="text" class="form-control col-md-11" placeholder="Enter the  Department{{oi+1}}" [(ngModel)]="dept.departmentName" name = "department{{oi+1}}" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="btn btn-icon" type="button" *ngIf="oi==0" (click)="addForm('department',i)" title="Add">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                            </button>
                            <button class="btn btn-icon" type="button" *ngIf="oi!=0" (click)="removeForm(i,'department',oi)" title="Delete">
                                <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                            </button>
                        </div> </div>
                    </div>   
                </div>
                <div *ngIf="!errorValidation"><span class="required_color text-left">{{errorValidate}}</span></div>         

            </div>
        </div>  
      
        <div class="text-center mt-3 mrb-15">
            <button type="button" *ngIf="!triggerNext" (click)="next()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.next}}</button>
            <button type="button" *ngIf="triggerNext" (click)="submitDivision()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
            <button type="button" class="btn btn-default" (click)="closeAddForm()">{{commonLabels.btns.cancel}}</button>
        </div>  
      
    </div>
</ng-template>

<ng-template #deleteDivision>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.deleteDivision}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <span class="text-content">{{commonLabels.labels.deleteDivisionConfirmation}}</span>
        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary creat-btn mr-3" (click)="deleteDivisionContent()">{{commonLabels.btns.ok}}</button>
            <button type="button" class="btn btn-default" (click)="constant.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>

<ng-template #editDivision>
    <div class="modal-header pb-0">
        <p class="hd-alg">{{commonLabels.labels.editDivision}}</p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUpdate()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="duplicateError"><span class="required_color text-left">{{duplicateError}}</span></div> 
    <div class="modal-body">
        <div class="row">
        <label class="col-md-4 pl-0 label-title">{{commonLabels.labels.divisionName}}</label>
        <div class="col-md-8 p-0">
        <input type="text" class="form-control col-md-12 mb-2 p-0" placeholder="Division Name" [(ngModel)]="editDivisionValue.divisionName" name = "division" aria-label="" aria-describedby="basic-addon1">
        <div class="row col-12 col-md-12 p-0" *ngFor="let data of editDepartmentList; let i = index">
            <div class="col-4 input-group mb-3 col-md-10 group-box">
                <input type="text" class="form-control col-md-12" placeholder="Enter the  Department{{i+1}}" [(ngModel)]="data.departmentName" name = "department{{i+1}}" aria-label="" aria-describedby="basic-addon1" (keyup)="departmentEditCheck(data.departmentName)">
            </div>
            <div class="input-group-prepend">
                <button class="btn btn-icon" type="button" *ngIf="i == 0" (click)="editDivisionForm('add')" title="Add">
                    <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                </button>
                <button class="btn btn-icon" type="button" *ngIf="i != 0" (click)="editDivisionForm('edit',i)" title="Delete">
                    <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                </button>
            </div> 
        </div>
        <div *ngIf="!errorValidation"><span class="required_color text-left">{{errorValidate}}</span></div>         
        <div *ngIf="!validationDivisionCheck"><span class="required_color text-left">{{commonLabels.mandatoryLabels.deptName}}</span></div>         
        </div>
        </div>
        <div class="text-center mt-3">
            <button (click)="updateDivision()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
            <button type="button" class="btn btn-default" (click)="cancelUpdate()">{{commonLabels.btns.cancel}}</button>
        </div>
    </div>
</ng-template>

    <ng-template #addRole>
        <div class="modal-header pb-0">
            <p class="hd-alg pl-0">{{commonLabels.labels.addRole}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="duplicateError"><span class="required_color text-left">{{duplicateError}}</span></div> 
        <div *ngFor="let dept of roles; let oi = index" class="col-md-12">
            <!-- <div  [ngClass] = "oi === 0 ? 'col-12 input-group mb-3 col-md-12 group-box cll' : 'col-12 input-group mb-3 col-md-12 group-box group-section-bx'" > -->
            <div class ='row'>
                <div class="input-group mb-3 col-12 col-md-12 group-box">
                <input type="text" class="form-control col-md-11" placeholder="Enter the  Role {{oi+1}}" [(ngModel)]="dept.designationName" name = "role{{oi+1}}" aria-label="" aria-describedby="basic-addon1" (keyup)="roleNameValidationCheck()">
                <div class="input-group-prepend">
                    <button class="btn btn-icon" type="button" *ngIf="oi==0" (click)="addForm('roles','')" title="Add">
                        <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                    </button>
                    <button class="btn btn-icon" type="button" *ngIf="oi!=0" (click)="removeForm('','roles',oi)" title="Delete">
                        <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                    </button>
                </div>
            </div>
            </div>
            <div *ngIf="!errorValidation"><span class="required_color text-left">{{errorValidate}}</span></div>         
        </div> 
        <span *ngIf="roleFormSubmitted && roleError && errorValidation" class="required_color ml-3">{{commonLabels.mandatoryLabels.roleName}}</span>
        <div class="text-center mt-4 mrb-15">
            <button type="button" (click)="submitRole()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
            <button type="button" class="btn btn-default" (click)="closeAddForm()">{{commonLabels.btns.cancel}}</button>
        </div>    
       
    </ng-template>

    <ng-template #editRole>
        <div class="modal-header pb-0">
            <p class="hd-alg pl-0">{{commonLabels.labels.editRole}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeAddForm()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="duplicateError"><span class="required_color text-left">{{duplicateError}}</span></div> 
        <div class="col-md-12">
            <input type="text" class="form-control col-md-12 p-0" placeholder="Enter the  Role" [(ngModel)]="editRoleValue"  name="designationName" #roleEditName="ngModel" (keyup)="roleNameValidationCheck()"/>
        </div>
        <div class="row" *ngIf="!errorValidation"><span class="required_color text-left">{{errorValidate}}</span></div>         
        <span *ngIf="roleFormSubmitted && roleId &&roleError" class="required_color ml-3">{{commonLabels.mandatoryLabels.roleName}}</span>
        <div class="text-center mt-4 mrb-15">
                <button type="button" (click)="submitRole()" class="btn btn-primary creat-btn mr-3">{{commonLabels.btns.save}}</button>
                <button type="button" class="btn btn-default" (click)="closeAddForm()">{{commonLabels.btns.cancel}}</button>
            </div>   
    </ng-template>
    
    <ng-template #deleteRole>
        <div class="modal-header pb-0">
            <p class="hd-alg">{{commonLabels.labels.deleteRole}}</p>
            <button type="button" class="close pull-right" aria-label="Close" (click)="constant.modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <span class="text-content">{{commonLabels.labels.deleteRoleConfirmation}}</span>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-primary creat-btn mr-3" (click)="deleteRoleContent()">{{commonLabels.btns.ok}}</button>
                <button type="button" class="btn btn-default" (click)="constant.modalRef.hide()">{{commonLabels.btns.cancel}}</button>
            </div>
        </div>
    </ng-template>