
.label-title{
	color: #697380;
	line-height: 43px;
	font-size: 15px;
}

.mrb{
    margin-bottom : 5px;
}
.save-btn{
	float: none;
}
.icon-design{
	color: #468FB9;
	font-size: 20px;
}
.table-decs{
	position: relative;
}
.videopage{
    float: right;
}
.close-alg{
    display: block;
    width: 20px;
    border: 1px solid #989898;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.videopage:hover .close-alg{
    display: none;
}
.cancel-alg{
    display: none;
    width: 20px;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ED2201;
    cursor: pointer;
}
.videopage:hover .cancel-alg{
    display: block;   
}
.button-section .btn-primary{
    float: inherit;
}

 .course-list{
      border: 1px solid #ccc;
      padding: 5px 25px;
      margin-right: 8px;
      position: relative;
      display: inline-block;
      margin-bottom: 8px;
      font-size: 15px;
      color: #576271;
  }
   .course-list-select{
    border: 1px solid #ff0000;
  }

  .close-alg{
      display: block;
      width: 15px;
      /* border: 1px solid #989898; */
      /* border-radius: 10px; */
      /* padding: 3px; */
      position: absolute;
      top: -4px;
      right: -4px;
      cursor: pointer;
      background-color: #fff;
      border-radius: 10px;
  }
  .square-cont {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
    line-height: 27px;
    font-size: 15px;
     color: #73737B;
     font-weight: 600;
 }
 .square-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }
 .square-checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #9c9c9c;
    border-radius: 3px !important;
 }
 .square-cont input:checked ~ .square-checkmark {
    background-color: #468FB9;
    border: 1px solid #468FB9;
 }
 .square-checkmark:after {
    content: "";
    position: absolute;
    display: none;
 }
 .square-cont input:checked ~ .square-checkmark:after {
    display: block;
 }
 .square-cont .square-checkmark:after {
    left: 5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }