
.label-title{
	color: #697380;
	line-height: 43px;
	font-size: 15px;
}

.mrb{
    margin-bottom : 5px;
}
.save-btn{
	float: none;
}
.icon-design{
	color: #468FB9;
	font-size: 20px;
}
.table-decs{
	position: relative;
}
.videopage{
    float: right;
}
.videopage img{
    width: 20px;   
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
}
.close-alg{
    display: block; 
    border: 1px solid #989898;   
}
.videopage:hover .close-alg{
    display: none;
}
.cancel-alg{
    display: none;  
    background-color: #ED2201;
    border:none;
}
.videopage:hover .cancel-alg{
    display: block;   
}
.button-section .btn-primary{
    float: inherit;
}

 .course-list{
      border: 1px solid #ccc;
      padding: 5px 25px;
      margin-right: 8px;
      position: relative;
      display: inline-block;
      margin-bottom: 8px;
      font-size: 15px;
      color: #576271;
  }
   .course-list-select{
    border: 1px solid #ff0000;
  }

  .close-alg{
      display: block;
      width: 15px;
      /* border: 1px solid #989898; */
      /* border-radius: 10px; */
      /* padding: 3px; */
      position: absolute;
      top: -4px;
      right: -4px;
      cursor: pointer;
      background-color: #fff;
      border-radius: 10px;
  }
  .hole-cont {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    color: #495057;
    line-height: 30px;
 }
 .hole-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }
 .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
 }
 .hole-cont input:checked ~ .checkmark {
        background-color: #468FB9;
    border: 1px solid #468FB9;
 }
 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
 }
 .hole-cont input:checked ~ .checkmark:after {
    display: block;
 }
 .hole-cont .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 }

 .select-style {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 200px;
   }   
    .select-style select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select-style select::-ms-expand {
            display: none;
        }
       /* .select-style select:hover,
        .select-style select:focus {
            color: #000000;
            background: #cccccc;
        } */
        .select-style select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
   .select_arrow {
       position: absolute;
       top: 16px;
       right: 7px;
       pointer-events: none;
       border-style: solid;
       border-width: 6px 5px 0px 5px;
       border-color: #989898 transparent transparent transparent;
   }
   .select select-style:hover ~ .select_arrow,
   .select select-style:focus ~ .select_arrow {
    border-top-color: #000000;
   }
   .select select-style:disabled ~ .select_arrow {
    border-top-color: #cccccc;
   }
   .select-style{
    float: right;
    clear: both;
    padding-bottom: 0px;
   }

   .radio-btn{
       display: block;
       padding: 5px 5px 5px 20px;
       position: relative;
   }
   .radio-btn input{
       display: none;
   }
   .radio-btn span{
        position: absolute;
        border: 1px solid #dcdcdc;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        line-height: 22px;
        font-size: 15px;
        left: -3px;
        top: 0px;
        margin-top: 0px;
        cursor: pointer;
   }
   .radio-sec{
       display: inline-block;
   }
   .form-control.quiz-radio-input{
    display: inline-block;
    margin-left: -32px;
    padding-left: 35px;
   }
   .radio-btn input:checked + span{
    background-color: #468FB9;
    border-color: #468FB9;
    color: #fff;
   }
   .preview-icon{
       float : right !important;
       margin-right: 13px;
   }