<div class="pr-3">
	<div class=""> 
			<form #quizForm="ngForm" ngNativeValidate>
				<div class=" white-bg mt-2">
					<div class="clearfix p-3">
						<div class="row">
							<label class="hole-cont float-left pr-5">
								<input type="checkbox" [checked]="quizCreateType === 'new' ? true : false" name="newQuiz" value="new" (change)="quizTypeUpdate($event)">
								<span class="text-over">New Quiz</span>
								<span class="checkmark"></span>
							</label>
							<label class="hole-cont float-left pr-5">
								<input type="checkbox" [checked]="quizCreateType === 'exist' ? true : false" name="newQuiz" value="exist" (change)="quizTypeUpdate($event)">
								<span class="text-over">Existing Quiz</span>
								<span class="checkmark"></span>
							</label>
							<label class="hole-cont float-left">
								<input type="checkbox" [checked]="quizCreateType === 'none' ? true : false" name="newQuiz" value="none" (change)="quizTypeUpdate($event)">
								<span class="text-over">No Quiz</span>
								<span class="checkmark"></span>
							</label>
						</div>					   
					</div> 
				</div>
				<div class=" white-bg mt-2 p-3" *ngIf="quizCreateType == 'new' ? true : (enableQuiz && quizCreateType == ''? true : false)">
					<div class="row form-group mb-0">
						<label class="col-md-2 p-0 label-title">{{commonLabels.labels.quizName}}</label>
						<div class="col-md-9 pl-3">
							<span>
								<input type="text" class="form-control" placeholder="Enter Quiz Name" name="name" #quizname="ngModel"
									[(ngModel)]="quizName" required>
							</span>
							<span class="required_color"  *ngIf="quizname.invalid && (quizForm.submitted || quizname.touched)">
								{{commonLabels.labels.quizName}} {{commonLabels.mandatoryLabels.isRequired}}
							</span>
						</div>
						<div class="col-md-1">
							<button *ngIf="i==0" type="button" class="btn btn-primary" (click)="uploadQuiz()">Upload</button>
						</div>
					</div>		
				</div>
				<div class="white-bg mt-2 p-3 row form-group" *ngIf="quizCreateType == 'exist'">
					<label class="col-md-2 p-0 label-title mb-0">{{commonLabels.labels.quizName}}</label>
					<div class=" col-md-9 pl-0 select select-style clearfix p-0 m-0">
						<select class="form-control p-0 cp" name="quiz" [(ngModel)]="selectedQuiz" (change)="getQuizData()">
							<option value="null" disabled>{{commonLabels.labels.selectQuiz}}</option>
							<option *ngFor="let quiz of quizList" value="{{quiz.quizId}}">{{quiz.quizName}}</option>
						</select>
						<div class="select_arrow"></div>
					</div>
					<!-- <div class="col-md-2">
							<button type="button" class="btn btn-primary" (click)="uploadQuiz()">Upload</button>
						</div> -->
					<!-- <span class="required_color mt-2" *ngIf="moduleSubmitted && !selectedQuiz">
						{{commonLabels.mandatoryLabels.quizName}}
					</span> -->
				</div>
			<div *ngIf="enableAddQuiz ? true : (enableQuiz && quizCreateType == ''? true : false)">
				<div class="white-bg p-3 mt-2 table-decs"  *ngFor="let data of quizQuestionsForm;let i = index;">
					<span>
						<a class="btn btn-link videopage" *ngIf="quizCreateType === 'new'" (click)="removeQuestionForm(i,data)">
							<img src="{{commonLabels.imgs.close1}}" class="close-alg">
							<img src="{{commonLabels.imgs.cancel1}}" class="cancel-alg">
						</a>
					</span>		   
					<div>
						<div class="row  form-group">
							<div class="col-md-6 row p-0"> 
								<label for="" class="col-sm-4 label-title p-0 m-0">{{commonLabels.labels.questionType}}</label>
								<div class="col-md-8 pl-0">
									<select class="form-control" placeholder="Select" name="questionType{{i}}" [(ngModel)]="data.questionType" (change)="questionTypeUpdate(data.questionType,i)"
									#QuestionTypeVal="ngModel" [disabled]="quizCreateType === 'exist' ? true : false" required>
										<option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
									</select>
									<span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
										{{commonLabels.labels.questionType}} {{i+1}} {{commonLabels.mandatoryLabels.isRequired}}
									</span>
								</div>
							</div> 
							<div class="col-md-6 row p-0">
								<label class="col-md-4 p-0 label-title">{{commonLabels.labels.weightage}}</label>
								<div class="col-md-8">
									<span>
										<input disabled type="text" class="form-control" [disabled]="quizCreateType === 'exist' ? true : false" placeholder="Enter Weightage" name="Weightage{{i}}" value="{{weightage}}%"
										#WeightageVal="ngModel" [(ngModel)]="data.weightage" required>
									</span>
									<span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
										{{commonLabels.labels.weightage}} {{i+1}} {{commonLabels.mandatoryLabels.isRequired}}
									</span>
								</div>
							</div>
						</div>
						<div class="row  form-group">
							<label class="col-md-2 pl-0 label-title m-0">{{commonLabels.labels.question}} {{i+1}}</label>
							<div class="col-md-10 pl-0">
								<input type="text" class="form-control" [disabled]="quizCreateType === 'exist' ? true : false" placeholder="Enter Question" name="question{{i}}" [(ngModel)]="data.questionName"
								#QuestionVal="ngModel" required>
								<span class="required_color" *ngIf="QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
									{{commonLabels.labels.question}} {{i+1}} {{commonLabels.mandatoryLabels.isRequired}}
								</span>
							</div>                		
						</div>
						<div class="row form-group mb-0">
							<label *ngIf="data.questionType !== 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{commonLabels.labels.options}}</label>
							<label *ngIf="data.questionType === 'NON-MCQ'" class="col-md-2 pl-0 label-title">{{commonLabels.labels.answer}}</label>
							<div class="col-md-10 pl-0">
								<div class="row">
									<div class="col-md-12 p-0 form-group mb-0">
										<div class="row" *ngIf="data.questionType === 'MCQ' && data.options && data.options.length">
											<span class="col-sm-12 p-0" *ngFor=" let optionValue of data.options; let oi = index;">
												<div class="radio-sec" *ngIf="oi===0"><label class="radio-btn radio-a"><input [disabled]="!optionValue.optionName" type ="radio" name="answer{{i}}" class="option-btn" [value] = "a" [checked]="data.answer && data.answer == optionValue.optionName ? true : false" (change)="mcqAnswerUpdate(optionValue.optionName,i)"/><span class="radio-nm">{{commonLabels.labels.a}}</span></label></div>
												<div class="radio-sec" *ngIf="oi===1"><label class="radio-btn radio-b"><input [disabled]="!optionValue.optionName" type ="radio" name="answer{{i}}" class="option-btn" [value] = "b" [checked]="data.answer && data.answer == optionValue.optionName ? true : false" (change)="mcqAnswerUpdate(optionValue.optionName,i)"/><span class="radio-nm">{{commonLabels.labels.b}}</span></label></div>
												<div class="radio-sec" *ngIf="oi===2"><label class="radio-btn radio-c"><input [disabled]="!optionValue.optionName" type ="radio" name="answer{{i}}" class="option-btn" [value] = "c" [checked]="data.answer && data.answer == optionValue.optionName ? true : false" (change)="mcqAnswerUpdate(optionValue.optionName,i)"/><span class="radio-nm">{{commonLabels.labels.c}}</span></label></div>
												<div class="radio-sec" *ngIf="oi===3"><label class="radio-btn radio-d"><input [disabled]="!optionValue.optionName" type ="radio" name="answer{{i}}" class="option-btn" [value] = "d" [checked]="data.answer && data.answer == optionValue.optionName ? true : false" (change)="mcqAnswerUpdate(optionValue.optionName,i)"/><span class="radio-nm">{{commonLabels.labels.d}}</span></label></div>
												<input type="text" [disabled]="quizCreateType === 'exist' ? true : false" class="form-control quiz-radio-input pdl27" placeholder="" name="optionValue.value{{i}}{{oi}}" (blur)="duplicateOptionCheck(i,optionValue.optionName,oi)" [(ngModel)]="optionValue.optionName"  #options="ngModel" required>
												<!-- <span class="required_color" *ngIf="options.invalid && (quizForm.submitted || options.touched)">
													Option {{oi+1}} {{commonLabels.mandatoryLabels.isRequired}}
												</span> -->
											</span>
											<!-- <input type="text" [disabled]="quizCreateType === 'exist' ? true : false" class="form-control mt-2 mb-3" placeholder="Enter the Answer" name="data.answer{{i}}" [(ngModel)]="data.answer" #quizAnswer="ngModel"  required> -->
											<!-- <span class="required_color" *ngIf="quizAnswer.invalid && (quizForm.submitted || quizAnswer.touched)">
												Answer {{commonLabels.mandatoryLabels.isRequired}}
											</span> -->
										</div>
										<div class="pt-2" *ngIf="data.questionType === 'True/False'">
											<span class="col-sm-3 pl-0">
												<label class="hole-cont mr-2">
													<input type="checkbox" [disabled]="quizCreateType === 'exist' ? true : false" [checked]="data.answer === 'true' ? true : false" name="options{{i}}" [value]="1" (change)="optionValueUpdate($event,i)"> {{commonLabels.labels.true}}
													<span class="checkmark"></span>
												</label>
												<label class="hole-cont mr-2">
													<input type="checkbox" [disabled]="quizCreateType === 'exist' ? true : false"  [checked]="data.answer === 'true' ? false : true"  name="options{{i}}" [value]="0" (change)="optionValueUpdate($event,i)"> {{commonLabels.labels.false}}
													<span class="checkmark"></span>
												</label>
											</span>
											<!-- <input type="text" class="form-control" placeholder="Enter the Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }"> -->
										</div>
										<div class="row" *ngIf="data.questionType === 'NON-MCQ'">
											<span class="col-sm-12 pl-0">
												<!-- <span class="option-btn">{{oi + 1}}</span> -->
												<input type="text"  [disabled]="quizCreateType === 'exist' ? true : false" class="form-control mb-3" placeholder="Enter the Answer" name="data.answer{{i}}" [(ngModel)]="data.answer"  required>
											</span>
										</div>
									</div>
								</div>
							</div>  
						</div>
						<div class="col-md-12 pt-3" dnd-sortable-container [sortableData]="questionList">
							<p *ngFor="let question of questionList;let i = index"
								class="course-list course-list-select" dnd-sortable [sortableIndex]="i">
								{{question.questionName}}<a (click)="removeQuiz(question,i)"><img class="close-alg"
										src="{{commonLabels.imgs.close}}"></a></p>
						</div>
						<div *ngIf="quizCreateType === 'new' ? true : ((quizCreateType === '' && enableQuiz) ? true : false)" class="clearfix"><a><i class="fa fa-plus float-right icon-design" *ngIf="i==(quizQuestionsForm.length - 1)" aria-hidden="true" (click)="addQuestionForm()"></i></a></div>
					</div>  
				</div> 
			</div>
			<div class="col-sm-12 clearfix py-4 px-0" >
				<button type="submit" class="btn btn-primary" [disabled]="!quizForm.form.valid && !questionList"
              (click)="openEditModal(confirm,'batch')" >{{commonLabels.btns.save}}</button>
				<!-- <button *ngIf="moduleId" type="submit" class="btn btn-primary" (click)="quizSubmit('yes')">{{commonLabels.btns.save}}</button> -->
			</div>
		</form>
	</div>


	<ng-template #confirm>  
			<div class="modal-header"> 
				<h4 class="modal-title pull-left">{{commonLabels.btns.save}}</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			<div>
				<p class="text-center">{{commonLabels.msgs.publishmsg}}</p>
			</div>
			<div class="text-center col-md-12 p-4 button-section">
				<button type="button" class="btn btn-primary mr-3"  (click)="quizSubmit('yes')">{{commonLabels.btns.yes}}</button>
				<button type="button" class="btn btn-default" (click)="quizSubmit('no')">{{commonLabels.btns.no}}</button>				            
			</div> 
		</div>
		</ng-template>



	<ng-template #tcNameChange>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Training Class is owned by another user, Please change Training Class Name</h4>
			<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button> -->
		</div>
		<div class="modal-body">
			<div>
				<p class="text-center">Training Class Name</p>
				<input type="text" class="form-control" placeholder="Enter Training Class Name" name="selectCourseName"
					[(ngModel)]="updatedClassName">
				<span class="required_color"
					*ngIf=" tcErr && !updatedClassName">Training Class Name is required.</span>
			</div>
			<div class="text-center col-md-12 p-4 button-section">
				<button type="button" class="btn btn-primary mr-3"
					(click)="changeClassName()">Save</button>
				<button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
			</div>
		</div>
	</ng-template>

