<div class="row pr-3 pt-5">
	<form class="col-md-8 pl-0" >
		<div class="white-bg p-4">
			<div class="row form-group">
				<label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.courseName}}</label>
				<span class="col-md-9 pl-0">
					<input type="text" class="form-control" placeholder="Enter Course Name"  name="moduleName"  required>
				</span>
				<span class="required_color mt-0" >
				
				</span>				
			</div>
			<div class="row form-group">
				<label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.topics}}</label>
				<span class="col-md-9 pl-0">
					<input type="text" class="form-control" placeholder="Enter Topic Name" name="topics" required>
				</span>
				<span class="required_color mt-0">
				</span>
			</div>
			<div class="row form-group">
				<label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.trainingClass}}</label>
				<span class="col-md-9 pl-0">
					<input type="text" class="form-control" placeholder="Training Class" name="topics" required>
				</span>
				<span class="required_color mt-0" >
					</span>				
			</div>
		</div>		
	</form>
	<div class="col-md-4 p-0 ltside-sec">
		<div class="white-bg pl-4 py-4">
			<h5 class="mb-4"> {{commonLabels.labels.trainingClass}}</h5>
			<div class="addedcourse-scroll">
				<div>
					<p> Training Class 1<span class="float-right">
							<a><i class="fa fa-eye px-3" aria-hidden="true"></i></a>							
						</span>
					</p>
				</div>
				<div>
					<p> Training Class 2<span class="float-right">
							<a><i class="fa fa-eye px-3" aria-hidden="true"></i></a>							
						</span>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>


<div class="clearfix tab-section">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#">{{commonLabels.labels.file}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#">{{commonLabels.labels.quiz}}</a>
                </li>                           
            </ul> 
        </div>
        <div class="pt-2">
    <div class="col-md-12 pl-0">
    	<span class="videopage">
			   	<img src="{{commonLabels.imgs.close1}}" class="close-alg">
			   	<img src="{{commonLabels.imgs.cancel}}" class="cancel-alg"></span>
        <div class="white-bg p-4">
        <ul class="list-group col-md-12 pt-5">
							<li class="list-group-item row add-module">
								<span class="col-md-2 word-wrap">Content1</span>
								<span class="col-md-4 word-wrap">Hello..</span>
								<span class="col-md-4 word-wrap">IMG_0713.0.0.jpg</span>
								<span class="col-md-2 word-wrap">
									<a><i class="fa fa-eye icons_header float-right" aria-hidden="true"></i></a>		
								</span>
							</li>
						</ul>
						<div class="col-md-12 clearfix pt-4">
							<button type="button" class="btn btn-primary">{{commonLabels.btns.next}}</button>
						</div>
					</div>
					</div>

					<div class="text-center pt-5 mb-4">
						<button class="btn btn-default mr-3" type="button">{{commonLabels.btns.back}}</button>
						<button class="btn btn-default mr-3" type="button">{{commonLabels.btns.reject}}</button>
						<button class="btn btn-primary creat-btn" type="submit">{{commonLabels.btns.approve}}</button></div>
				</div>