<form #formDir="ngForm" (ngSubmit)="addBatch(formDir)">
    <div class="notification-box">
        
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group" *ngIf="notificationType === 'assignedToCourse'">
                        <select class="form-control p-0 select-Courses" name="course" [(ngModel)]="moduleVar.selectedCourses" (change)="courseSelect($event)">
                            <option value='null' disabled>{{commonLabels.labels.coursePlaceholder}}</option>
                            <option  *ngFor="let course of moduleVar.courseList" [value]="course.courseId">{{course.courseName}}</option>
                        </select><div class="select_arrow"></div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && !selectedCourses">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'Resort'"
                            [data]="moduleVar.resortList"
                            [(ngModel)]="moduleVar.selectedResort"
                            [settings]="moduleVar.resortSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedResort.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'Departments'"
                            [data]="moduleVar.departmentList"
                            [(ngModel)]="moduleVar.selectedDepartment"
                            [settings]="moduleVar.departmentSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedDepartment.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group" *ngIf="notificationType === 'assignedToCourse'">
                        <!-- <div class="col-md-12 pl-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'Training Class'"
                            [data]="moduleVar.trainingClassList"
                            [(ngModel)]="moduleVar.selectedTrainingClass"
                            [settings]="moduleVar.dropdownSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div> -->
                        <select class="form-control p-0 select-Courses" name="trainingClass" [(ngModel)]="moduleVar.selectedTrainingClass">
                                <option value='null' disabled>{{commonLabels.labels.trainingClassPlaceholder}}</option>
                                <option  *ngFor="let course of moduleVar.trainingClassList" value="course.trainingClassId">{{course.trainingClassName}}</option>
                            </select><div class="select_arrow"></div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && !selectedTrainingClass">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'Division'"
                            [data]="moduleVar.divisionList"
                            [(ngModel)]="moduleVar.selectedDivision"
                            [settings]="moduleVar.divisionSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedDivision.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'All Employees'"
                            [data]="moduleVar.employeeList"
                            [(ngModel)]="moduleVar.selectedEmployee"
                            [settings]="moduleVar.empSettings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedEmployee.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="row form-group">
                        <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.uploadtxt}}</label>
                        <span class="col-md-9 p-0">
                            <!-- <span><i class="fa fa-upload mr-2" aria-hidden="true"></i>{{labels.upload}}</span> -->
                            <input type="file" class="form-control" placeholder="File" [(ngModel)]="file" name="file" #fileData = "ngModel" id="customFile"  (change)="getFileDetails($event)"  required>
                            <label class="custom-file-label" for="customFile" *ngIf="uploadFileName">{{uploadFileName}}</label>
                            <label class="custom-file-label uploadPh" disabled for="customFile" *ngIf="!uploadFileName">{{commonLabels.labels.uploadtxt}}<span><i class="fas fa-upload float-right"></i></span></label>
                        </span>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.fileName}}</label>
                        <span class="col-md-9 p-0">
                            <input type="text" class="form-control" placeholder="Enter File Name" [(ngModel)]="fileName" name="fileName" #fileNameValue = "ngModel" required>
                        </span>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 pr-0 label-title mb-0">{{commonLabels.labels.description}}</label>
                        <span class="col-md-9 p-0">
                            <input type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="description" name="description" #descriptionData = "ngModel" required>
                        </span>
                    </div>
               
                <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="row">
                                <label class="col-md-5 p-0 label-title">{{commonLabels.labels.from}}</label>
                                <div class="col-md-7 pr-0">
                                    <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dpFrom.toggle()" [attr.aria-expanded]="dpFrom.isOpen"
                                            class="batch-icon">
                                        <input type="text" class="form-control p-0" #dpFrom="bsDatepicker" autocomplete="off"
                                            name="batchFrom" bsDatepicker [(ngModel)]="batchVar.batchFrom" #BatchFrom="ngModel"
                                            [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}" required>
                                        <span class="required_color" *ngIf="BatchFrom && BatchFrom.invalid && (formDir.submitted || BatchFrom.touched)">
                                            {{commonLabels.mandatoryLabels.from}}
                                        </span>
                                        <div *ngIf="batchVar.dategreater" class="required_color">
                                            <span>{{commonLabels.mandatoryLabels.dateValidate}} </span>
                                        </div>
                                    </span>
                                </div>
                                <span class="required_color" *ngIf="batchVar.batchFrom && batchVar.batchTo && dateError">
                                    {{commonLabels.mandatoryLabels.dateLimitError}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="row">
                                <label class="col-md-5 p-0 label-title">{{commonLabels.labels.to}}</label>
                                <div class="col-md-7 p-0 batch-input">
                                    <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"
                                            class="batch-icon">
                                        <input type="text" class="form-control" #dp="bsDatepicker" autocomplete="off" name="batchTo"
                                            bsDatepicker [(ngModel)]="batchVar.batchTo" #BatchTo="ngModel" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                                            required>
                                        <span class="required_color" *ngIf="BatchTo && BatchTo.invalid && (formDir.submitted || BatchTo.touched)">
                                            {{commonLabels.mandatoryLabels.to}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div class="text-center col-md-12 pt-3 pb-4">
                    <button type="submit" class="btn btn-primary module-createbtn mr-4">{{commonLabels.btns.save}}</button>
                    <button type="button" class="btn btn-default creat-btn" (click)="hidePopup()">{{commonLabels.btns.cancel}}</button>                   
                </div>

            </div>
       
    </div>
</form>