<!-- <div>   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a (click)="goTocmsLibrary()" class="cms-breadcrumb" href="javascript:void(0);">{{commonLabels.labels.cmsLibrary}}</a></li>
            <li class="breadcrumb-item active">{{commonLabels.btns.createNotification}}</li>
        </ol>
    </nav>
</div> -->
<div>
    <div class="clearfix">
        <h4 class="add-notify">{{notifyId ? commonLabels.labels.editNotification :
            commonLabels.btns.createNotification}}</h4> 
    </div>
    <form #formDir="ngForm" (ngSubmit)="addBatch(formDir)" *ngIf="notificationType">
        <div class="notification-box white-bg p-3">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <div class="row form-group select select-style clearfix" *ngIf="notificationType === 'assignedToCourse'">
                        <select [disabled]="notifyId ? true : false" class="form-control p-0 select-Courses" name="course"
                            [(ngModel)]="moduleVar.selectedCourses" (change)="courseSelect($event)">
                            <option value='null' disabled>{{commonLabels.labels.course}}</option>
                            <option *ngFor="let course of moduleVar.courseList" [value]="course.courseId">{{course.courseName}}</option>
                        </select>
                        <div class="select_arrow"></div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && !moduleVar.selectedCourses">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown
                            [placeholder]="'Resort'"
                            [data]="moduleVar.resortList"
                            [(ngModel)]="moduleVar.selectedResort"
                            [settings]="moduleVar.resortSettings"
                            (onSelect)="onItemSelect($event,'resort','select')"
                            (onDeSelect) = "onItemSelect($event,'resort','deselect')" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedResort.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div> -->
                    <div class="row form-group select select-style clearfix">
                        <select [disabled]="notifyId ? true : false" class="form-control p-0 select-Courses" name="resort"
                            [(ngModel)]="moduleVar.selectedResort" #resort (change)="getDropdownDetails(resort.value,'')">
                            <option value='null' disabled>{{commonLabels.labels.resort}}</option>
                            <option *ngFor="let course of moduleVar.resortList" [value]="course.resortId">{{course.resortName
                                | titlecase}}</option>
                        </select>
                        <div class="select_arrow"></div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && !moduleVar.selectedResort">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown [disabled]="notifyId ? true : false" [placeholder]="'Departments'"
                                [data]="moduleVar.departmentList" [(ngModel)]="moduleVar.selectedDepartment" [settings]="moduleVar.departmentSettings"
                                (onSelect)="onItemSelect($event,'dept','select')" (onDeSelect)="onItemSelect($event,'dept','deselect')"
                                [ngModelOptions]="{standalone: true}" (onSelectAll)="onEmpAllSelect($event,'dept','select')"
                                (onDeSelectAll)="onEmpAllSelect($event,'dept','deselect')"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedDepartment.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 pr-0">
                    <div class="row form-group select select-style clearfix" *ngIf="notificationType === 'assignedToCourse'">
                        <select [disabled]="notifyId ? true : false" class="form-control p-0 select-Courses" name="trainingClass"
                            [(ngModel)]="moduleVar.selectedTrainingClass">
                            <option value='null' disabled>{{commonLabels.labels.trainingClass}}</option>
                            <option *ngFor="let course of moduleVar.trainingClassList" [value]="course.trainingClassId">{{course.trainingClassName}}</option>
                        </select>
                        <div class="select_arrow"></div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && !selectedTrainingClass">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown [disabled]="notifyId ? true : false" [placeholder]="'Division'"
                                [data]="moduleVar.divisionList" [(ngModel)]="moduleVar.selectedDivision" [settings]="moduleVar.divisionSettings"
                                (onSelect)="onItemSelect($event,'division','select')" (onDeSelect)="onItemSelect($event,'division','deselect')"
                                [ngModelOptions]="{standalone: true}" (onSelectAll)="onEmpAllSelect($event,'division','select')"
                                (onDeSelectAll)="onEmpAllSelect($event,'division','deselect')"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedDivision.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 p-0 select-Courses">
                            <ng-multiselect-dropdown [placeholder]="'Employees'" [data]="moduleVar.employeeList"
                                [(ngModel)]="moduleVar.selectedEmployee" [settings]="moduleVar.empSettings" (onSelect)="onItemSelect($event,'emp','select')"
                                (onDeSelect)="onItemSelect($event,'emp','deselect')" [ngModelOptions]="{standalone: true}"
                                (onSelectAll)="onEmpAllSelect($event,'emp','select')" (onDeSelectAll)="onEmpAllSelect($event,'emp','deselect')"></ng-multiselect-dropdown>
                        </div>
                        <span class="required_color mt-0" *ngIf="moduleSubmitted && moduleVar.selectedEmployee.length === 0">
                            {{commonLabels.labels.courseError}}
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mt-20 upload-file">
                    <div class="row form-group">
                        <label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.notificationTitle}}<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <span class="col-md-9 p-0">
                            <input type="text" class="form-control" placeholder="Enter Notification Title" [(ngModel)]="scheduleName"
                                name="scheduleName" #scheduleNameValue="ngModel" required>
                        </span>
                    </div>


                    <div class="row form-group">
                        <label class="col-md-3 p-0 label-title mb-0">Select Type<span class="mandatory-color">{{commonLabels.labels.star}}</span></label>
                        <label class="radio-inline label-title">
                            <input type="radio" name="selectType" [value]="file" [checked]="selectType == 'file'"
                                (click)="selectTypeBasedShowField(selectType)"><span class="select-type">File</span>
                        </label>
                        <label class="radio-inline label-title">
                            <input type="radio" name="selectType" [value]="desc" [checked]="selectType == 'desc'"
                                (click)="selectTypeBasedShowField(selectType)"><span class="select-type">Description</span>
                        </label>
                    </div>


                    <div *ngIf="showFile">
                        <div class="row form-group">
                            <label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.fileName}}</label>
                            <span class="col-md-9 p-0">
                                <input type="text" class="form-control" placeholder="Enter File Name" [(ngModel)]="fileName"
                                    name="fileName" #fileNameValue="ngModel" required>
                            </span>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.uploadtxt}}</label>
                            <span class="col-md-9 p-0">
                                <!-- <span><i class="fa fa-upload mr-2" aria-hidden="true"></i>{{labels.upload}}</span> -->
                                <input [disabled]="!uploadPermission" type="file" class="form-control" placeholder="File"
                                    [(ngModel)]="file" name="file" #fileData="ngModel" id="customFile" (change)="getFileDetails($event)"
                                    accept="image/*,video/*,.pdf,.zip,.txt,.doc,.ppt,.pptx,.mpg" required>
                                <label class="custom-file-label" for="customFile" *ngIf="uploadFileName">{{uploadFileName}}<span><i
                                            class="fas fa-upload float-right"></i></span></label>
                                <label class="custom-file-label uploadPh" disabled for="customFile" *ngIf="!uploadFileName">{{commonLabels.labels.uploadtxt}}<span><i
                                            class="fas fa-upload float-right"></i></span></label>
                                <span _ngcontent-c16="" class="file-alg">{{commonLabels.labels.acceptedFileTypes}}</span>
                            </span>
                        </div>
                    </div>

                    <div *ngIf="showDesc">
                        <div class="row form-group">
                            <label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.description}}</label>
                            <span class="col-md-9 p-0">
                                <!-- <input type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="description"
                                name="description" #descriptionData="ngModel" required> -->
                                <textarea type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="description"
                                    name="description" #descriptionData="ngModel" required></textarea>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pl-0">
                            <div class="row">
                                <label class="col-md-5 p-0 label-title">{{commonLabels.labels.from}}</label>
                                <div class="col-md-7 pr-0 pl-5">
                                    <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dpFrom.toggle()"
                                            [attr.aria-expanded]="dpFrom.isOpen" class="batch-icon">
                                        <input type="text" class="form-control p-0" #dpFrom="bsDatepicker" placement="top"
                                            autocomplete="off" name="batchFrom" bsDatepicker [(ngModel)]="batchVar.batchFrom"
                                            #BatchFrom="ngModel" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                                            [minDate]="currentDate" required>
                                        <!-- <span class="required_color" *ngIf="BatchFrom && BatchFrom.invalid && (formDir.submitted || BatchFrom.touched)">
                                            {{commonLabels.mandatoryLabels.from}}
                                        </span> -->
                                        <div *ngIf="batchVar.batchFrom && batchVar.batchTo && !batchVar.dategreater"
                                            class="required_color">
                                            <span>{{commonLabels.mandatoryLabels.dateLimitError}} </span>
                                        </div>
                                    </span>
                                </div>
                                <span class="required_color" *ngIf="batchVar.batchFrom && batchVar.batchTo && dateError">
                                    {{commonLabels.mandatoryLabels.dateLimitError}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="row">
                                <label class="col-md-5 p-0 label-title">{{commonLabels.labels.to}}</label>
                                <div class="col-md-7 p-0 batch-input">
                                    <span> <img src="{{commonLabels.imgs.calendar}}" (click)="dp.toggle()"
                                            [attr.aria-expanded]="dp.isOpen" class="batch-icon">
                                        <input type="text" class="form-control" #dp="bsDatepicker" placement="top"
                                            autocomplete="off" name="batchTo" bsDatepicker [(ngModel)]="batchVar.batchTo"
                                            #BatchTo="ngModel" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                                            [minDate]="currentDate" required>
                                        <!-- <span class="required_color" *ngIf="BatchTo && BatchTo.invalid && (formDir.submitted || BatchTo.touched)">
                                            {{commonLabels.mandatoryLabels.to}}
                                        </span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-12 pt-3 px-0"><span class="file-desc-alg">{{commonLabels.labels.fileOrDesc}}<span
                            class="mandatory-color">{{commonLabels.labels.star}}</span></span></div>
                <div class="text-center col-md-12 pt-3 px-0">
                    <button type="button" class="btn btn-default float-right" (click)="back()">{{commonLabels.btns.cancel}}</button>
                    <button type="submit" *ngIf="permissionCheck('Schedule') || permissionCheck('Notification')" class="btn btn-primary float-right mr-4">{{commonLabels.btns.save}}</button>
                </div>
            </div>
        </div>
    </form>
</div>