.label-title{
	color: #697380;
	line-height: 47px;
	font-size: 15px;
}
.btn-save{
    float: none;
}
.txt-color{
    color: #8D8D8D;
}
  .upload-btn{
      min-width: 8rem;
      line-height: 24px;
    }
   .dropdown-menu .dropdown-item {
    width: 8rem;
}
.upload-btn .upload{
    position: absolute;
    top: 45px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.upload-label{
    color: #697380;
    font-size: 15px;
}
.upload-section{
    float: right;
    line-height: 100px;
}
.upload-btn{
    font-size: 12px;
    float: none;
}
.upload-crt-icon{
    padding: 0 10px;
}
.option-btn{
    border: 1px solid #468FB9;
    border-radius: 40px;
    padding: 0px 5px;    
    font-size: 12px;
    color: #909CA8;
    position: absolute;
    top: 12px;
}
.option-btn:hover{
background-color: #C1E1F3;
}
.add-qtn-icon{
    font-size: 20px;
    line-height: 45px;
}
.img-size{
    height: 90px;
    max-width: 100%;
}
.drop-and-drag-pdr{
    padding-right: 110px;
}

.drop-and-drag-pdb{
    margin-bottom: 10px;
}
.add-course-icon{
    line-height: 55px;
}
.upload-line{
    line-height: 82px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    float: none;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-alg{
    font-size: 12px;
    float: right;
    color: #9B9B9B;
    line-height: 35px;
    padding-left: 0;
}
.addedcourse-scroll{
    max-height: 120px;
    overflow-y: scroll;
}
.decs-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-group-item{
   display: flex !important;
}
.edit-bg{
    background-color: #EDF0F8;
}
.videopage{
    float: right;
}
.close-alg{
    display: block;
    width: 20px;
    border: 1px solid #989898;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}
.videopage:hover .close-alg{
    display: none;
}
.cancel-alg{
    display: none;
    width: 20px;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #ED2201;
    cursor: pointer;
}
.videopage:hover .cancel-alg{
    display: block;   
}
.add-course{
    font-size: 18px;
}
.word-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-module{
    border: 3px solid rgba(0,0,0,.125);
}
.multiselect-dropdown .dropdown-btn{
    border-radius: 0;
    padding-left: 10px !important;
}
.breadcrumb-item .cms-breadcrumb{
    color: #468FB9;
}
.breadcrumb-item .cms-breadcrumb:hover{
text-decoration: underline;
}
