page-signup {
.login-bg {
  
   .scroll-content {
    padding: 0 !important;
        background: #329CD6;
}
.signin-process {
    padding: 16px;
}
}
.sign-title {
    padding: 90px 0 150px 10px;
    text-align: center;
    color: #fff;
}
.signin-process {
    background: url(../assets/imgs/loginbg.png);
      background-size: cover;
    background-repeat: no-repeat;
    min-height: 410px;
    .list-ios {
    margin: 0px 0 16px;
    
}
}
.input-login {
 background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 90px;
    border: 1px solid rgba(112, 112, 112, 0.3) !important;
    margin-bottom: 10px;
    padding: 7px 18px;
    font-size: 15px;
    font-family: 'sf_ui_textregular';

}
.list-ios .item-block .item-inner {
    border-bottom: none;
}

.login-btn {
       width: 100%;
    padding: 30px 10px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.login-action {
     font-family: 'sf_pro_displayregular';

}
.item-block .item-inner {

    border-bottom: none !important;
}


.login-btn .button-inner {
    font-size: 15px;
}
.app-signup {
   background: #fff;
    position: absolute;
    width: 92%;
    padding: 35px 25px 15px 25px;
    margin-bottom: 15px;
}
.social-links button {
    background: transparent;
    text-align: center;
}
.social-links {
    text-align: center;
    margin: 30px 0px 20px 0;
}
.button-ios,.button-md {

    background-color: #329CD6;

}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: none;
}
// Error Messages Validations
.error {
    color: #df3e3e;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: left;
  }

  .error1 {
    color: rgb(75, 75, 75);
  }
}
