<div class="white-bg">
    <form #frm="ngForm"  (ngSubmit)="videoSubmit()" class="p-4">
        <div class="row pb-2">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="courseName" class="col-sm-3 custm-label col-form-label"> {{videoVar.videoFormLabels.courseName}}</label>
                    <div class="col-sm-8">
                        <select id="courseName" name="courseName" class="form-control" placeholder="Select" (change)="onChangeCourse(video.courseName,addCourse)" [(ngModel)]="video.courseName">     
                            <option value="null" hidden>Select</option>
                            <option value="newCourse">Add New Course Name</option>
                            <option *ngFor="let course of courses"  value="{{course.courseId}}">{{course.courseName}}</option>
                        </select></div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="videoTitle" class="col-sm-3 custm-label col-form-label">{{videoVar.videoFormLabels.videoTitle}}</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control pl-0" id="videoTitle" placeholder="Enter Video Title" name="videoTitle"
                            [(ngModel)]="video.videoTitle">                
                        </div>
                    </div>
                </div>
            </div>
                <div class="row pb-2">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="description" class="col-sm-3 custm-label col-form-label">{{videoVar.videoFormLabels.videoDescription}}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control pl-0" id="description" placeholder="Enter Description" name="description"
                                [(ngModel)]="video.description"></div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="courseName" class="col-sm-3 custm-label col-form-label">{{videoVar.videoFormLabels.active}}</label>
                                <div class="col-sm-8">
                                    <select id="courseName" name="courseName" class="form-control pl-0" [(ngModel)]="video.courseName">
                                        <option [ngValue]="yes">{{videoVar.btns.yes}}</option>
                                        <option [ngValue]="no">{{videoVar.btns.no}}</option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                   
                                    <label for="uploadVideos" class="control-label">{{videoVar.videoFormLabels.uploadVideos}}</label>
                                     <div class="upload-file">
                                    <input type="file" class="form-control" id="uploadVideos" placeholder="Enter Upload Videos" name="uploadVideos"
                                    [(ngModel)]="video.uploadVideos">
                                    <div class="upload-content">
                                        <h5>Add Videos</h5>
                                    <p>Simply drag and drop</p>
                                    </div>
                                    
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">{{videoVar.btns.assign}}</button>
                                <button type="submit" class="btn btn-primary mr-3">{{videoVar.btns.add}}</button>           
                            </div>
                        </div>
                    </form>

                </div>

                <ng-template #addCourse>
                    <div class="modal-header">
                        <h6 class="modal-title pull-left">{{videoVar.modalLabels.title}} </h6>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="mb-4 row">

                            <label for="coursename" class="col-sm-3 custm-label col-form-label">{{videoVar.modalLabels.courseName}}</label> 
                            <div class="col-sm-8">
                            <input type="text" id="coursename" class="form-control" name="comments" [(ngModel)]="newCourseName" placeholder="Enter Course Name">
                        </div>
                    </div>
                        <div class="modalButtons pop-up-align">
                            <button class="button btn btn-default mr-3" (click)="createNewCourse(newCourseName)">{{videoVar.btns.create}} </button>
                            <button class="button btn btn-primary" (click)="modalRef.hide()">{{videoVar.btns.cancel}}</button>
                        </div>
                    </div>
                </ng-template>