<div class="row pt-3">
  <div class="clearfix pt-5 tab-section">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#employee">{{commonLabels.labels.employeeContent}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#course">{{commonLabels.labels.courseList}}</a>
            </li>          
        </ul> 
    </div>
    <div class="tab-content col-md-12 p-0">
        <div class="tab-pane active col-md-12 pt-2 p-0" id="employee">
            <div class="col-sm-12 pb-3 p-0 float-right">
              <button type = "button" class="btn btn-primary" (click)="openEditModal(addArchieve,'','')"><i class="fa fa-plus pr-2"></i> {{commonLabels.btns.addNew}}</button>
                <form><select id="resort" class="col-md-2 form-control pull-right mr-3" name="resortId" [(ngModel)]="selectedResortList" (change)="getArchieveDetails()"> 
                  <option value="null">{{commonLabels.labels.resort}}</option>
                  <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName  | titlecase}}</option>
                </select></form>
            </div>
            <div class="table-responsive white-bg ">
                    <table class="table table-striped" >
                            <thead>
                            <tr class="th-boxshadow">
                                <th class="text-left">
                                    {{commonLabels.labels.resort}}
                                </th>
                                <th class="text-left">
                                    {{commonLabels.labels.archiveData}}
                                </th>
                                <th class="text-left">
                                    {{commonLabels.labels.delData}}
                                </th>
                                <th class="text-left"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="table-desc-color" *ngFor = 'let archieve of archieveList'>
                                    <td class="text-left">{{archieve?.Resort?.resortName  | titlecase}}</td>
                                    <td class="text-left">{{archieve?.archievedDays}}</td>
                                    <td class="text-left">{{archieve?.deletedDays}}</td>
                                    <td class="text-center">
                                          <a (click)="openEditModal(addArchieve,archieve.archievedId,'')"><i class="fas fa-pencil-alt header-icon" aria-hidden="true"></i></a>
                                          <a (click)="openEditModal(confirm,'',archieve.archievedId)"><i class="fa fa-trash header-icon"></i></a> 
                                      </td> 
                                </tr>
                            </tbody>
                        </table>
                  </div>
                    <div class="white-bg text-center p-4" *ngIf="!archieveList.length" >
                        <p class="data-design m-0">
                            <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span>
                        </p>
                    </div>
        </div>
        <div class="tab-pane col-md-12 pt-2 p-0" id="course">
            <div class="white-bg mb-3 clearfix" *ngFor="let courses of courseListValue | paginate: {itemsPerPage: pageSize,currentPage: page,totalItems : totalCourseCount}">
                <label class="square-cont mb-0 float-left">
                    <span class="text-over">{{courses.courseName}}</span>
                </label>
            </div>
            <div class="white-bg text-center p-4" *ngIf="!courseListValue.length" >
                <p class="data-design m-0">
                    <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span>
                </p>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>


<ng-template #addArchieve>  
    <div class="modal-header"> 
        <h4 class="modal-title pull-left">{{commonLabels.labels.addArchieve}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closePopup()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <label class="col-md-3 p-0 label-title mb-0">{{commonLabels.labels.resort}}</label>
            <span class="col-md-9 pl-0">
                <form>
                    <select id="resort" class="form-control" name="resortId" [(ngModel)]="selectedResort"> 
                        <option disabled  value="null">{{commonLabels.labels.resort}}</option>
                        <option *ngFor="let resort of resortList" [value]="resort.resortId">{{resort.resortName  | titlecase}}</option>
                    </select>
                </form>
            </span>
            <span class="required_color mt-0" >
            
            </span>
        </div>
        <div>
            <label class="col-md-4 p-0 label-title mb-0">{{commonLabels.labels.archiveData}}</label>
            <span class="col-md-9 pl-0">
                <input type="number" class="form-control" placeholder="Enter Time for Archieve Data"  name="archieveTime" [(ngModel)]="archieveTime" required>
            </span>
            <span class="required_color mt-0" >
            
            </span>
        </div>
        <div>
            <label class="col-md-4 p-0 label-title mb-0">{{commonLabels.labels.delData}}</label>
            <span class="col-md-9 pl-0">
                <input type="number" class="form-control" placeholder="Enter Time for Delete Data"  name="deleteTime" [(ngModel)]="deleteTime" required>
            </span>
            <span class="required_color mt-0" >
            
            </span>
        </div>
    <div>
    </div>
    <div class="text-center col-md-12 p-4 button-section">
        <button type="button" class="btn btn-primary creat-btn mr-3"  (click)="submitForm()">{{archievedId ? commonLabels.btns.update : commonLabels.btns.save}}</button>
        <button type="button" class="btn btn-default" (click)="closePopup()">{{commonLabels.btns.cancel}}</button>                      
    </div> 
</div>
</ng-template>

<ng-template #confirm>  
		<div class="modal-header"> 
			<h4 class="modal-title pull-left">{{commonLabels.labels.deleteConfirm}}</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closePopup()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
		<div>
			<p class="text-center">{{commonLabels.labels.archieveDelete}}</p>
		</div>
		<div class="text-center col-md-12 p-4 button-section">
            <button type="button" class="btn btn-primary creat-btn mr-3"  (click)="removeArchival()">{{commonLabels.btns.yes}}</button>
			<button type="button" class="btn btn-default" (click)="closePopup()">{{commonLabels.btns.no}}</button>						
		</div> 
	</div>
</ng-template>