
  /* Documents Tab */
  .doc-table .square-cont{
      margin-bottom: 0;
  }
  .doc-table .table th{
      padding-top: 10px;
  }
  .table tr a {
      margin: 0 5px;
  }
  th .square-cont {
      color: #737373;
  }
  td .square-cont {
      font-weight: 500;
  }
  .top-select-bx{
      padding-bottom: 2em;
  }
  .top-select-bx select:first-child{
      margin-right: 5em;
  }
  .quiz-box{
      border-top: 1px solid #ccc;
      
  }
  .square-checkmark{
      top:4px;
  }
  .square-cont{
      line-height: 27px;
  }

  .course-list{
      border: 1px solid #ccc;
      padding: 5px 25px;
      margin-right: 8px;
      position: relative;
      display: inline-block;
      margin-bottom: 8px;
      font-size: 15px;
      color: #576271;
  }
  .course-list-select{
    border: 1px solid #ff0000;
  }


.close-alg{
	display: block;
    width: 15px;
    /* border: 1px solid #989898; */
    /* border-radius: 10px; */
    /* padding: 3px; */
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
}