<div class="col-md-12 clearfix py-2 px-0">
    <button class="btn btn-primary creat-btn float-left" type="submit" (click)="openAddVideosToCourse()">Add Documents
        to Course</button>
    <h6 class="pt-2 float-right">Count:{{totalVideosCount}}</h6>
</div>
<div *ngIf="addVideosToCourse"></div>
<div class="col-lg-12 col-sm-12 p-0" >
    <div class="table-responsive custom-table2 px-1">
        <table class="table table-striped white-bg mt-1">
            <thead>
                <tr class="th-boxshadow">
                    <th class="text-left">
                        <label class="square-cont float-left col-md-12 mb-0">
                            <input type="checkbox" name="web"> Files
                            <span class="square-checkmark"></span>
                        </label>
                    </th>
                    <th class="text-left">
                        File Name
                    </th>
                    <th class="text-left">
                        Type
                    </th>
                    <th class="text-left">
                        No.of Emp.
                    </th>
                    <th class="text-left">
                        Permission
                    </th>
                    <th class="text-left">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
              
                <tr class="table-desc-color" *ngFor="let file of videoListValue | paginate: {itemsPerPage: pageSize,currentPage: page,totalItems : totalVideosCount};let i = index">
                    <td class="text-left">
                        <label class="square-cont float-left col-md-12 mb-0">
                            <input type="checkbox" name="web" value="{{file.fileName}}"> {{file.fileName}}
                            <span class="square-checkmark"></span>
                        </label>
                    </td>
                    <td>{{file.fileName}}</td>
                    <td class="text-left">{{file.fileSize}}10 MB</td>
                    <td class="text-left">.doc</td>
                   
                    <td class="text-left">100</td>
                   
                    <td>
                        <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fas fa-pencil-alt header-icon"></i></a>
                        <a><i class="fa fa-trash header-icon"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>  
    </div>
</div>
