<ion-header [scrollingHeader]='content'>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="text-left">
      {{constant.title.training}}
      <div class="header-icon" (click)="goToNotification()">
          <ion-icon name="ios-notifications-outline"></ion-icon>
          <span class="dot-circle"></span>
        </div>
    </ion-title>
   
  </ion-navbar>
</ion-header>
<ion-content padding class="headerFull-bg">
  <div class="module-select">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="module-txt">{{constant.pages.dashboardLabels.module}}</span>
        {{selectedModule}}
        <ion-icon name="md-funnel"></ion-icon>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="modules">
        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let list of modules;let i =index;" (click)="changeModule(list)">
          <span class="module-txt">{{constant.pages.dashboardLabels.module}}</span>
          {{list.moduleName}}
        </a>
      </div>
    </div>
  </div>
  <div class="tabs progress-tab">
    <a class="tab-item" (click)="showData('assigned')" [ngClass]="!showAssigned ? 'assigned' : ''">
      {{constant.pages.trainingLabels.assignedLabel}}
    </a>
    <a class="tab-item" (click)="showData('inprogress')" [ngClass]="!showProgress ? 'inprogress' : ''">
      {{constant.pages.trainingLabels.progressLabel}}
    </a>
    <a class="tab-item" (click)="showData('complete')" [ngClass]="!showCompleted ? 'complete' : ''">
      {{constant.pages.trainingLabels.completedLabel}}
    </a>
  </div>
  <div class="tab-content" [hidden]="showAssigned">
    <ion-card class="training-list" *ngFor="let task of assignedCoursesList;let i=index;" (click)="openTrainingDetail(task,i)">
      <div class="training-image">
        <span class="course-name">{{task.courseName}}</span>
        <span class="com-percen">{{task.completePercent}}% Complete</span>
        <img src="{{task.videos[0].featuredImage}}" />
        <span class="play-icon">
          <img src="../assets/imgs/play-button (2).png" />
        </span>
      </div>
      <ion-card-content class="training-content">
        <ion-card-title class="training-title">
          <ion-grid no-padding class="post-details">
            <ion-row class="">
              <ion-col col-7 class=" ">
                <p class="training-name">{{task.videos[0].videoTitle}} </p>
              </ion-col>
              <ion-col col-5 class="">
                <p class="post-date">{{constant.pages.trainingLabels.postedLabel}} {{task.postedDate |
                  date:'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
        <p class="training-desc">
          {{task.videos[0].videoDescription | words : 15 }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="tab-content" [hidden]="showProgress">
    <ion-card class="training-list" *ngFor="let task of progressCoursesList;let i=index;" (click)="openTrainingDetail(task,i)">
      <div class="training-image">
        <span class="course-name">{{task.courseName}}</span>
        <span class="com-percen">{{task.completePercent}}% Complete</span>
        <img src="{{task.videos[0].featuredImage}}" />
        <span class="play-icon">
          <img src="../assets/imgs/play-button (2).png" />
        </span>
      </div>
      <ion-card-content class="training-content">
        <ion-card-title class="training-title">
          <ion-grid no-padding class="post-details">
            <ion-row class="">
              <ion-col col-7 class=" ">
                <p class="training-name">{{task.videos[0].videoTitle}} </p>
              </ion-col>
              <ion-col col-5 class="">
                <p class="post-date">{{constant.pages.trainingLabels.postedLabel}} {{task.postedDate |
                  date:'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
        <p class="training-desc">
          {{task.videos[0].videoDescription | words : 15 }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="tab-content" [hidden]="showCompleted">
    <ion-card class="training-list" *ngFor="let task of completeCoursesList;let i=index;" (click)="openTrainingDetail(task,i)">
      <div class="training-image">
        <span class="course-name">{{task.courseName}}</span>
        <span class="com-percen">{{task.completePercent}}% Complete</span>
        <img src="{{task.videos[0].featuredImage}}" />
        <span class="play-icon">
          <img src="../assets/imgs/play-button (2).png" />
        </span>
      </div>
      <ion-card-content class="training-content">
        <ion-card-title class="training-title">
          <ion-grid no-padding class="post-details">
            <ion-row class="">
              <ion-col col-7 class=" ">
                <p class="training-name">{{task.videos[0].videoTitle}}</p>
              </ion-col>
              <ion-col col-5 class="">
                <p class="post-date">{{constant.pages.trainingLabels.lastViewed}} {{task.lastViewedDate |
                  date:'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
        <p class="training-desc">
          {{task.videos[0].videoDescription | words : 15 }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>