<ion-content padding class="headerFull-bg default-header">
  <ion-header class="static-header">
    <ion-navbar>
      <button ion-button menuToggle>
        <img src="assets/imgs/menu.png" />
      </button>
      <ion-title class="text-left">
        <span class="header-title">{{constant.title.training}}</span>
       <div class="header-icon">
        <ion-icon name="ios-chatboxes" (click)="goToForum()" class="chat-icon"></ion-icon>
        <span (click)="goToNotification()">
          <img src="assets/imgs/notification.png" />
          <span class="dot-circle">4</span>
        </span>
        </div>  
      </ion-title>
    </ion-navbar>
  </ion-header>

  <div class="tab-content" *ngIf="allTrainingClassesCount > 0">
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-4 *ngFor="let task of allTrainingClasses;let i=index;" (click)="openTrainingDetail(task,i,statusKey,uploadPath)"
        class="main-forum">
        <ion-card class="training-list" *ngIf="task.FileMappings[0]">
          <div class="training-image">
            <span class="course-name">{{task.trainingClassName}}</span>
            <img  src="assets/imgs/COURSE.png" />
            <span class="play-icon">
              <img src="assets/imgs/play-button (2).png" />
            </span>
          </div>
          <ion-card-content class="training-content">
            <ion-card-title class="training-title">
              <ion-grid no-padding class="post-details">
                <ion-row class="">
                  <ion-col col-7 class=" ">
                    <h4 class="training-name" *ngIf="task.FileMappings[0]">{{task.FileMappings[0].fileName}} </h4>
                  </ion-col>
                  <ion-col col-5 class="">
                    <p class="post-date">{{constant.pages.trainingLabels.postedLabel}} {{task.updated |
                      date:'dd/MM/yyyy'}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
            <p class="training-desc" *ngIf="task.FileMappings[0]">
              {{task.FileMappings[0].fileDescription | words : 15 }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="allTrainingClassesCount == 0">
      <ion-col class="main-forum">
        <ion-card class="forum-card">
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="no-data">{{constant.title.noData}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>