
<ion-content padding class="headerFull-bg default-header">
<ion-header class="main-header my-component static-header" >
  <ion-navbar transparent class="details-page-toolbar title-type2">
    <span class="back-arrow" (click)="goBackLevel()"> 
<img src="assets/imgs/Back.png" />
</span>
<ion-title class="text-left">
  <span class="inner-title">{{constant.title.forum}}</span></ion-title>
    <!--  <ion-title>{{constant.title.forum}}</ion-title> -->
 </ion-navbar>
  <div class="segment-block">
    <ion-segment [(ngModel)]="forumTopics">
      <ion-segment-button value="mostRecent" (click)="changeStatus('recent')">
        {{constant.pages.forumLabels.mostRecent}}
      </ion-segment-button>
      <ion-segment-button value="featuredFav"  (click)="changeStatus('isFavorite')">
        {{constant.pages.forumLabels.featuredFav}}
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<div class={{className}} *ngIf="showToastr">
    <div class="notify-inset">
    <h6>{{msgTitle}}</h6>
    <p>{{msgDes}}</p>
    </div>
    </div>
<div class="main-content">
  <div [ngSwitch]="forumTopics">
    <ion-list *ngSwitchCase="'mostRecent'">
      <ion-row *ngIf="recentList">
        <ion-col col-12 col-md-6 col-sm-6 class="main-forum" *ngFor="let list of recentList;let j=index;">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row>
                <ion-col col-2 class="img-block"  (click)="hideShowDesc(list,j)">
                  <img src="assets/imgs/quest-mark.png" class="forum-img">
                </ion-col>
                <ion-col col-7  (click)="hideShowDesc(list,j)">
                  <h4 class="forum-title">{{list.description}}</h4>
                  <p class="forum-txt">{{calculateExpireDays(list.modifiedDate)}} ago</p>
                  <p class="forum-txt" *ngIf="list.User">Posted By
                  {{list.User.userName}} </p>
                </ion-col>
                <ion-col col-3 class="heart-icon">
                  <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="list.isFavorite == false" (click)="likeUnlikeQuestion(list,1)"></ion-icon>
                  <ion-icon name="md-heart" *ngIf="list.isFavorite == true" (click)="likeUnlikeQuestion(list,2)"></ion-icon>
                  <p></p>
                  <p class="forum-txt date-det">{{list.modifiedDate | date:'dd MMM yyyy'}}</p>
                </ion-col>
              </ion-row>
              <!-- <ion-row *ngIf="list.isActive">
                <ion-col>
                  <p class="forum-desc">{{list.description}}</p>
                </ion-col>
              </ion-row> -->
              
              <ion-row class="review-block" *ngIf="list.isActive">
                <ion-col col-4>
                  <p class="vote-count"><small class="vt-count">{{list.votesCount}}</small> 
                  <span class="forum-txt">{{constant.pages.forumLabels.votes}}</span>
                  <img src="assets/imgs/likeblue.png" *ngIf="list.like" / class="cp">
                  <img src="assets/imgs/likeblack.png" *ngIf="!list.like" (click)="likePost(list,'like')" / class="cp">
                </p>
                </ion-col>
                <ion-col col-4>
                  <p class="vote-count" (click)="showAnswers(list)" *ngIf="list.Comments"><small class="vt-count">{{list.Comments.length}}</small> 
                    <span class="answers-txt">{{constant.pages.forumLabels.answers}}</span></p>
                </ion-col>
                <ion-col col-4 class="cmd-btn">
                  <button ion-button round small class="blue-btn" (click)="showCommentSet(list,j)">
                    {{constant.buttons.comment}}
                  </button>
                </ion-col>
              </ion-row>
              <div *ngIf="list.isAnswer" class="reply-comment">
                <div *ngFor="let comment of commentList;let i=index;" class="comment-row">
                    <ion-row  [ngClass]="comment.User.userId == currentUser.userId? 'user-1' : 'user-2'">
                  <ion-col col-2 class="comment-img">
                    <img *ngIf="!comment.User.userImage" src="assets/images/user.png" class="comment-image">
                    <img *ngIf="comment.User.userImage" src="{{comment.User.userImage}}" class="comment-image">
                  </ion-col>
                  <ion-col col-10 class="comment-box">
                    <h6 class="user-name">{{comment.User.userName}}</h6>
                    <p class="comment-content">{{comment.description}}</p>
                    <span class="comment-time">{{comment.commentDate | timeAgo}}</span>
                    <div class="comment-btn">
                      <button class="btn reply-cnt" *ngIf="comment.User.userId == currentUser.userId" (click)="openEditModal(edit, comment)"> <ion-icon name="create"></ion-icon></button>
                      <button class="btn reply-cnt" *ngIf="comment.User.userId == currentUser.userId" (click)="openEditModal(delete, comment)"> <ion-icon name="trash"></ion-icon></button>
                    </div>
                  </ion-col>
                    </ion-row>
                </div>
              </div>
              <div *ngIf="list.isComment" class="reply-comment">
                <form (ngSubmit)="saveComment(list.postId,j)" novalidate>
                  <ion-row>
                    <ion-col col-2>
                      <img src="assets/images/user.png" class="comment-image">
                    </ion-col>
                    <ion-col col-10 class="input-grp-box">
                      <ion-item class="comment-item">
                        <ion-input name="comment" [(ngModel)]="comment" placeholder="Add a comment ..." class="comment-input">
                        </ion-input>
                      </ion-item>
                      <ion-icon name="md-send" class="input-icon" (click)="saveComment(list.postId, j)"></ion-icon>
                    </ion-col>
                  </ion-row>
                </form>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
        <ion-row *ngIf="recentList.length == 0">
          <img src="assets/imgs/norecordsfound.png" class="no-records" />
        </ion-row>
    </ion-list>
    
     <ion-list *ngSwitchCase="'featuredFav'">
      <ion-row *ngIf="recentList">
        <ion-col col-12 col-md-6 col-sm-6 class="main-forum" *ngFor="let list of recentList;let j=index;">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row >
                <ion-col col-2 class="img-block" (click)="hideShowDesc(list,j)">
                  <img src="assets/imgs/profile_circle.png" class="forum-img">
                </ion-col>
                <ion-col col-7 (click)="hideShowDesc(list,j)">
                  <h4 class="forum-title">{{list.description}}</h4>
                  <p class="forum-txt">{{calculateExpireDays(list.modifiedDate)}} ago</p>
                  <p class="forum-txt">Posted By:
                  {{list.User.userName}} </p>
                </ion-col>
                <ion-col col-3 class="heart-icon">
                    <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="list.isFavorite == false"
                      (click)="likeUnlikeQuestion(list,1)"></ion-icon>
                    <ion-icon name="md-heart" *ngIf="list.isFavorite == true" (click)="likeUnlikeQuestion(list,2)"></ion-icon>
                  <p></p>
                  <p class="forum-txt date-det">{{list.modifiedDate | date:'dd MMM yyyy'}}</p>
                </ion-col>
              </ion-row>
              <!-- <ion-row *ngIf="isActive">
                <ion-col>
                  <p class="forum-desc">{{list.description}}</p>
                </ion-col>
              </ion-row> -->
              <ion-row class="review-block" *ngIf="list.isActive">
              
                <ion-col col-4>
                    <p class="vote-count"><small class="vt-count">{{list.votesCount}}</small> <span class="forum-txt">{{constant.pages.forumLabels.votes}}</span>
                    <img src="assets/imgs/likeblue.png" *ngIf="list.like" />
                    <img src="assets/imgs/likeblack.png" *ngIf="!list.like" (click)="likePost(list,'like')" />
                  </p>
                  </ion-col>
                <ion-col col-4>
                  <p class="vote-count" *ngIf="list.Comments">{{list.Comments.length}} <span
                      class="answers-txt">{{constant.pages.forumLabels.answers}}</span></p>
                </ion-col>
                <ion-col col-4 class="cmd-btn">
                  <button ion-button round small class="blue-btn" (click)="showCommentSet(list,j)">
                    {{constant.buttons.comment}}
                  </button>
                </ion-col>
              </ion-row>
              <div *ngIf="list.isComment" class="reply-comment">
                <div *ngFor="let comment of commentList;let i=index;" class="comment-row">
                   <ion-row  [ngClass]="comment.User.userId == currentUser.userId? 'user-1 col-md-12' : 'user-2 col-md-12'">
                  <ion-col col-2 class="comment-img">
                    <img *ngIf="!comment.User.userImage" src="assets/images/user.png" class="comment-image">
                    <img *ngIf="comment.User.userImage" src="{{comment.User.userImage}}" class="comment-image">
                  </ion-col>
                  <ion-col col-10 class="comment-box">
                    <h6 class="user-name">{{comment.User.userName}}</h6>
                    <p class="comment-content">{{comment.description}}</p>
                    <span class="comment-time">{{comment.commentDate | timeAgo}}</span>
                    <div class="comment-btn">
                      <button class="btn reply-cnt" *ngIf="comment.User.userId == currentUser.userId" (click)="openEditModal(edit, comment)">
                          <i class="fas fa-pencil-alt"></i></button>
                      <button class="btn reply-cnt" *ngIf="comment.User.userId == currentUser.userId" (click)="openEditModal(delete, comment)"> <i class="fas fa-trash"></i></button>
                    </div>
                  </ion-col>
                </ion-row>
                </div>
                <form (ngSubmit)="saveComment(list.postId, j)" novalidate>
                  <ion-row>
                    <ion-col col-2>
                      <img src="assets/images/user.png" class="comment-image">
                    </ion-col>
                    <ion-col col-10 class="input-grp-box">
                      <ion-item class="comment-item">
                        <ion-input name="comment" [(ngModel)]="comment" class="comment-input" placeholder="Add a comment ...">
                        </ion-input>
                      </ion-item>
                      <ion-icon name="md-send" class="input-icon" (click)="saveComment(list.postId,j)"></ion-icon>
                    </ion-col>
                  </ion-row>
                </form>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="recentList.length == 0">
        <img src="assets/imgs/norecordsfound.png" class="no-records" />
      </ion-row>
    </ion-list> 
  </div>
  <ng-template #template>
    <div class="modal-header question-header">
      <h4 class="modal-title pull-left">{{constant.pages.forumLabels.typeQuestionHere}}</h4>
      <!--  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <form novalidate (ngSubmit)="questionSubmit()" [formGroup]="QuestionForm">
      <div class="modal-body">
        <ion-item class="textarea-item">
          <ion-textarea type="question" [(ngModel)]="forum.question" formControlName="question" [class.error1]="!QuestionForm.controls.question.valid && QuestionForm.controls.question.dirty"
            placeholder="What is the safety precaution required to enter the ski sport?" class="type-ques"></ion-textarea>
        </ion-item>
        <div *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
          <div class="error" *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
            {{constant.pages.forumLabels.validations.questionRequired}}
          </div>
        </div>
      </div>
      <div class="quest-foot model-footer">
        <button ion-button small clear class="text-can" type="button" (click)="modalRef.hide()">{{constant.buttons.cancel}}</button>
        <button ion-button small clear  class="text-add" type="submit" [disabled]="QuestionForm.invalid">{{constant.buttons.add}}</button>
      </div>
    </form>
  </ng-template>

  <ng-template #edit>
    <div class="modal-header question-header">
    </div>
    <form novalidate (ngSubmit)="updateComment()" class="popup-box">
      <div class="modal-body">
        <ion-row>
          <ion-col col-3>
            <img src="assets/images/user.png" class="comment-image">
          </ion-col>
          <ion-col col-9 class="input-grp-box">
            <ion-item class="comment-item">
              <ion-input name="comment" [(ngModel)]="editComment" (input)="changeEditInput()"  class="comment-input" placeholder="Add a comment ..."></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div class="model-footer">
        <button ion-button small clear type="button" class="btn btn-can" (click)="modalRef.hide()">{{constant.buttons.cancel}}</button>
        <button ion-button small clear type="submit" class="btn btn-primary" [disabled]="editDisable">UPDATE</button>
      </div>
    </form>
  </ng-template>
   

  <ng-template #delete>
    <div class="popup-box">
    <div class="modal-header question-header"> 
    </div>
      <div class="modal-body">
        <ion-row>
          <p>Are you sure you want to delete this comment?</p>
        </ion-row>
      </div>
      <div class="model-footer">
        <button ion-button small clear type="button" class="btn btn-can" (click)="modalRef.hide()">{{constant.buttons.cancel}}</button>
        <button ion-button small clear type="submit" class="btn btn-primary btn-dele" (click)="deleteComment()">DELETE</button>
      </div>
    </div>
  </ng-template>

</div>
</ion-content>
<div class="fixed-btn" *ngIf="hideQuestionBtn">
  <button ion-button round class="add-question common-btn" (click)="openModal(template)">
    {{constant.buttons.addQuestion}}
  </button>
</div>