page-forum-detail{
	.list-ios {
        margin: 16px 0 32px;
	}
	.main-content {
		padding-left: 0;
	}
	.scroll-content{
		padding-left: 0px !important;
		padding-top: 10px !important;
	}
	.modal{
		top : 50%;
		left:35px;
		right:35px
	}
	ion-header {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
		background: rgb(33,131,185); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
	}
	.toolbar-background {
		background:transparent !important;
	}
	ion-header.header {
		padding: 0;
	}
	.segment-ios .segment-button,.segment-md .segment-button{
		border: 1px solid #fff !important;
		border-radius: 130px !important;
		color: #fff;
		margin-right: 20px !important;
		padding: 0px 10px;
		margin-bottom: 20px;
		height: 4rem;
		line-height: 4rem;
		text-transform: unset;
	}
	.segment-ios .segment-button.segment-activated {
		color: #329CD6;
		background-color: #fff;
		opacity: 1;
		-webkit-transition: 100ms all linear;
		transition: 100ms all linear;
	}
	.segment-block {
		padding: 7px 0px 0 15px;
	}
	.ion-md-heart, .ion-md-heart-outline{
		color: #DA4453;
	}
	.forum-img ,.comment-image{
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
	.forum-txt {
		font-size: 12px;
    color: #656565;
    font-weight: normal;
    margin: 4px 0;
	}
	.heart-icon {
		text-align: right;
	}
	.vote-count, .card-ios p.vote-count {
		color: #000;
		font-weight: 800;
		padding-top: 13px;
	}
	.button-round-ios,.button-round-md {
		float: right;
		border-radius: 64px;
		padding: 1.5em 1.5rem;
		margin-bottom: 0;
		text-transform: capitalize;
	}
	.review-block {
		border-top: 1px solid #ccc;
	}

	.date-det, .card-ios .date-det {
		margin-top: 15px;
	}
	.fixed-btn{
		text-align: center;
	}
	.add-question {
		z-index: 6;
		position: fixed;
		bottom: 25px;
		width: 200px;
	/*	left: 22%;*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2183b9+1,329cd6+100 */
		background: rgb(33,131,185); /* Old browsers */
		background: -moz-linear-gradient(left, rgba(33,131,185,1) 1%, rgba(50,156,214,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(33,131,185,1) 1%,rgba(50,156,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2183b9', endColorstr='#329cd6',GradientType=1 ); /* IE6-9 */
	}

	textarea.text-input {
		display: block;
		resize: none !important;
	}
	.main-forum {
		padding-left: 16px;
		padding-right: 0;
	}
	.forum-card {
		margin-top: 0;
		margin-bottom: 0;
		padding-right: 5px;
		padding-left: 5px;
	}
	.forum-desc,.comment-content  {
        font-size: 13px;
    color: #656565;
}
.fixed-btn {
    display: flex;
    justify-content: center;
}
.back-button-icon-ios {
    font-size: 26px;
}
.comment-input {
    font-size: 14px;
    background: #EAF0F5;
    border-radius: 5px;
    border: 1px solid #CFD5D9;
    padding-left: 10px;
    font-family:'sf_pro_displayregular';
}
.comment-item {
    padding-left: 10px;
}
.user-comment {
    padding-top: 10px;
}
.user-name {
    font-family: 'sf_pro_displaysemibold';
    margin-top: 3px !important;
}
.comment-time {
    font-size: 12px;
            color: #656565;
    font-weight: 100;
    font-family: 'sf_pro_displayregular';
    margin: 5px 0 15px 0;
    display: inline-block;
}
.reply-comment {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 10px;
}
.comment-box {
    padding-left: 15px;
    margin-top: 10px;
}
.left-border {
    border-left: 1px solid #ccc;
    height: 80%;
    display: block;
    position: absolute;
    left: 25px;
    top: 58px;
}
.comment-img {
    position: relative;
}
.like-icon {
        width: 18px;
    display: inline-block;
    margin: 0 7px 0 15px;
    position: relative;
    top: -2px;
}
.reply-optn {
    line-height: 30px;
    margin-top: 10px;
}
.comment-input .text-input-ios,.comment-input .text-input-md{
    margin: 8px 8px 8px 0;
}
.list-md .comment-item.item-input:last-child {
    border-bottom: none;
}


}
.modal-dialog {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	min-height: 95%;
}
.modal-content {
	max-width: 270px;
}
.question-header {
    border: none;
    padding: 0 20px 0 25px;
}
.type-ques textarea {
    font-size: 16px;
}
.text-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
ion-item.textarea-item {
    padding-right: 16px;
        resize: none;
}
.model-footer {
    text-align: right;
    padding: 0 12px 12px 0;

}
.model-footer button {
    font-size: 16px;
}
.comment-image{
	width: 80%
}
.save-icon{
	font-size: 48px;
    color: #ccc;
}