
<ion-content padding class="headerFull-bg default-header">
<ion-header class="main-header my-component static-header" >
  <ion-navbar transparent class="details-page-toolbar title-type2">
    <span class="back-arrow" (click)="goBackLevel()"> 
<img src="assets/imgs/Back.png" />
</span>
<ion-title class="text-left">
  <span class="inner-title">{{constant.title.forum}}</span></ion-title>
    <!--  <ion-title>{{constant.title.forum}}</ion-title> -->
 </ion-navbar>
  <div class="segment-block">
    <ion-segment [(ngModel)]="forumTopics">
      <ion-segment-button value="mostRecent">
        {{constant.pages.forumLabels.mostRecent}}
      </ion-segment-button>
      <!-- <ion-segment-button value="featuredTopics">
        {{constant.pages.forumLabels.featuredTopics}}
      </ion-segment-button> -->
      <ion-segment-button value="featuredFav">
        {{constant.pages.forumLabels.featuredFav}}
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<div class="main-content">
  <div [ngSwitch]="forumTopics">
    <ion-list *ngSwitchCase="'mostRecent'">
      <ion-row>
        <ion-col col-12 col-md-6 col-sm-6 class="main-forum" *ngFor="let emp of recentList;let j=index;">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row (click)="hideShowDesc(recentList,j)">
                <ion-col col-2 class="img-block">
                  <img src="assets/imgs/profile_circle.png" class="forum-img">
                </ion-col>
                <ion-col col-7>
                  <h4 class="forum-title">{{emp.username}}</h4>
                  <p class="forum-txt">{{emp.hoursAgo}} {{constant.pages.forumLabels.hoursAgo}}, {{emp.totalReplies}}
                    {{constant.pages.forumLabels.replays}} </p>
                  <p class="forum-txt">{{emp.totalReplies}}
                    {{constant.pages.forumLabels.replies}} </p>
                </ion-col>
                <ion-col col-3 class="heart-icon">
                  <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="!emp.like" (click)="likeUnlikeQuestion(recentList,j)"></ion-icon>
                  <ion-icon name="md-heart" *ngIf="emp.like" (click)="likeUnlikeQuestion(recentList,j)"></ion-icon>
                  <p></p>
                  <p class="forum-txt date-det">{{emp.dateUpdated | date:'dd MMM yyyy'}}</p>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="emp.isActive">
                <ion-col>
                  <p class="forum-desc">{{emp.description}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="review-block" *ngIf="emp.isActive">
                <ion-col col-3>
                  <p class="vote-count">{{emp.votes}} <span class="forum-txt">{{constant.pages.forumLabels.votes}}</span></p>
                </ion-col>
                <ion-col col-4>
                  <p class="vote-count">{{emp.answers}} <span class="forum-txt">{{constant.pages.forumLabels.answers}}</span></p>
                </ion-col>
                <ion-col col-5 class="cmd-btn">
                  <button ion-button round small class="blue-btn" (click)="showCommentSet(recentList,j)">
                    {{constant.buttons.comment}}
                  </button>
                </ion-col>
              </ion-row>
              <div *ngIf="emp.isComment" class="reply-comment">
                <form (ngSubmit)="saveComment(emp)" novalidate>
                  <ion-row>
                    <ion-col col-2>
                      <img src="assets/images/images1.jpeg" class="comment-image">
                    </ion-col>
                    <ion-col col-10>
                      <ion-item class="comment-item">
                        <ion-input name="comment" [(ngModel)]="comment" placeholder="Add a comment ..." class="comment-input"></ion-input>
                      </ion-item>
                    </ion-col>
                    <!-- <ion-col col-2>
                    <ion-icon class="save-icon" name="md-arrow-dropright-circle" (click)="saveComment(emp)"></ion-icon>
                  </ion-col> -->
                  </ion-row>
                </form>
                <ion-row *ngFor="let comment of commentList;let i=index;" class="comment-row">

                  <ion-col col-2 class="comment-img">
                    
                    <img *ngIf="comment.user.userImage" src="{{comment.user.userImage}}" class="comment-image">
                    <span class="left-border"></span>
                  </ion-col>
                  <ion-col col-10 class="comment-box">
                    <h6 class="user-name">{{comment.user.username}}</h6>
                    <span class="comment-time">{{comment.commentOn | timeAgo}},{{comment.replies.length}} Replies</span>
                    <p class="comment-content">{{comment.comment}}</p>
                    <div class="reply-optn"><a href="javascript:void(0)">Reply</a><img src="assets/imgs/likeblack.png" class="like-icon"><span class="reply-cnt">{{comment.commentLike}}</span></div>
                    <!-- (click)="presentModal(comment)" -->
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngSwitchCase="'featuredTopics'">
      <ion-row>
        {{topics}}
        <ion-col col-12 col-md-4 col-sm-6 class="main-forum" *ngFor="let emp of topics;let j=index;">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row>
                <ion-col col-2 class="img-block">
                  <img src="assets/imgs/profile_circle.png" class="forum-img">
                </ion-col>
                <ion-col col-10>
                  <h4 class="forum-title">{{emp.topicName}}</h4>
                  <!-- <h4 class="forum-title">{{emp.username}}</h4>
                  <p class="forum-txt">{{emp.hoursAgo}} {{constant.pages.forumLabels.hoursAgo}}, {{emp.totalReplies}}
                  {{constant.pages.forumLabels.replays}}</p>
                  <p class="forum-txt" (click)="hideShowDesc(featureList,j)">{{emp.totalReplies}}
                  {{constant.pages.forumLabels.replies}} </p> -->
                </ion-col>
                <!-- <ion-col col-3 class="heart-icon">
                  <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="!emp.like" (click)="likeUnlikeQuestion(featureList,j)"></ion-icon>
                  <ion-icon name="md-heart" *ngIf="emp.like" (click)="likeUnlikeQuestion(featureList,j)"></ion-icon>
                  <p></p>
                  <p class="forum-txt date-det">{{emp.dateUpdated | date:'dd MMM yyyy'}}</p>
                </ion-col> -->
              </ion-row>
              <!-- <ion-row *ngIf="emp.isActive">
                <ion-col>
                  <p class="forum-desc">{{emp.description}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="review-block" *ngIf="emp.isActive">
                <ion-col col-3>
                  <p class="vote-count">{{emp.votes}} <span class="forum-txt">{{constant.pages.forumLabels.votes}}</span></p>
                </ion-col>
                <ion-col col-4>
                  <p class="vote-count">{{emp.answers}} <span class="forum-txt">{{constant.pages.forumLabels.answers}}</span></p>
                </ion-col>
                <ion-col col-5 class="cmd-btn">
                  <button ion-button round small class="blue-btn">
                    {{constant.buttons.comment}}
                  </button>
                </ion-col>
              </ion-row> -->
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngSwitchCase="'featuredFav'">
      <ion-row>
        <ion-col col-12 col-md-6 col-sm-6 class="main-forum" *ngFor="let emp of favoriteList;let j=index;">
          <ion-card class="forum-card">
            <ion-grid>
              <ion-row (click)="hideShowDesc(favoriteList,j)">
                <ion-col col-2 class="img-block">
                  <img src="assets/imgs/profile_circle.png" class="forum-img">
                </ion-col>
                <ion-col col-7>
                  <h4 class="forum-title">{{emp.username}}</h4>
                  <p class="forum-txt">{{emp.hoursAgo}}{{constant.pages.forumLabels.hoursAgo}}, {{emp.totalReplies}}
                    {{constant.pages.forumLabels.replays}}</p>
                  <p class="forum-txt" >{{emp.totalReplies}}
                    {{constant.pages.forumLabels.replies}} </p>
                </ion-col>
                <ion-col col-3 class="heart-icon">
                  <ion-icon name="md-heart-outline" md="md-heart-outline" *ngIf="!emp.like" (click)="likeUnlikeQuestion(favoriteList,j)"></ion-icon>
                  <ion-icon name="md-heart" *ngIf="emp.like" (click)="likeUnlikeQuestion(favoriteList,j)"></ion-icon>
                  <p></p>
                  <p class="forum-txt date-det">{{emp.dateUpdated | date:'dd MMM yyyy'}}</p>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="emp.isActive">
                <ion-col>
                  <p class="forum-desc">{{emp.description}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="review-block" *ngIf="emp.isActive">
                <ion-col col-3>
                  <p class="vote-count">{{emp.votes}} <span class="forum-txt">{{constant.pages.forumLabels.votes}}</span></p>
                </ion-col>
                <ion-col col-4>
                  <p class="vote-count">{{emp.answers}} <span class="forum-txt">{{constant.pages.forumLabels.answers}}</span></p>
                </ion-col>
                <ion-col col-5 class="cmd-btn">
                  <button ion-button round small class="blue-btn" (click)="showCommentSet(favoriteList,j)">
                    {{constant.buttons.comment}}
                  </button>
                </ion-col>
              </ion-row>
              <div *ngIf="emp.isComment">
                <form (ngSubmit)="saveComment(emp)" novalidate>
                  <ion-row>
                    <ion-col col-2>
                      <img src="assets/images/images1.jpeg" class="comment-image">
                    </ion-col>
                    <ion-col col-10>
                      <ion-item class="comment-item">
                        <ion-input name="comment" [(ngModel)]="comment" class="comment-input" placeholder="Add a comment ..."></ion-input>
                      </ion-item>
                    </ion-col>
                    <!-- <ion-col col-2>
                    <ion-icon class="save-icon" name="md-arrow-dropright-circle" (click)="saveComment(emp)"></ion-icon>
                  </ion-col> -->
                  </ion-row>
                </form>
                <!-- <ion-row *ngFor="let comment of commentList;let i=index;">
                  <ion-col col-2>
                    <img *ngIf="comment.user.userImage" src="{{comment.user.userImage}}" class="comment-image">
                  </ion-col>
                  <ion-col col-10>
                    <h6>{{comment.user.username}}</h6>
                    <span>{{comment.commentOn | timeAgo}},{{comment.replies.length}} Replays</span>
                    <p>{{comment.comment}}</p>
                    <span><a >Reply</a><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                      {{comment.commentLike}}</span>
                  </ion-col>
                </ion-row> -->

                <ion-row *ngFor="let comment of commentList;let i=index;" class="comment-row">

                    <ion-col col-2 class="comment-img">
                      
                      <img *ngIf="comment.user.userImage" src="{{comment.user.userImage}}" class="comment-image">
                      <span class="left-border"></span>
                    </ion-col>
                    <ion-col col-10 class="comment-box">
                      <h6 class="user-name">{{comment.user.username}}</h6>
                      <span class="comment-time">{{comment.commentOn | timeAgo}},{{comment.replies.length}} Replies</span>
                      <p class="comment-content">{{comment.comment}}</p>
                      <div class="reply-optn"><a href="javascript:void(0)">Reply</a><img src="assets/imgs/likeblack.png" class="like-icon"><span class="reply-cnt">{{comment.commentLike}}</span></div>
                      <!-- (click)="presentModal(comment)" -->
                    </ion-col>
                  </ion-row>
              </div>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
  <ng-template #template>
    <div class="modal-header question-header">
      <h4 class="modal-title pull-left">{{constant.pages.forumLabels.typeQuestionHere}}</h4>
      <!--  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <form novalidate (ngSubmit)="questionSubmit(QuestionForm)" [formGroup]="QuestionForm">
      <div class="modal-body">
        <ion-item class="textarea-item">
          <ion-textarea type="question" [(ngModel)]="forum.question" formControlName="question" [class.error1]="!QuestionForm.controls.question.valid && QuestionForm.controls.question.dirty"
            placeholder="What is the safety precaution required to enter the ski sport?" class="type-ques"></ion-textarea>
        </ion-item>
        <div *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
          <div class="error" *ngIf="QuestionForm.get('question').hasError('required') && QuestionForm.get('question').touched">
            {{constant.pages.forumLabels.validations.questionRequired}}
          </div>
        </div>
      </div>
      <div class="model-footer">
        <button ion-button small clear type="button" (click)="modalRef.hide()">{{constant.buttons.cancel}}</button>
        <button ion-button small clear type="submit" [disabled]="QuestionForm.invalid">{{constant.buttons.add}}</button>
      </div>
    </form>
  </ng-template>
</div>
</ion-content>
<div class="fixed-btn" *ngIf="hideQuestionBtn">
  <button ion-button round class="add-question" (click)="openModal(template)">
    {{constant.buttons.addQuestion}}
  </button>
</div>