
.label-title{
	color: #697380;
	line-height: 43px;
	font-size: 15px;
}

.mrb{
    margin-bottom : 5px;
}
.save-btn{
	float: none;
}
.icon-design{
	color: #468FB9;
	font-size: 20px;
}
.table-decs{
	position: relative;
}
.videopage{
    float: right;
}
.videopage img{
    width: 20px;   
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer;
}
.close-alg{
    display: block; 
    border: 1px solid #989898;   
}
.videopage:hover .close-alg{
    display: none;
}
.cancel-alg{
    display: none;  
    background-color: #ED2201;
    border:none;
}
.videopage:hover .cancel-alg{
    display: block;   
}
.button-section .btn-primary{
    float: inherit;
}

.ml10{
    margin-left : 10px;
}