.month-title{
    position: relative;
    display: block;
    text-align: center;
}
.arrow-left,.arrow-right{
    position: absolute;
    font-size: 29px;
}
.arrow-left{
    left: 40px;
    cursor: pointer;
}
.arrow-right{
    right: 40px;
    cursor: pointer;
}
.calendar{ 
    .monthview-container {
        background-color: #fff;
    }
    .table-bordered{
    border: none;
    background-color: #fff !important;
    margin: 0;
    }
    .event-detail-container{
        border-top: none !important;
        margin: 0;
    }
    // td{
    //     padding: 14px !important;
    // }
thead{
    background-color: #468FB9;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
}
tbody{
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
}
.monthview-selected{
    background-color: #80abc3 !important;
    color: white !important;
    border-radius: 36px;
}
.monthview-current{
    background-color: #0aab0a !important;
    border-radius: 36px;
}
.monthview-primary-with-event{
    background-color: #3a87ad;
    color: white;
    border-radius: 36px;
}
.monthview-eventdetail-timecolumn{
    color: #909094;
    font-weight: 500;
    font-size: 15px;
}
.event-detail{
    width: 230px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #737373;
    font-size: 18px;
}
.list-ios > .item-block{
    border-bottom: 1px solid #ccc !important;
    border-top: none !important;
}
.list-ios .item-block .item-inner{
    border-bottom: none !important;
}
}