.month-title{
    position: relative;
    display: block;
    text-align: center;
}
.arrow-left,.arrow-right{
    position: absolute;
    font-size: 29px;
}
.arrow-left{
    left: 40px;
    cursor: pointer;
}
.arrow-right{
    right: 40px;
    cursor: pointer;
}
.popup-header{
    padding: 0 25px;
}
.question-header{
    background-color: #2F98D1;
    padding-bottom: 7px;
}
.popup-box p{
    text-align: left !important;
    padding: 4px 0 !important;
}
.header-design{
    font-size: 16px;
    color: #fff;
}
.course-hd{
    font-size: 15px;
    color: #444040;
    font-weight: 600;
    padding: 7px 0;
}
.hd-alg{
    padding: 0 0 12px 0;
    border-bottom: 1px solid #ccc;
}
.btn-alg{
    background-color: #11C12E !important;
    padding: 0 30px;
    border-radius: 4px;
}
.date-hd{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}
.date-cont{
    color: #000;
}
.hd-alg{ 
    label {
    display: unset;
}
}

.calendar{ 
    .monthview-container {
        background-color: #fff;
    }
    .table-bordered{
    border: none;
    background-color: #fff !important;
    margin: 0;
    border-collapse: separate;
    border-spacing: 4px;
    }
    .event-detail-container{
        border-top: none !important;
        margin: 0;
    }
    // td{
    //     padding: 14px !important;
    // }
thead{
    background-color: #468FB9;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
}
tbody{
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
}
.monthview-selected{
    background-color: #80abc3 !important;
    color: white !important;
    border-radius: 36px;
}
.monthview-current{
    background-color: #0aab0a !important;
    border-radius: 36px;
}
.monthview-primary-with-event{
    background-color: #3a87ad;
    color: white;
    border-radius: 36px;
}
.monthview-eventdetail-timecolumn{
    color: #909094;
    font-weight: 500;
    font-size: 15px;
    width: 60px !important;
    display: inline-block;
}
.event-detail{
    // width: 230px;
    // display: inline-block;
    // text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #737373;
    font-size: 18px;
}
.list-ios > .item-block{
    border-bottom: 1px solid #ccc !important;
    border-top: none !important;
}
.list-ios .item-block .item-inner{
    border-bottom: none !important;
}
}