<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="row pt-4">
    <div class="col-md-12 p-0">
    <select class="vdo-btn  select mr-2 select-style clearfix" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="trendsVar.years">
            <option *ngFor="let years of trendsVar.yearsList" [value]="years.year">{{years.year}}</option>
            <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> -->
            <div class="select_arrow"></div>
          </select>
          <select class="vdo-btn mr-3 select select-style clearfix" id="month" name="month" (change)="onChangeMonth()" [(ngModel)]="trendsVar.months">
                <option *ngFor="let months of trendsVar.monthsList" [value]="months.id">{{months.month}}</option>
                <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> -->
                <div class="select_arrow"></div>
              </select>
    </div>
    <div class="table-responsive custom-table2 mt-3 px-2">
        <table class="table white-bg table-striped" [mfData]="trendsVar.videosTrend" #mf="mfDataTable" [mfRowsOnPage]="(trendsVar.pageLimit.length ? trendsVar.pageLimit : 5)">
            <thead>
                    <tr class="th-boxshadow">

                    <th>
                        <mfDefaultSorter by="courseName">{{trendsVar.videosTrendLabels.courseTitle}}<span class="ml-2"><img
                                    src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="uploadedDate">{{trendsVar.videosTrendLabels.uploadedDate}}<span class="ml-2"><img
                                    src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="modifiedDate">{{trendsVar.videosTrendLabels.modifiedDate}}<span class="ml-2"><img
                                    src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th class="text-center">
                        <mfDefaultSorter by="noOfResorts">{{trendsVar.videosTrendLabels.noOfResorts}}<span class="ml-2"><img
                                    src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="noOfEmployees">{{trendsVar.videosTrendLabels.noOfEmployees}}<span class="ml-2"><img
                                        src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="video-trend-desc" *ngFor="let list of trendsVar.moduleList">
                    <!-- <td><img class="table-img" src="assets/videos/images/bunny.png"></td> -->
                    <td class="vdo-desc-height">{{list.courseName}}
                        <!-- <p>{{list.videoName}}</p> -->
                    </td>
                    <td class="vdo-desc-height">{{list.created | date}}</td>
                    <td class="vdo-desc-height">{{list.updated | date: 'MM/dd/yyyy'}}</td>
                    <td class="vdo-desc-height text-center">{{list.resortsCount}}</td>
                    <td class="vdo-desc-height text-center und-txt"><a href="javaScript:void" routerLink="/videostrend/{{list.courseId}}">{{list.employeesCount}}</a></td>
                </tr>
                <tr *ngIf="trendsVar.moduleList?.length == 0">
                    <td colspan="5" class="text-center data-design">{{trendsVar.noData}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <!-- <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td> -->
                </tr>
            </tfoot>
        </table>
    </div>
        <div class="col-md-12 p-0 text-center mt-3">
            <button class="btn btn-primary creat-btn" routerLink="/dashboard">{{trendsVar.backBtn}}</button>
        </div>
    
</div>