.table-img{
    max-width: 100%;
    width: 100px;
    height: 50px;
}
.table td {
    border-bottom: 1px solid #C5C5C5;
}
.video-trend-desc{
	color: #939399;
}
.vdo-desc-height{
	line-height: 65px;
}
.export-btn{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #468FB9;
    width: 80px;
    min-width: unset;
    padding: 4px 8px;
  }
  .video-hd{
  	display: block;
  	width: 100%;
  }
  tfoot > tr > td {
    border-bottom: 0;
   }