<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<div class="row pr-3 pt-4">
   <div class="video-hd">
    <span class="pagenation-btn float-right mb-2"><ngx-select-dropdown (change)="onLimitChange($event)" [options]="trendsVar.pageLimitOptions" [(value)]="trendsVar.pageLimit" [config]="{placeholder : 'Select limit'}" class="pagenation-dropdown"></ngx-select-dropdown></span> 
    </div>
            <div class="table-responsive white-bg px-3">
                <table class="table" [mfData]="trendsVar.videosTrend" #mf="mfDataTable" [mfRowsOnPage]="(trendsVar.pageLimit.length ? trendsVar.pageLimit : 5)">
                    <thead>
                    <tr>
                       
                        <th>                    
                            <mfDefaultSorter by="courseName">{{trendsVar.videosTrendLabels.courseTitle}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th>
                                <mfDefaultSorter by="duration">{{trendsVar.videosTrendLabels.duration}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th>
                                <mfDefaultSorter by="uploadedDate">{{trendsVar.videosTrendLabels.uploadedDate}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                                <mfDefaultSorter by="totalEmployees">{{trendsVar.videosTrendLabels.totalEmployees}}<span class="ml-2"><img src="assets/images/sortby.png" class="s-width"></span></mfDefaultSorter>
                        </th>                
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="video-trend-desc" *ngFor="let list of mf.data" >
                        <!-- <td><img class="table-img" src="assets/videos/images/bunny.png"></td> -->
                        <td class="vdo-desc-height">{{list.courseName}}
                            <!-- <p>{{list.videoName}}</p> -->
                        </td>
                        <td class="vdo-desc-height">{{list.duration}}</td>
                        <td class="vdo-desc-height">{{list.uploadedDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="vdo-desc-height text-center"><a href="javaScript:void"  routerLink="/videostrend/{{list.videoId}}">{{list.totalEmployees}}</a></td>              
                    </tr>
                    <tr *ngIf="mf.data?.length == 0">
                            <td colspan="5" class="text-center data-design">{{trendsVar.noData}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                           <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                             </td>
                           </tr>
                    </tfoot>
                </table>
              </div>
        </div>
     
