
<!-- <div class="pt-2">   
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/cms-library">{{commonLabels.labels.cmsLibrary}}</a></li>
          <li class="breadcrumb-item active">{{commonLabels.labels.empList}}</li>
      </ol>
  </nav>
</div> -->
<div class="row pt-4">
    <div class="col-sm-12 pb-3 p-0 button-section">
        <button *ngIf = "listDetails.length" type = "button" class="btn btn-primary float-right" (click)="exportAsXLSX()">{{commonLabels.btns.exporttoExcel}}</button>
    </div>
    <div class="col-lg-12 col-sm-12 p-0">
    <div class="header-section mb-2 clearfix">
      <h4 class="float-left">{{listDetails.length ? listDetails[0]?.Course?.courseName : ''}}</h4>
      <h6 class="float-right count-alg">{{commonLabels.labels.count}}{{count}}</h6>
    </div>                
        <div class="table-responsive">
            <table class="table table-striped white-bg mt-1" [mfData]="listDetails" #mf="mfDataTable" [mfRowsOnPage]="pageLimit.length ? pageLimit[0] : 5">
                <thead>
                    <tr class="th-boxshadow text-center">
                        <th>
                            <mfDefaultSorter by="User.userName">{{commonLabels.labels.employeeName}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter by="status">{{commonLabels.labels.status}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter by="created">{{commonLabels.labels.from}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>
                        <th class="text-center">
                            <mfDefaultSorter by="completedDate">{{commonLabels.labels.completeDate}}<span class="ml-2"><img src="assets/images/sortby.png"class="s-width"></span></mfDefaultSorter>
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of mf.data,index as i" class="table-desc-color">
                        <td class="text-center">{{emp?.User?.userName  | titlecase}}</td>
                        <td class="text-center"><a *ngIf= "emp.status != 'assigned' && emp.status != 'unAssigned'" routerLink="/employee/{{emp.userId}}">{{emp.status | titlecase}}</a><span *ngIf= "emp.status == 'assigned'">{{emp.status | titlecase}}</span><span *ngIf= "emp.status == 'unAssigned'">{{emp.status | titlecase}}</span></td>
                        <td class="text-center">{{emp.created | date:medium}}</td>
                        <td class="text-center">{{emp.completedDate ? emp.completedDate : ''}}</td>                          
                    </tr>
                    <tr *ngIf="listDetails && !listDetails.length">
                        <td colspan="10"> <p class="text-center data-design p-5"><span class="nodata">
                            <i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-html2canvas-ignore="true">
                        <td colspan="10">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-12 p-0 text-center mt-3">
            <button class="btn btn-primary creat-btn" (click)="location.back()">{{commonLabels.btns.back}}</button>
        </div>
</div>