<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="">
  <div class="row" *ngIf="userRole != 1">
    <div class="col-md-12 p-0">
      <div class="row my-4">
        <!-- <div class="col-md-1 p-0 pt-2 snow-img">
          <img src="{{commonLabels.imgs.cool}}">
          <p class="cloudy pt-2">{{commonLabels.labels.temp}} <sup>{{commonLabels.labels.degree}}</sup>{{commonLabels.labels.celcius}}</p>
          <h6>{{commonLabels.labels.cloudy}}</h6>
        </div> -->
        <div class="dashboard-header col-md-12">
          <div class="clearfix">
            <h4 class="float-left fnt-size">{{commonLabels.labels.welcome}} {{resortName |  titlecase}} {{commonLabels.symbols.apostrophe}}</h4>
            <div>
                <img class="selected-prf-img" src="assets/images/user-icon1.png">
            </div>
          </div>
          <div class="clearfix">
            <p class="notification-alg">{{commonLabels.labels.notificationdash}}
            </p>
            <!-- <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button> -->
          </div>
          <!-- <button class="btn btn-link float-right" (click)="enableView()">{{viewText}}</button> -->
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlDivision}}</div>
            <p class="resort-title">{{commonLabels.labels.totalDivision}}</p>
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlDepartment}}</div>
            <p class="resort-title">{{commonLabels.labels.totalDept}}</p>
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class=" chart-bg p-4">
            <div class="resort-list">{{TtlEmployee}}</div>
            <p class="resort-title">{{commonLabels.labels.totEmp}}</p>
          </div>
        </div>
      </div>


       <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.totalStorage}}</h6>
              <!-- <div id="totalStorageSpace" style="min-width: 300px; height: 300px; max-width: 600px; margin: 0 auto"></div> -->
          </div>
        </div>
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.topResorts}}<span class="float-right"><a class="view-alg" routerLink="/resortList">View All</a></span></h6>
              <div class="custom-table resort">
            <table class="table">
              <thead>
                <tr>
                  <th class="sub-rest">Sub-Resort</th>
                  <th class="total-course">Total no of course</th>
                </tr>
              </thead>
              <tbody class="top-employee-height">
                <tr *ngFor ="let resort of resortDetails">
                  <td class="resort-wrap">{{resort.resortName  | titlecase}}</td>
                  <td class="course-count">{{resort.Courses.length}}</td>
                  <!-- <td>Resort 2</td>
                  <td class="course-count">50</td>
                  <td>Resort 3</td>
                  <td class="course-count">40</td>
                  <td>Resort 4</td>
                  <td class="course-count">30</td>
                  <td>Resort 5</td>
                  <td class="course-count">20</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
        
        <div class="col-md-4 p-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.totalCourses}}</h6>
                <span class="totalcourses">{{commonLabels.labels.totalCourses}}
                    <span class="percent-alg">{{dashboardVar.totalCoursesCount}}</span></span>  
                    <div *ngIf="dashboardVar.totalCourses" id="totalCourses" style="min-width: 150px; height: 220px; max-width: 600px; margin: 0 auto"></div>
          </div><div class="col-sm-3 pl-0 course-style">
              <div class=" chart-bg">
                
              </div>
            </div>

        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.topCourses}}</h6>
              <div class="col-sm-12 p-0 sidebar-wrapper training-alg">
                  <div class="">
                    <!-- <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i> -->
                      <!-- {{dashboardVar.employeeGridsTitle.topCourses}}</h6> -->
                    <table class="table">
                      <tbody class="topratedcourse">
                        <tr *ngFor="let item of topCourses">
                          <td class="word-wrap">
                            {{item.courseName}}
                          </td>
                          <td class="start-spacing">
                            <ng-template #t let-fill="fill">
                              <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                              </span>
                            </ng-template>
                            <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-md-8 p-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.videosTrend}}
              <select class="vdo-btn mr-3 select select-style clearfix" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year.year}}">{{year.year}}</option>
                <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> -->
                <div class="select_arrow"></div>
              </select>
              <div *ngIf="dashboardVar.courseTrendData" class="trend-sec" id="trend" style="" (click)="goToVideosTrend()" ></div>
            </h6> 
          </div>
        </div>
      </div>


       <div class="row mb-3">
        <div class="col-md-4 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.badges}}</h6>
              <div class="badge-alg">
                <p class="total-count">Total</p>
                <p class="mb-0 ml-3 percent-size">{{dashboardVar.totalBadges}}</p>
              </div>
              <div class="donutchat-style">
                <div *ngIf="dashboardVar.totalNoOfBadges" id="chartContainer" style="height: 200px; width: 300px"></div>
              </div>
          </div>
        </div>
        <div class="col-md-8 p-0">
          <div class=" chart-bg p-2" style=" height: 275px">            
              <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.resCertificationTrend}}
              <select class="select-btn select select-style clearfix" (click)="onChangeCertYear()" [(ngModel)]="dashboardVar.certYear">
                  <option *ngFor="let year of dashboardVar.yearList" value="{{year.year}}">{{year.year}}</option>
                 <div class="select_arrow"></div>
            </select>
            </h6>
            <div *ngIf="dashboardVar.certificationTrend" class="trend-sec" id="certificationTrend"  (click)="goTocertificationTrend()" ></div>    
          </div>
        </div>
      </div>
       </div>
  </div>
</div>

    


    <div class="row" *ngIf="userRole == 1">
      <div class="col-md-12 p-0">
         <div class="row my-4">
        <!-- <div class="col-md-1 p-0 pt-2 snow-img"><img src="assets/images/cool@2x.png">
          <p class="cloudy pt-2">{{commonLabels.labels.temp}} <sup>{{commonLabels.labels.degree}}</sup>{{commonLabels.labels.celcius}}</p>
          <h6>{{commonLabels.labels.cloudy}}</h6>
        </div> -->
        <div class="dashboard-header col-md-12">
          <div class="clearfix">
            <h4 class="float-left fnt-size">{{commonLabels.labels.welcome}} 1Risk!</h4>
            <div>
              <img class="selected-prf-img" src="assets/images/user-icon1.png">
          </div>
          </div>
          <div class="clearfix">
            <p class="notification-alg">{{commonLabels.labels.notificationdash}}
            </p>
            <!-- <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button> -->
          </div>
          <!-- <button class="btn btn-link float-right" (click)="enableView()">{{viewText}}</button> -->
        </div>
      </div>
        <div class="row mb-3">
        <div class="col-md-8 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
              {{commonLabels.labels.subStatus}}</h6>
             
          </div>
        </div>
        <div class="col-md-4 p-0">
          <div class=" chart-bg p-2" style=" height: 275px">            
              <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.totalStorage}}</h6>
            
        </div>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8 pl-0">
          <div class=" chart-bg p-2" style=" height: 275px">
            <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.strgUtili}}
              <select class="vdo-btn mr-3 select select-style clearfix" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year}}">{{commonLabels.labels.allresort}}</option>
                <!-- <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i> --> 
                <div class="select_arrow"></div>
              </select></h6>
              
          </div>
        </div>
        <div class="col-md-4 pl-0">
            <div class=" chart-bg p-2" style=" height: 275px">
              <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.topResorts}}<span class="float-right"><a class="view-alg" routerLink="/resortList">View All</a></span></h6>
                <div class="custom-table resort">
              <table class="table">
                <thead>
                  <tr>
                    <th class="sub-rest">Sub-Resort</th>
                    <th class="total-course">Total no of course</th>
                  </tr>
                </thead>
                <tbody class="top-employee-height">
                  <tr *ngFor ="let resort of resortDetails">
                    <td>{{resort.resortName  | titlecase}}</td>
                    <td class="course-count">{{resort.totalCourses}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        <!-- <div class="col-md-4 p-0"> -->
          <!-- <div class=" chart-bg p-2" style=" height: 275px">            
              <h6 class="chart-mr"><i class="far fa-circle circle-fnt" aria-hidden="true"></i>
                {{commonLabels.labels.topResorts}}</h6>
             
        </div> -->
      <!-- </div> -->
    </div>     

      </div>
    </div>





     <!--  <div class="row course-section mb-3">
        <div class="col-sm-8 row p-0">
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.totalCourses}}</h6>
              <div class="num-alg">{{dashboardVar.courses?.TotalCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 pect-color"><i [ngClass]="dashboardVar.courses?.TotalCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'"
                    aria-hidden="true"></i>{{dashboardVar.courses?.TotalCourses.avgWeekly}}%</p>
              </div>
              <div id="totalCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.availableCourses}}</h6>
              <div class="num-alg">{{dashboardVar.courses?.AssignedCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 pect-color"><i [ngClass]="dashboardVar.courses?.AssignedCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'"
                    aria-hidden="true"></i>{{dashboardVar.courses?.AssignedCourses.avgWeekly}}%</p>
              </div>
              <div id="assignedCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr pr-0"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.completedCourses}}</h6>
              <div class="num-alg">{{dashboardVar.courses?.CompletedCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 dwn-color"><i [ngClass]="dashboardVar.courses?.CompletedCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'"
                    aria-hidden="true"></i>{{dashboardVar.courses?.CompletedCourses.avgWeekly}}%</p>
              </div>
              <div id="completedCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.inProgress}}</h6>
              <div class="num-alg">{{dashboardVar.courses?.InProgressCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 dwn-color"><i [ngClass]="dashboardVar.courses?.InProgressCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'"
                    aria-hidden="true"></i>{{dashboardVar.courses?.InProgressCourses.avgWeekly}}%</p>
              </div>
              <div id="inProgress" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 p-0">
          <div class="col-sm-12 p-0">
            <div class=" chart-bg" (click)="goToEmpStatus()">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.employeeProgress}}</h6>
              <div id="employeeProgress" style=" height: 206px; margin: 0 auto"></div>
              <span class="totalEmployee">{{dashboardVar.totEmp}}
                <span class="percent-alg">{{dashboardVar.empProgress?.totalEmployee}}</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3" *ngIf="viewEnable">
        <div class="col-sm-6 pl-0" *ngIf="hideCharts">
          <div class="chart-bg course-trend">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              {{dashboardVar.employeeGridsTitle.videosTrend}}
              <select class="vdo-btn" id="moduleType" name="moduleType" (change)="onChangeModule()" [(ngModel)]="dashboardVar.moduleType">
                <option [ngValue]="null">{{dashboardVar.select}}</option>
                <option *ngFor="let module of dashboardVar.moduleList" value="{{module.id}}">{{module.name}}</option>
                <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select>
              <select class="vdo-btn mr-3" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">
                <option *ngFor="let year of dashboardVar.yearList" value="{{year}}">{{year}}</option>
                <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select>
            </h6>
            <div class="avg-alg">
              <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
              <p class="mr0 pect-color"><i [ngClass]="dashboardVar.courseTrendData?.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'"
                  aria-hidden="true"></i>{{dashboardVar.courseTrendData?.avgWeekly}}%</p>
            </div>
            <div id="videosTrend" style="height: 195px; margin: 0 auto; padding-left: 12px;" (click)="goToVideosTrend()"></div>
          </div>
        </div>
        <div class="col-sm-3 pl-0">
          <div class=" chart-bg">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              {{dashboardVar.employeeGridsTitle.topCourses}}</h6>
            <table class="table">
              <tbody class="topratedcourse">
                <tr *ngFor="let item of topCourses">
                  <td>
                    {{item.courseName}}
                  </td>
                  <td>
                    <ng-template #t let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                      </span>
                    </ng-template>
                    <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3 p-0">
          <div class=" chart-bg">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              {{dashboardVar.employeeGridsTitle.totalNoOfBadges}}</h6>
            <div class="donutchat-style">
              <div id="chartContainer" style="height: 200px; width: 295px"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 p-0" *ngIf="hideCharts">
          <div class="chart-bg" style=" height: 335px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              {{dashboardVar.employeeGridsTitle.certificationTrend}}
              <select class="select-btn"><option value="Total">Total</option>
              <i class="fa fa-chevron-down" aria-hidden="true"></i></select>
            </h6>
            <div class="avg-qualification">
              <p class="avg-qua-header">{{dashboardVar.avgQualification}}</p>
              <div class="percentage-alg">{{dashboardVar.certificationTrend.avgQualification}}%</div>
              <p class="para-alg">{{dashboardVar.emp}}</p>
            </div>
            <div id="certificationTrend" style="height: 210px;margin: 0 auto;padding-top: 45px;"></div>
          </div>
        </div>
        <div class="col-sm-6 pr-0">
          <div class="chart-bg" style="height: 335px">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
              {{dashboardVar.employeeGridsTitle.topEmployees}}
              <select class="select-btn" [(ngModel)]="dashboardVar.empDropdown">
                <option *ngFor="let data of dashboardVar.topEmployeeDropdown" value={{data.id}}>{{data.value}}</option><i
                  class="fa fa-chevron-down" aria-hidden="true"></i>
              </select></h6>
            <div class="custom-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{dashboardVar.employeeGridsTitle.name}}</th>
                    <th>{{dashboardVar.employeeGridsTitle.module}}</th>
                    <th>{{dashboardVar.employeeGridsTitle.score}}</th>
                  </tr>
                </thead>
                <tbody class="top-employee-height">
                  <tr *ngFor="let item of dashboardVar.topEmployees">
                    <td>{{item.id}}.{{item.name}}</td>
                    <td>{{item.module}}</td>
                    <td>{{item.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 -->

   