<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="pr-3">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="row my-4">
        <div class="col-md-1 p-0 pt-2 snow-img"><img src="assets/images/cool@2x.png">
          <p class="cloudy pt-2">{{dashboardVar.temp}}  <sup>{{dashboardVar.degree}}</sup>{{dashboardVar.celcius}}</p>
          <h6>{{dashboardVar.cloudy}}</h6>
        </div>
        <div class="dashboard-header col-md-11">
          <div class="clearfix">
            <h4 class="float-left fnt-size">{{dashboardVar.employeeTabText.wishes}}{{dashboardVar.symbols.comma}} {{dashboardVar.userName}}{{dashboardVar.symbols.apostrophe}}</h4>
          </div>
          <div  class="clearfix">
            <p class="p-color">{{dashboardVar.employeeTabText.notification}} 
            </p>
            <button class="btn_alg" routerLink="/calendar">{{dashboardVar.btns.openCalendar}}</button>
          </div>
          <button class="btn btn-link float-right" (click)="enableView()">{{viewText}}</button>
        </div>
      </div>
      <div class="row course-section mb-3">
            <div class="col-sm-8 row p-0">
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.totalCourses}}</h6>
                <div class="num-alg">{{dashboardVar.courses?.TotalCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 pect-color"><i [ngClass]="dashboardVar.courses?.TotalCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{dashboardVar.courses?.TotalCourses.avgWeekly}}%</p>
              </div>
              <div id="totalCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.availableCourses}}</h6>
                <div class="num-alg">{{dashboardVar.courses?.AssignedCourses.total}}</div>
              <div class="avg-alg">
                <p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                <p class="mr0 pect-color"><i  [ngClass]="dashboardVar.courses?.AssignedCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{dashboardVar.courses?.AssignedCourses.avgWeekly}}%</p>
              </div>
              <div id="assignedCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
            <div class=" chart-bg">
              <h6 class="chart-mr pr-0"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.completedCourses}}</h6>
                <div class="num-alg">{{dashboardVar.courses?.CompletedCourses.total}}</div>
                <div class="avg-alg"><p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                  <p class="mr0 dwn-color"><i [ngClass]="dashboardVar.courses?.CompletedCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{dashboardVar.courses?.CompletedCourses.avgWeekly}}%</p>
                </div>
                <div id="completedCourses" style=" height: 100px; margin: 0 auto"></div>
            </div>
          </div>
          <div class="col-sm-3 pl-0 course-style">
              <div class=" chart-bg">
                <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                  {{dashboardVar.employeeGridsTitle.inProgress}}</h6>
                  <div class="num-alg">{{dashboardVar.courses?.InProgressCourses.total}}</div>
                  <div class="avg-alg"><p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
                    <p class="mr0 dwn-color"><i [ngClass]="dashboardVar.courses?.InProgressCourses.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{dashboardVar.courses?.InProgressCourses.avgWeekly}}%</p>
                  </div>
                   <div id="inProgress" style=" height: 100px; margin: 0 auto"></div> 
              </div>
            </div>
          </div>
          <div class="col-sm-4 p-0">
          <div class="col-sm-12 p-0">
              <div class=" chart-bg" (click)="goToEmpStatus()">
                <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.employeeProgress}}</h6>
                <div id="employeeProgress" style=" height: 206px; margin: 0 auto"></div>
                <span class="totalEmployee">{{dashboardVar.totEmp}} 
                  <span class="percent-alg">{{dashboardVar.empProgress?.totalEmployee}}</span></span>
              </div>
          </div>
      </div>
    </div>
      <div class="row mb-3" *ngIf="viewEnable">
        <div class="col-sm-6 pl-0" *ngIf="hideCharts">
          <div class="chart-bg course-trend">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
            {{dashboardVar.employeeGridsTitle.videosTrend}}
              <select class="vdo-btn" id="moduleType" name="moduleType" (change)="onChangeModule()" [(ngModel)]="dashboardVar.moduleType">     
                  <option [ngValue]="null">{{dashboardVar.select}}</option>
                  <option *ngFor="let module of dashboardVar.moduleList"  value="{{module.id}}">{{module.name}}</option>
                  <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select>
              <select class="vdo-btn mr-3" id="year" name="year" (change)="onChangeYear()" [(ngModel)]="dashboardVar.years">     
                  <option *ngFor="let year of dashboardVar.yearList"  value="{{year}}">{{year}}</option>
                  <i class="fa fa-chevron-down pdl60" aria-hidden="true"></i>
              </select>
            </h6>
            <div class="avg-alg"><p class="mr0 avg-color">{{dashboardVar.avgWeekly}}</p>
              <p class="mr0 pect-color"><i  [ngClass]="dashboardVar.courseTrendData?.avgWeekly > 15  ? 'fa fa-caret-up pdr7':'fa fa-caret-down pdr7'" aria-hidden="true"></i>{{dashboardVar.courseTrendData?.avgWeekly}}%</p></div>  
            <div id="videosTrend" style="height: 195px; margin: 0 auto; padding-left: 12px;" (click)="goToVideosTrend()"></div>
          </div>
        </div>
        <div class="col-sm-3 pl-0">
            <div class=" chart-bg">
                <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
                {{dashboardVar.employeeGridsTitle.topCourses}}</h6>
                <table class="table">
                    <tbody class="topratedcourse">
                      <tr *ngFor="let item of topCourses">
                        <td>
                          {{item.courseName}}
                        </td>
                        <td>
                          <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
                            </span>
                          </ng-template>
                          <ngb-rating [(rate)]='+item.rating' [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
        </div>
        <div class="col-sm-3 p-0">
          <div class=" chart-bg">
            <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
            {{dashboardVar.employeeGridsTitle.totalNoOfBadges}}</h6>
            <div class="donutchat-style"> 
              <div id="chartContainer" style="height: 200px; width: 295px"></div>
            </div>
          </div>
        </div>
         <div class="col-sm-6 p-0"  *ngIf="hideCharts">
    <div class="chart-bg"  style=" height: 335px">
      <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
      {{dashboardVar.employeeGridsTitle.certificationTrend}}<select class="select-btn"><option value="Total">Total</option>
        <i class="fa fa-chevron-down" aria-hidden="true"></i></select></h6>
        <div class="avg-qualification">
          <p class="avg-qua-header">{{dashboardVar.avgQualification}}</p>
          <div class="percentage-alg">{{dashboardVar.certificationTrend.avgQualification}}%</div>
          <p class="para-alg">{{dashboardVar.emp}}</p>
        </div>
      <div id="certificationTrend" style="height: 210px;margin: 0 auto;padding-top: 45px;"></div>
    </div>
  </div>
  <div class="col-sm-6 pr-0">
    <div class="chart-bg"  style="height: 335px">
      <h6 class="chart-mr"><i class="fa fa-circle-o circle-fnt" aria-hidden="true"></i>
        {{dashboardVar.employeeGridsTitle.topEmployees}}
        <select class="select-btn"><option value="This Month">{{dashboardVar.monthDropdown}}</option><i class="fa fa-chevron-down" aria-hidden="true"></i></select></h6>
      <div class="custom-table">
      <table class="table">
        <thead>
          <tr>
            <th>{{dashboardVar.employeeGridsTitle.name}}</th>
            <th>{{dashboardVar.employeeGridsTitle.module}}</th>
            <th>{{dashboardVar.employeeGridsTitle.score}}</th>
          </tr>
        </thead>
        <tbody class="top-employee-height">
          <tr *ngFor="let item of dashboardVar.topEmployees">
            <td>{{item.id}}.{{item.name}}</td>
            <td>{{item.module}}</td>
            <td>{{item.score}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
      </div>
    </div>
    </div>
</div> 
      
