.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #CCCACA;
}
.full {
  color: #737373;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #737373;
}
.silder-alg{
	color: #ccc;
    font-size: 25px;
}
.course-trend{
  cursor: pointer;
}
.avg-qualification{
    border: 1px solid #ADADAD;
    position: absolute;
    top: 64px;
    right: 11px;
    z-index: 10;
    font-size: 12px;
    padding: 5px;
}
.avg-qua-header{
    padding: 5px 5px;
    color: #1D4960;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}
.percentage-alg{
  font-size: 25px;
    text-align: center;
    color: #468FB9;
    font-weight: 600;
}
.para-alg{
    margin: 0;
    padding: 0 0 5px 0;
    color: #73737B;
    text-align: center;
}
.totalEmployee{
  position: absolute;
    bottom: 43px;
    left: 130px;
    font-size: 15px;
    color: #454545;
    font-weight: 600;
}
.top-employee-height, .topratedcourse{  
  font-size: 16px;
  font-weight: 600;
  color: #454545;
}
.top-employee-height{
height: 240px !important;
}
.percent-alg{
  color: #1D4960;
  font-size: 20px;
  font-weight: 600;
}