page-quiz-result 
{
.scroll-content {
    background-image: linear-gradient(#2F99D4, #005684);
    padding: 16px 32px !important;
}

ion-header {
    padding: 0 8px;
}

ion-header.header-ios {
    top:30px; 
}


/*page-quiz-result ion-toolbar ion-icon {
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
    float:right;
}

page-quiz-result ion-toolbar ion-icon.icon-ios {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    float:right;
}*/

.image-wrapper {
    margin-top: 60px;
    float: left;
    width: 100%;
    text-align: center;
}

.congratulations-text {
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 30px;
}

.congratulations-text-span {
    float: left;
    width: 100%;
}

.congratulations-text-span img {
    width: 27px;
    height: 27px;
}   

.congratulations-text h4 {
    font-size: 30px;;
    width: 85%;
    margin: 15px auto !important;
}

.congratulations-text p {
    font-size: 16px;
}

.score-btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.score-btn p {
    color: #329CD6;
    width: 90%;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
    border-radius: 30px;
}
.rating-block {
    margin: 15px 10px;
}
.command-box textarea {
    height: 70px;
    font-size: 15px;
}
.command-item {
    margin-bottom: 15px;
}
.course-txt {
    margin-top: 10px;
}
.congrats-page{
        max-width: 500px;
    margin: 0 auto;
}
.image-wrapper img {
    width: 170px;
}
}