<ion-content padding class="headerFull-bg default-header">
<ion-header class="static-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="text-left">
        <span class="header-title">{{constant.title.notification}}</span>
      </ion-title>
  </ion-navbar>
</ion-header>
<div class="main-content">
  <ion-list>
    <ion-card class="forum-card" *ngFor="let notify of notificationList;let i=index;">
      <ion-grid *ngIf="count > 0">
        <ion-row (click)="redirect(notify)">
          <ion-col col-2 col-sm-1>
            <img src="assets/imgs/profile_circle.png" class="forum-img">
          </ion-col>
          <ion-col col-8 col-sm-8>
            <h4 class="notify-title"  [innerHTML]="notify.notification"></h4>
            <!-- <p class="notify-txt">{{notify.description}}</p> -->
          </ion-col>
          <ion-col col-2 col-sm-3 class="arrow-icon">
            <div class="align-right">
              <span class="hour-status">2h</span>
              <ion-icon name="ios-arrow-forward" class="notify-arrow"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
        </ion-card>
        <ion-row *ngIf="count == 0">
          <ion-col class="main-forum">
            <ion-card class="forum-card">
              <ion-grid>
                <ion-row>
                  <ion-col col-12>No notifications Found.</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
  </ion-list>
</div>
</ion-content>