.label-title{
    color: #697380;
    line-height: 43px;
    font-size: 15px;
}
.save-btn{
    float: none;
}
.decs-overflow{
    overflow: hidden;
}
textarea {
    resize: none;
}
.video-img-alg{
	max-height: 150px;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    position: relative;
    height: 150px;
}
.img-player-alg{
	max-width: 100%;
    position: absolute;
}
.video-desc{position: relative;}
.video-header{
	line-height: 27px;
    float: left;
    color: #1D4960;
    font-size: 18px;
    font-weight: 600;
}
.module-color{color: #808088;}
.video-para-alg{
   /* width: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical !important;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-action{
	padding: 15px 0;
	position: relative;
}
.timer-alg{
	background-color: rgba(0,0,0,0.3);
    font-size: 12px;
    padding: 3px 12px 3px 5px;
    float: left;
}
.play-video{
	margin-top: 20px;
    font-weight: 700;
}
.player-icon{
	font-size: 20px;
}
video.videoPlayer{
    width: 100%;
}

.upload-line{
    line-height: 90px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    float: none;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-label{
    color: #697380;
    font-size: 15px;
}
.upload-section{
    float: right;
    line-height: 100px;
}
.upload-btn{
    font-size: 12px;
    float: none;
}
.upload-crt-icon{
    padding: 0 25px;
}
.pdb20{
    padding-bottom: 20px;
}
.img-size{
    height: 90px;
    width : 200px;
}
.mr10{
    margin-right: 10px;
}

.btn-white{
    color:white !important;
}
 
.btn-blue{
    color:#468FB9 !important;
}
.file-bg{
   background: #468FB9;
}
.icon-ht{
    height: 50px !important;
    padding-top: 5px;
  /*  width: 40%;*/
    margin: 0 auto;
}
.player-header{
    font-weight: 700;
    margin-top: 10px;
}
.text-pd{
    padding: 10px;
}
