<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
 <div class="clearfix mt-5">
        <!-- <p *ngIf="message" class="sucess-msg"><i class="fa fa-check-circle upload-crt-icon" aria-hidden="true" (click)="messageClose()"></i>{{message}}</p> -->
    <div class="row" >
        <h6 class="video-header"><span class="module-color"> {{moduleVar.selectedModule?.moduleName}}</span> > {{moduleVar.selectedCourse?.courseName}}</h6>
    </div>
    <div class="row" >
        <div class="col-md-4 pl-0 mt-3" *ngFor="let video of moduleVar.selectedCourse?.videos;let i = index">
            <div class="video-img-alg">
                <img src="{{video.videoImage}}" class="img-player-alg">
                <div class="video-action clearfix">
                    <span class="timer-alg">{{video.videoDuration}}</span>
                    <span class="float-right">
                        <!-- <a><i class="fa fa-share-alt px-2" aria-hidden="true"></i></a> -->
                        <a><i class="fa fa-pencil px-2"  aria-hidden="true" (click)="openModal(editVideo,video,'edit',i)"></i></a>
                    </span>
                </div>
                    <div class="video-desc">
                        <p class="play-video"><a><i class="fa fa-play-circle player-icon px-2" (click)="openModal(playVideo, video.videoLink,'video',i)" aria-hidden="true"></i></a>{{video.videoTitle}}</p>
                        <p class="m-0 px-3 video-para-alg">{{video.videoDescription}}</p>
                    </div>
                </div> 
        </div>
        <div class="col-md-4 pl-0 mt-3" *ngFor="let file of moduleVar.selectedCourse?.files;let i = index">
                <div class="video-img-alg file-bg">
                    <div class="clearfix">
                        <span class="float-right">
                            <a><i class="fa fa-pencil px-2"  aria-hidden="true"></i></a>
                        </span>
                        <div class="row">
                                <span class="col-md-4"></span>
                                <img  *ngIf="file.fileType === 'txt'" class = "col-md-4 icon-ht" src="assets/images/txt-icon.png">
                                <img  *ngIf="file.fileType === 'ppt'" class = "col-md-4 icon-ht" src="assets/images/ppt-icon.png">
                                <img  *ngIf="file.fileType === 'pdf'" class = "col-md-4 icon-ht" src="assets/images/pdf-icon.png">
                                <span class="col-md-4"></span>
                        </div>
                    </div>
                        <div class="text-pd">
                            <p class="play-video"><a></a>{{file.fileTitle}}</p>
                            <p class="m-0 px-3 video-para-alg">{{file.fileDescription}}</p>
                        </div>
                    </div> 
            </div>
    </div>
</div>





<ng-template #playVideo>
    <div class="video-screen">
        <div class="video-player-set">
           <video class="video-width" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
             class="videoPlayer">
             <source src="{{moduleVar.videoLink}}" type="video/mp4" /> 
            </video> 
        </div>
    </div>
</ng-template>


<ng-template #editVideo>
    <div class="p-4">
        <div class="clearfix">
            <h5 class="float-left">Edit Video</h5><span class="float-right"><a (click)="cancelVideoSubmit()"><img src="assets/images/cancel2.png"></a></span>
        </div>
        <div class="form-group">
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">Video Name</label>
                <input type="text" class="form-control col-md-8 p-0" placeholder="Enter Video Name" name="selectVideoName" [(ngModel)]="videoName">
                <span class="required_color" *ngIf="videoSubmitted && !videoName">Video name is required</span>
            </div>
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">Description</label>
                <textarea class="form-control col-md-8 p-0 decs-overflow" placeholder="Enter Description" name="description" [(ngModel)]="description"></textarea>
                <span class="required_color" *ngIf="videoSubmitted && !description">Description is required</span>
            </div>
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">Video File</label>
                <div class="col-md-4">
                    <div class="fileUpload btn btn-primary">
                        <span><i class="fa fa-upload mr-2" aria-hidden="true"></i>UPLOAD</span>
                        <input type="file" name="videoFile" class="upload" [(ngModel)]="videoFile" accept="video/*" (change)="fileUpload($event)"/>
                    </div>
                </div>
                <div class="col-md-4">
                        <span class="float-right" *ngIf="showImage && videoFile"><img src="{{previewImage}}" class="px-4 img-size"></span>
                </div>
                <!-- <span *ngIf="!videoFile"><img src="assets/images/Add_Profile_Picture.png" class="px-4"></span> -->
                <span class="required_color" *ngIf="videoSubmitted && !videoFile">Video File is required</span>
            </div>
            <div class="text-center">                
                   <button class="btn btn-default mr10" (click)="cancelVideoSubmit()">CANCEL</button>
                   <button class="btn btn-primary mr10 save-btn" (click)="videoSubmit()">SAVE</button>               
            </div>
         </div>   
    </div>
</ng-template>


