<span *ngIf="moduleVar.hideAllVideos">
    <div class="clearfix pt-4">
        <h6 class="float-left module-hd-color">{{commonLabels.labels.divisionName}}</h6>
    </div>
    <div class="clearfix mt-5 mr-3 white-bg p-3">
        <div class="clearfix" *ngFor="let program of moduleVar.moduleList">
            <div class="row pt-3">
                <h6 class="video-header"><span class="module-color">{{program.programName}}</span></h6>
            </div>
            <div class="col-md-12 pb-4">
                <div class="row">
                    <div *ngFor="let file of program.files;let i = index" class="col-md-4 col-sm-4 pl-0 mt-3">
                        <div *ngIf="file.fileType == 'mp4'">
                            <div class="video-img-alg">
                                <img src="{{file.videoImage}}" class="img-player-alg">
                                <div class="video-action clearfix">
                                    <span class="timer-alg">{{file.videoDuration}}</span>
                                    <span class="float-right">
                                        <a><i class="fa fa-pencil px-2" aria-hidden="true" (click)="openModal(editVideo,file,'edit',i)"></i></a>
                                    </span>
                                </div>
                                <div class="video-desc">
                                    <p class="play-video"><a><i class="fa fa-play-circle player-icon px-2" (click)="openModal(playVideo, file.fileUrl,'video',i)"
                                                aria-hidden="true"></i></a>{{file.fileName}}</p>
                                    <p class="m-0 px-3 video-para-alg">{{file.fileDescription}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 p-0">
                            <div *ngIf="file.fileType != 'mp4'">
                                <div class="video-img-alg file-bg">
                                    <div class="clearfix pt-3 pr-3">
                                        <span class="float-right">
                                            <a><i class="fa fa-pencil px-2" aria-hidden="true" (click)="openModal(editVideo,file,'edit',i)"></i></a>
                                        </span>
                                        <div class="row">
                                            <img *ngIf="file.fileType === 'txt'" class="icon-ht" src="{{commonLabels.imgs.text}}">
                                            <img *ngIf="file.fileType === 'ppt'" class="icon-ht" src="{{commonLabels.imgs.ppt}}">
                                            <img *ngIf="file.fileType === 'pdf'" class="icon-ht" src="{{commonLabels.imgs.pdf}}">
                                        </div>
                                    </div>
                                    <div class="px-2">
                                        <p class="player-header"><a></a>{{file.fileName}}</p>
                                        <p class="m-0 video-para-alg">{{file.fileDescription}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</span>
<!-- 
<span *ngIf="moduleVar.hideCourseVideos">
    <div class="clearfix pt-4">
        <h6 class="float-left module-hd-color">{{moduleVar.divisionName}}</h6>
    </div>
    <div class="clearfix mt-5 mr-3 white-bg p-3">
        <span *ngFor="let course of moduleVar.selectedCourses ">
            <div class="row">
                <h6 class="video-header"><span class="module-color"> {{moduleVar.selectedModule?.moduleName}}</span> >
                    {{course.courseName}} </h6>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 pl-0 mt-3" *ngFor="let file of course.files">
                    <div *ngIf="file.fileType == 'mp4'">
                        <div class="video-img-alg">
                            <img src="{{file.videoImage}}" class="img-player-alg">
                            <div class="video-action clearfix">
                                <span class="timer-alg">{{file.videoDuration}}</span>
                                <span class="float-right">
                                    <a><i class="fa fa-pencil px-2" aria-hidden="true" (click)="openModal(editVideo,file,'edit',i)"></i></a>
                                </span>
                            </div>
                            <div class="video-desc">
                                <p class="play-video"><a><i class="fa fa-play-circle player-icon px-2" (click)="openModal(playVideo, file.fileUrl,'video',i)"
                                            aria-hidden="true"></i></a>{{file.fileName}}</p>
                                <p class="m-0 px-3 video-para-alg">{{file.fileDescription}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 p-0">
                        <div *ngIf="file.fileType != 'mp4'">
                            <div class="video-img-alg file-bg">
                                <div class="clearfix pt-3 pr-3">
                                    <span class="float-right">
                                        <a><i class="fa fa-pencil px-2" aria-hidden="true" (click)="openModal(editVideo,file,'edit',i)"></i></a>
                                    </span>
                                    <div class="row">
                                        <img *ngIf="file.fileType === 'txt'" class="icon-ht" src="assets/images/txt-icon.png">
                                        <img *ngIf="file.fileType === 'ppt'" class="icon-ht" src="assets/images/ppt-icon.png">
                                        <img *ngIf="file.fileType === 'pdf'" class="icon-ht" src="assets/images/pdf-icon.png">
                                    </div>
                                </div>
                                <div class="px-2">
                                    <p class="player-header"><a></a>{{file.fileName}}</p>
                                    <p class="m-0 video-para-alg">{{file.fileDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</span>


 -->



<ng-template #playVideo>
    <div class="video-screen">
        <div class="video-player-set">
            <video class="video-width" controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline"
                class="videoPlayer">
                <source src="{{moduleVar.videoLink}}" type="video/mp4" />
            </video>
        </div>
    </div>
</ng-template>


<ng-template #editVideo>
    <div class="p-4">
        <div class="clearfix">
            <h5 class="float-left">{{commonLabels.labels.editFile}}</h5><span class="float-right"><a (click)="cancelVideoSubmit()"><img src="{{commonLabels.imgs.cancel}}"></a></span>
        </div>
        <div class="form-group">
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">{{commonLabels.labels.fileName}}</label>
                <input type="text" class="form-control col-md-8 p-0" placeholder="Enter File Name" name="selectVideoName"
                    [(ngModel)]="videoName">
                <span class="required_color" *ngIf="videoSubmitted && !videoName">{{commonLabels.mandatoryLabels.filenameRequired}}</span>
            </div>
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">{{commonLabels.labels.description}}</label>
                <textarea class="form-control col-md-8 p-0 decs-overflow" placeholder="Enter Description" name="description"
                    [(ngModel)]="description"></textarea>
                <span class="required_color" *ngIf="videoSubmitted && !description">{{commonLabels.mandatoryLabels.description}}</span>
            </div>
            <div class="row pl-0 pdb20">
                <label class="col-md-4 p-0 label-title">{{commonLabels.labels.file}}</label>
                <div class="col-md-4">
                    <div class="fileUpload btn btn-primary m-0 mt-4">
                        <span><i class="fa fa-upload mr-2" aria-hidden="true"></i>{{commonLabels.labels.upload}}</span>
                        <input type="file" name="videoFile" class="upload" [(ngModel)]="videoFile" accept="" (change)="fileUpload($event)" />
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="float-right mt-2" *ngIf="showImage && videoFile && fileType == 'mp4'"><img src="{{previewImage}}"
                            class="px-4 img-size"></span>
                </div>
                <!-- <span *ngIf="!videoFile"><img src="assets/images/Add_Profile_Picture.png" class="px-4"></span> -->
                <span class="required_color" *ngIf="videoSubmitted && !videoFile">{{commonLabels.labels.fileisRequired}}</span>
            </div>
            <div class="text-center pt-3">
                <button class="btn btn-default mr10" (click)="cancelVideoSubmit()">{{commonLabels.btns.cancel}}</button>
                <button class="btn btn-primary save-btn" (click)="videoSubmit()">{{commonLabels.btns.save}}</button>
            </div>
        </div>
    </div>
</ng-template>