<div class="pt-5">
<div class="row">
    <div class="col-md-9 pt-3 px-0">
    	<div class="clearfix">
            
            <button type = "button" class="btn btn-primary">Create Notification</button>
            <button type = "button" class="btn btn-primary mr-3">Create Course</button>
            <button type = "button" class="btn btn-primary mr-3">Schedule a Training</button>
            <button type = "button" class="btn btn-primary mr-3">Export to Excel</button>
        </div>
    <div class="clearfix pt-5 tab-section">
        <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#course">Courses</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#training">Training Class</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#video">Videos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link"  data-toggle="tab" href="#document">Documents</a>
                </li>
                <li class="nav-item">
                <a class="nav-link">Notification</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#quiz">Quiz</a>
                </li>
                <li class="nav-item">
                <a class="nav-link">Recently Deleted</a>
                </li>
        </ul> 
    </div>
   
            <div class="tab-content">
            <div id="course" class="col-md-12 pt-2 clearfix px-0 container tab-pane active">
            <div class="col-md-12 clearfix py-2 px-0"><h6 class="float-right">Count:100</h6></div>
            <div id="coss" class="col-md-12 pt-2 clearfix px-0">
            <div class="white-bg p-3 clearfix">
            
            	<div class="clearfix">
            	<label class="square-cont float-left">
						<input type="checkbox" name="web"> Course Name 1
						<span class="square-checkmark"></span>
				</label>
                <span class="float-right">
                  	<a><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a>                    
                    <a><i class="fa fa-exclamation-circle icons_header" aria-hidden="true"></i></a>
                    <a><i class="fa fa-angle-down icons_header" aria-hidden="true"></i></a>
                </span>
			</div>
              <div class="row py-3">
              	<div class="col-md-3 p-0">
              		<div class="form-group pl-0">
            <label class="course-header">Create By</label>
            <input type="text" class="form-control pl-0" placeholder="John"/> </div>              		
              </div>
              <div class="col-md-3">
              		<div class="form-group">
            <label class="course-header">Create On</label>
            <input type="text" class="form-control pl-0" placeholder="Apr 12 2019 & 11.30"/> </div>              		
              </div>
              <div class="col-md-3">
              		<div class="form-group">
            <label class="course-header">Last Modified On</label>
            <input type="text" class="form-control pl-0" placeholder="Apr 12 2019 & 11.30"/> </div>              		
              </div>
              </div> 
            <div class="row py-3">
              	<div class="col-md-3 p-0">
              		<div class="form-group pl-0">
            <label class="course-header">No. of Training Class</label>
            <span class="course-count">2</span> </div>              		
              </div>
              <div class="col-md-3">
              		<div class="form-group">
            <label class="course-header">No. of Content Files</label>
            <span class="course-count">10</span> </div>              		
              </div>
              <div class="col-md-3">
              		<div class="form-group">
            <label class="course-header">No. of Employees</label>
            <span class="course-count">100</span> </div>              		
              </div>
              <div class="col-md-3">
              		<div class="form-group">
            <label class="course-header">File Size</label>
           <span class="file-size">154Mb</span>	 </div>              		
              </div>
            </div> 
         <div class="clearfix">
         	<h6>Usage Stats</h6>
         	<div class="total-count row">
         		<span class="col-md-6 p-0">Total No. of Employees enrolled:150</span>
         		<span class="col-md-6 text-center">Total No. of Certificate: 30</span>
         	</div>
         </div>
         <div class="row py-3">
         	<div class="col-md-3 p-3 assigned-perc">20%</div>
         	<div class="col-md-3 p-3 inprogress-perc">30%</div>
         	<div class="col-md-6 p-3 completed-perc">50%</div>
         </div>
         <div class="row usage-state">
         	<div class="col-md-3">Assigned</div>
         	<div class="col-md-3">In Progress</div>
         	<div class="col-md-6">Completed</div>
         </div>
         <div class="py-3 clearfix">
            <button class="btn btn-primary" type="submit">Duplicate</button>
        </div>
            </div> 
    </div>


<!-- Edit -->


    <div class="col-md-12 pt-2 clearfix px-0">
     	<div class="white-bg p-4 clearfix">
     	<div class="clearfix">
        <p class="dup-hd">Edit</p>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="px-5 py-3">
    	<div class="row">
    	<div class="col-md-6 mb-3 select select-style clearfix">
    		<select name="Course" class="form-control pl-0">
                    <option value="">Course 1</option>
                    <option>Course 2</option>
                </select>
                <div class="select_arrow"></div></div>
    	<div class="col-md-6 mb-3 select select-style clearfix">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Training Class 1</option>
                    <option>Training Class 2</option>
                </select>
                <div class="select_arrow"></div></div></div>
    <div class="col-md-12 pt-3">
    	<p class="course-list">Video 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 2<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 2<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
     <div class="col-md-12 pt-3">
    	<p class="course-list">Video 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 5<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 6<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
    <div class="py-3 clearfix">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>    
    </div>
     </div>

<!-- End Edit -->

<!-- Duplicate -->

     <div class="col-md-12 pt-2 clearfix px-0">
     	<div class="white-bg p-4 clearfix">
     	<div class="clearfix">
        <p class="dup-hd">Duplicate</p>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="px-5 py-3">
    	<div class="row">
    	<div class="col-md-6 mb-3"><input type="text" class="form-control pl-0" placeholder="Copy of Course Name 1" name="course"/></div>
    	<div class="col-md-6 mb-3"><input type="text" class="form-control pl-0" placeholder="Training class" name="course"/></div></div>
    <div class="col-md-12 pt-3">
    	<p class="course-list">Video 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 2<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 2<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
     <div class="col-md-12 pt-3">
    	<p class="course-list">Video 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 5<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 6<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
     <div class="py-3 clearfix">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>    
    </div>
     </div>
</div>

<!-- End Duplicate -->
    
<!-- Training Tab Content -->

<div id="training" class="col-md-12 pt-2 clearfix px-0 container tab-pane">
    <div class="col-md-12 clearfix py-2 px-0"><h6 class="float-right">Count:100</h6></div>
    <div class="white-bg pt-4 pb-4 mb-3">
        <div class="head-part clearfix pr-3">
            <h6 class="float-left">Course Name 1</h6>
            <div class="float-right">
                <a href="#"><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="select-arbx p-4">
                <label class="square-cont float-left col-md-12">
						<input type="checkbox" name="web"> Training Class 1
						<span class="square-checkmark"></span>
                </label>
                <div class="clk-part clearfix pt-1">
                    <div class="clk-sec float-left">
                        <a href="#">Video(s):3</a>
                        <a href="#" class="ml-2">Document(s):4</a>
                    </div>
                    <a class="float-right" href="#">View Quiz</a>
                </div>
        </div>
        <div class="select-arbx p-4">
                <label class="square-cont float-left col-md-12">
						<input type="checkbox" name="web"> Training Class 2
						<span class="square-checkmark"></span>
                </label>
                <div class="clk-part clearfix pt-1">
                    <div class="clk-sec float-left">
                        <a href="#">Video(s):3</a>
                        <a href="#" class="ml-2">Document(s):4</a>
                    </div>
                    <a class="float-right" href="#">View Quiz</a>
                </div>
        </div>
    </div>
    <div class="white-bg pt-4 pb-4 mb-3">
            <div class="head-part clearfix pr-3">
                <h6 class="float-left">Course Name 2</h6>
                <div class="float-right">
                    <a href="#"><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="select-arbx p-4">
                    <label class="square-cont float-left col-md-12">
                            <input type="checkbox" name="web"> Training Class 1
                            <span class="square-checkmark"></span>
                    </label>
                    <div class="clk-part clearfix pt-1">
                        <div class="clk-sec float-left">
                            <a href="#">Video(s):3</a>
                            <a href="#" class="ml-2">Document(s):4</a>
                        </div>
                        <a class="float-right" href="#">View Quiz</a>
                    </div>
            </div>
            <div class="select-arbx p-4">
                    <label class="square-cont float-left col-md-12">
                            <input type="checkbox" name="web"> Training Class 2
                            <span class="square-checkmark"></span>
                    </label>
                    <div class="clk-part clearfix pt-1">
                        <div class="clk-sec float-left">
                            <a href="#">Video(s):3</a>
                            <a href="#" class="ml-3">Document(s):4</a>
                        </div>
                        <a class="float-right" href="#">View Quiz</a>
                    </div>
            </div>
        </div>
</div>    


<!-- End Training Tab Content -->

<!-- Video Tab Content -->

<div id="video" class="col-md-12 pt-2 clearfix px-0 container tab-pane doc-table">
    <div class="col-md-12 clearfix py-2 px-0">
        <button class="btn btn-primary creat-btn float-left" type="submit">Add Video to Course</button>
        <h6 class="pt-2 float-right">Count:100</h6>
    </div>


         <div class="col-md-12 pt-2 clearfix px-0">
     	<div class="white-bg p-4 clearfix">
     	<div class="clearfix">
        <p class="dup-hd">Assign</p>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="px-5 py-3">
    	<div class="row">
    	<div class="col-md-6 mb-3 select select-style clearfix">
    		<select name="Course" class="form-control pl-0">
                    <option value="">Course 1</option>
                    <option>Course 2</option>
                </select>
                <div class="select_arrow"></div></div>
    	<div class="col-md-6 mb-3 select select-style clearfix">
    		<select name="Training Class" class="form-control pl-0">
                    <option value="">Training Class 1</option>
                    <option>Training Class 2</option>
                </select>
                <div class="select_arrow"></div></div></div>
    <div class="col-md-12 pt-3">
    	<p class="course-list">Video 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 2<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 1<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 2<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
     <div class="col-md-12 pt-3">
    	<p class="course-list">Video 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 3<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Video 5<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 4<img  class="close-alg" src="assets/images/close.png"></p>
    	<p class="course-list">Document 6<img  class="close-alg" src="assets/images/close.png"></p>
    </div>
     <div class="py-3 clearfix">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>    
    </div>
     </div>
    <div class="col-lg-12 col-sm-12 p-0 pt-4">                
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                        <thead>
                        <tr class="th-boxshadow">
                            <th class="text-left">
                                <label class="square-cont float-left col-md-12">
                                    <input type="checkbox" name="web"> Files
                                    <span class="square-checkmark"></span>
                                </label>
                            </th>
                            <th class="text-left">
                               File Size
                            </th>
                            <th class="text-left">
                               Type
                            </th>
                            <th class="text-left">
                               Length
                            </th>
                            <th class="text-left">
                               No.of Emp.
                            </th>
                            <th class="text-left">
                                Permission
                            </th>
                            <th class="text-left">
                               Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  class="table-desc-color">
                                <td class="text-left">
                                    <label class="square-cont float-left col-md-12">
                                        <input type="checkbox" name="web"> Document
                                        <span class="square-checkmark"></span>
                                    </label>
                                </td>
                                <td class="text-left">10 MB</td>
                                <td class="text-left">.mp4</td>
                                 <td class="text-left">03:55</td>
                                <td class="text-left">100</td>
                                <td>Private</td>
                                <td>
                                    <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a>
                                    <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                                </td>
                            </tr>
                            <tr  class="table-desc-color">
                                    <td class="text-left">
                                        <label class="square-cont float-left col-md-12">
                                            <input type="checkbox" name="web"> Document
                                            <span class="square-checkmark"></span>
                                        </label>
                                    </td>
                                    <td class="text-left">10 MB</td>
                                    <td class="text-left">.mp4</td>
                                 <td class="text-left">03:55</td>
                                    <td class="text-left">100</td>
                                    <td>Private</td>
                                    <td>
                                        <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a>
                                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                                    </td>
                                </tr>
                       
                        </tbody>
                    </table>
            </div>
        </div>
</div>

<!--End Video Tab Content -->

<!-- Documents Tab Content -->

<div id="document" class="col-md-12 pt-2 clearfix px-0 container tab-pane doc-table">
    <div class="col-md-12 clearfix py-2 px-0">
        <button class="btn btn-primary creat-btn float-left" type="submit">Add Documents to Course</button>
        <h6 class="pt-2 float-right">Count:100</h6>
    </div>
    <div class="col-lg-12 col-sm-12 p-0">                
            <div class="table-responsive custom-table2 px-1">
                <table class="table table-striped white-bg mt-1">
                        <thead>
                        <tr class="th-boxshadow">
                            <th class="text-left">
                                <label class="square-cont float-left col-md-12">
                                    <input type="checkbox" name="web"> Files
                                    <span class="square-checkmark"></span>
                                </label>
                            </th>
                            <th class="text-left">
                               File Name
                            </th>
                            <th class="text-left">
                               Type
                            </th>
                            <th class="text-left">
                               No.of Emp.
                            </th>
                            <th class="text-left">
                                Permission
                            </th>
                            <th class="text-left">
                               Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr  class="table-desc-color">
                                <td class="text-left">
                                    <label class="square-cont float-left col-md-12">
                                        <input type="checkbox" name="web"> Document
                                        <span class="square-checkmark"></span>
                                    </label>
                                </td>
                                <td class="text-left">10 MB</td>
                                <td class="text-left">.doc</td>
                                <td class="text-left">100</td>
                                <td>Private</td>
                                <td>
                                    <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a>
                                    <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                                </td>
                            </tr>
                            <tr  class="table-desc-color">
                                    <td class="text-left">
                                        <label class="square-cont float-left col-md-12">
                                            <input type="checkbox" name="web"> Document
                                            <span class="square-checkmark"></span>
                                        </label>
                                    </td>
                                    <td class="text-left">10 MB</td>
                                    <td class="text-left">.doc</td>
                                    <td class="text-left">100</td>
                                    <td>Private</td>
                                    <td>
                                        <a><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a (click)="openAddUser(addUserTemp,user,i)"><i class="fa fa-pencil header-icon"></i></a>
                                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                                    </td>
                                </tr>
                       
                        </tbody>
                    </table>
            </div>
        </div>
</div>

<!--End Documents Tab Content -->

<!--Quiz Tab Content -->
<div id="quiz" class="col-md-12 pt-2 clearfix px-0 container tab-pane quiz-tab">
    <div class="white-bg pt-4 pb-4">
        <form>
            <div class="col-md-9 row m-auto top-select-bx">
                <select class="col-md-5 form-control">
                    <option>Course Name1</option>
                    <option>Course Name2</option>
                    <option>Course Name3</option>
                </select>
                <select class="col-md-5 form-control">
                    <option>Training Name1</option>
                    <option>Training Name2</option>
                    <option>Training Name3</option>
                </select>
            </div>
            <div class="quiz-box row p-4">                   
                    <div class="col-md-11 p-0">
                        <div class="row">
                            <div class="col-md-6 row p-0"> 
                                <label for="" class="col-sm-4 label-title p-0 m-0">Question Type</label>
                                <div class="col-md-8 pl-0">
                                    <select class="form-control" placeholder="Select" name="questionType{{i}}" [(ngModel)]="data.questionType" (change)="questionTypeUpdate(data.questionType,i)"
                                    #QuestionTypeVal="ngModel" [ngModelOptions]="{ standalone : true }" required>
                                        <option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
                                    </select>
                                    <span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
                                        {{constant.quizLabels.questionType}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span>
                                </div>
                            </div> 
                            <div class="col-md-6 row p-0 form-group">
                                <label class="col-md-4 p-0 label-title">Weightage</label>
                                <div class="col-md-8 pl-0">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Enter Weightage" name="Weightage" value="{{weightage}}%"
                                        #WeightageVal="ngModel" [(ngModel)]="data.weightage" required>
                                    </span>
                                    <span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
                                        {{constant.quizLabels.weightage}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span>
                                
                                </div>
                            </div>
                        </div>
                        <div class="row  form-group">
                            <label class="col-md-2 pl-0 label-title m-0">Question 1</label>
                            <div class="col-md-10 pl-0">
                                <input type="text" class="form-control" placeholder="Enter Question" name="question{{i}}" [(ngModel)]="data.question"
                                #QuestionVal="ngModel" required>
                                <span class="required_color" *ngIf="QuestionVal && QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
                                    {{constant.quizLabels.question}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                </span>
                            </div>                		
                        </div>
                        <div class="row form-group">
                                <label  class="col-md-2 pl-0 label-title">Option</label>                                
                                <div class="col-md-10 pl-0">
                                    <div class="row">
                                        <div class="col-md-12 p-0 form-group">
                                            <div class="row" >
                                                <span class="col-sm-12 p-0" >
                                                    <span class="option-btn">A</span>                                                   
                                                    <input type="text" class="form-control pdl27" placeholder="" [name]="optionValue.value"  required>
                                                </span>
                                            </div>
                                            <div class="pt-2" *ngIf="data.questionType === '2'">
                                                <span class="col-sm-3 pl-0">
                                                    <label class="hole-cont mr-2">
                                                        <input type="checkbox" [checked]="optionData" name="options" [value]="1" (change)="optionValueUpdate()"> {{constant.quizLabels.true}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="hole-cont mr-2">
                                                        <input type="checkbox" [checked]="!optionData"  name="options" [value]="0" (change)="optionValueUpdate()"> {{constant.quizLabels.false}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="row" *ngIf="data.questionType === '3'">
                                                <span class="col-sm-12 pl-0">
                                                    <!-- <span class="option-btn">{{oi + 1}}</span> -->
                                                    <input type="text" class="form-control" placeholder="Enter Your Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <a href="#"><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a>
                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                    </div>
                        
            </div>
            <div class="quiz-box row p-4">                   
                    <div class="col-md-11 p-0">
                        <div class="row  form-group">
                            <div class="col-md-6 row p-0"> 
                                <label for="" class="col-sm-4 label-title p-0 m-0">Question Type</label>
                                <div class="col-md-8 pl-0">
                                    <select class="form-control" placeholder="Select" name="questionType{{i}}" [(ngModel)]="data.questionType" (change)="questionTypeUpdate(data.questionType,i)"
                                    #QuestionTypeVal="ngModel" [ngModelOptions]="{ standalone : true }" required>
                                        <option *ngFor="let option of questionOptions" [ngValue]="option.value">{{option.name}}</option>
                                    </select>
                                    <span class="required_color" *ngIf="QuestionTypeVal && QuestionTypeVal.invalid && (quizForm.submitted || QuestionTypeVal.touched)">
                                        {{constant.quizLabels.questionType}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span>
                                </div>
                            </div> 
                            <div class="col-md-6 row p-0">
                                <label class="col-md-4 p-0 label-title">Weightage</label>
                                <div class="col-md-8 pl-0">
                                    <span>
                                        <input type="text" class="form-control" placeholder="Enter Weightage" name="Weightage" value="{{weightage}}%"
                                        #WeightageVal="ngModel" [(ngModel)]="data.weightage" required>
                                    </span>
                                    <span class="required_color" *ngIf="WeightageVal && WeightageVal.invalid && (quizForm.submitted || WeightageVal.touched)">
                                        {{constant.quizLabels.weightage}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                    </span>
                                
                                </div>
                            </div>
                        </div>
                        <div class="row  form-group">
                            <label class="col-md-2 pl-0 label-title m-0">Question 1</label>
                            <div class="col-md-10 pl-0">
                                <input type="text" class="form-control" placeholder="Enter Question" name="question{{i}}" [(ngModel)]="data.question"
                                #QuestionVal="ngModel" required>
                                <span class="required_color" *ngIf="QuestionVal && QuestionVal.invalid && (quizForm.submitted || QuestionVal.touched)">
                                    {{constant.quizLabels.question}} {{i+1}} {{constant.mandatoryLabels.isRequired}}
                                </span>
                            </div>                		
                        </div>
                        <div class="row form-group">
                                <label  class="col-md-2 pl-0 label-title">Option</label>                                
                                <div class="col-md-10 pl-0">
                                    <div class="row">
                                        <div class="col-md-12 p-0 form-group">
                                            <div class="row" >
                                                <span class="col-sm-12 p-0" >
                                                    <span class="option-btn">A</span>                                                   
                                                    <input type="text" class="form-control pdl27" placeholder="" [name]="optionValue.value"  required>
                                                </span>
                                            </div>
                                            <div class="pt-2" *ngIf="data.questionType === '2'">
                                                <span class="col-sm-3 pl-0">
                                                    <label class="hole-cont mr-2">
                                                        <input type="checkbox" [checked]="optionData" name="options" [value]="1" (change)="optionValueUpdate()"> {{constant.quizLabels.true}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="hole-cont mr-2">
                                                        <input type="checkbox" [checked]="!optionData"  name="options" [value]="0" (change)="optionValueUpdate()"> {{constant.quizLabels.false}}
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="row" *ngIf="data.questionType === '3'">
                                                <span class="col-sm-12 pl-0">
                                                    <!-- <span class="option-btn">{{oi + 1}}</span> -->
                                                    <input type="text" class="form-control" placeholder="Enter Your Answer" [name]="data.answer" [(ngModel)]="data.answer" [ngModelOptions]="{ standalone : true }">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                    </div>
                    <div class="col-md-1 p-0">
                        <a href="#"><i class="fa fa-pencil icons_header" aria-hidden="true"></i></a>
                        <a (click)="removeUser(deleteUser,user,i)"><i class="fa fa-trash header-icon"></i></a>
                    </div>
                        
            </div>
        </form>
    </div>
</div>



<!--End Quiz Tab Content -->

</div>
</div>
    <div class="col-md-3 pr-0">
    	<div class="white-bg p-4">
    		<h6>FILTER</h6>
    		<div class="row">
    		<div class="col-md-12 p-0 mb-3"><input type="text" class="form-control pl-0" placeholder="Course" name="course"/></div>
            <div class="col-md-12 p-0 mb-3"><input type="text" class="form-control pl-0" placeholder="Video Name" name="course"/></div>
            <div class="col-md-12 p-0 mb-3"><input type="text" class="form-control pl-0" placeholder="Document Name" name="course"/></div>
            <div class="col-md-12 p-0 mb-3"><input type="text" class="form-control pl-0" placeholder="Parent Resort" name="course"/></div>
            <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Division Name" class="form-control pl-0">
                    <option value="">Division 1</option>
                    <option>Division 2</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Department Name" class="form-control pl-0">
                    <option value="">Department 1</option>
                    <option>Department 2</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Sub Resort" class="form-control pl-0">
                    <option value="">Sub Resort 1</option>
                    <option>Sub Resort 2</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Division Name" class="form-control pl-0">
                    <option value="">Division 1</option>
                    <option>Division 2</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Department Name" class="form-control pl-0">
                    <option value="">Department 1</option>
                    <option>Department 2</option>
                </select>
                <div class="select_arrow"></div></div>
                 <div class="col-md-12 p-0 select select-style clearfix">
             	<select name="Create By" class="form-control pl-0">
                    <option value="">Create By</option>
                    <option>Create By</option>
                </select>
                <div class="select_arrow"></div></div>
                <div class="col-md-12 p-0">
                	<h6 class="float-left m-0 pt-2">Clear Filter</h6>
                	<button type = "button" class="btn btn-primary">Apply</button></div>
            </div>
    	</div>
    </div>
</div>
</div>