<div class="">   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"  *ngIf="!showcreatecourse"><a routerLink="/cms-library">{{commonLabels.labels.cmsLibrary}}</a></li>
            <li *ngIf ="selectedTab === 'course' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.course}}</li>
            <li *ngIf ="selectedTab === 'training' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.trainingClass}}</li>
            <li *ngIf ="selectedTab === 'video' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.videos}}</li>
            <li *ngIf ="selectedTab === 'document' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.documents}}</li>
            <li *ngIf ="selectedTab === 'notification' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.notification}}</li>
            <li *ngIf ="selectedTab === 'quiz' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.quiz}}</li>
            <li *ngIf ="selectedTab === 'recent' && !showcreatecourse" class="breadcrumb-item active">{{commonLabels.labels.recentlyDelete}}</li>
        </ol>
    </nav>
</div>

<div class="pt-2"> 
    <app-add-module *ngIf="showcreatecourse" (upload)="showUploadPage($event)" (completed)="completed($event)"  [addedFiles]="selectedVideoList"></app-add-module>   
    <div class="row">
        <div class="col-md-9 pt-2 px-0">
    	    <div class="clearfix" *ngIf="!hideSection">
                <button type = "button" class="btn btn-primary " placement="top" tooltip="Print">{{commonLabels.btns.print}}</button>    
                <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Work in Progress" routerLink="/workinprogress">{{commonLabels.btns.workinProgress}}</button>
                <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Schedule a Training" (click)="openEditModal(editBatch,'batch')">{{commonLabels.btns.scheduleTraining}}</button>
                <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Create Notification">{{commonLabels.btns.createNotification}}</button>
                <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Create Course" (click)="showCreateCourse()">{{commonLabels.btns.createCourse}}</button>
            </div>
            <span class="required_color" *ngIf="showWarning && !showcreatecourse">{{commonLabels.labels.selectcoursestoschedule}}</span> 
            <div class="clearfix pt-4 tab-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item"  *ngIf="!hideSection">
                        <a [ngClass] = "selectedTab === 'course' ? 'nav-link active show' : 'nav-link'" data-toggle="tab" href="#course" (click)="headerTabChange('course','')">{{commonLabels.labels.course}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!hideSection">
                        <a [ngClass] = "selectedTab === 'training' ? 'nav-link active show' : 'nav-link'" data-toggle="tab" href="#training" (click)="headerTabChange('training','')">{{commonLabels.labels.trainingClass}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a [ngClass] = "selectedTab === 'video' ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#video" (click)="headerTabChange('video','')">{{commonLabels.labels.videos}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a [ngClass] = "selectedTab === 'document' ? 'nav-link active show' : 'nav-link'"  data-toggle="tab" href="#document" (click)="headerTabChange('document','')">{{commonLabels.labels.documents}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a [ngClass] = "selectedTab === 'notification' ? 'nav-link active show' : 'nav-link'" (click)="headerTabChange('notification','')">{{commonLabels.labels.notification}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a [ngClass] = "selectedTab === 'quiz' ? 'nav-link active show disabled' : 'nav-link'" data-toggle="tab" href="#quiz" (click)="headerTabChange('quiz','')">{{commonLabels.labels.quiz}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!hideSection">
                        <a class="nav-link">{{commonLabels.labels.recentlyDelete}}</a>
                    </li>
                </ul> 
            </div>
            <div class="tab-content">
                <!-- Course Tab Content -->
                <div *ngIf = "selectedTab === 'course' && !hideSection" id="course" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'course' ? 'active show' : 'nav-link')">
                        <app-course-tab (SelectedcourseList)="getCourse($event)" (trainingClassListTab) = "redirectTab($event)" (upload)="showUploadPage($event)" (trainingClassRedirect)="redirectTab($event)" [CMSFilterSearchEventSet]="CMSFilterSearchEvent"  [addedFiles]="selectedVideoList" ></app-course-tab>
                </div>
                <!-- Training Class Tab Content -->
                <div *ngIf = "selectedTab === 'training' && !hideSection" id="training" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'training' ? 'active show' : 'nav-link')">
                    <app-traing-class-tab (videoList)="redirectTab($event)" [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection"></app-traing-class-tab>
                </div>
                <!-- Video Tab Content -->
                <div *ngIf = "selectedTab === 'video' && !showcreatecourse" id="video" [ngClass] = "'col-md-12 clearfix px-0 container tab-pane' + (selectedTab === 'video' ? 'active show' : 'nav-link')">
                    <app-video-tab [trainingClassId] = 'trainingClassId' [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection" (selectedVideos)="getVideos($event)"></app-video-tab>
                </div>
                <!-- Documents Tab Content -->
                <div  *ngIf = "selectedTab === 'document' && !showcreatecourse" id="document" [ngClass] = "'col-md-12 clearfix px-0 container tab-pane' + (selectedTab === 'document' ? 'active show' : 'nav-link')">
                    <app-document-tab [trainingClassId] = "trainingClassId" [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection"  (selectedVideos)="getVideos($event)"></app-document-tab>
                </div>
                <div  *ngIf = "selectedTab === 'quiz' && !showcreatecourse " id="quiz" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'quiz' ? 'active show' : 'nav-link')">
                    <app-quiz-tab [trainingClassId] = "trainingClassId" [courseId] = "courseId" [directTabEnable] = "quizTabHit" [uploadPage]="hideSection"></app-quiz-tab>
                </div>
            </div>
        </div>
        <div class="col-md-3 pr-0 pt-2"  *ngIf="!hideSection">
            <app-filter-tab  (FilterSearchEvent)="receivefilterMessage($event)"></app-filter-tab>
        </div>
    </div>
</div>

<ng-template #editBatch>  
    <div class="modal-header"> 
        <h4 class="modal-title pull-left">{{commonLabels.modaltitle.addnewtrainingschedule}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-batch [courseList]="this.selectedCourse" (someEvent)="hidePopup($event)"></app-add-batch>
    </div>
</ng-template> 