<div class="" *ngIf="!enableNotify && !enableBatch && !showcreatecourse">   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" (click)="goTocmsLibrary()"><a routerLink="/cms-library">{{commonLabels.labels.cmsLibrary}}</a></li>
            <li *ngIf ="selectedTab === 'course'" class="breadcrumb-item active">{{commonLabels.labels.course}}</li>
            <li *ngIf ="selectedTab === 'training'" class="breadcrumb-item active">{{commonLabels.labels.trainingClass}}</li>
            <li *ngIf ="selectedTab === 'video'" class="breadcrumb-item active">{{commonLabels.labels.videos}}</li>
            <li *ngIf ="selectedTab === 'document'" class="breadcrumb-item active">{{commonLabels.labels.documents}}</li>
            <li *ngIf ="selectedTab === 'notification'" class="breadcrumb-item active">{{commonLabels.labels.notification}}</li>
            <li *ngIf ="selectedTab === 'quiz'" class="breadcrumb-item active">{{commonLabels.labels.quiz}}</li>
            <li *ngIf ="selectedTab === 'recent'" class="breadcrumb-item active">{{commonLabels.labels.recentlyDelete}}</li>
        </ol>
    </nav>
</div>
<app-add-notification *ngIf="enableNotify && !enableBatch &&!showcreatecourse" notificationType="{{notificationValue}}" (someEvent)="closeModal()" (completed)="completed($event)"></app-add-notification>
<app-add-batch *ngIf="enableBatch && !enableNotify && !showcreatecourse" [courseList]="this.selectedCourse" (someEvent)="hidePopup($event)" (completed)="completed($event)"></app-add-batch>
<app-add-module *ngIf="showcreatecourse && !enableBatch && !enableNotify" (upload)="showUploadPage($event)" (completed)="completed($event)"  [addedFiles]="selectedVideoList"></app-add-module>   
<div class="pt-2" *ngIf="!showcreatecourse && !enableNotify && !enableBatch"> 
    
    <div class="row">
        <div class="col-md-9 pt-2 px-0">
    	    <div class="clearfix" *ngIf="!hideSection">
                <!-- <button type = "button" class="btn btn-primary " placement="top" tooltip="Print">{{commonLabels.btns.print}}</button>     -->
                <!-- <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Work in Progress" routerLink="/workinprogress">{{commonLabels.btns.workinProgress}}</button> -->
                <!-- <button *ngIf="disableTabs" type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Schedule a Training" (click)="enableData(editBatch,'batch')">{{commonLabels.btns.scheduleTraining}}</button> -->
                <!-- <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Create Notification" (click)="openCreateModal(notification,'notification')">{{commonLabels.btns.createNotification}}</button> -->
                <!-- <button type = "button" class="btn btn-primary mr-3" placement="top" tooltip="Create Course" (click)="showCreateCourse()">{{commonLabels.btns.createCourse}}</button> -->
            </div>
            <div class="clearfix tab-section">
                <ul class="nav nav-tabs">
                    <li class="nav-item"  *ngIf="!hideSection">
                        <a [ngClass] = "selectedTab === 'course' ? 'nav-link active show' : 'nav-link'" data-toggle="tab" href="#course" (click)="headerTabChange('course','')">{{commonLabels.labels.course}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!hideSection">
                        <a [ngClass] = "selectedTab === 'training' ? 'nav-link active show' : 'nav-link'" data-toggle="tab" href="#training" (click)="headerTabChange('training','')">{{commonLabels.labels.trainingClass}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a *ngIf="!disableTabs" [ngClass] = "selectedTab === 'video' ? 'nav-link active' : 'nav-link'" data-toggle="tab" href="#video" (click)="headerTabChange('video','')">{{commonLabels.labels.videos}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a *ngIf="!disableTabs" [ngClass] = "selectedTab === 'document' ? 'nav-link active show' : 'nav-link'"  data-toggle="tab" href="#document" (click)="headerTabChange('document','')">{{commonLabels.labels.documents}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!showcreatecourse">
                        <a *ngIf="!disableTabs" [ngClass] = "selectedTab === 'notification' ? 'nav-link active show' : 'nav-link'" (click)="headerTabChange('notification','')">{{commonLabels.labels.notification}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!hideSection">
                        <a *ngIf="!disableTabs" [ngClass] = "selectedTab === 'quiz' ? 'nav-link active show disabled' : 'nav-link'" data-toggle="tab" href="#quiz" (click)="headerTabChange('quiz','')">{{commonLabels.labels.quiz}}</a>
                    </li>
                    <li class="nav-item" *ngIf="!hideSection">
                        <a *ngIf="!disableTabs" class="nav-link" routerLink="/workinprogress">{{commonLabels.btns.workinProgress}}</a>
                    </li>
                </ul> 
                <button *ngIf="disableTabs" type = "button" class="btn btn-primary p-2" placement="top" tooltip="Schedule a Training" (click)="enableData(editBatch,'batch')">{{commonLabels.btns.scheduleTraining}}</button>
            </div>
            <span class="required_color" *ngIf="showWarning && !showcreatecourse">{{commonLabels.labels.selectcoursestoschedule}}</span> 

            <div class="tab-content">
                <!-- Course Tab Content -->
                <div *ngIf = "selectedTab === 'course' && !hideSection" id="course" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'course' ? 'active show' : 'nav-link')">
                        <app-course-tab (SelectedcourseList)="getCourse($event)" (trainingClassListTab) = "redirectTab($event)" (upload)="showUploadPage($event)" (trainingClassRedirect)="redirectTab($event)" [CMSFilterSearchEventSet]="CMSFilterSearchEvent"  [addedFiles]="selectedVideoList" [disableEdit]="disableEdit"></app-course-tab>
                </div>
                <!-- Training Class Tab Content -->
                <div *ngIf = "selectedTab === 'training' && !hideSection" id="training" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'training' ? 'active show' : 'nav-link')">
                    <app-traing-class-tab (videoList)="redirectTab($event)" [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection" [courseId]="courseId" [disableEdit]="disableEdit" [disableTabs]= 'disableTabs'></app-traing-class-tab>
                </div>
                <!-- Video Tab Content -->
                <div *ngIf = "selectedTab === 'video' && !showcreatecourse" id="video" [ngClass] = "'col-md-12 clearfix px-0 container tab-pane' + (selectedTab === 'video' ? 'active show' : 'nav-link')">
                    <app-video-tab [trainingClassId] = 'trainingClassId' [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection" [disableEdit]="disableEdit"></app-video-tab>
                </div>
                <!-- Documents Tab Content -->
                <div  *ngIf = "selectedTab === 'document' && !showcreatecourse" id="document" [ngClass] = "'col-md-12 clearfix px-0 container tab-pane' + (selectedTab === 'document' ? 'active show' : 'nav-link')">
                    <app-document-tab [trainingClassId] = "trainingClassId" [CMSFilterSearchEventSet]="CMSFilterSearchEvent" [uploadPage]="hideSection" [disableEdit]="disableEdit"></app-document-tab>
                </div>
                <!-- Quiz Tab Content --> 
                <div  *ngIf = "selectedTab === 'quiz' && !hideSection " id="quiz" [ngClass] = "'col-md-12 pt-2 clearfix px-0 container tab-pane' + (selectedTab === 'quiz' ? 'active show' : 'nav-link')">
                    <app-quiz-tab [trainingClassId] = "trainingClassId" [courseId] = "courseId" [directTabEnable] = "quizTabHit" [uploadPage]="hideSection" [disableEdit]="disableEdit"></app-quiz-tab>
                </div>
            </div>

                <div class="text-center pt-4" *ngIf="hideSection && !showcreatecourse">
                    <button type="button" class="btn btn-primary creat-btn"
                        (click)="sendFilesToCourse()">{{commonLabels.btns.add}}</button>
                </div>
        </div>
        <div class="col-md-3 pr-0 pt-2 sticky"  *ngIf="!hideSection">
            <app-filter-tab  (FilterSearchEvent)="receivefilterMessage($event)"></app-filter-tab>
        </div>
    </div>
</div>

<!-- <ng-template #editBatch>  
    <div class="modal-header"> 
        <h4 class="hd-alg">{{commonLabels.modaltitle.addnewtrainingschedule}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-batch [courseList]="this.selectedCourse" (someEvent)="hidePopup($event)"></app-add-batch>
    </div>
</ng-template>  -->
<ng-template #notification>  
        <div class="modal-header"> 
            <h4 class="hd-alg">{{commonLabels.btns.createNotification}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-0">
        <div>
            <p class="text-center table-desc-color">{{commonLabels.msgs.generalNotifi}}</p>
        </div>
        <div class="col-md-12 clearfix pt-2">
            <label class="hole-cont mr-5">
                <input type="radio" name="assignedToCourse" [value]= '1' [checked]="notifyType == 'assignedToCourse' ? true : false"   (change)="notificationTypeUpdate('assignedToCourse')"/>{{this.commonLabels.labels.assignToCourse}}<span class="checkmark"></span></label>
            <label class="hole-cont mr-5">
                <input type="radio" name="signature" [value]= '2' [checked]="notifyType == 'signature' ? true : false"  (change)="notificationTypeUpdate('signature')"/>{{this.commonLabels.labels.signature}}<span class="checkmark"></span></label>
            <label class="hole-cont">
                <input type="radio" name="nonSignature" [value]= '3' [checked]="notifyType == 'nonSignature' ? true : false" (change)="notificationTypeUpdate('nonSignature')"/> {{this.commonLabels.labels.nonSignature}}<span class="checkmark"></span></label>
        </div>
        <div class="col-md-12 clearfix text-center py-3">
            <button type="button" class="btn btn-primary creat-btn"  (click)="notificationType(createNotification)">{{commonLabels.btns.yes}}</button>
            <!-- <button type="button" class="btn btn-default" (click)="notificationType(createNotification,'no')">{{commonLabels.btns.no}}</button>               -->
        </div> 
    </div>
    </ng-template> 

<ng-template #createNotification> 
    <div class="modal-header"> 
        <h4 class="hd-alg">{{commonLabels.modaltitle.notifiUpload}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>