.close-icon{
	position: relative;
}
.close-img{
	position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}
.createForum-addicon{
    font-size: 20px;
    color: #468FB9;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}