<!-- <ng-http-loader backgroundColor="#ff0000" spinner="sk-wave"></ng-http-loader> -->
<h6>{{forumVar.createForum.createForum}}</h6>
<div>
    <form #formDir="ngForm" (ngSubmit)="onSubmitForm(formDir)">
        <div class="form-group">
            <label>{{forumVar.createForum.forumName}}</label>
            <input type="text" class="form-control" [(ngModel)]="forumName" #ForumName="ngModel"  name = "forumName" id="forumName" placeholder="Enter Forum Name" required>  
            <span class="required_color" *ngIf="ForumName && ForumName.invalid && (formDir.submitted || ForumName.touched)">
                    {{forumVar.mandatoryLabels.forumName}}
            </span>  
        </div>
        <div class="form-group">
            <label>{{forumVar.createForum.topics}}</label>
            <span class="float-right"><a><i class="fa fa-plus icons_header add-course-icon" (click)=addTopic()></i></a>
            </span>
            <div *ngFor="let topic of topicsArray; let i = index" class="form-group close-icon">
                <span *ngIf="i!=0"><img src="assets/images/close.png" class="close-img" (click)="removeTopic(i)"></span>
            <input type="text" class="form-control" [(ngModel)]="topic.topicName" #Topics="ngModel" name = "topics{{i}}" id="topics" placeholder="Add Topic" required>             
            <span class="required_color" *ngIf="Topics && Topics.invalid && (formDir.submitted || Topics.touched)">
                    {{forumVar.mandatoryLabels.topic}}
            </span>  
            </div>  
        </div>
        <div class="form-group">
                <label>{{forumVar.createForum.empName}}</label> 
                    <tag-input [ngModel]="employeeItems" 
                    name="empItems"
                    #empName="ngModel"
                    [onlyFromAutocomplete]="true"
                    [placeholder]="'+ Employee'"      [displayBy]="'name'"
                    [identifyBy]="'id'" [secondaryPlaceholder]="'Select Employee'" class="multi-input"
                    required
                    >
                    <tag-input-dropdown [showDropdownIfEmpty]="true"
                    [dynamicUpdate]="false"
                    [focusFirstElement]="true"             
                    [autocompleteItems]="autocompleteItemsAsEmpObjects">
                    <ng-template let-item="item" let-index="index">
                        {{ item.display }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
            <span class="required_color" *ngIf="empName && empName.invalid && (formDir.submitted || empName.touched)">
                    {{forumVar.mandatoryLabels.empName}}
            </span>    
      </div>
        <div class="text-center pt-5">
            <button type="button" class="btn btn-default mr-3" (click)="clearForm()">{{forumVar.btns.cancel}}</button>
            <button type = "submit" class="btn btn-primary creat-btn">{{forumVar.btns.create}}</button>
        </div>
    </form>
</div> 