.close-icon{
	position: relative;
}
.close-img{
	position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}
.createForum-addicon{
    font-size: 20px;
    color: #468FB9;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}
.success-message{
  color:#1fbb21;
  text-align:left 
}
.error-message{
   color:#f44336;
   text-align:left 
}
.createforum-hd{
  color: #0F0000;
    font-size: 14px;
}
.multi-input{
  cursor: pointer;
  position: relative;
}
.multi-dropdown{
    position: absolute;
    right: 9px;
    bottom: 5px;
    font-size: 17px;
    cursor: pointer;
    color: #73737B;    
}
.group-box i{
    font-size: 20px;
    line-height: 36px;
    padding-right: 0;
}
