.close-icon{
	position: relative;
}
.close-img{
	position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}
.createForum-addicon{
    font-size: 20px;
    color: #468FB9;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 7px;
}
.success-message{
  color:#1fbb21;
  text-align:left 
}
.error-message{
   color:#f44336;
   text-align:left 
}
.createforum-hd{
  color: #0F0000;
    font-size: 14px;
}
.multi-input{
  cursor: pointer;
  position: relative;
}
.multi-dropdown{
    position: absolute;
    right: 9px;
    bottom: 5px;
    font-size: 17px;
    cursor: pointer;
    color: #73737B;    
}
.select-Courses .dropdown-list {
    width: 267px !important;
    right: -14px !important;
}
.group-box i{
    font-size: 20px;
    line-height: 36px;
    padding-right: 5px;
}
.input-group-addon i{ color: #7F7F7F;font-size: 18px;}
input{
  padding-left: 0;
}
.select-style {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 465px;
 }   
  .select-style select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select-style select::-ms-expand {
          display: none;
      }
     /* .select-style select:hover,
      .select-style select:focus {
          color: #000000;
          background: #cccccc;
      } */
      .select-style select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }
 .select_arrow {
     position: absolute;
     top: 16px;
     right: 3px;
     pointer-events: none;
     border-style: solid;
     border-width: 6px 5px 0px 5px;
     border-color: #989898 transparent transparent transparent;
 }
 .select select-style:hover ~ .select_arrow,
 .select select-style:focus ~ .select_arrow {
  border-top-color: #000000;
 }
 .select select-style:disabled ~ .select_arrow {
  border-top-color: #cccccc;
 }
 .select-style{
  float: right;
  clear: both;
  padding-bottom: 0px;
 }
