<div class="forum-create-form">
<h6 class="mb-3" *ngIf="!forumEditPage.forumId">{{forumVar.createForum.createForum}}</h6>
<div>
    <form #formDir="ngForm" (ngSubmit)="onSubmitForm(formDir)">
        <div class="form-group">
            <label class="createforum-hd">{{forumVar.createForum.forumName}}</label>
            <input type="text" class="form-control" [(ngModel)]="forumVar.forumName" autocomplete="off" #ForumName="ngModel"  name = "forumName" id="forumName" placeholder="Enter Forum Name" required autocomplete="off">  
            <span class="required_color" *ngIf="ForumName && ForumName.invalid && (formDir.submitted || ForumName.touched)">
                    {{commonLabels.mandatoryLabels.forumRequired}}
            </span> 
            <span class="required_color" *ngIf="forumVar.uniqueValidate">
                {{commonLabels.msgs.nameUniqueErr}}
            </span>  
        </div>
        <!-- <div class="form-group group-box">
            <label class="createforum-hd">{{forumVar.createForum.topics}}</label>
            <div class="input-group">
                <div class="row col-12 col-md-12 pl-0" *ngFor="let items of topicsArray; let i = index">
                        <input type="text" class="form-control col-md-11" placeholder="Add Topic{{i+1}}" [(ngModel)]="items.topics" [ngModelOptions]="{standalone: true}"  aria-label="" aria-describedby="basic-addon1">
                    <button class="btn btn-icon" type="button" *ngIf="i==0" (click)="addTopic(items.topics, i)">
                            <i _ngcontent-c10="" aria-hidden="true" class="fa fa-plus icons_header"></i>
                        </button>
                        <button class="btn btn-icon" type="button" *ngIf="i!=0" (click)="removeTopic(i)">
                            <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i>
                        </button>
                </div>
            </div>            
        </div>
        <div _ngcontent-c11="" class="form-group group-box">
            <label _ngcontent-c11="" class="createforum-hd">Topic</label>
            <div _ngcontent-c11="" class="input-group">
                <input _ngcontent-c11="" class="form-control" placeholder="Add Topic">
                <a _ngcontent-c11="" href="#" title="Add"><i _ngcontent-c11="" class="fa fa-plus icons_header"></i></a>
            </div>
        </div> -->

        <div _ngcontent-c11="" class="form-group">
            <label _ngcontent-c11="" class="createforum-hd">{{forumVar.createForum.topics}}</label>
            <div _ngcontent-c11="" class="input-group group-box form-group" *ngFor="let items of topicsArray; let i = index">
                <input _ngcontent-c11="" class="form-control col-md-11" placeholder="Add Topic{{i+1}}" [(ngModel)]="items.topics" [ngModelOptions]="{standalone: true}"  aria-label="" aria-describedby="basic-addon1">
                <a title="Add" *ngIf="i==0" (click)="addTopic(items.topics, i)">
                    <i _ngcontent-c10="" aria-hidden="true"  class="fa fa-plus icons_header"></i></a>
                    <a title="Delete" *ngIf="i!=0" (click)="removeTopic(i)"> 
                        <i _ngcontent-c10="" aria-hidden="true" class="fa fa-times icons_header"></i></a>
            </div>
        </div>
       
        <div class="form-group select-Courses">
            <ng-multiselect-dropdown *ngIf="division"
                    [placeholder]="'Select Division'"
                    name="divisionData"
					[data]="division.divisionData"
					[(ngModel)]="division.divisionList"
					[settings]="dropdownSettings"
					(onSelect)="onItemSelect($event, 'division')"
                    (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}">
                </ng-multiselect-dropdown>
                </div>
                <div class="form-group select-Courses">
                    <ng-multiselect-dropdown
					[placeholder]="'Select Department'"
					[data]="departData"
					[(ngModel)]="departmentList"
					[settings]="dropdownSettings"
					(onSelect)="onItemSelect($event)"
                    (onDeSelect) = "onItemDeselect($event)" [ngModelOptions]="{standalone: true}"></ng-multiselect-dropdown>
                </div>
                <div class="form-group">
                    <div class="col-md-12 select select-style clearfix p-0">
                        <select name="Admin" class="form-control pl-0" [(ngModel)]="forumVar.forumAdmin" placeholder="Select Admin">
                            <option value="">{{forumVar.slctAdmin}}</option>
                            <option *ngFor="let admin of adminData" [value]="admin.id">{{admin.value}}</option>
                        </select>
                    </div>
                </div>
        <div class="date-section">
            <div class="form-group group-box">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" #dp="bsDatepicker" autocomplete="off" name="startDate" placeholder="Start Date"
                    bsDatepicker [(ngModel)]="forumVar.startDate" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                    required>
                    <div class="input-group-addon">
                        <i class="far fa-calendar-alt icons_header"></i>                        
                    </div>
                </div>
            </div>
            <div class="form-group group-box">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" #dp="bsDatepicker" autocomplete="off" name="endDate" placeholder="End Date"
                        bsDatepicker [(ngModel)]="forumVar.endDate" [bsConfig]="{dateInputFormat: 'ddd D MMM YYYY '}"
                        required>
                        <div class="input-group-addon">
                            <i class="far fa-calendar-alt icons_header"></i>                        
                        </div>
                    </div>
                </div>
        </div>
        <div class="text-center pt-5 mb-4">
                <!-- *ngIf="forumEditPage.forumId?closeFunction():false" -->
            <button type="button" class="btn btn-default mr-3" (click)="clearForm(formDir)" >{{forumVar.btns.cancel}}</button>

            <button type = "submit" class="btn btn-primary creat-btn">{{forumVar.btns.create}}</button>
        </div>
    </form>
</div> 
</div>