<div class="col-md-12 clearfix py-2 px-0">
    <h6 class="count-alg">{{commonLabels.labels.availableNotification}}{{totalNotifyCount}}</h6>
</div>
<div  *ngFor="let courses of notifyListValue | paginate: {itemsPerPage: pageSize,currentPage: p,totalItems : totalCount};let i = index">
    <div id="coss" class="col-md-12 mb-3 clearfix px-0" *ngIf="!enableEdit || enableEdit && enableIndex !== i">
        <!-- {{CMSFilterSearchEventSet}} -->
        <div class="white-bg p-3 clearfix">
            <div class="clearfix">
               
                <label class="square-cont float-left" *ngIf="uploadPage">
                    <input type="checkbox" name="file" value={{courses.File.fileId}} [checked]="courses.File.selected" (change)="addFiles($event,courses.File,i)"><span
                        class="text-over">{{courses.File.fileName}}</span>
                    <span class="square-checkmark"></span>
                </label>

                <span class="text-over" *ngIf="!uploadPage">{{courses.File.fileName}}</span>

                <span class="float-right">
                    <a *ngIf = "!scheduleEnable && iconEnable && userData.userId == courses.User.userId" title="Edit" class="mr-4"><i class="fas fa-pencil-alt icons_header p-0" aria-hidden="true" (click)="goToNotifyEdit(courses.notificationFileId)"></i></a>
                    <a *ngIf = "scheduleEnable" title="Edit" class="mr-4"><i class="fas fa-calendar-alt icons_header p-0" aria-hidden="true" (click)="goToNotifyEdit(courses.notificationFileId)"></i></a>                    
                    <!-- <a title="Delete" class="mr-4"><i class="fa fa-trash header-icon p-0" (click)="deleteConfirmation(deleteCourse,courses.courseId)"></i></a> -->
                    <a (click)="getIndividualCourse(courses,i)"><i *ngIf ="enableView && enableIndex === i" class="fa fa-angle-down icons_header p-0" aria-hidden="true" title="Close"></i><i *ngIf ="!enableView || enableIndex !== i" class="fa fa-angle-right icons_header p-0" aria-hidden="true" title="Open"></i></a>
                </span>
            </div>
            <div class="row py-3" *ngIf="enableView && enableIndex === i">
                    <div class="col-md-3 p-0">
                        <div class="form-group pl-0">
                            <label class="notification-header">{{commonLabels.labels.createdBy}}</label>
                            <span class="form-control pl-0 word-wrap" placeholder="Creator name" *ngIf="courses.User">{{courses?.User?.userName}}</span> 
                        </div>              		
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="notification-header">{{commonLabels.labels.createdOn}}</label>
                            <!-- <input type="text" class="form-control pl-0" placeholder="Date"/>  -->
                            <span class="form-control pl-0 word-wrap" placeholder="Date">{{courses?.File?.created | date : 'medium'}}</span> 
                        </div>              		
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="notification-header">{{commonLabels.labels.lastModifiedOn}}</label>
                            <!-- <input type="text" class="form-control pl-0" placeholder="Apr 12 2019 & 11.30"/>  -->
                            <span class="form-control pl-0 word-wrap" placeholder="Date">{{courses?.File?.updated | date : 'medium'}}</span> 
                        </div>              		
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="notification-header">{{commonLabels.labels.type}}</label>
                            <!-- <input type="text" class="form-control pl-0" placeholder="Apr 12 2019 & 11.30"/>  -->
                            <span class="form-control pl-0 word-wrap" placeholder="Type">{{courses?.type | titlecase}}</span> 
                        </div>              		
                    </div>
            </div> 
                <div *ngIf="enableView && enableIndex === i">
                    <div class="clearfix">
                        <h5>{{commonLabels.labels.usageStats}}</h5>
                        <div class="total-count row pt-2">
                            <span class="col-md-6 p-0">{{commonLabels.labels.totalNoEmp}} {{courses.totalCount}}</span>
                        </div>
                    </div>
                    <div class="progress-section pt-3">
                        <div class="row progress">
                            <div class="progress-bar p-3 assigned-perc" *ngIf="assignedCount != 0" [style.width.%]="assignedCount">
                                {{assignedCount}}
                                </div>
                                <!-- <div class="progress-bar p-3 inprogress-perc" *ngIf="inProgressCount != 0" [style.width.%]="inProgressCount">
                                {{inProgressCount}}
                                </div> -->
                            <div class="progress-bar p-3 completed-perc" *ngIf="completedCount != 0" [style.width.%]="completedCount">
                                {{completedCount}}
                                </div>
                        </div>
                        <div class="row usage-state pt-2">
                            <div class="" *ngIf="assignedCount != 0" [style.width.%]="assignedCount">{{commonLabels.labels.assigned}}</div>
                            <!-- <div class="" *ngIf="inProgressCount != 0" [style.width.%]="inProgressCount">{{commonLabels.labels.inprogress}}</div> -->
                            <div class="" *ngIf="completedCount != 0" [style.width.%]="completedCount">{{commonLabels.labels.completed}}</div>
                        </div>
                    </div>
                </div>
            
        </div> 
    </div>
    
</div>
<div class="col-md-12 p-0">
    <div class="white-bg text-center p-4" *ngIf="notifyListValue && !notifyListValue.length"><p class="data-design">
        <span class="nodata"><i class="far fa-frown nodata-img"></i>{{commonLabels.labels.noData}}</span></p>
    </div>
</div>
  <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>  
