<ion-content padding class="profile-bg default-header" >
<ion-header class="main-header my-component static-header">
	<ion-navbar transparent class="title-type2">
			<span class="back-arrow" (click)="goToPrevious()">
				 <img src="assets/imgs/Back.png" />
			   </span>
			   <ion-title class="text-left ">
			 <span class="inner-title">{{constant.title.profile}}</span>
			</ion-title>
			</ion-navbar>
</ion-header>

	<div class="max-wth main-content" *ngIf="profileDetail">
	<form novalidate (ngSubmit)="updateProfile()" [formGroup]="profileForm" class="profile-details">
		<div class="profile-img">
			<img src="assets/images/images1.jpeg" class="profile-image">
			<h4 class="profile-name">
				<a data-toggle="collapse" href="#collapseExample" role="button">{{profile.userName}}</a></h4>
				<div class="collapse pwd-grid" id="collapseExample">
					<ion-col col-11 class="profile-info">						
						<ion-input type="text" [(ngModel)]="profile.userName" formControlName="userName" placeholder="Edit profile name"></ion-input>								
					</ion-col>
						<div *ngIf="(profileForm.get('userName').hasError('required') ) && profileForm.get('mobile').touched"
							class="error-block">
							<div class="error" *ngIf="profileForm.get('userName').hasError('required') && profileForm.get('userName').touched">
								User Name is required.
							</div>
						</div>
				</div>
			
		
			
		</div>
			<ion-row>
				<ion-grid class="pwd-grid">
					<ion-row>
						<ion-col col-1 align-self-center>
							<img src="assets/imgs/phone.png">
						</ion-col>
						<ion-col col-11 class="profile-info">
							<!-- <p>{{currentUser.phoneNumber}}</p> -->
							<ion-input type="text"  name="mobile" [(ngModel)]="profile.mobile" formControlName="mobile" [class.error1]="!profileForm.controls.mobile.valid && profileForm.controls.mobile.dirty" placeholder="+9190123456"></ion-input>
							<small>{{constant.pages.profileLabels.mobile}}</small>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div *ngIf="(profileForm.get('mobile').hasError('required') || profileForm.get('mobile').hasError('minlength') || profileForm.get('mobile').hasError('maxlength')  ) && profileForm.get('mobile').touched"
					class="error-block">
					<div class="error" *ngIf="profileForm.get('mobile').hasError('required') && profileForm.get('mobile').touched">
						Mobile Number is required.
					</div>
					<div class="error" *ngIf="( profileForm.get('mobile').hasError('minlength') || profileForm.get('mobile').hasError('maxlength')) && profileForm.get('mobile').touched">
						Invalid Mobile Number.
					</div>
				</div>
			
				<ion-grid class="pwd-grid">
					<ion-row>
						<ion-col col-1 align-self-center>
							<img src="assets/imgs/email.png">
						</ion-col>
						<ion-col col-11 class="profile-info">
							<ion-input type="email" name="email" [(ngModel)]="profile.email"  formControlName="email" [class.error1]="!profileForm.controls.email.valid && profileForm.controls.email.dirty"  placeholder="enter email id"></ion-input>
							<small>{{constant.pages.profileLabels.email}}</small>
						</ion-col>
					</ion-row>
				</ion-grid>	
				<div *ngIf="(profileForm.get('email').hasError('pattern') || profileForm.get('email').hasError('required') ) && profileForm.get('email').touched"
					class="error-block">
					<div class="error"  *ngIf="profileForm.get('email').hasError('required') && profileForm.get('email').touched">
						Email is required.
					</div>
					<div class="error" *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
						Invalid Email address.
					</div>
				</div>
				<ion-grid class="pwd-grid">
					<ion-row>
						<ion-col col-1 align-self-center>
							<img src="assets/imgs/Department.png">
						</ion-col>
						<ion-col col-11 class="profile-info">
							<p>{{profileDetail.Department.departmentName}}</p>
							<small>{{constant.pages.profileLabels.department}}</small>
						</ion-col>
					</ion-row>
				</ion-grid>		
				<ion-grid class="pwd-grid">
					<ion-row>
						<ion-col col-1 align-self-center>
							<img src="assets/imgs/Designation.png">
						</ion-col>
						<ion-col col-11 class="profile-info">
							<p>{{profileDetail.Designation.designationName}}</p>
							<small>{{constant.pages.profileLabels.designation}}</small>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-row>
			<button type="submit" class="login-btn blue-btn" ion-button round [disabled]="profileForm.invalid">
				{{constant.buttons.save}}</button>
			</form>
	</div>
	
</ion-content>