page-profile {
	ion-header.static-header {
		background: transparent !important;
	}
	.profile-bg{
		background: url(../assets/imgs/loginbg.png);
		background-size: cover;
		background-repeat: no-repeat;
		.list-ios {
			margin: 0px 0 16px;

		}
		.scroll-content{
			background-color: transparent;
		}
		.item.item-block{
			background: transparent ;
			border: none;
		}

	}
	ion-header {
    padding: 0;
}
	.toolbar-background {
		background: transparent !important;	
		border: none !important;
	}
	.profile-img {
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
	}
	ion-list.profile-details p, ion-list.profile-details small {
		color: #fff;
	}
	ion-icon {

		color: #fff;
	}
	.profile-details ion-icon {
		line-height: 40px;
	}
	.profile-info {
		padding-left: 20px;
	}
	.pwd-setting {
    padding-top: 200px;
    color: #fff;
}
.toolbar-content-ios p, ion-toolbar p.menu-tit{
    margin-top: 2px;
    margin-bottom: 2px;
}
.list-ios .item-block .item-inner ,.list-md .item-block .item-inner{
    border-bottom: 0.55px solid rgba(241, 249, 255,0.60);
}


.text-input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.4);
}

.text-input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.4);
}

.text-input::-webkit-input-placeholder {
	text-indent: 0;
	color: rgba(255, 255, 255, 0.4);
}
.pwd-grid,.pwd-inner {
	border-bottom: 1px solid rgba(241, 249, 255, 0.24);
}
.pwd-setting ion-icon {
	color: #fff;
/*		transform: rotate(-80deg);
*/		line-height: 50px;
}
.pwd-grid{
	ion-label {
		margin: 0;
	}
	input.text-input {
		margin: 5px 8px 5px 0;
	}
}
.blue-btn.button-ios, .blue-btn.button-md {
	margin-top: 70px;
}
.pwd-setting {
	color: #fff;
	    padding-top: 0px;
/*display: table-cell;
padding-top: 60%; 
width: calc(100vw - 10px);
vertical-align: bottom;
height: calc(100vh - 140px);*/
}

.content-md .pwd-setting {
    padding-top: 0;
}
.checkbox-item{
	display: block;
	width: 100%;
}
.checkmark {
	right: 0;
	left: auto;
}
.hole-cont{	
	width: 100%;
	color: #fff;
	margin-bottom: 15px;
	padding-left: 0px;
}
.checkmark {
	background-color: transparent;
	border-radius: 3pt;
	border: 2px solid #ccc;
}
.hole-cont input:checked ~ .checkmark {
	background-color: transparent;
	border: 2px solid #fff;
}
.hole-cont .checkmark:after {
	left: 3.4px;
	width: 5px;
	height: 8px;
}
.notify-img,.key-img {
    padding: 3px;
    align-items: center;
    display: flex;
}
.error-block {
    width: 100%;
}
.title-md .header-icon {
    margin-right: 0px;
    margin-top: 0;
}
.profile-info {
    color: #fff;
}
.profile-name a{
	color: #fff;
}
}
$checkbox-md-icon-background-color-on: #fff;
$checkbox-md-icon-border-color-on: #00ff00;
$checkbox-md-icon-border-color-off: #cecece;
$checkbox-md-icon-checkmark-color: #ff0000;
$checkbox-md-icon-checkmark-width: 2px;
$checkbox-md-icon-size: 40px;
$checkbox-md-icon-border-radius: 0%;
$checkbox-md-icon-border-width: 1px;
.pwd-grid{
	border-bottom: 1px solid rgba(241, 249, 255, 0.24);
}
.profile-img-sec{
	position: relative;
}
.upload-icon{
	width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(138, 133, 133, 0.6);
    border-radius: 62px;
    margin: 0 auto;
}
.pro-icon{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
page-profile .profile-details .pro-icon ion-icon{
font-size: 40px;
}
.profile-img-sec .upload-icon{
	display: none;
	visibility: hidden;
} 
.profile-img-sec:hover .upload-icon{
	display: block;
	visibility: visible;
	cursor: pointer;
} 
.profile-img-sec{
	width:100px;
	margin:0 auto; 
}